Repository mautic/mautic, pull requests merged in 2018-03, with the labels that each got.

#5800 Fixed email tokens that did not hydrate company data
  app/bundles/FormBundle/Views/Field/field_helper.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
  media/js/mautic-form-src.js
  media/js/mautic-form.js
Labels: Bug, Ready To Commit

#5842 Fixed CRM not mapping company custom fields for new companies
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Tests/CrmAbstractIntegrationTest.php
Labels: Bug

#5840 Only push companies for integration syncs if push is enabled
  app/bundles/PluginBundle/Command/FetchLeadsCommand.php
  app/bundles/PluginBundle/Translations/en_US/messages.ini
Labels: Bug

#5834 Fixed issue with batch deleting custom fields where schema remained intact
  app/bundles/CoreBundle/Doctrine/Helper/ColumnSchemaHelper.php
  app/bundles/CoreBundle/Doctrine/Helper/IndexSchemaHelper.php
  app/bundles/CoreBundle/Doctrine/Helper/SchemaHelperFactory.php
  app/bundles/CoreBundle/Doctrine/Helper/TableSchemaHelper.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
Labels: Bug, Pending Test Confirmation, review

#5754 Fix characters in forms on landing page
  app/bundles/FormBundle/EventListener/PageSubscriber.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Commit

#5718 Composer packages updated
  app/bundles/CoreBundle/Assets/js/libraries/ckeditor/filemanager/connectors/php/filemanager.class.php
  app/bundles/CoreBundle/Menu/MenuHelper.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/BodyParser.php
  composer.json
  composer.lock
Labels: Code Review, Enhancement, Pending Test Confirmation, Ready To Test

#5741 Fix email dynamic content owner lookup
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: Bug

#5838 Custom Field Alias constraint for special keywords added
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Validator/Constraints/FieldAliasKeyword.php
  app/bundles/LeadBundle/Form/Validator/Constraints/FieldAliasKeywordValidator.php
  app/bundles/LeadBundle/Helper/FieldAliasHelper.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/Form/Validator/Constraints/FieldAliasKeywordValidatorTest.php
  app/bundles/LeadBundle/Tests/Helper/FieldAliasHelperTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
Labels: Bug

#5846 Fixes fatal error caused by #5800 (2.13) with sending form results that contain contactfield tokens
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
Labels: Bug

#5758 Fix social login with automatic generate form html code
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/Controller/JsController.php
  plugins/MauticSocialBundle/Views/Integration/login.html.php
Labels: Bug

#5697 Fix pending count on segment email
  app/bundles/EmailBundle/Entity/EmailRepository.php
Labels: Bug

#5735 Replace the use of eval-based JavaScript
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
Labels: Bug

#5666 Fix api activity date filters
  app/bundles/LeadBundle/Entity/TimelineTrait.php
Labels: Bug, Ready To Commit

#5750 Fixing setting contact's owner and stage via API
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
Labels: Bug, Ready To Commit

#5752 Fix: Add data to addFormField
  app/bundles/FormBundle/Form/Type/FieldType.php
Labels: Bug, Code Review, Pending Feedback

#5702 Clearfix for field properties tab
  app/bundles/FormBundle/Views/Builder/field.html.php
Labels: Bug

#5853 Form action Send Result recipient fix
  app/bundles/FormBundle/EventListener/FormSubscriber.php
Labels: Bug, Pending Test Confirmation

#5582 Campaign email status user interface enhancement
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Views/Campaign/events.html.php
Labels: Code Review, Pending Test Confirmation, Ready To Test, User Interface

#5599 Fix for scheduled events If contact was already removed from campaign
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CampaignBundle/Model/EventModel.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#5701 Second Fixes #5532 problem with MailjetTransport header X-MJ-CUSTOMID
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#5533 Fix: Filter segments by select-multiple custom field
  app/bundles/LeadBundle/Model/ListModel.php
Labels: Bug, Code Review, Ready To Commit

#5715 Broadcast command params extended
  app/bundles/ChannelBundle/Command/SendChannelBroadcastCommand.php
  app/bundles/ChannelBundle/Event/ChannelBroadcastEvent.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryTest.php
Labels: Code Review, Feature Request, Pending Test Confirmation, Ready To Test

#5291 Fix zoho push lead
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
  plugins/MauticCrmBundle/Tests/ZohoIntegrationTest.php
Labels: Bug, Ready To Test

#5545 Minor bugfix for vTiger - settings to getAvailableLeadFields
  plugins/MauticCrmBundle/Integration/VtigerIntegration.php
Labels: Bug, Code Review, Ready To Test

#5644 Feature clone segments
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Views/List/details.html.php
  app/bundles/LeadBundle/Views/List/list.html.php
Labels: Code Review, Feature Request, Ready To Commit

#5790 [Feature] Contact details URL hyperlink
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: Feature Request, Ready To Commit

#5520 API contact merge fix
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  composer.json
Labels: Bug, Ready To Commit

#4800 New campaign condition: Contacts campaign
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadCampaignsType.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/FormTheme/ContactCampaignsCondition/campaignevent_lead_campaigns_widget.html.php
Labels: Feature Request, Pending Test Confirmation, Ready To Test
