Repository mautic/mautic, pull requests merged in 2018-09, with the labels that each got.

#5610 Fix for issue #5103 - Company/Accounts being duplicated on CRM Sync o…
  app/bundles/LeadBundle/Helper/IdentifyCompanyHelper.php
Labels: Bug, Ready To Commit

#6471 SQL requirements documentation update
  README.md
Labels: Ready To Commit

#5761 Fix social monitoring job
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  plugins/MauticSocialBundle/Entity/PostCountRepository.php
  plugins/MauticSocialBundle/Helper/TwitterCommandHelper.php
Labels: Bug, Ready To Commit

#5400 Form phone field validation as internationally-standardized format
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldTelType.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Translations/en_US/validators.ini
  app/bundles/FormBundle/Validator/Constraint/PhoneNumberConstraint.php
  app/bundles/FormBundle/Validator/Constraint/PhoneNumberConstraintValidator.php
Labels: Feature Request, Pending Test Confirmation

#6048 Fix send results to email - converts double and single quotes
  app/bundles/FormBundle/EventListener/FormSubscriber.php
Labels: Bug, Ready To Commit

#6059 Replace create_function with anonymous function
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: Bug, Ready To Commit

#6049 Fix Focus Stop engaging after a conversion for link
  plugins/MauticFocusBundle/Views/Builder/generate.js.php
Labels: Bug, Ready To Commit

#6078 Return Token value after url-encoding.
  app/bundles/LeadBundle/Helper/TokenHelper.php
Labels: Bug, Ready To Commit

#6092 Drastically improve performance of long-running campaign rendering.
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/migrations/Version20180516211256.php
Labels: Bug, Ready To Commit

#6122 Prevent track contact just by embed form
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, Ready To Commit

#6149 Fixed filter in contacts activity api
  app/bundles/EmailBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/EventListener/TimelineEventLogSubscriber.php
Labels: Bug, Ready To Commit

#6155 Inconsistency between api and dashboard on event email.read and email.sent
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: Bug, Ready To Commit

#6252 Fix interface bug when adding Order, Filter or Function elements in report
  app/bundles/ReportBundle/Assets/css/report.css
  app/bundles/ReportBundle/Assets/js/report.js
Labels: Bug, Ready To Commit

#6265 Fix: Custom preference center - channel frequency
  app/bundles/EmailBundle/Controller/PublicController.php
Labels: Bug, Ready To Commit

#6273 Fix selected value for focus in campaign action
  plugins/MauticFocusBundle/Form/Type/FocusShowType.php
Labels: Bug, Ready To Commit

#6282 Fix checkbox bool overwrite
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/FormBundle/Views/Field/checkboxgrp.html.php
Labels: Bug, Ready To Commit

#6185 Fix SugarCRM sync priority issue
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
Labels: Bug, Plugin, Ready To Commit

#6303 Fixed comparison of URLs containing parameters in a campaign
  app/bundles/PageBundle/EventListener/CampaignSubscriber.php
Labels: Bug, Ready To Commit

#6297 Check DoNotContact by Lead not Email in contact detail
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Views/Lead/email.html.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: Bug, Ready To Commit

#6306 Fix cleaning function on segment multi-select filters
  app/bundles/LeadBundle/Entity/LeadListRepository.php
Labels: Bug, Ready To Commit

#6307 Fix PHP Notice - Undefined index: country
  app/bundles/LeadBundle/Views/Lead/grid_card.html.php
Labels: Bug, Ready To Commit

#6309 Fix Contact point graph
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/LeadBundle/Controller/LeadDetailsTrait.php
Labels: Bug, Ready To Commit

#6313 Allow setting of filter parameters without a POST request
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Controller/NoteController.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PointBundle/Controller/PointController.php
  app/bundles/PointBundle/Controller/TriggerController.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/SmsBundle/Controller/SmsController.php
  app/bundles/StageBundle/Controller/StageController.php
  app/bundles/UserBundle/Controller/RoleController.php
  app/bundles/UserBundle/Controller/UserController.php
  plugins/MauticSocialBundle/Controller/MonitoringController.php
Labels: Bug, Ready To Commit

#6314 Fix: Campaign form field value condition options and new operators
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Form/Type/CampaignEventFormFieldValueType.php
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, Enhancement, Ready To Commit

#6328 Fix: Stop sending unpublished notifications
  app/bundles/NotificationBundle/EventListener/CampaignSubscriber.php
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
Labels: Bug, Ready To Commit

#6330 Report event dispatch moved up before Totals query execution
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: Bug, Ready To Commit

#6333 Fix mailjet bounce when there a dash "-" in email address
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Tests/Transport/MailjetTransportTest.php
Labels: Bug, Ready To Commit

#6346 Fix: Notifciation list ordering
  app/bundles/NotificationBundle/Controller/NotificationController.php
Labels: Bug, Ready To Commit

#6358 Fix bug with merging contact timestamps
  app/bundles/LeadBundle/Deduplicate/ContactMerger.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerTest.php
Labels: Bug, Ready To Commit

#6360 Cast expire time to int
  app/bundles/CoreBundle/Helper/CookieHelper.php
Labels: Bug, Ready To Commit

#6366 Fixed Twilio sending failure
  app/bundles/SmsBundle/Sms/TransportChain.php
Labels: Bug, Ready To Commit

#6374 Fix multiple value api import
  app/bundles/CoreBundle/Form/RequestTrait.php
Labels: Bug, Ready To Commit

#6375 Fix conditions to update a lead with tracking pixel
  app/bundles/PageBundle/Model/PageModel.php
Labels: Bug, Ready To Commit

#6382 Prevent CSV import of non-UTF8 file
  app/bundles/CoreBundle/Form/Validator/Constraints/FileEncoding.php
  app/bundles/CoreBundle/Form/Validator/Constraints/FileEncodingValidator.php
  app/bundles/CoreBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
Labels: Bug, Ready To Commit

#6385 Minor fixes on unsubscribe_text tooltip
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: Bug, Ready To Commit

#6402 Fix: Create new contact with default values
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Tests/Tracker/ContactTrackerTest.php
  app/bundles/LeadBundle/Tracker/ContactTracker.php
Labels: Bug, Ready To Commit

#6432 Fix writing html inside DOM with asynchronous javascript
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, Ready To Commit

#6446 Focus items cannot be cloned
  plugins/MauticFocusBundle/Entity/Focus.php
Labels: Bug, Ready To Commit

#6482 Fixes campaign bug that prevented some events from executing for all contacts
  app/bundles/CampaignBundle/EventListener/CampaignActionJumpToEventSubscriber.php
  app/bundles/CampaignBundle/Executioner/EventExecutioner.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/Logger/EventLogger.php
  app/bundles/CampaignBundle/Tests/Executioner/Logger/EventLoggerTest.php
Labels: Bug, Ready To Commit

#6431 CVE-2018-14773
  composer.json
  composer.lock
Labels: BC Break, Ready To Commit

#4441 Video hits reports
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
Labels: Feature Request, Ready To Commit

#5525 Google Analytics - IP Anonymization
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/ConfigSubscriber.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Views/FormTheme/Config/_config_trackingconfig_widget.html.php
Labels: Feature Request, Ready To Commit

#5655 Contact ID column to plugin integration mapping
  app/bundles/PluginBundle/Assets/js/plugin.js
  app/bundles/PluginBundle/Entity/PluginRepository.php
  app/bundles/PluginBundle/Form/Type/FieldsTypeTrait.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  plugins/MauticCrmBundle/Tests/Integration/SalesforceIntegrationTest.php
Labels: Feature Request, Ready To Commit

#5720 New campaign action: Update company
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/UpdateCompanyActionType.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/FormTheme/ActionUpdateCompany/updatecompany_action_widget.html.php
Labels: Feature Request, Ready To Commit

#5827 Add analytics to email preview
  app/bundles/CoreBundle/Templating/Helper/AnalyticsHelper.php
  app/bundles/EmailBundle/Controller/PublicController.php
Labels: Feature Request, Ready To Commit

#6024 add missing countries to countries list
  app/bundles/CoreBundle/Assets/json/countries.json
Labels: Enhancement, Ready To Commit

#6104 Form file field token as url
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/Event/Service/FieldValueTransformer.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldFileType.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: Enhancement, Ready To Commit

#6224 Faster mautic:campaigns:trigger processing at scale
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Executioner/ScheduledExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/InactiveExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/ScheduledExecutionerTest.php
  app/migrations/Version20180622152140.php
Labels: Enhancement, Ready To Commit

#6289 Added new GROUP_CONCAT function to reports
  app/bundles/FormBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/Form/Type/AggregatorType.php
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Views/Report/details_data.html.php
Labels: Enhancement, Ready To Commit

#6315 Change deprecated freegeoip api to new ipstack api
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/IpLookup/IpstackLookup.php
  app/bundles/CoreBundle/Tests/unit/IpLookup/IpstackLookupTest.php
Labels: Enhancement, Ready To Commit

#6329 New campaign condition: Has active notification
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/NotificationBundle/EventListener/CampaignConditionSubscriber.php
  app/bundles/NotificationBundle/NotificationEvents.php
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
Labels: Enhancement, Ready To Commit

#6344 Notification: Inject new custom content hooks below graphs
  app/bundles/NotificationBundle/Views/Notification/details.html.php
Labels: Enhancement, Ready To Commit

#6347 Dynamic Content support for UTM tags
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Views/DynamicContent/form.html.php
  app/migrations/Version20180722100755.php
Labels: Enhancement, Ready To Commit

#6351 StatId to sendSms result
  app/bundles/SmsBundle/Model/SmsModel.php
Labels: Enhancement, Ready To Commit

#6361 Add applyDateFilters to CampaignEventLog report
  app/bundles/CampaignBundle/EventListener/ReportSubscriber.php
Labels: Enhancement, Ready To Commit

#6237 Support for date format modifier to tokens
  app/bundles/CoreBundle/Helper/ParamsLoaderHelper.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
Labels: Enhancement, Ready To Commit

#5896 SugarCRM support for DNC sync and boolean fields
  app/bundles/LeadBundle/Model/DoNotContact.php
  plugins/MauticCrmBundle/Config/config.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Translations/en_US/messages.ini
Labels: Enhancement, Ready To Commit

#6463 Prevent an indefinite loop when building the membership of a campaign
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Membership/Action/Adder.php
  app/bundles/CampaignBundle/Membership/MembershipBuilder.php
  app/bundles/CampaignBundle/Membership/MembershipManager.php
Labels: Bug, Pending Test Confirmation

#6596 Other solution to fix special chars in custom multi select field
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Type/LeadType.php
Labels: Bug, Ready To Commit

#6601 Fix pref center error
  app/bundles/CoreBundle/Views/Slots/channelfrequency.html.php
Labels: Bug, Ready To Commit

#6542 Custom field clone fix
  app/bundles/LeadBundle/Controller/FieldController.php
Labels: Bug, Ready To Commit

#6512 Alias DoNotContact entity as DNC in LeadModel
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: Bug, Code Review, Ready To Commit

#6492 Fix for undefined property in segment command in case of an error
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
Labels: Bug, Ready To Commit

#6491 create new sessions filter builder. make it backwards compatible.
  app/bundles/LeadBundle/Segment/Query/Filter/SessionsFilterQueryBuilder.php
Labels: Bug, Ready To Commit

#6474 Fix extracting url from plain text
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/unit/Helper/UrlHelperTest.php
Labels: Bug, Ready To Commit

#6453 Focus delete modal message translated
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: Bug, Ready To Commit

#6379 Prevent being blocked from accessing imports after attempting to import a bad file
  app/bundles/LeadBundle/Controller/ImportController.php
Labels: Bug, Ready To Commit

#6376 Fixed fetching messages for campaign replies
  app/bundles/EmailBundle/EventListener/ProcessReplySubscriber.php
  app/bundles/EmailBundle/MonitoredEmail/Mailbox.php
Labels: Bug, Ready To Commit

#6507 Use LIMIT queries when fetching segment contacts to prevent memory exhaustion in campaign rebuild job
  app/bundles/CampaignBundle/Entity/LeadRepository.php
Labels: Bug, Ready To Commit

#6567 Changing order by condition in query for notifications order.
  app/bundles/CoreBundle/Entity/NotificationRepository.php
Labels: Code Review, Pending Test Confirmation, User Experience

#6565 Changing the message and adding the code to fix the filter for users.
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: Bug, Code Review, Pending Test Confirmation

#6483 Fix format date for integration fetch companies
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
Labels: Bug, Code Review, Pending Test Confirmation

#6455 Fix custom text for buttons in prefs center
  app/bundles/PageBundle/Assets/js/prefcenter.js
Labels: Bug, Pending Test Confirmation
