Repository mautic/mautic, pull requests merged in 2018-05, with the labels that each got.

#5886 [Enhancement] Allow filtering contacts by UTM data for segments.
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: Enhancement, Feature, Pending Test Confirmation, Ready To Test

#5980 Phpstan Travis check for Config and DashboardBundles
  .travis.yml
  app/bundles/ConfigBundle/Controller/SysinfoController.php
  app/bundles/ConfigBundle/Event/ConfigBuilderEvent.php
  app/bundles/ConfigBundle/Form/Type/ConfigType.php
  app/bundles/DashboardBundle/Controller/Api/WidgetApiController.php
  app/bundles/DashboardBundle/Event/WidgetDetailEvent.php
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
Labels: Code Review, Enhancement, Ready To Test

#5753 Fixed double return : unreachable code after return statement
  plugins/MauticFocusBundle/Views/Builder/generate.js.php
Labels: Bug, Code Review, Pending Test Confirmation

#5869 [Enhancement] Allow filtering contacts by UTM data within campaigns.
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadFieldValueType.php
  app/bundles/LeadBundle/Form/Type/LeadFieldsType.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: Code Review, Feature Request, Pending Feedback

#5974 UTM tags - add a report for UTM tags
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/ReportUtmTagSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: Feature Request, Pending Test Confirmation, Ready To Test

#5777 fixing font
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  media/css/libraries.css
Labels: Bug, Ready To Commit, User Interface

#6043 Store tokens in redirect URLs and replace the tokens on redirect
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/unit/Helper/UrlHelperTest.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Event/UntrackableUrlsEvent.php
  app/bundles/PageBundle/Model/TrackableModel.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
Labels: Enhancement, Pending Test Confirmation

#6074 Change default behavior for Send form results action
  app/bundles/FormBundle/Form/Type/SubmitActionEmailType.php
Labels: Enhancement, Pending Test Confirmation, Ready To Test

#6085 Add Contact ID column into form results table
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Views/Result/list.html.php
Labels: Bug, Code Review, Pending Test Confirmation

#6083 Webhook payload type fixed
  app/bundles/WebhookBundle/Entity/WebhookQueue.php
  app/migrations/Version20180515082957.php
Labels: Bug, Ready To Test

#6061 Fix form mapped field radio and checkbox group company
  app/bundles/FormBundle/Views/Field/checkboxgrp.html.php
  app/bundles/FormBundle/Views/Field/radiogrp.html.php
Labels: Bug, Pending Test Confirmation

#6098 Fixing duplicated tracking hashes
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#6084 Fixes some things with merged #6060 custom headers
  app/bundles/CoreBundle/Templating/Helper/FormatterHelper.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Views/Email/details.html.php
Labels: Bug, Pending Test Confirmation, Ready To Test

#6073 Momentum Integration
  app/bundles/ConfigBundle/Tests/Form/Helper/RestrictionHelperTest.php
  app/bundles/CoreBundle/DependencyInjection/MauticCoreExtension.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/DependencyInjection/Compiler/EmailTransportPass.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/MauticEmailBundle.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Guzzle/ClientFactory.php
  app/bundles/EmailBundle/Swiftmailer/Guzzle/ClientFactoryInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Adapter/Adapter.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Adapter/AdapterInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/CallbackEnum.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallback.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallbackInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/ResponseItem.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/ResponseItems.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO/AttachementDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO/FromDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/OptionsDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/RecipientDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/RecipientDTO/AddressDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Exception/Facade/MomentumSendException.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Exception/Validator/SwiftMessageValidator/SwiftMessageValidationException.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Facade/MomentumFacade.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Facade/MomentumFacadeInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Metadata/MetadataProcessor.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Service/SwiftMessageService.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Service/SwiftMessageServiceInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Validator/SwiftMessageValidator/SwiftMessageValidator.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Validator/SwiftMessageValidator/SwiftMessageValidatorInterface.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailHeader.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/SendGridApiFacade.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/SendGridApiMessage.php
  app/bundles/EmailBundle/Swiftmailer/Sparkpost/SparkpostFactory.php
  app/bundles/EmailBundle/Swiftmailer/Sparkpost/SparkpostFactoryInterface.php
  app/bundles/EmailBundle/Swiftmailer/SwiftmailerFacadeInterface.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MomentumTransport.php
  app/bundles/EmailBundle/Tests/Model/TransportTypeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Facade/MomentumFacadeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Service/SwiftMessageServiceTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Service/data/attachments/sample.txt
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailHeaderTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/SendGridApiMessageTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: Code Review, Pending Feedback, Ready To Test

#6041 Validate time units for data API endpoint
  app/bundles/CoreBundle/Helper/DateTimeHelper.php
  app/bundles/CoreBundle/Tests/unit/Helper/DateTimeHelperTest.php
  app/bundles/DashboardBundle/Controller/Api/WidgetApiController.php
  app/bundles/DashboardBundle/Model/DashboardModel.php
Labels: Bug, Pending Test Confirmation, Ready To Test

#5344 Command to deduplicate contacts
  app/bundles/CoreBundle/Entity/IpAddress.php
  app/bundles/LeadBundle/Command/DeduplicateCommand.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Deduplicate/ContactDeduper.php
  app/bundles/LeadBundle/Deduplicate/ContactMerger.php
  app/bundles/LeadBundle/Deduplicate/Exception/SameContactException.php
  app/bundles/LeadBundle/Deduplicate/Exception/ValueNotMergeableException.php
  app/bundles/LeadBundle/Deduplicate/Helper/MergeValueHelper.php
  app/bundles/LeadBundle/Entity/CustomFieldEntityTrait.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Model/LegacyLeadModel.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactDeduperTest.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: Feature Request, Needs Documentation

#6069 Fixed missing graph on the email reports
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: Bug, Pending Test Confirmation, Ready To Test
