Repository mautic/mautic, pull requests merged in 2018-10, with the labels that each got.

#6603 Remove lower from database side comparison for performance since we use case insensitive coalition
  app/bundles/LeadBundle/Entity/LeadRepository.php
Labels: Bug, Ready To Commit

#6541 Update Symfony security component to fix multiple CVEs
  composer.json
  composer.lock
Labels: Bug, Ready To Commit

#6521 Fix #6367 email stats
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: Bug, Ready To Commit

#6103 Display correct percentage for negative campaign actions
  app/bundles/CampaignBundle/Views/Campaign/events.html.php
Labels: Bug, Ready To Commit

#6381 Fixed correctly determining blank CSV row for contact import
  app/bundles/LeadBundle/Model/ImportModel.php
Labels: Bug, Ready To Commit

#6427 Respect priority for push lead to Zoho on update
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
Labels: Bug, Code Review, Pending Test Confirmation

#6256 Phpstan formbundle
  .travis.yml
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/AjaxController.php
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Entity/Action.php
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Event/Service/FieldValueTransformer.php
  app/bundles/FormBundle/Form/Type/CampaignEventFormFieldValueType.php
  app/bundles/FormBundle/Helper/TokenHelper.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
  app/bundles/FormBundle/Tests/Model/DeleteFormTest.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/FormBundle/Tests/Model/FormUploaderTest.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelTest.php
  app/bundles/FormBundle/Tests/Validator/UploadFieldValidatorTest.php
  app/bundles/FormBundle/Views/Builder/index.html.php
  app/bundles/FormBundle/Views/Form/list.html.php
  app/bundles/FormBundle/Views/Result/index.html.php
Labels: Bug

#6645 Fix international phone number form validation
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Model/SubmissionModel.php
Labels: Bug, Code Review, Pending Feedback, Pending Test Confirmation

#6135 Fix error 500 if $lead is empty
  app/bundles/EmailBundle/Controller/PublicController.php
Labels: Bug

#6257 media images: autodetect mimetype for uploaded images
  media/images/.htaccess
Labels: Bug

#6305 View Report List and Report Details pages causes a 404 error
  app/bundles/ReportBundle/Assets/js/report.js
Labels: Bug, Ready To Commit

#6577 Use IN instead of EXISTS for including manually added contacts which …
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
Labels: Bug, Ready To Commit

#5374 fix time with seconds in forms
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: Bug, Pending Test Confirmation

#6665 Fix js loading with automatic form integration
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug

#6454 Code mode slot - placeholder
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/Slots/codemode.html.php
Labels: Bug, Enhancement, Pending Test Confirmation

#6585 Add alias for company ID to avoid Ids mismatch
  app/bundles/LeadBundle/Model/CompanyReportData.php
  app/bundles/LeadBundle/Tests/Model/CompanyReportDataTest.php
Labels: Bug, Ready To Commit

#6318 Assign category to the entity via API
  app/bundles/ApiBundle/Controller/CommonApiController.php
Labels: Enhancement, Ready To Commit

#6666 Bug fix: Email contacts list (in details view)
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Views/Email/details.html.php
Labels: Bug, L1, Pending Test Confirmation

#6685 Add placeholder to phone field type
  app/bundles/FormBundle/Form/Type/FieldType.php
Labels: Bug, Ready To Commit

#6581 Fix: Send email by API return not found even If email entity exists
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
Labels: Bug, Pending Test Confirmation

#6545 Return explicit response code for all JsonResponses returned by Excep…
  app/bundles/CoreBundle/Controller/ExceptionController.php
Labels: Bug, Pending Test Confirmation

#6701 Check that the options exist before using their value
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
Labels: Enhancement, Ready To Commit

#6675 Fix company date segment filter
  app/bundles/LeadBundle/Segment/Decorator/CompanyDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/DateCompanyDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/DecoratorFactory.php
Labels: Bug, Pending Test Confirmation

#6380 Retry payload to Momentum a few times before giving up if it returns a 500 error
  app/bundles/EmailBundle/Swiftmailer/Exception/SendFailedException.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Facade/MomentumFacade.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Facade/MomentumFacadeTest.php
Labels: Bug, Pending Test Confirmation

#6046 Broken links in tracking results
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Model/PageModelTest.php
Labels: BC Break, Bug, Ready To Commit

#6712 Migration file for #6046
  app/migrations/Version20181011150000.php
Labels: Bug, Ready To Commit

#6684 Restore segment filter empty !empty for multiselect
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Entity/OperatorListTrait.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterCrate.php
Labels: Bug, Pending Test Confirmation

#6540 Circular dependency validation
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/Validator/Constraints/CircularDependency.php
  app/bundles/CoreBundle/Form/Validator/Constraints/CircularDependencyValidator.php
  app/bundles/CoreBundle/Tests/unit/Form/Validator/Constraints/CircularDependencyValidatorTest.php
  app/bundles/CoreBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Views/List/form.html.php
Labels: Enhancement, Ready To Commit

#5174 Fix: Froala editor: useClassess to false
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: Bug, Pending Test Confirmation

#5626 Fix problem with PathsHelper
  app/bundles/CoreBundle/Helper/PathsHelper.php
Labels: Bug, Ready To Test

#6015 Fixed a bug when combining AB testing and Translations
  app/bundles/EmailBundle/Helper/AbTestHelper.php
Labels: Bug, Code Review, Pending Test Confirmation

#6731 Forward HTTP status codes as they are provided to ApiSubscriber
  app/bundles/ApiBundle/EventListener/ApiSubscriber.php
Labels: Bug, Pending Test Confirmation

#6725 Custom field could not be deleted if used
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
Labels: Code Review, Enhancement, Pending Test Confirmation

#6740 New issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
Labels: Enhancement, Ready To Commit

#6580 This adds support for campaign decisions to support both page and pag…
  app/bundles/CampaignBundle/Executioner/RealTimeExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/RealTimeExecutionerTest.php
Labels: Bug, Pending Test Confirmation

#6737 Change function renderArray() to use single quotes for key and value strings
  app/bundles/CoreBundle/Configurator/Configurator.php
Labels: Bug, Ready To Commit

#6459 Focus View dispatch event
  plugins/MauticFocusBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/Event/FocusViewEvent.php
  plugins/MauticFocusBundle/FocusEvents.php
  plugins/MauticFocusBundle/Model/FocusModel.php
Labels: Enhancement, Pending Test Confirmation

#6690 Fix form script load when they are include inside html by plugin
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, Ready To Commit

#6543 Dates added to sent emails api
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/EventListener/DashboardSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Views/SubscribedEvents/Dashboard/Sent.email.to.contacts.html.php
Labels: Bug, Enhancement, Pending Test Confirmation

#6520 Schedule campaign events at an hour relative to the contact's timezone
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Command/WriteCountTrait.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Entity/Event.php
  app/bundles/CampaignBundle/Executioner/Dispatcher/ActionDispatcher.php
  app/bundles/CampaignBundle/Executioner/Dispatcher/LegacyEventDispatcher.php
  app/bundles/CampaignBundle/Executioner/EventExecutioner.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Executioner/ScheduledExecutioner.php
  app/bundles/CampaignBundle/Executioner/Scheduler/EventScheduler.php
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/DAO/GroupExecutionDateDAO.php
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Form/Type/EventType.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/ScheduledExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Views/Event/form.html.php
  app/bundles/CoreBundle/Doctrine/Type/UTCDateTimeType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/migrations/Version20180829202029.php
  app/migrations/Version20180830004341.php
  app/migrations/Version20180906165938.php
Labels: Bug, Feature Request, Pending Test Confirmation

#6641 Fixed an error with regex used in the segment filter "URL visited"
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
Labels: Bug, Code Review, Ready To Commit

#6704 Bug fix : Search company result in autopopulate input (lookupResults)
  app/bundles/LeadBundle/Entity/CompanyRepository.php
Labels: Bug, Ready To Commit

#6638 add Campaign Event object to config array
  app/bundles/PluginBundle/EventListener/CampaignSubscriber.php
Labels: Bug, Ready To Commit

#6749 Fix accessing a request property from constructor
  app/bundles/CoreBundle/Form/Validator/Constraints/CircularDependencyValidator.php
  app/bundles/CoreBundle/Tests/unit/Form/Validator/Constraints/CircularDependencyValidatorTest.php
Labels: Bug, Pending Test Confirmation

#6767 Fixed regression in dynamic content filters from #6510
  app/bundles/DynamicContentBundle/Views/DynamicContent/form.html.php
Labels: Bug, Pending Test Confirmation

#6754 Missing translation string for imports.
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: Ready To Commit, Translations

#6758 Add DateTimeInterface instance check to TwitterCommandHelper
  plugins/MauticSocialBundle/Helper/TwitterCommandHelper.php
Labels: Bug, Pending Test Confirmation

#6755 Fixes relative campaign hour for scheduling events more than 1 day in the future
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
Labels: Bug, Pending Test Confirmation
