Repository mautic/mautic, pull requests merged in 2018-04, with the labels that each got.

#5551 Fix multiselect custom field in campaign condition
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#5616 #5615 Fix - Multi-Select Fields Sync Not Working
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
Labels: Bug, Code Review, Ready To Test

#5437 Tracking by lead device
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
  app/bundles/CoreBundle/Helper/CookieHelper.php
  app/bundles/CoreBundle/Helper/HashHelper/HashHelper.php
  app/bundles/CoreBundle/Helper/HashHelper/HashHelperInterface.php
  app/bundles/CoreBundle/Helper/RandomHelper/RandomHelper.php
  app/bundles/CoreBundle/Helper/RandomHelper/RandomHelperInterface.php
  app/bundles/CoreBundle/Templating/Helper/AnalyticsHelper.php
  app/bundles/CoreBundle/Tests/unit/Helper/RandomHelper/RandomHelperTest.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentApiController.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadDevice.php
  app/bundles/LeadBundle/Entity/LeadDeviceRepository.php
  app/bundles/LeadBundle/Model/DeviceModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Tracker/ContactTrackerTest.php
  app/bundles/LeadBundle/Tests/Tracker/DeviceTrackerTest.php
  app/bundles/LeadBundle/Tests/Tracker/Service/ContactTrackingService/ContactTrackingServiceTest.php
  app/bundles/LeadBundle/Tests/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceTest.php
  app/bundles/LeadBundle/Tracker/ContactTracker.php
  app/bundles/LeadBundle/Tracker/DeviceTracker.php
  app/bundles/LeadBundle/Tracker/Factory/DeviceDetectorFactory/DeviceDetectorFactory.php
  app/bundles/LeadBundle/Tracker/Factory/DeviceDetectorFactory/DeviceDetectorFactoryInterface.php
  app/bundles/LeadBundle/Tracker/Service/ContactTrackingService/ContactTrackingService.php
  app/bundles/LeadBundle/Tracker/Service/ContactTrackingService/ContactTrackingServiceInterface.php
  app/bundles/LeadBundle/Tracker/Service/DeviceCreatorService/DeviceCreatorService.php
  app/bundles/LeadBundle/Tracker/Service/DeviceCreatorService/DeviceCreatorServiceInterface.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingService.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceInterface.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Entity/Hit.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
  app/bundles/UserBundle/Security/Store/IdStore.php
  app/migrations/Version20171208130606.php
Labels: Feature Request, Ready To Commit

#5379 Tracking lead manipulator
  app/bundles/CoreBundle/Controller/JsController.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentApiController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/DataObject/LeadManipulator.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/LeadEventLog.php
  app/bundles/LeadBundle/Entity/LeadEventLogRepository.php
  app/bundles/LeadBundle/Entity/TimelineTrait.php
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/EventListener/TimelineEventLogSubscriber.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/migrations/Version20180329185634.php
  app/migrations/Version20180329200949.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
  plugins/MauticFocusBundle/Controller/PublicController.php
Labels: Feature Request

#5892 Fix for saving contact's owner, tags, points via API
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
Labels: Bug, Code Review, Ready To Test

#5928 Tracking_id unique index
  app/bundles/LeadBundle/Entity/LeadDevice.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/migrations/Version20180410101632.php
Labels: Pending Test Confirmation, Ready To Test

#5881 Missing Type namespace added to BodyParser
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/BodyParser.php
Labels: Bug, Ready To Commit

#5923 add ivory coast to country list
  app/bundles/CoreBundle/Assets/json/countries.json
Labels: Ready To Commit

#5845 Update WebhookQueueEvent.php
  app/bundles/WebhookBundle/Event/WebhookQueueEvent.php
Labels: Bug, Ready To Commit

#5635 Clone data slots
  app/bundles/CoreBundle/Assets/js/4.builder.js
  media/js/app.js
  themes/fresh-fixed/css/style.css
  themes/fresh-fixed/html/page.html.twig
Labels: Feature Request, Ready To Commit

#5898 Add an index on date identified for the leads table
  app/bundles/LeadBundle/Entity/Lead.php
  app/migrations/Version20180404185715.php
Labels: Ready To Commit

#5890 Fix for Emails Sent Report with Graphs
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
Labels: Bug, Ready To Test

#5945 Fixes several bugs with newly introduced device tracking and created source records
  app/bundles/CoreBundle/Helper/ClickthroughHelper.php
  app/bundles/CoreBundle/Model/AbstractCommonModel.php
  app/bundles/CoreBundle/Tests/unit/Helper/ClickthroughHelperTest.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentApiController.php
  app/bundles/LeadBundle/Exception/ContactNotFoundException.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Helper/ContactRequestHelperTest.php
  app/bundles/LeadBundle/Tests/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceTest.php
  app/bundles/LeadBundle/Tracker/ContactTracker.php
  app/bundles/LeadBundle/Tracker/DeviceTracker.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingService.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceInterface.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/EventListener/ConfigSubscriber.php
Labels: Bug, Ready To Commit

#5882 Fix - Emails Report Breaks when adding any Company Object Column
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
Labels: Bug, Code Review, Ready To Commit

#5957 Fix lost files after form delete
  app/bundles/FormBundle/Helper/FormUploader.php
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#5921 Reports - fix for items per page bug (when report contains group by)
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: Bug, Pending Test Confirmation, Ready To Test

#5944 Sparkpost CC and BCC - tokens were not replaced in CC and BCC
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportMessageTest.php
Labels: Bug, Ready To Commit

#5927 Sparkpost disable native click tracking and fixed reply to setting
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
Labels: Bug, Ready To Commit

#5964 Fixed issue that caused points to be lost when merging contacts
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelFunctionalTest.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#5938 Stop email sending when email is unpublished in the meantime
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Controller/AjaxControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
  app/bundles/EmailBundle/Translations/en_US/flashes.ini
Labels: Bug, Pending Test Confirmation

#5932 More webhook unit tests added
  app/bundles/WebhookBundle/Entity/WebhookQueue.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Tests/Model/WebhookModelTest.php
Labels: Enhancement, Ready To Test

#5958 User tokens refactor (reset password token fix)
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Controller/PublicController.php
  app/bundles/UserBundle/Entity/UserToken.php
  app/bundles/UserBundle/Entity/UserTokenRepository.php
  app/bundles/UserBundle/Entity/UserTokenRepositoryInterface.php
  app/bundles/UserBundle/Enum/UserTokenAuthorizator.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Model/UserToken/UserTokenService.php
  app/bundles/UserBundle/Model/UserToken/UserTokenServiceInterface.php
  app/bundles/UserBundle/Tests/Model/UserToken/UserTokenServiceTest.php
  app/bundles/UserBundle/Translations/en_US/flashes.ini
  app/migrations/Version20180406233027.php
Labels: Pending Feedback, Ready To Test

#5976 Set all fields as listable
  app/bundles/LeadBundle/Model/FieldModel.php
  app/migrations/Version20180419145934.php
Labels: Bug, Ready To Test

#5983 change the way tags are define for SMS Transport, no need for duplica…
  app/bundles/CoreBundle/DependencyInjection/Compiler/SmsTransportPass.php
  app/bundles/SmsBundle/Config/config.php
Labels: Pending Test Confirmation

#5984 Add DeviceModel dependencies
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Model/DeviceModel.php
Labels: Bug, Code Review, Pending Test Confirmation

#5999 Multiselect - clearing all values on Company form fixed
  app/bundles/LeadBundle/Controller/CompanyController.php
Labels: Bug, Pending Test Confirmation

#5915 Fix: Update company fields If company exist on form submit
  app/bundles/FormBundle/Model/SubmissionModel.php
Labels: Bug, Ready To Commit
