Repository mautic/mautic, pull requests merged in 2018-06, with the labels that each got.

#6016 Inject new custom content hooks below graphs
  app/bundles/AssetBundle/Views/Asset/details.html.php
  app/bundles/CampaignBundle/Views/Campaign/details.html.php
  app/bundles/ChannelBundle/Views/Message/details.html.php
  app/bundles/DynamicContentBundle/Views/DynamicContent/details.html.php
  app/bundles/EmailBundle/Views/Email/details.html.php
  app/bundles/FormBundle/Views/Form/details.html.php
  app/bundles/LeadBundle/Views/List/details.html.php
  app/bundles/PageBundle/Views/Page/details.html.php
  app/bundles/SmsBundle/Views/Sms/details.html.php
  plugins/MauticFocusBundle/Views/Focus/details.html.php
  plugins/MauticSocialBundle/Views/Monitoring/details.html.php
Labels: Enhancement, Pending Test Confirmation, Ready To Test

#6107 Company level email data reporting API
  app/bundles/DashboardBundle/Controller/Api/WidgetApiController.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EventListener/DashboardSubscriber.php
  app/bundles/EmailBundle/Form/Type/DashboardEmailsInTimeWidgetType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Config/config.php
Labels: Feature Request, Pending Test Confirmation, Ready To Test

#6113 Add "Sent email to contacts" and "Most hit email redirects" widget
  app/bundles/DashboardBundle/Event/WidgetDetailEvent.php
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/EventListener/DashboardSubscriber.php
  app/bundles/EmailBundle/Form/Type/DashboardMostHitEmailRedirectsWidgetType.php
  app/bundles/EmailBundle/Form/Type/DashboardSentEmailToContactsWidgetType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Views/SubscribedEvents/Dashboard/Most.hit.email.redirects.html.php
  app/bundles/EmailBundle/Views/SubscribedEvents/Dashboard/Sent.email.to.contacts.html.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Entity/RedirectRepository.php
Labels: Feature Request, Pending Test Confirmation, Ready To Test

#6120 Add FormBuilder to CustomFormEvent so plugins could modify Mautic forms
  app/bundles/CoreBundle/Event/CustomFormEvent.php
  app/bundles/CoreBundle/Form/Extension/CustomFormExtension.php
  app/bundles/LeadBundle/Views/List/list.html.php
Labels: Enhancement, Pending Test Confirmation, Ready To Commit

#6036 Dispatch event before Report's query execution for plugins to alter query
  app/bundles/ReportBundle/Event/ReportGraphEvent.php
  app/bundles/ReportBundle/Event/ReportQueryEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/ReportEvents.php
Labels: Enhancement, Pending Feedback, Ready To Commit

#6170 Do not generate company name from email address domain
  app/bundles/LeadBundle/Helper/IdentifyCompanyHelper.php
Labels: Bug, Code Review, Pending Test Confirmation, Ready To Test

#6209 Added correct handling of callback events for Momentum
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/CallbackEnum.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallback.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/ResponseItem.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/ResponseItems.php
  app/bundles/EmailBundle/Swiftmailer/Sparkpost/SparkpostFactory.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Callback/MomentumCallbackTest.php
Labels: Bug, Pending Test Confirmation, Ready To Test

#6234 Campaign Condition: Form Field Value
  app/bundles/FormBundle/Controller/AjaxController.php
Labels: Bug, Code Review, Pending Test Confirmation
