Repository mautic/mautic, pull requests merged in 2018-12, with the labels that each got.

#6945 Fixes s3 remote asset browser
  app/bundles/AssetBundle/Assets/js/asset.js
  composer.json
  composer.lock
  plugins/MauticCloudStorageBundle/Integration/AmazonS3Integration.php
  plugins/MauticCloudStorageBundle/Translations/en_US/messages.ini
Labels: Bug, Ready To Commit

#6091 Create configuration option for DateRange form type instead of hardcoded 30 days
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/DataTransformer/ArrayLinebreakTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/ArrayStringTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/IdToEntityModelTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/SortableListTransformer.php
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Form/Type/DateRangeType.php
  app/bundles/CoreBundle/Form/Validator/Constraints/FileEncodingValidator.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/FormTheme/Config/_config_coreconfig_widget.html.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/migrations/Version20150521000000.php
  app/migrations/Version20161123225456.php
  app/migrations/Version20170106102310.php
  app/migrations/Version20170113143922.php
  app/migrations/Version20170324112219.php
  app/migrations/Version20170503143650.php
  app/migrations/Version20170725155053.php
  app/migrations/Version20170728110351.php
  app/migrations/Version20171024153459.php
  app/migrations/Version20171027134920.php
  app/migrations/Version20171031164327.php
  app/migrations/Version20171208130606.php
  app/migrations/Version20180117141613.php
Labels: Feature Request, Ready To Commit

#6726 Dynamic Content replace slot with HTML
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
Labels: Bug

#6940 Fix campaign realtime events
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Entity/Event.php
  app/bundles/CampaignBundle/Entity/EventRepository.php
  app/bundles/CampaignBundle/Executioner/RealTimeExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/RealTimeExecutionerTest.php
Labels: Bug

#6732 Add switch to enable attachments saving for monitored mailbox
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/MonitoredEmail/Mailbox.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/MailboxTest.php
Labels: Bug, Ready To Commit

#6728 Prevent same SQL select aliases in report using numeric suffixes
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: Bug, Ready To Commit

#6700 Set start date for import entity only when started for the first time
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Tests/Entity/ImportTest.php
Labels: Bug, Ready To Commit

#5911 [Enhancement] Allow filtering contacts by Campaign Membership for segments
  app/bundles/CoreBundle/Form/Type/DynamicContentFilterEntryType.php
  app/bundles/DynamicContentBundle/Views/DynamicContent/form.html.php
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Form/Type/FilterTrait.php
  app/bundles/LeadBundle/Form/Type/FilterType.php
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Services/ContactSegmentFilterDictionary.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/List/form.html.php
Labels: Feature Request

#6893 Support for PHP 7.2
  .travis.yml
  app/AppKernel.php
  app/bundles/CampaignBundle/Tests/Membership/MembershipBuilderTest.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/EncryptionHelper.php
  app/bundles/CoreBundle/Monolog/Handler/PhpHandler.php
  app/bundles/CoreBundle/Security/Cryptography/Cipher/Symmetric/McryptCipher.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BatchTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BcInterfaceTokenTransport.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/Helper/IdentifyCompanyHelperTest.php
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PluginBundle/Helper/oAuthHelper.php
  app/bundles/PluginBundle/Tests/Helper/ReloadHelperTest.php
  app/config/config_test.php
  app/middlewares/VersionCheckMiddleware.php
  app/phpunit.xml.dist
  composer.json
  composer.lock
  plugins/MauticCitrixBundle/Helper/CitrixHelper.php
  plugins/MauticCrmBundle/Api/Zoho/Xml/Writer.php
  plugins/MauticCrmBundle/Api/Zoho/Xml/XmlObject.php
  plugins/MauticCrmBundle/Tests/Api/Zoho/Xml/WriterTest.php
  plugins/MauticCrmBundle/Tests/Integration/SalesforceIntegrationTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/CompanyTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/LeadTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/OwnerTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
Labels: Enhancement, Pending Test Confirmation

#6240 Added the ability to give permissions on the campaigns.
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/Api/CampaignApiController.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Form/Type/CampaignListType.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CampaignBundle/Security/Permissions/CampaignPermissions.php
  app/bundles/CampaignBundle/Views/Campaign/details.html.php
  app/bundles/CampaignBundle/Views/Campaign/list.html.php
Labels: Enhancement, Ready To Commit

#6840 Add new inject custom hook to email settings
  app/bundles/EmailBundle/Views/Email/form.html.php
Labels: Enhancement, L1, Ready To Commit

#6793 Api rate limiter
  app/AppKernel.php
  app/bundles/ApiBundle/Config/config.php
  app/bundles/ApiBundle/EventListener/RateLimitGenerateKeySubscriber.php
  app/bundles/ApiBundle/Form/Type/ConfigType.php
  app/bundles/ApiBundle/Translations/en_US/messages.ini
  app/config/config.php
  composer.json
  composer.lock
Labels: Feature Request, Ready To Commit

#6965 Fixed issue where query parameters were not included in plaintext URLs
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/unit/Helper/UrlHelperTest.php
Labels: Bug

#6810 Fix empty slots in builder
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: Bug

#6650 Add custom validation message to international phone number form validation
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Event/FormBuilderEvent.php
  app/bundles/FormBundle/EventListener/FormValidationSubscriber.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldTelType.php
  app/bundles/FormBundle/FormEvents.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Translations/en_US/validators.ini
  app/bundles/FormBundle/Views/Builder/field.html.php
  app/migrations/Version20181008234543.php
Labels: Enhancement, Pending Test Confirmation

#7010 Fix International phone number validation message
  app/bundles/FormBundle/EventListener/FormValidationSubscriber.php
  app/bundles/FormBundle/Form/Type/FormFieldTelType.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
Labels: Bug

#6987 Fix #6986 - Immediate Webhooks broken on 2.15
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Tests/Model/WebhookModelTest.php
Labels: Bug

#7018 Bug/campaign membership removal
  app/bundles/LeadBundle/Services/ContactSegmentFilterDictionary.php
Labels: Bug, Ready To Commit
