Repository mautic/mautic, pull requests merged in 2019-12, with the labels that each got.

#8180 Refactor usage of deprecated ParameterBag code.
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/FormBundle/Controller/ActionController.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/NotificationBundle/Controller/MobileNotificationController.php
  app/bundles/NotificationBundle/Controller/NotificationController.php
  app/bundles/PointBundle/Controller/PointController.php
  app/bundles/PointBundle/Controller/TriggerController.php
  app/bundles/PointBundle/Controller/TriggerEventController.php
  app/bundles/SmsBundle/Controller/SmsController.php
  app/bundles/StageBundle/Controller/StageController.php
  app/bundles/UserBundle/Controller/ProfileController.php
  app/bundles/UserBundle/Controller/RoleController.php
  app/bundles/UserBundle/Controller/UserController.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/EventListener/StatSubscriber.php
  plugins/MauticSocialBundle/Controller/MonitoringController.php
Labels: Mautic 3, Ready To Test

#8193 M3: Mailer Transports - SMTP Transports
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallback.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallbackInterface.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailAttachment.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailMetadata.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailPersonalization.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenArrayTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenHttpTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenSmtpTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/ElasticemailTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MandrillTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MomentumTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SendgridApiTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
  app/bundles/EmailBundle/Tests/Command/ProcessEmailQueueCommandTest.php
  app/bundles/EmailBundle/Tests/Data/SpoolSample/0HZYoueQaC.tryagain
  app/bundles/EmailBundle/Tests/Data/SpoolSample/swift_message.tryagain
  app/bundles/EmailBundle/Tests/Helper/Transport/BatchTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BcInterfaceTokenTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/SmtpTransport.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailAttachmentTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailBaseTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailMetadataTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailPersonalizationTest.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportTest.php
  app/bundles/UserBundle/Controller/UserController.php
Labels: Mautic 3

#8149 M3: Refactor Deprecations - CampaignBundle #7987
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CampaignBundle/Controller/SourceController.php
  app/bundles/CampaignBundle/EventListener/CampaignActionChangeMembershipSubscriber.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventAddRemoveLeadType.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventJumpToEventType.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventLeadChangeType.php
  app/bundles/CampaignBundle/Form/Type/CampaignLeadSourceType.php
  app/bundles/CampaignBundle/Form/Type/CampaignListType.php
  app/bundles/CampaignBundle/Form/Type/CampaignType.php
  app/bundles/CampaignBundle/Form/Type/ConfigType.php
  app/bundles/CampaignBundle/Form/Type/EventCanvasSettingsType.php
  app/bundles/CampaignBundle/Form/Type/EventType.php
  app/bundles/CampaignBundle/Helper/CampaignEventHelper.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/EmailBundle/Form/Type/DashboardEmailsInTimeWidgetType.php
  app/bundles/EmailBundle/Form/Type/DashboardMostHitEmailRedirectsWidgetType.php
  app/bundles/EmailBundle/Form/Type/DashboardSentEmailToContactsWidgetType.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadCampaignsType.php
Labels: Code Review, Mautic 3, Ready To Test

#8049 EmailBundle - removing deprecated code
  app/bundles/CampaignBundle/Tests/Executioner/EventExecutionerTest.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/ConfigBundle/Tests/Form/Helper/RestrictionHelperTest.php
  app/bundles/CoreBundle/Controller/VariantAjaxControllerTrait.php
  app/bundles/CoreBundle/Event/BuilderEvent.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/EventListener/ChannelSubscriber.php
  app/bundles/EmailBundle/EventListener/ConfigSubscriber.php
  app/bundles/EmailBundle/EventListener/FormSubscriber.php
  app/bundles/EmailBundle/EventListener/PointSubscriber.php
  app/bundles/EmailBundle/Form/Type/AbTestPropertiesType.php
  app/bundles/EmailBundle/Form/Type/BatchSendType.php
  app/bundles/EmailBundle/Form/Type/ConfigMonitoredEmailType.php
  app/bundles/EmailBundle/Form/Type/ConfigMonitoredMailboxesType.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Form/Type/DashboardEmailsInTimeWidgetType.php
  app/bundles/EmailBundle/Form/Type/DashboardMostHitEmailRedirectsWidgetType.php
  app/bundles/EmailBundle/Form/Type/DashboardSentEmailToContactsWidgetType.php
  app/bundles/EmailBundle/Form/Type/EmailClickDecisionType.php
  app/bundles/EmailBundle/Form/Type/EmailListType.php
  app/bundles/EmailBundle/Form/Type/EmailOpenType.php
  app/bundles/EmailBundle/Form/Type/EmailSendType.php
  app/bundles/EmailBundle/Form/Type/EmailToUserType.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Form/Type/EmailUtmTagsType.php
  app/bundles/EmailBundle/Form/Type/FormSubmitActionUserEmailType.php
  app/bundles/EmailBundle/Form/Type/VariantType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Helper/MessageHelper.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Transport/InterfaceCallbackTransport.php
  app/bundles/EmailBundle/Tests/Helper/MessageHelperTest.php
  app/bundles/EmailBundle/Tests/Helper/PointEventHelperTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/LeadBundle/Form/Type/EmailType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationType.php
  app/bundles/NotificationBundle/Form/Type/NotificationType.php
  app/bundles/PageBundle/Controller/AjaxController.php
  plugins/MauticCitrixBundle/Form/Type/CitrixActionType.php
  plugins/MauticCitrixBundle/Form/Type/CitrixCampaignActionType.php
  plugins/MauticFocusBundle/Form/Type/FocusType.php
Labels: Code Review, Mautic 3, Pending Feedback, Ready To Test

#8192 M3: Mailer Transports - SMTP Transports
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Helper/PlainTextMessageHelper.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallback.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Callback/MomentumCallbackInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Facade/MomentumFacade.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Service/SwiftMessageService.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Service/SwiftMessageServiceInterface.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Validator/SwiftMessageValidator/SwiftMessageValidator.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Validator/SwiftMessageValidator/SwiftMessageValidatorInterface.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailAttachment.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailBase.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailMetadata.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailPersonalization.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/SendGridApiFacade.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/SendGridApiMessage.php
  app/bundles/EmailBundle/Swiftmailer/SwiftmailerFacadeInterface.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenArrayTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenHttpTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AbstractTokenSmtpTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/ElasticemailTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MandrillTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MomentumTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SendgridApiTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
  app/bundles/EmailBundle/Tests/Command/ProcessEmailQueueCommandTest.php
  app/bundles/EmailBundle/Tests/Data/SpoolSample/0HZYoueQaC.tryagain
  app/bundles/EmailBundle/Tests/Data/SpoolSample/swift_message.tryagain
  app/bundles/EmailBundle/Tests/Helper/Transport/BatchTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BcInterfaceTokenTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/SmtpTransport.php
  app/bundles/EmailBundle/Tests/Model/TransportTypeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Facade/MomentumFacadeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailAttachmentTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailBaseTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailMetadataTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailPersonalizationTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/SendGridApiFacadeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/SendGridApiMessageTest.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/UserBundle/Controller/UserController.php
  composer.json
  composer.lock
Labels: Mautic 3

#8195 M3: Mailer Transports - SMTP Transports
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Tests/Model/TransportTypeTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
Labels: Mautic 3

#8083 Refactoring user bundle
  app/bundles/ApiBundle/Security/Permissions/ApiPermissions.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/EmailBundle/Form/Type/EmailToUserType.php
  app/bundles/EmailBundle/Form/Type/FormSubmitActionUserEmailType.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadOwnerType.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/LeadBundle/Form/Type/LeadImportFieldType.php
  app/bundles/LeadBundle/Form/Type/LeadType.php
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/PluginBundle/Integration/AbstractSsoServiceIntegration.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Controller/PublicController.php
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/EventListener/ConfigSubscriber.php
  app/bundles/UserBundle/Form/Type/ConfigType.php
  app/bundles/UserBundle/Form/Type/ContactType.php
  app/bundles/UserBundle/Form/Type/PasswordResetConfirmType.php
  app/bundles/UserBundle/Form/Type/PasswordResetType.php
  app/bundles/UserBundle/Form/Type/PermissionListType.php
  app/bundles/UserBundle/Form/Type/PermissionsType.php
  app/bundles/UserBundle/Form/Type/RoleListType.php
  app/bundles/UserBundle/Form/Type/RoleType.php
  app/bundles/UserBundle/Form/Type/UserListType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/bundles/UserBundle/Model/RoleModel.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Security/Permissions/UserPermissions.php
  app/bundles/UserBundle/Tests/Entity/UserTest.php
Labels: Mautic 3, Ready To Commit

#8091 Notification bundle deprecation refactoring
  app/bundles/NotificationBundle/Api/AbstractNotificationApi.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/NotificationBundle/Controller/Api/NotificationApiController.php
  app/bundles/NotificationBundle/Controller/NotificationController.php
  app/bundles/NotificationBundle/Controller/PopupController.php
  app/bundles/NotificationBundle/Event/NotificationSendEvent.php
  app/bundles/NotificationBundle/EventListener/ChannelSubscriber.php
  app/bundles/NotificationBundle/EventListener/FormSubscriber.php
  app/bundles/NotificationBundle/Form/Type/ConfigType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationDetailsType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationListType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationSendType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationType.php
  app/bundles/NotificationBundle/Form/Type/NotificationListType.php
  app/bundles/NotificationBundle/Form/Type/NotificationSendType.php
  app/bundles/NotificationBundle/Form/Type/NotificationType.php
  app/bundles/NotificationBundle/Helper/NotificationHelper.php
  app/bundles/NotificationBundle/Model/NotificationModel.php
Labels: Mautic 3

#8214 M3: Refactor Deprecations - QueueBundle
  app/bundles/QueueBundle/Config/config.php
  app/bundles/QueueBundle/EventListener/ConfigSubscriber.php
  app/bundles/QueueBundle/Form/Type/ConfigType.php
Labels: Mautic 3

#8201 M3: Updates for JMS Serializer Compatibility
  app/bundles/ApiBundle/Config/config.php
  app/bundles/ApiBundle/Controller/ClientController.php
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Controller/oAuth1/AuthorizeController.php
  app/bundles/ApiBundle/Controller/oAuth2/AuthorizeController.php
  app/bundles/ApiBundle/DependencyInjection/Compiler/SerializerPass.php
  app/bundles/ApiBundle/MauticApiBundle.php
  app/bundles/ApiBundle/Serializer/Driver/AnnotationDriver.php
  app/bundles/ApiBundle/Serializer/Driver/ApiMetadataDriver.php
  app/bundles/ApiBundle/Serializer/Exclusion/FieldExclusionStrategy.php
  app/bundles/ApiBundle/Serializer/Exclusion/FieldInclusionStrategy.php
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Controller/Api/ListApiController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/UserBundle/Controller/Api/UserApiController.php
Labels: Essential, Mautic 3, Ready To Commit

#8086 Refactor the Form Bundle for Symfony 3
  app/bundles/CampaignBundle/Tests/Event/CampaignBuilderEventTest.php
  app/bundles/CoreBundle/Helper/AbstractFormFieldHelper.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/ActionController.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/EventListener/CampaignSubscriber.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/EventListener/PointSubscriber.php
  app/bundles/FormBundle/Form/Type/ActionType.php
  app/bundles/FormBundle/Form/Type/CampaignEventFormFieldValueType.php
  app/bundles/FormBundle/Form/Type/CampaignEventFormSubmitType.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldCaptchaType.php
  app/bundles/FormBundle/Form/Type/FormFieldGroupType.php
  app/bundles/FormBundle/Form/Type/FormFieldHTMLType.php
  app/bundles/FormBundle/Form/Type/FormFieldPageBreakType.php
  app/bundles/FormBundle/Form/Type/FormFieldPlaceholderType.php
  app/bundles/FormBundle/Form/Type/FormFieldSelectType.php
  app/bundles/FormBundle/Form/Type/FormFieldTextType.php
  app/bundles/FormBundle/Form/Type/FormListType.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Form/Type/PointActionFormSubmitType.php
  app/bundles/FormBundle/Form/Type/SubmitActionEmailType.php
  app/bundles/FormBundle/Form/Type/SubmitActionRepostType.php
  app/bundles/FormBundle/Model/ActionModel.php
  app/bundles/FormBundle/Model/FieldModel.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Views/Builder/index.html.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/Form/Type/FocusType.php
  plugins/MauticFocusBundle/Model/FocusModel.php
Labels: Mautic 3

#8050 Upgrade dynamic content form types for Symfony 3
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/EventListener/CampaignSubscriber.php
  app/bundles/DynamicContentBundle/Form/Type/DwcEntryFiltersType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentDecisionType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentListType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentSendType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Model/DynamicContentModel.php
Labels: Code Review, Mautic 3, Ready To Test

#8089 M3: Refactor Deprecations - MauticFocusBundle
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/EventListener/CampaignSubscriber.php
  plugins/MauticFocusBundle/Form/Type/ColorType.php
  plugins/MauticFocusBundle/Form/Type/ContentType.php
  plugins/MauticFocusBundle/Form/Type/FocusListType.php
  plugins/MauticFocusBundle/Form/Type/FocusPropertiesType.php
  plugins/MauticFocusBundle/Form/Type/FocusShowType.php
  plugins/MauticFocusBundle/Form/Type/FocusType.php
  plugins/MauticFocusBundle/Form/Type/PropertiesType.php
  plugins/MauticFocusBundle/Model/FocusModel.php
Labels: Mautic 3

#8056 Upgrade report bundle to work with Symfony 3 forms
  app/bundles/ReportBundle/Config/config.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/ReportBundle/EventListener/DashboardSubscriber.php
  app/bundles/ReportBundle/Form/DataTransformer/ReportFilterDataTransformer.php
  app/bundles/ReportBundle/Form/Type/AggregatorType.php
  app/bundles/ReportBundle/Form/Type/ConfigType.php
  app/bundles/ReportBundle/Form/Type/DynamicFiltersType.php
  app/bundles/ReportBundle/Form/Type/FilterSelectorType.php
  app/bundles/ReportBundle/Form/Type/ReportFiltersType.php
  app/bundles/ReportBundle/Form/Type/ReportSettingsType.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Form/Type/ReportWidgetType.php
  app/bundles/ReportBundle/Form/Type/TableOrderType.php
  app/bundles/ReportBundle/Scheduler/Enum/SchedulerEnum.php
Labels: Mautic 3

#8223 Fix integrations bundle tests
  app/AppKernel.php
  app/bundles/CoreBundle/Test/MauticSqliteTestCase.php
  app/bundles/IntegrationsBundle/Config/config.php
  app/bundles/IntegrationsBundle/Tests/Functional/Services/SyncService/SyncServiceTest.php
  app/bundles/IntegrationsBundle/Tests/Functional/Sync/Notification/NotifierTest.php
Labels: Code Review, Mautic 3, Ready To Test

#8224 Support for PHP 7.3 for Mautic 3
  .php_cs
  .travis.yml
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/middlewares/VersionCheckMiddleware.php
  composer.json
  composer.lock
  upgrade.php
Labels: Code Review, Mautic 3

#8230 M3 point bundle
  .travis.yml
  app/bundles/PointBundle/Config/config.php
  app/bundles/PointBundle/Controller/AjaxController.php
  app/bundles/PointBundle/Controller/Api/TriggerApiController.php
  app/bundles/PointBundle/Controller/TriggerEventController.php
  app/bundles/PointBundle/Entity/LeadPointLog.php
  app/bundles/PointBundle/Entity/LeadPointLogRepository.php
  app/bundles/PointBundle/Entity/LeadTriggerLog.php
  app/bundles/PointBundle/Entity/LeadTriggerLogRepository.php
  app/bundles/PointBundle/Entity/Point.php
  app/bundles/PointBundle/Entity/PointRepository.php
  app/bundles/PointBundle/Entity/Trigger.php
  app/bundles/PointBundle/Entity/TriggerEvent.php
  app/bundles/PointBundle/Entity/TriggerEventRepository.php
  app/bundles/PointBundle/Entity/TriggerRepository.php
  app/bundles/PointBundle/Event/PointActionEvent.php
  app/bundles/PointBundle/Event/PointBuilderEvent.php
  app/bundles/PointBundle/Event/PointEvent.php
  app/bundles/PointBundle/Event/TriggerBuilderEvent.php
  app/bundles/PointBundle/Event/TriggerEvent.php
  app/bundles/PointBundle/Form/Type/GenericPointSettingsType.php
  app/bundles/PointBundle/Form/Type/PointActionType.php
  app/bundles/PointBundle/Form/Type/PointType.php
  app/bundles/PointBundle/Form/Type/TriggerEventType.php
  app/bundles/PointBundle/Form/Type/TriggerType.php
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Model/TriggerEventModel.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/PointBundle/Views/Trigger/form.html.php
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
Labels: Mautic 3, Ready To Commit

#8231 M3 install bundle
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Form/CheckStepType.php
  app/bundles/InstallBundle/Configurator/Form/DoctrineStepType.php
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/InstallBundle/Configurator/Form/UserStepType.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Configurator/Step/DoctrineStep.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Configurator/Step/UserStep.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/InstallBundle/InstallFixtures/ORM/PageHitIndex.php
  app/bundles/InstallBundle/InstallFixtures/ORM/RoleData.php
Labels: Mautic 3

#8239 Fixes some missed form alias uses in the QueueBundle
  app/bundles/QueueBundle/EventListener/BeanstalkdSubscriber.php
  app/bundles/QueueBundle/EventListener/RabbitMqSubscriber.php
Labels: Mautic 3, Pending Feedback

#8204 M3: Refactor builder token helper
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/EventListener/BuilderSubscriber.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/BuilderTokenHelper.php
  app/bundles/CoreBundle/Helper/BuilderTokenHelperFactory.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/EventListener/PageSubscriber.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/EmailSubscriber.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/EventListener/PageSubscriber.php
Labels: Code Review, Mautic 3, Ready To Test

#8234 M3 installation checks
  app/bundles/CoreBundle/Configurator/Step/StepInterface.php
  app/bundles/CoreBundle/Helper/CacheHelper.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Configurator/Step/DoctrineStep.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Configurator/Step/UserStep.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
  app/bundles/InstallBundle/Views/Install/check.html.php
  index_dev.php
  upgrade.php
Labels: Code Review, Mautic 3, Pending Feedback, Ready To Test

#8207 M3: Remove MauticFactory from AbstractCommonModel #8103
  app/bundles/CoreBundle/DependencyInjection/Compiler/ModelPass.php
  app/bundles/CoreBundle/Model/AbstractCommonModel.php
  app/bundles/CoreBundle/Model/FormModel.php
Labels: Code Review, Mautic 3

#8221 M3: Refactor Deprecations - Search for use of `choices` and ensure key/value pair is correct #8070
  app/bundles/ApiBundle/Security/Permissions/ApiPermissions.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventLeadChangeType.php
  app/bundles/CategoryBundle/Form/Type/CategoryBundlesType.php
  app/bundles/CategoryBundle/Form/Type/CategoryListType.php
  app/bundles/CoreBundle/Form/Type/BuilderSectionType.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
  app/bundles/EmailBundle/Form/Type/ConfigMonitoredMailboxesType.php
  app/bundles/FormBundle/Form/Type/CampaignEventFormFieldValueType.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormListType.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadDeviceType.php
  app/bundles/LeadBundle/Form/Type/DashboardLeadsLifetimeWidgetType.php
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationDetailsType.php
  app/bundles/NotificationBundle/Integration/OneSignalIntegration.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
  app/bundles/PluginBundle/Form/Type/FieldsTypeTrait.php
  app/bundles/SmsBundle/Form/Type/ConfigType.php
  app/bundles/SmsBundle/Integration/TwilioIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticFocusBundle/Form/Type/ContentType.php
  plugins/MauticFocusBundle/Form/Type/FocusListType.php
  plugins/MauticSocialBundle/Form/Type/LinkedInType.php
Labels: Code Review, Mautic 3

#8274 Removing maxmind tests
  app/bundles/CoreBundle/Tests/Unit/IpLookup/MaxmindDownloadLookupTest.php
Labels: Mautic 3
