Repository mautic/mautic, pull requests merged in 2020-09, with the labels that each got.

#9194 Fix production assets on staging branch
  media/css/app.css
  media/js/app.js
Labels: bug, cla-signed

#9199 Create SUPPORT.md
  .github/SUPPORT.md
  media/css/app.css
  media/js/app.js
Labels: cla-signed, ready-to-commit

#9108 handle urls with unicode characters
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
Labels: T1, bug, editor, ready-to-commit

#9168 Fix notification style
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/media.less
Labels: T1, bug, cla-signed, ready-to-commit, user-interface

#9215 Add DNS check
  app/bundles/EmailBundle/EventListener/CampaignConditionSubscriber.php
Labels: T1, bug, campaigns, cla-signed, ready-to-commit

#9143 Fix JS issue for code mode
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: T1, bug, cla-signed, ready-to-commit

#9121 Fix broken link in the readme
  README.md
Labels: cla-signed, ready-to-commit

#9176 Update ListType.php to show all categories in list showing them (segments, preference center)
  app/bundles/LeadBundle/Form/Type/ListType.php
Labels: T1, bug, cla-signed, ready-to-commit, user-interface

#9170 Fix migration template
  app/migrations/Migration.template
Labels: T1, bug, cla-signed, ready-to-commit

#8228 Return unique clicked stats in email detail stats graph
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/PageBundle/Entity/TrackableRepository.php
Labels: bug, cla-signed, ready-to-commit

#9226 Fix doNotContact on contacts created through API
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: API, T1, bug, cla-signed, ready-to-commit, regression

#9229 Fix handling of empty reasoncode in DNC API
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: API, T1, bug, cla-signed, ready-to-commit, regression

#9062 Sanitizing select aliases during generating report query
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
Labels: T1, bug, cla-signed, code-review, mautic-3, ready-to-commit, reports

#9154 Add Constructor to StopSubscriber.php
  app/bundles/SmsBundle/EventListener/StopSubscriber.php
  app/bundles/SmsBundle/Tests/EventListener/StopSubscriberTest.php
Labels: T2, bug, cla-signed, sms

#8785 Hubspot support for read only fields
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
Labels: T2, bug, cla-signed, needs-automated-tests, needs-documentation, plugin, ready-to-test

#9231 3.1.1-rc release
  app/release_metadata.json
  media/css/app.css
  media/js/app.js
Labels: cla-signed

#9256 Change to 3.1.1 stable
  app/release_metadata.json
Labels: cla-signed
