Repository mautic/mautic, pull requests merged in 2020-12, with the labels that each got.

#8976 Add support to auto fill data for others field types
  app/bundles/FormBundle/Helper/FormFieldHelper.php
Labels: cla-signed, contacts, enhancement, ready-to-test

#9089 Add lock name on email send command
  app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php
Labels: T1, cla-signed, enhancement, pending-test-confirmation

#9456 Merge latest changes into 3.2 branch
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests.yml
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Doctrine/Provider/VersionProvider.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/VersionProviderTest.php
  app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/release_metadata.json
Labels: cla-signed

#9455 Update DB server version for Mautic 2 > 3 upgrade
  upgrade_v3.php
Labels: bug, cla-signed

#9439 Adding 3.2 to the versions table
  README.md
Labels: cla-signed, ready-to-commit

#9480 Fix migration 20191017140848, run PHPSTAN on migration files
  app/migrations/Version20191017140848.php
  composer.json
Labels: bug, cla-signed, ready-to-commit

#9386 Ajaxify dashboard 2
  app/bundles/DashboardBundle/Assets/css/dashboard.css
  app/bundles/DashboardBundle/Assets/js/dashboard.js
  app/bundles/DashboardBundle/Config/config.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Dashboard/Widget.php
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerTest.php
  app/bundles/DashboardBundle/Tests/Dashboard/WidgetTest.php
  app/bundles/DashboardBundle/Tests/Model/DashboardModelTest.php
  app/bundles/DashboardBundle/Views/Dashboard/index.html.php
  app/bundles/DashboardBundle/Views/Dashboard/widget.html.php
Labels: cla-signed, dashboard, enhancement, feature, ready-to-commit

#9380 Fix campaign builder detach exception
  app/bundles/CampaignBundle/Assets/js/campaign.js
Labels: bug, campaigns, cla-signed, ready-to-commit

#9389 Fix display Google Analytics code in landing page
  app/bundles/PageBundle/Config/config.php
Labels: bug, cla-signed, ready-to-commit

#7129 Fix scheduled jump to event campaign action
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/EventListener/CampaignActionJumpToEventSubscriber.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignActionJumpToEventSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Executioner/EventExecutionerTest.php
Labels: bug, cla-signed, ready-to-commit

#7716 Send email and sms webhook events added
  app/bundles/EmailBundle/EventListener/PointSubscriber.php
  app/bundles/EmailBundle/EventListener/WebhookSubscriber.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
  app/bundles/EmailBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/EventListener/WebhookSubscriber.php
  app/bundles/SmsBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: cla-signed, email, enhancement, mautic-3, ready-to-commit, sms, webhooks

#9474 Update ISSUE_TEMPLATE.md with path to logs directory
  .github/ISSUE_TEMPLATE.md
Labels: T1, chore, cla-signed, pending-test-confirmation

#9271 Fix filemanager absolute url
  app/bundles/CoreBundle/Assets/js/libraries/filemanager/index.html.twig
  app/bundles/CoreBundle/Templating/Helper/AssetsHelper.php
  app/bundles/CoreBundle/Views/Default/script.html.php
Labels: bug, builders, cla-signed, hacktoberfest, pending-test-confirmation, ready-to-test

#9440 Stub HTTP client to prevent accidental request to third parties in th…
  app/bundles/CoreBundle/Test/Guzzle/ClientFactory.php
  app/config/config_test.php
Labels: cla-signed, ready-to-commit

#7944 Customize grid view for developers
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Views/Lead/grid_card.html.php
Labels: T3, cla-signed, code-review, enhancement, ready-to-commit

#9467 Fix numeric reports table colums
  app/bundles/ReportBundle/Views/Graph/Table.html.php
Labels: T1, bug, cla-signed, ready-to-commit, reports

#7432 Send report now
  app/bundles/CoreBundle/Helper/FilePathResolver.php
  app/bundles/CoreBundle/Tests/Unit/Helper/FilePathResolverTest.php
  app/bundles/ReportBundle/Config/config.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Controller/ScheduleController.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/ReportBundle/Exception/FileTooBigException.php
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/ReportBundle/Model/ScheduleModel.php
  app/bundles/ReportBundle/Scheduler/Builder/SchedulerBuilder.php
  app/bundles/ReportBundle/Scheduler/Builder/SchedulerNowBuilder.php
  app/bundles/ReportBundle/Scheduler/Date/DateBuilder.php
  app/bundles/ReportBundle/Scheduler/Entity/SchedulerEntity.php
  app/bundles/ReportBundle/Scheduler/Enum/SchedulerEnum.php
  app/bundles/ReportBundle/Scheduler/Factory/SchedulerTemplateFactory.php
  app/bundles/ReportBundle/Scheduler/Model/FileHandler.php
  app/bundles/ReportBundle/Scheduler/Model/MessageSchedule.php
  app/bundles/ReportBundle/Scheduler/Model/SendSchedule.php
  app/bundles/ReportBundle/Scheduler/SchedulerInterface.php
  app/bundles/ReportBundle/Scheduler/Validator/ScheduleIsValidValidator.php
  app/bundles/ReportBundle/Tests/Entity/ReportTest.php
  app/bundles/ReportBundle/Tests/Model/ReportExporterTest.php
  app/bundles/ReportBundle/Tests/Model/ScheduleModelTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Builder/SchedulerNowBuilderTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Date/DateBuilderTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Factory/SchedulerTemplateFactoryTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Model/FileHandlerTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Model/MessageScheduleTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Model/SendScheduleTest.php
  app/bundles/ReportBundle/Translations/en_US/flashes.ini
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Views/Report/list.html.php
Labels: cla-signed, code-review, feature, ready-to-commit, reports

#9107 M3 add new cache bundle 2
  app/AppKernel.php
  app/bundles/CacheBundle/Cache/Adapter/FilesystemTagAwareAdapter.php
  app/bundles/CacheBundle/Cache/Adapter/MemcachedTagAwareAdapter.php
  app/bundles/CacheBundle/Cache/Adapter/RedisTagAwareAdapter.php
  app/bundles/CacheBundle/Cache/CacheProvider.php
  app/bundles/CacheBundle/Cache/CacheProviderInterface.php
  app/bundles/CacheBundle/Command/ClearCacheCommand.php
  app/bundles/CacheBundle/Config/config.php
  app/bundles/CacheBundle/EventListener/CacheClearSubscriber.php
  app/bundles/CacheBundle/Exceptions/InvalidArgumentException.php
  app/bundles/CacheBundle/MauticCacheBundle.php
  app/bundles/CacheBundle/Tests/Cache/CacheProviderTest.php
  app/bundles/CacheBundle/Tests/EventListener/CacheClearSubscriberTest.php
  app/bundles/CoreBundle/Helper/CacheStorageHelper.php
  app/bundles/CoreBundle/Helper/PRedisConnectionHelper.php
  app/bundles/CoreBundle/Session/Storage/Handler/RedisSentinelSessionHandler.php
  app/bundles/CoreBundle/Tests/Unit/Helper/PRedisConnectionHelperTest.php
  composer.json
  composer.lock
Labels: cla-signed, feature, pending-test-confirmation

#8769 M3 Add maxmind data purge command
  app/bundles/CoreBundle/Command/MaxMindDoNotSellPurgeCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/IpLookup/DoNotSellList/DoNotSellListInterface.php
  app/bundles/CoreBundle/IpLookup/DoNotSellList/MaxMindDoNotSellList.php
  app/bundles/CoreBundle/Tests/Unit/Command/MaxMindDoNotSellPurgeCommandTest.php
  app/bundles/CoreBundle/Tests/Unit/IpLookup/MaxMindDoNotSellListTest.php
Labels: cla-signed, enhancement, feature, integrations, pending-test-confirmation

#9499 Bugfix: incorrect check for HTTPS connection when behind reverse proxy
  app/bundles/CoreBundle/Helper/CookieHelper.php
Labels: T2, bug, cla-signed, configuration, ready-to-commit

#9498 Adding functional test to ensure a multiselect field can be created
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
Labels: automated-tests, cla-signed, ready-to-test

#9492 Re-phrasing a couple of oddities in preference center
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, cla-signed, enhancement, pending-test-confirmation, translations

#9489 Implement stalebot
  .github/stale.yml
Labels: chore, cla-signed, pending-test-confirmation

#9494 Respect custom fields order on the lead detail page
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
Labels: cla-signed, contacts, ready-to-commit

#9509 Placeholder shown for Timezone field is improper
  app/bundles/InstallBundle/Translations/en_US/fixtures.ini
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/migrations/Version20201015084627.php
Labels: T2, bug, cla-signed, ready-to-commit, user-interface

#9511 Fix long tag name
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: bug, cla-signed, ready-to-commit, user-interface

#9313 Cache required fields to memory
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Helper/FieldHelper.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Helper/FieldHelperTest.php
Labels: bug, cla-signed, code-review, hacktoberfest, hacktoberfest-accepted, integrations, performance-scalability, ready-to-commit

#9472 Add release asset upload to GH Actions
  .github/workflows/mautic-asset-upload/.gitignore
  .github/workflows/mautic-asset-upload/composer.json
  .github/workflows/mautic-asset-upload/composer.lock
  .github/workflows/mautic-asset-upload/upload.php
  .github/workflows/release.yml
  .php_cs
Labels: CI, cla-signed, code-review, pending-test-confirmation

#9348 Fix campaign form conditions selectbox value
  app/bundles/FormBundle/Form/Type/CampaignEventFormFieldValueType.php
Labels: T1, bug, campaigns, cla-signed, pending-test-confirmation

#9080 Prevent embedding the same image multiple times in an email when image embedding is enabled
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: T1, bug, cla-signed, code-review, email, ready-to-commit

#9307 Revert back SlimScroll library to Version: 1.3.2 - fix scroll issue
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
Labels: bug, cla-signed, hacktoberfest, hacktoberfest-accepted, pending-test-confirmation

#9336 Added 'overlayDisabled' option in list_toolbar.html.php
  app/bundles/CoreBundle/Views/Helper/list_toolbar.html.php
Labels: cla-signed, code-review, enhancement, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#9337 Fixed binding modal events multiple times
  app/bundles/CoreBundle/Assets/js/9.modals.js
Labels: T2, bug, cla-signed, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#9521 Check if tag name matches version in metadata
  .github/workflows/release.yml
Labels: CI, cla-signed

#9529 Campaign action bug
  app/bundles/LeadBundle/Helper/CustomFieldHelper.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldHelperTest.php
Labels: bug, campaigns, cla-signed, ready-to-commit
