Repository mautic/mautic, pull requests merged in 2020-06, with the labels that each got.

#8868 Merge pipedrive fix into staging branch
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
Labels: Mautic 2 only, Pending Test Confirmation

#8897 Add updated config parameters to UPGRADE-3.0.md
  UPGRADE-3.0.md
Labels: Mautic 3, Ready To Commit

#8893 Add missing string #8857
  app/bundles/ChannelBundle/Translations/en_US/messages.ini
Labels: Mautic 3, Ready To Commit

#8865 Update permission choices array format to fetch proper details.
  app/bundles/UserBundle/Security/Permissions/UserPermissions.php
Labels: Bug, Mautic 3, Ready To Commit

#8856 Fix A/B test winner 500 error
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Controller/EmailController.php
Labels: Bug, Ready To Commit, Regression

#8846 Fix lifecycle widget fatal error
  app/bundles/LeadBundle/Form/Type/DashboardLeadsLifetimeWidgetType.php
Labels: Bug, Ready To Commit, Regression

#8847 Fix Unable to batch-set DNC on contact
  app/bundles/LeadBundle/Controller/LeadController.php
Labels: Bug, Ready To Commit, Regression

#8818 Update message id to fetch the proper translation for button label
  app/bundles/CoreBundle/Views/Variant/row.html.php
Labels: Bug, Mautic 3, Ready To Commit

#8844 Restore API permissions for M3
  app/bundles/CoreBundle/Helper/CoreParametersHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/CoreParametersHelperTest.php
Labels: Mautic 3, Ready To Commit, Regression

#8845 Hotfix to not typecast numbers without a precision to float in contact API responses
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: Bug, Mautic 3, Ready To Commit, Regression

#8848 Fix timeline layout
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Views/Timeline/index.html.php
Labels: Bug, Mautic 3, Ready To Commit, Regression

#8907 Fix eventName on CampaignSubscriber
  app/bundles/StageBundle/EventListener/CampaignSubscriber.php
Labels: Bug, Mautic 3

#8910 Exclude DataFixtures folders from deleted files
  build/processfiles.php
Labels: Bug, L1, Mautic 3

#8909 Readme & feature request template update
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: Mautic 3

#8816 M3 tokens for landing page not functioning
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/token.js
  app/bundles/PageBundle/Form/Type/RedirectListType.php
  app/bundles/PageBundle/Tests/Form/Type/RedirectListTypeTest.php
Labels: Bug, L1, Mautic 3, Ready To Commit

#8874 M3 Set campaign trigger to the next selected day of week when delay in days is set
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/Scheduler/EventScheduler.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
Labels: Bug, L2, Mautic 3

#8805 MAUTIC_DEV_HOSTS server variable renamed
  UPGRADE-3.0.md
  app/middlewares/Dev/IpRestrictMiddleware.php
  app/middlewares/Tests/Dev/IpRestrictMiddlewareTest.php
  app/phpunit.xml.dist
Labels: BC Break, L2

#8912 Quick dirty fix for API default settings in form
  app/bundles/ConfigBundle/Form/Type/ConfigType.php
Labels: Bug, Mautic 3

#8917 Add "needs triage" label to new issues, update SECURITY.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  SECURITY.md
Labels: Needs triage

#8467 Fix anchor links during redirection
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/UrlHelperTest.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Model/RedirectModel.php
Labels: Bug, Email builder, Needs Automated Tests, Ready To Commit

#8460 Fix Most hit email redirects dashboard widget
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/PageBundle/Entity/RedirectRepository.php
Labels: Bug, Ready To Commit

#8796 Prevent wrong campaign scheduling If daily options are filled
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
Labels: Bug, Campaign, Ready To Commit

#8894 M3 focus item preview using iframe
  media/css/app.css
  media/js/app.js
  plugins/MauticFocusBundle/Assets/css/focus.css
  plugins/MauticFocusBundle/Assets/css/focus.less
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/Controller/AjaxController.php
  plugins/MauticFocusBundle/Helper/IframeAvailabilityChecker.php
  plugins/MauticFocusBundle/Tests/Helper/IframeAvailabilityCheckerTest.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
  plugins/MauticFocusBundle/Views/Focus/form.html.php
Labels: Bug, Focus items, L1, Ready To Commit

#8943 Enable code coverage reports with Codecov
  .gitignore
  .travis.yml
  README.md
  build/exclude_files.txt
  codecov.yml
  composer.json
  composer.lock
Labels: CI

#8925 Fix form search after switch language
  app/bundles/FormBundle/Entity/FormRepository.php
Labels: Bug

#8941 add getProjectDir() function to Kernel
  app/AppKernel.php
Labels: Bug, Essential, L1, Ready To Commit

#8901 Increase limit for unique filename
  app/bundles/CoreBundle/Helper/FilePathResolver.php
  app/bundles/CoreBundle/Tests/Unit/Helper/FilePathResolverTest.php
Labels: Bug, Ready To Commit

#8836 Fix #7559: Merge lead devices when merging leads (3.x rebase of #7561)
  app/bundles/LeadBundle/Entity/LeadDeviceRepository.php
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
Labels: Bug, L1

#7752 Fix bug in DateTimeHelper::setDatetime method.
  app/bundles/ChannelBundle/Views/SubscribedEvents/Timeline/queued_messages.html.php
  app/bundles/CoreBundle/Helper/DateTimeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Templating/Helper/DateHelperTest.php
  app/bundles/LeadBundle/Views/Integration/index.html.php
Labels: Bug, L1, Ready To Commit

#8956 Fix memory limit message in InstallBundle
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
  app/bundles/InstallBundle/Views/Install/check.html.php
Labels: Bug, Essential, L1, Mautic 3

#8961 Fix mysqli issue with Mautic 3 DB migrations
  app/migrations/Version20191219155630.php
Labels: Bug, Essential, Ready To Commit

#8954 An attempt to optimize the code coverage report generation only for 1 PHP version
  .travis.yml
  composer.json
  composer.lock
Labels: CI, Mautic 3, Ready To Commit

#7541 Date condition on company field
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryTest.php
Labels: Bug, L1, Mautic 3, Ready To Commit

#8953 Fix communication with stats server
  app/bundles/CoreBundle/Helper/UpdateHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/UpdateHelperTest.php
Labels: Bug, Essential, L1, Pending Test Confirmation

#8914 Fix UpdateHelper error code
  app/bundles/CoreBundle/Helper/UpdateHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/UpdateHelperTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation

#8765 Remove logging of extraneous schema error during install.
  app/bundles/LeadBundle/EventListener/DoctrineSubscriber.php
Labels: Bug, L2, Ready To Commit

#8556 Do not strip script and style tags in Froala
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: Bug, Email builder, L1, Ready To Commit

#8480 SugarCrm: Skip fetchDnc if entity not exists
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
Labels: Bug, Code Review, Plugin, Ready To Commit

#8478 fix a report with the same values in the bounced and unsubscribed columns
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/migrations/Version20200227110431.php
Labels: Bug, L1, Ready To Commit, Reports

#8462 Fix category type for Marketing messages
  app/bundles/CategoryBundle/Event/CategoryTypesEvent.php
  app/bundles/ChannelBundle/Config/config.php
  app/bundles/ChannelBundle/Form/Type/MessageType.php
  app/bundles/ChannelBundle/Translations/en_US/messages.ini
  app/migrations/Version20200220172041.php
Labels: Bug, L1, Ready To Commit

#8402 Fix Salesforce multiselect field sync
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
Labels: Bug, Plugin, Ready To Commit

#8330 Fix send unpublished reports
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/ReportBundle/Tests/Model/ReportExporterTest.php
Labels: Bug, Essential, Ready To Commit

#7783 Fix incorrect cleanup calls in EventExecutioner
  app/bundles/CampaignBundle/Executioner/EventExecutioner.php
Labels: Bug, Code Review, L2, Mautic 3, Ready To Commit

#7705 Fix number/boolean form field campaign condition
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/EventListener/CampaignSubscriber.php
  app/bundles/FormBundle/Model/FormModel.php
Labels: Bug, L1, Ready To Commit

#7365 Fix Uncaught TypeError: Cannot read property 'type' of undefined at mtc.js:60 at mtc.js:3 at Object.MauticJS.processGatedVideos (mtc.js:60) at MauticJS.initGatedVideo (mtc.js:59)
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: Bug, Pending Test Confirmation

#8106 Fix the periodic check for tracking pixel presence
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
Labels: Bug, Code Review, L2, Ready To Commit

#8862 Fixed CompanyExportTest and LeadExportTest
  app/AppKernel.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/CompanyExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/LeadExportTest.php
Labels: Bug, L2, Ready To Commit

#8809 Respect configuration time format in timeline
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Templating/Helper/DateHelper.php
  app/bundles/CoreBundle/Tests/Unit/Templating/Helper/DateHelperTest.php
Labels: Bug, Pending Test Confirmation

#8942 Several improvements to Mautic 3 upgrade script
  upgrade_v3.php
Labels: Enhancement, L2, Ready To Test

#8930 Add MariaDB to Travis config
  .travis.yml
Labels: Enhancement, pending-test-confirmation, ready-to-test
