Repository mautic/mautic, pull requests merged in 2020-08, with the labels that each got.

#7220 Make report export batch configurable
  app/bundles/ReportBundle/Controller/ReportController.php
Labels: enhancement, pending-test-confirmation

#8737 Fix report time frame
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Views/Report/details_data.html.php
Labels: bug, ready-to-commit

#8782 M3 Webhook fail notification by e-mail
  app/bundles/WebhookBundle/Config/config.php
  app/bundles/WebhookBundle/Event/WebhookEvent.php
  app/bundles/WebhookBundle/EventListener/WebhookSubscriber.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Notificator/WebhookKillNotificator.php
  app/bundles/WebhookBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/WebhookBundle/Tests/Model/WebhookModelTest.php
  app/bundles/WebhookBundle/Tests/Notificator/WebhookKillNotificatorTest.php
  app/bundles/WebhookBundle/WebhookEvents.php
Labels: enhancement, ready-to-test

#8945 Fix field merge condition for merging contacts
  app/bundles/LeadBundle/Deduplicate/ContactMerger.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerTest.php
Labels: L2, contacts, enhancement, pending-feedback, ready-to-test

#6481 New blank theme
  themes/blank/html/email.html.twig
  themes/blank/thumbnail.png
Labels: L1, builders, enhancement, pending-test-confirmation

#6494 Added support for contact tokens for url in Send a webhook campaign action
  app/bundles/WebhookBundle/Form/Type/CampaignEventSendWebhookType.php
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
Labels: contacts, enhancement, ready-to-test

#7630 Update bots list
  app/bundles/CoreBundle/Config/config.php
Labels: configuration, enhancement, ready-to-commit

#9018 Fix campaign trigger scheduled day/hour
  app/bundles/CampaignBundle/Executioner/EventExecutioner.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/Scheduler/EventScheduler.php
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
Labels: L1, bug, campaigns, pending-test-confirmation

#8891 Improve show script tags
  app/bundles/CoreBundle/Templating/Helper/ContentHelper.php
  app/bundles/CoreBundle/Tests/Unit/Templating/Helper/ContentHelperTest.html.php
Labels: enhancement, ready-to-commit

#8922 Fix - SAML - use username (optional) in attributes mapper
  app/bundles/UserBundle/Security/SAML/User/UserMapper.php
Labels: L3, bug, mautic-3, pending-test-confirmation

#8134 Fixed Portugal regions names in regions.json
  app/bundles/CoreBundle/Assets/json/regions.json
  app/migrations/Version20200815153711.php
Labels: L1, ready-to-commit

#9057 Remove index for tweet text to allow 280 chars
  app/migrations/Version20200805185714.php
  plugins/MauticSocialBundle/Entity/Tweet.php
Labels: enhancement, ready-to-commit

#8949 Fix Code Mode block for non valid HTML
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: bug, builders, ready-to-commit

#7718 Reply API endpoint
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/Entity/EmailReply.php
  app/bundles/EmailBundle/Entity/EmailReplyRepository.php
  app/bundles/EmailBundle/Entity/Stat.php
  app/bundles/EmailBundle/EventListener/StatsSubscriber.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Reply.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/ReplyTest.php
Labels: API, feature, needs-rebase, ready-to-commit

#8645 add automatically plain text version to email if not set
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/Tests/Event/EmailSendEventTest.php
Labels: builders, email, enhancement, needs-documentation, pending-test-confirmation

#7507 Add path to cookie when focus is engaged
  plugins/MauticFocusBundle/Views/Builder/generate.js.php
Labels: L1, bug, pending-test-confirmation

#8130 Fix Kenya Regions
  app/bundles/CoreBundle/Assets/json/regions.json
Labels: L1, pending-test-confirmation

#8637 Updates for pepipost SMTP
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Transport/PepipostTransport.php
  app/bundles/EmailBundle/Tests/Model/TransportTypeTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: enhancement, ready-to-commit

#6667 Add the Psysh REPL for dev usage
  app/AppKernel.php
  composer.json
  composer.lock
Labels: L1, code-review, feature, ready-to-commit

#7538 Make manipulator available
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/DataObject/LeadManipulator.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
Labels: enhancement, mautic-3, ready-to-commit

#9064 Dynamic content allows only one variation
  app/bundles/EmailBundle/Views/FormTheme/Email/dynamic_content_filter_widget.html.php
Labels: L1, bug, builders, email, ready-to-commit

#8807 Add Kosovo to Countries and Regions, Resolves #8795
  app/bundles/CoreBundle/Assets/json/countries.json
  app/bundles/CoreBundle/Assets/json/regions.json
Labels: L1, bug, ready-to-commit

#8642 Allow HTML for Webhook campaign action
  app/bundles/WebhookBundle/EventListener/CampaignSubscriber.php
Labels: L1, enhancement, ready-to-commit

#7838 Improve pending contacts queries.
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Entity/ContactLimiterTrait.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
Labels: L3, contacts, enhancement, ready-to-commit

#8728 Sync boolean by value
  app/bundles/ChannelBundle/Controller/Api/MessageApiController.php
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: L1, enhancement, ready-to-commit

#8340 Improve empty placeholder for code mode and text slot
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: bug, builders, ready-to-commit, user-interface

#7926 Updated Japan Flag
  media/images/flags/Japan.png
Labels: L1, enhancement, ready-to-commit

#8733 Improve tooltip of scheduled emails
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.php
Labels: enhancement, ready-to-commit

#8209 Added report column: Date added to company
  app/bundles/LeadBundle/Model/CompanyReportData.php
  app/bundles/LeadBundle/Tests/Model/CompanyReportDataTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: companies, enhancement, needs-documentation, ready-to-commit

#8936 Add company view
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/LeadDetailsTrait.php
  app/bundles/LeadBundle/Entity/Company.php
  app/bundles/LeadBundle/Tests/Controller/CompanyControllerTest.php
  app/bundles/LeadBundle/Tests/Entity/CompanyTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Company/company.html.php
  app/bundles/LeadBundle/Views/Company/list.html.php
  app/bundles/LeadBundle/Views/Company/list_rows_contacts.html.php
Labels: L1, companies, feature, needs-automated-tests, ready-to-commit

#9005 Add support to SES API
  app/bundles/EmailBundle/Assets/js/config.js
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Amazon/AmazonCallback.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonApiTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonTransport.php
  app/bundles/EmailBundle/Tests/Model/TransportTypeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Amazon/AmazonCallbackTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Views/FormTheme/Config/_config_emailconfig_widget.html.php
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Views/Install/email.html.php
  composer.json
  composer.lock
Labels: configuration, enhancement, integrations, ready-to-commit, ready-to-test

#8886 Allow custom orderBy to API
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Tests/Controller/CommonApiControllerTest.php
Labels: API, enhancement, ready-to-commit

#8373 ownerfield tokens
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/EventListener/OwnerSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
Labels: L1, email, enhancement, needs-documentation, ready-to-commit

#8218 New webhook: Contact Company Subscription Change
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: companies, contacts, enhancement, ready-to-commit

#9050 Allow publishing plugins without authentication
  app/bundles/IntegrationsBundle/Views/Config/form.html.php
Labels: L1, enhancement, ready-to-commit

#9049 populate doNotContact field in webhooks - rebased #7293 for Mautic 3
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
Labels: L1, enhancement, ready-to-commit, webhooks

#9067 Show "added through API" event log to timeline
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: L1, enhancement, needs-documentation, ready-to-commit, user-interface

#8959 Send JSON Webhooks in campaigns when content-type of application/json is included in the header
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
  app/bundles/WebhookBundle/Tests/Helper/CampaignHelperTest.php
Labels: L2, bug, code-review, mautic-3, needs-documentation, ready-to-commit

#9078 Repair bug API access to list custom fields Mautic v3.0
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/LeadBundle/Views/Field/list.html.php
Labels: API, L2, bug, ready-to-commit, regression

#9066 Stage Change Exception when Stage Name includes a number
  app/bundles/StageBundle/Entity/StageRepository.php
Labels: L1, bug, ready-to-commit, stages

#7395 Install command and service
  app/bundles/InstallBundle/Command/InstallCommand.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/Tests/Command/InstallCommandTest.php
  app/bundles/InstallBundle/Tests/Controller/InstallControllerTest.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/bundles/InstallBundle/Translations/en_US/flashes.ini
Labels: L2, enhancement, pending-test-confirmation

#7094 Generated columns
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/CoreEvents.php
  app/bundles/CoreBundle/Doctrine/GeneratedColumn/GeneratedColumn.php
  app/bundles/CoreBundle/Doctrine/GeneratedColumn/GeneratedColumnInterface.php
  app/bundles/CoreBundle/Doctrine/GeneratedColumn/GeneratedColumns.php
  app/bundles/CoreBundle/Doctrine/GeneratedColumn/GeneratedColumnsInterface.php
  app/bundles/CoreBundle/Doctrine/Provider/GeneratedColumnsProvider.php
  app/bundles/CoreBundle/Doctrine/Provider/GeneratedColumnsProviderInterface.php
  app/bundles/CoreBundle/Doctrine/Provider/VersionProvider.php
  app/bundles/CoreBundle/Doctrine/Provider/VersionProviderInterface.php
  app/bundles/CoreBundle/Doctrine/Type/GeneratedType.php
  app/bundles/CoreBundle/Event/GeneratedColumnsEvent.php
  app/bundles/CoreBundle/EventListener/DoctrineGeneratedColumnsListener.php
  app/bundles/CoreBundle/EventListener/MigrationCommandSubscriber.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/GeneratedColumn/GeneratedColumnTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/GeneratedColumn/GeneratedColumnsTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/GeneratedColumnsProviderTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/VersionProviderTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/DoctrineGeneratedColumnsListenerTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/MigrationCommandSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EventListener/GeneratedColumnSubscriber.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/config/config.php
Labels: L3, enhancement, mautic-3, ready-to-commit

#8697 User notify campaign has unpublished mail 2
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Entity/Event.php
  app/bundles/CampaignBundle/EventListener/CampaignSubscriber.php
  app/bundles/CampaignBundle/Service/Campaign.php
  app/bundles/CampaignBundle/Tests/Service/CampaignTest.php
  app/bundles/CoreBundle/Command/ApplyUpdatesCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/EventListener/CoreSubscriber.php
  app/bundles/CoreBundle/Service/FlashBag.php
  app/bundles/CoreBundle/Test/Service/FlashBagTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
Labels: campaigns, enhancement, needs-automated-tests

#8133 New webhook: Company Create/Update Event
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: L1, companies, enhancement, ready-to-commit

#9103 9097 Add missing tests
  app/bundles/CampaignBundle/Tests/Entity/CampaignRepositoryTest.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CoreBundle/Test/EventListener/CoreSubscriberTest.php
  app/bundles/CoreBundle/Test/Service/FlashBagTest.php
Labels: ready-to-commit

#9117 Add Unit Tests For SES API
  app/bundles/EmailBundle/Swiftmailer/Amazon/AmazonCallback.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Amazon/AmazonCallbackTest.php
Labels: ready-to-test
