Repository mautic/mautic, pull requests merged in 2020-04, with the labels that each got.

#8634 Fix failing ThemeHelper test
  app/bundles/CoreBundle/Helper/ThemeHelper.php
Labels: Bug, Mautic 3

#7254 Allow HTML for Webhook campaign action
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
Labels: Enhancement, Triage M2/M3

#8613 Unneeded var dump in comment
  app/bundles/LeadBundle/Form/Type/ContactFrequencyType.php
Labels: Enhancement, Ready To Commit

#8589 Update upgrade.php
  upgrade.php
Labels: Ready To Commit

#8600 Fix to embeded images in email
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: Bug, Email builder

#8608 Add Tenerife and Toledo to Spain regions
  app/bundles/CoreBundle/Assets/json/regions.json
Labels: Enhancement, Ready To Commit

#8582 Mails get SPAM detected 550-5.7.0 by t-online
  themes/skyline/html/email.html.twig
Labels: Bug, Email builder, Ready To Commit

#7535 Create comment in failed PRs
  .travis.yml
Labels: Enhancement, Ready To Test

#8638 Custom html freezes wysiwyg editor
  app/bundles/CoreBundle/Assets/js/4.builder.js
  media/js/app.js
Labels: Bug, L1, Mautic 3, Ready To Commit

#8573 Fixed campaign membership manipulation
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: Bug, L2, Mautic 3, Regression

#8632 Field value campaign condition fix
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/LeadBundle/Form/Type/LeadFieldsType.php
  app/bundles/LeadBundle/Tests/Form/Type/LeadFieldsTypeTest.php
Labels: Bug, L1, Mautic 3, Pending Test Confirmation, Regression

#8570 Use absolute path instead of relative path for locating templates
  app/bundles/CoreBundle/Templating/TemplateReference.php
Labels: Bug, Code Review, Mautic 3, Ready To Test

#8636 Fix conversion exception
  app/migrations/Version20200402100233.php
Labels: Bug, Mautic 3

#8596 Integration mapping filter save fix
  app/bundles/IntegrationsBundle/Form/Type/IntegrationSyncSettingsObjectFieldType.php
  app/bundles/IntegrationsBundle/Tests/Unit/Form/Type/IntegrationSyncSettingsObjectFieldTypeTest.php
Labels: Bug, L2, Mautic 3

#8578 Makes permission class instantiation compatible with #7312
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/PermissionClassMetadata.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/PermissionClassMetadataTest.php
Labels: Mautic 3

#8598 Cleanup mapping objects table after a contact or company is deleted
  app/bundles/IntegrationsBundle/EventListener/LeadSubscriber.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
Labels: Mautic 3

#8610 Add possibility to have only isPublished interface without Auth
  app/bundles/PluginBundle/Controller/PluginController.php
  app/bundles/PluginBundle/Form/Type/DetailsType.php
  app/bundles/PluginBundle/Views/Integration/form.html.php
Labels: Enhancement, Mautic 3, Plugin, Ready To Test

#8635 Gravatar path fix
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Templating/Helper/GravatarHelper.php
  app/bundles/LeadBundle/Templating/Helper/DefaultAvatarHelper.php
Labels: Bug, L2, Mautic 3, Ready To Test

#8630 Forgotten choices to fqcn
  app/bundles/LeadBundle/Form/Type/DashboardLeadsLifetimeWidgetType.php
  app/bundles/LeadBundle/Form/Type/PreferenceChannelsType.php
Labels: Bug, L1, Mautic 3, Pending Test Confirmation, Regression

#8633 M3: Remove mkdir permission limit to make umask work as expected
  app/bundles/CoreBundle/Cache/MiddlewareCacheWarmer.php
  app/bundles/CoreBundle/Command/ModeratedCommand.php
  app/bundles/CoreBundle/Helper/PathsHelper.php
  app/bundles/LeadBundle/Controller/ImportController.php
  upgrade.php
Labels: Code Review, L2, Mautic 3, Ready To Test

#8565 Fix manual setting of DNC
  app/bundles/LeadBundle/Controller/FrequencyRuleTrait.php
Labels: Bug, Mautic 3, Ready To Commit

#8661 Fix index names missing prefix
  app/migrations/Version20190724110039.php
Labels: Bug, Pending Test Confirmation

#8671 Fixes the telephone form field CSS class name
  app/bundles/FormBundle/Views/Field/tel.html.php
Labels: Bug, Mautic 3, Regression

#7725 Request URL header in request to webhooks
  app/bundles/WebhookBundle/Config/config.php
  app/bundles/WebhookBundle/Controller/AjaxController.php
  app/bundles/WebhookBundle/Http/Client.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Tests/Http/ClientTest.php
  app/bundles/WebhookBundle/Tests/Model/WebhookModelTest.php
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Views/Webhook/details.html.php
Labels: Enhancement, Triage M2/M3

#8646 Maut 3476 optionlist fix
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Views/Field/field_helper.php
Labels: Mautic 3, Pending Feedback, Ready To Test, Regression

#8631 Impossible to import contacts
  app/bundles/LeadBundle/Form/Type/LeadImportFieldType.php
  app/bundles/UserBundle/Entity/User.php
Labels: Bug, Code Review, L1, Mautic 3, Ready To Test

#8644 M3 contact sync triger for company change
  app/bundles/IntegrationsBundle/EventListener/LeadSubscriber.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
  app/bundles/LeadBundle/Model/CompanyModel.php
Labels: Bug, Mautic 3, Ready To Test

#8639 Maut 3276 remove sessions
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/EventListener/CoreSubscriber.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Entity/UserRepository.php
  app/bundles/UserBundle/Event/StatusChangeEvent.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Security/Authentication/LogoutHandler.php
  app/bundles/UserBundle/UserEvents.php
  app/migrations/Version20200211095409.php
Labels: Bug, Mautic 3, Pending Test Confirmation

#8687 Add back a method removed in 3.x that the campaign segment share feature depended on
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
Labels: Bug

#8689 Email builder apply fix
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Tests/Form/Type/EmailTypeTest.php
Labels: Bug, L1, Mautic 3, Pending Test Confirmation

#8702 Mailjet transport fix
  app/bundles/EmailBundle/Swiftmailer/Spool/DelegatingSpool.php
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Spool/DelegatingSpoolTest.php
  app/bundles/EmailBundle/Tests/Transport/MailjetTransportTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation

#8704 Fix "ConversionException: Serialized array includes null-byte" exception/error
  app/bundles/CoreBundle/Doctrine/Type/ArrayType.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/ArrayTypeTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation

#8714 Fix password reset link
  app/bundles/UserBundle/Controller/PublicController.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Tests/Model/UserModelTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation
