Repository mautic/mautic, pull requests merged in 2020-05, with the labels that each got.

#8588 Add missing translation string
  app/bundles/InstallBundle/Translations/en_US/fixtures.ini
Labels: Bug, L1, Ready To Commit, Translations

#8738 Deleting mapped objects
  app/bundles/IntegrationsBundle/Config/config.php
  app/bundles/IntegrationsBundle/Entity/ObjectMappingRepository.php
  app/bundles/IntegrationsBundle/EventListener/LeadSubscriber.php
  app/bundles/IntegrationsBundle/Tests/Unit/Entity/ObjectMappingRepositoryTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
Labels: Bug, Code Review, Mautic 3, Ready To Commit

#8722 Fix the error on report create page.
  app/bundles/ReportBundle/Form/Type/ReportType.php
Labels: Bug, Ready To Commit, Reports

#8773 Fix notice when deleting multiple e-mails
  app/bundles/EmailBundle/Controller/AjaxController.php
Labels: Bug, Ready To Commit

#8772 M3 Downgrade Doctrine/ORM from 2.7.2 to 2.7.0
  composer.json
  composer.lock
Labels: Bug

#8770 M3 saml signature bug
  app/bundles/UserBundle/Security/SAML/Store/TrustOptionsStore.php
  app/bundles/UserBundle/Tests/Security/SAML/Store/TrustOptionsStoreTest.php
Labels: Bug, Ready To Commit

#8766 Fixed issue where form submit action was not removing contacts from D…
  app/bundles/CoreBundle/Command/ApplyUpdatesCommand.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: Bug, Ready To Commit

#8695 Fix import with stage not found 2
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/StageBundle/Entity/StageRepository.php
  tests/Mautic/StageBundle/Tests/Entity/StageRepositoryTest.php
Labels: Bug

#8740 M3 fix multivalue custom fields
  app/bundles/LeadBundle/Model/FieldModel.php
  app/migrations/Version20200422144300.php
Labels: Bug, Ready To Commit

#8379 Create SECURITY.md
  SECURITY.md
Labels: Ready To Commit

#8732 Update the group field html to display input outside label tag.
  app/bundles/FormBundle/Views/Field/group.html.php
Labels: Bug, L1, Ready To Commit

#8771 M3 fixes ability to update state through the api
  app/bundles/CoreBundle/Form/Type/RegionType.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: Bug, Ready To Commit

#8768 M3 changed to flush queue before cc and bcc are cleared
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: Bug, Ready To Test

#8793 Fix error with OneSignal integration
  app/bundles/NotificationBundle/EventListener/ChannelSubscriber.php
Labels: Bug, Ready To Test

#8703 Fixes issue where support for tokenization was not detected in the MailHelper
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Swiftmailer/Spool/DelegatingSpool.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SpoolTransport.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Spool/DelegatingSpoolTest.php
  app/bundles/EmailBundle/Tests/Transport/SpoolTransportTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation

#8800 Prevents redirecting to category list after creating a category from another form
  app/bundles/CategoryBundle/Controller/CategoryController.php
Labels: Bug, Pending Test Confirmation, Regression

#8799 Restores auth settings for legacy integrations
  app/bundles/NotificationBundle/Integration/OneSignalIntegration.php
  app/bundles/PluginBundle/Controller/PluginController.php
  app/bundles/PluginBundle/Form/Type/DetailsType.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/SmsBundle/Integration/TwilioIntegration.php
  plugins/MauticCitrixBundle/Integration/CitrixAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/ConnectwiseIntegration.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Integration/VtigerIntegration.php
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
  plugins/MauticEmailMarketingBundle/Integration/IcontactIntegration.php
Labels: Regression
