Repository mautic/mautic, pull requests merged in 2020-11, with the labels that each got.

#9355 CI: move from Travis to GitHub Actions
  .env.dist
  .github/ci-files/local.php
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .travis.yml
  app/release_metadata.json
  build/package_release.php
Labels: CI, cla-signed

#9343 Fixing the search for columns composed of more words
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Tests/Functional/Entity/CommonRepositoryTest.php
Labels: T1, bug, cla-signed, companies, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#9120 Update Gaufrette packages to resolve deprecates in the old version
  app/bundles/AssetBundle/Controller/Api/AssetApiController.php
  app/bundles/AssetBundle/Tests/Controller/Api/AssetApiControllerFunctionalTest.php
  composer.json
  composer.lock
  plugins/MauticCloudStorageBundle/Integration/AmazonS3Integration.php
Labels: T2, cla-signed, plugin, ready-to-commit

#9367 Add thumbnails to file manager
  app/config/config.php
Labels: T1, builders, cla-signed, enhancement, pending-test-confirmation

#9341 Add composer.json and composer.lock to release zip archive
  .htaccess
  build/exclude_files.txt
Labels: cla-signed, hacktoberfest, hacktoberfest-accepted, pending-test-confirmation

#9283 Fix user icon position
  app/bundles/LeadBundle/Assets/css/lead.css
  media/css/app.css
Labels: T1, cla-signed, hacktoberfest, hacktoberfest-accepted, pending-test-confirmation, user-interface

#9342 Adding missing campaign action add/remove DNC description
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: campaigns, cla-signed, hacktoberfest, hacktoberfest-accepted, pending-test-confirmation, translations

#7879 Sms send by segments
  app/bundles/CampaignBundle/Executioner/ContactFinder/Limiter/ContactLimiter.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Configurator/Configurator.php
  app/bundles/FormBundle/Views/SubscribedEvents/Timeline/index.html.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Lead/dnc_large.html.php
  app/bundles/LeadBundle/Views/Lead/dnc_small.html.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
  app/bundles/LeadBundle/Views/Lead/list_rows.html.php
  app/bundles/SmsBundle/Assets/js/sms.js
  app/bundles/SmsBundle/Broadcast/BroadcastExecutioner.php
  app/bundles/SmsBundle/Broadcast/BroadcastQuery.php
  app/bundles/SmsBundle/Broadcast/BroadcastResult.php
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Controller/AjaxController.php
  app/bundles/SmsBundle/Entity/Sms.php
  app/bundles/SmsBundle/Entity/SmsRepository.php
  app/bundles/SmsBundle/Entity/Stat.php
  app/bundles/SmsBundle/Entity/StatRepository.php
  app/bundles/SmsBundle/EventListener/BroadcastSubscriber.php
  app/bundles/SmsBundle/EventListener/CampaignSendSubscriber.php
  app/bundles/SmsBundle/EventListener/LeadSubscriber.php
  app/bundles/SmsBundle/Form/Type/SmsType.php
  app/bundles/SmsBundle/Model/SmsModel.php
  app/bundles/SmsBundle/Sms/TransportChain.php
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Views/Sms/form.html.php
  app/bundles/SmsBundle/Views/Sms/list.html.php
  app/bundles/SmsBundle/Views/Sms/list_stats.html.php
  app/bundles/SmsBundle/Views/SubscribedEvents/Timeline/index.html.php
  app/migrations/Version20191017140848.php
  build/patches/UnitOfWork.php
  plugins/MauticFocusBundle/Include/lessc.inc.php
Labels: cla-signed, enhancement, ready-to-commit

#9290 Fix SES Transport
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Swiftmailer/Amazon/AmazonCallback.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonApiTransport.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Amazon/AmazonCallbackTest.php
  app/bundles/EmailBundle/Tests/Transport/AmazonApiTransportTest.php
Labels: T2, bug, cla-signed, essential, hacktoberfest, hacktoberfest-accepted, integrations, pending-test-confirmation, regression

#9372 Improve query performance
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryTest.php
Labels: bug, cla-signed, performance-scalability, ready-to-commit

#9376 Fix: Quote regular expression characters for multiselect segment filter
  app/bundles/LeadBundle/Segment/Decorator/BaseDecorator.php
Labels: bug, cla-signed, pending-test-confirmation, segments

#6126 Add support for relative dates to campaign action - update contact
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/UpdateLeadActionType.php
  app/bundles/LeadBundle/Helper/CustomFieldHelper.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldHelperTest.php
  build/patches/UnitOfWork.php
Labels: campaigns, cla-signed, contacts, enhancement, ready-to-commit

#9403 Page and Email language as required
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/PageBundle/Form/Type/PageType.php
Labels: bug, cla-signed, email, landing-pages, ready-to-commit

#9387 Functional test performance improvement
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Test/MauticWebTestCase.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/IntegrationsBundle/Tests/Functional/Services/SyncService/SyncServiceTest.php
  app/bundles/IntegrationsBundle/Tests/Functional/Sync/Notification/NotifierTest.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryFunctionalTest.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
  app/bundles/LeadBundle/Tests/Model/ListModelFunctionalTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/RelativeDateFunctionalTest.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PageBundle/Tests/EventListener/PageSubscriberTest.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTestCase.php
  app/bundles/SmsBundle/Tests/DependencyInjection/Compiler/SmsTransportPassTest.php
  app/bundles/SmsBundle/Tests/EventListener/SmsSubscriberTest.php
  app/bundles/SmsBundle/Tests/Sms/TransportChainTest.php
  app/config/config_test.php
  app/phpunit.xml.dist
  plugins/MauticCitrixBundle/Tests/Model/CitrixModelTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/CompanyExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/CompanyTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/LeadTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/OwnerTest.php
Labels: T1, automated-tests, cla-signed, pending-test-confirmation

#9325 Fix replace image from file manager
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: T1, bug, builders, cla-signed, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#6183 Email Stat Limit: limit number of Stat 'openDetails'
  app/bundles/EmailBundle/Entity/Stat.php
  app/bundles/EmailBundle/Tests/Entity/StatTest.php
Labels: cla-signed, enhancement, performance-scalability, triage-mautic-3

#9415 Fix international phone number validation
  app/bundles/FormBundle/EventListener/FormValidationSubscriber.php
Labels: bug, cla-signed, forms, ready-to-commit, regression

#9346 Fix typo on EmailModel and a null notice on segments
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/LeadBundle/Views/FormTheme/Filter/_leadlist_filters_entry_widget.html.php
Labels: bug, cla-signed, email, ready-to-commit

#9390 Add more mime types to import csv validation
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
Labels: bug, cla-signed, import-export, ready-to-commit

#9423 Allow 0% coverage on Codecov patch
  codecov.yml
Labels: CI, cla-signed

#7511 Custom contacts columns
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Form/Type/ConfigType.php
  app/bundles/LeadBundle/Form/Type/ContactColumnsType.php
  app/bundles/LeadBundle/Services/ContactColumnsDictionary.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/FormTheme/Config/_config_leadconfig_widget.html.php
  app/bundles/LeadBundle/Views/Lead/header/default.html.php
  app/bundles/LeadBundle/Views/Lead/header/location.html.php
  app/bundles/LeadBundle/Views/Lead/header/name.html.php
  app/bundles/LeadBundle/Views/Lead/header/stage.html.php
  app/bundles/LeadBundle/Views/Lead/list.html.php
  app/bundles/LeadBundle/Views/Lead/list_rows.html.php
  app/bundles/LeadBundle/Views/Lead/row/default.html.php
  app/bundles/LeadBundle/Views/Lead/row/id.html.php
  app/bundles/LeadBundle/Views/Lead/row/last_active.html.php
  app/bundles/LeadBundle/Views/Lead/row/location.html.php
  app/bundles/LeadBundle/Views/Lead/row/name.html.php
  app/bundles/LeadBundle/Views/Lead/row/points.html.php
  app/bundles/LeadBundle/Views/Lead/row/stage.html.php
Labels: T2, cla-signed, contacts, enhancement, needs-documentation, ready-to-commit, user-interface

#7747 Fix inability to delete campaign actions with many logs.
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/Model/EventModel.php
  app/bundles/CampaignBundle/Tests/Functional/Entity/LeadEventLogRepositoryTest.php
  app/bundles/CampaignBundle/Tests/Model/EventModelTest.php
Labels: T3, bug, campaigns, cla-signed, ready-to-commit

#9371 Enabling company tokens in webhook campaign action
  app/bundles/WebhookBundle/Config/config.php
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
  app/bundles/WebhookBundle/Tests/Helper/CampaignHelperTest.php
Labels: cla-signed, companies, enhancement, ready-to-commit, webhooks

#9317 Store company changes on new contact save via UI
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: automated-tests, bug, cla-signed, code-review, hacktoberfest, hacktoberfest-accepted, has-conflicts, integrations, ready-to-commit

#9251 Fix Citrix segment filter
  plugins/MauticCitrixBundle/EventListener/LeadSubscriber.php
Labels: T1, bug, cla-signed, integrations, pending-test-confirmation, segments

#9026 Adding a new boolean option system setting to transliterate p…
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ConfigTypeTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/FormTheme/Config/_config_coreconfig_widget.html.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Model/PageModelTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
Labels: T2, cla-signed, configuration, feature, landing-pages, mautic-3, ready-to-commit

#7444 Adds support for defining Sparkpost's campaign ID
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportTest.php
Labels: T1, cla-signed, enhancement, integrations, ready-to-commit

#9422 Add "Export to Excel" functionality for contacts
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Helper/ExportHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ExportHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/EventListener/ButtonSubscriber.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  composer.json
  composer.lock
Labels: T1, cla-signed, enhancement

#8238 Segment public name property for preference center
  app/bundles/CampaignBundle/Tests/Command/campaign_schema.sql
  app/bundles/LeadBundle/DataFixtures/ORM/LoadLeadListData.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Form/Type/LeadListType.php
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
  app/bundles/LeadBundle/Tests/Model/ListModelFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/List/form.html.php
  app/migrations/Version20191206113956.php
Labels: cla-signed, enhancement, mautic-3, segments

#9311 Add Automated tests for ReportSubscriber
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: automated-tests, cla-signed, hacktoberfest, hacktoberfest-accepted, pending-test-confirmation

#9418 Fix this in campaign action
  app/bundles/CampaignBundle/Form/Type/CampaignListType.php
Labels: bug, campaigns, cla-signed, pending-test-confirmation, regression

#9417 Adding the Connection: Close response header only when the request is made using HTTP/1.1.
  app/bundles/CoreBundle/Helper/TrackingPixelHelper.php
Labels: T1, bug, cla-signed, needs-automated-tests, ready-to-commit, regression

#8647 Fetch the list of IP's from Maxmind that should not be tracked due to CCPA requests
  app/bundles/CoreBundle/Command/UpdateDoNotSellListCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/MaxMindDoNotSellDownloadHelper.php
  app/bundles/CoreBundle/IpLookup/MaxmindDownloadLookup.php
  app/bundles/CoreBundle/Tests/Unit/Helper/MaxMindDoNotSellDownloadHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: T1, cla-signed, enhancement, needs-documentation, pending-feedback, plugin

#9435 Fix failing test 🚀
  app/bundles/CoreBundle/Tests/Unit/Helper/MaxMindDoNotSellDownloadHelperTest.php
Labels: CI, cla-signed

#9437 Bump minimum MySQL version to 5.7
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Doctrine/Provider/VersionProvider.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/VersionProviderTest.php
Labels: bug, cla-signed, essential

#9424 Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, ready-to-commit

#9453 Also run GH Actions on commits to features branch
  .github/workflows/tests.yml
Labels: cla-signed
