Repository mautic/mautic, pull requests merged in 2020-07, with the labels that each got.

#8619 Fix sent email point actions issues
  app/bundles/EmailBundle/EventListener/PointSubscriber.php
  app/bundles/EmailBundle/Form/Type/EmailOpenType.php
  app/bundles/PointBundle/Model/PointModel.php
Labels: Bug, points-scoring, ready-to-commit

#8980 Fix pagination for integrations
  app/bundles/PluginBundle/Controller/AjaxController.php
Labels: Bug, Essential, L2, ready-to-commit

#8968 Cors allow headers authorization
  app/middlewares/CORSMiddleware.php
Labels: Bug, L2, ready-to-commit

#8884 Change '0 mn' option to 'Never retry' since this is the current behavior
  app/bundles/CampaignBundle/Form/Type/ConfigType.php
Labels: Bug, Campaign, L2, mautic-3, ready-to-commit

#9006 Fix to Email Sending Issue with SparkPost
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
Labels: Bug, L3, pending-test-confirmation

#8967 Fix convertEmbedImages not working
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: Bug, L2, mautic-3, pending-test-confirmation

#8989 Salesforce - truncate activity name to 80 characters
  plugins/MauticCrmBundle/Api/SalesforceApi.php
Labels: Bug, L3, code-review, ready-to-commit

#8417 Update oneup/uploader-bundle to 2.1.5 (security release)
  composer.json
Labels: Bug, Essential, L1, code-review

#8957 Fix segments list for owners
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
Labels: Bug, L1, pending-test-confirmation

#8676 IntegrationBundle: Updated field mapping form render logic to render fields with "mappedField" index.
  app/bundles/IntegrationsBundle/Views/Config/field_mapping.html.php
Labels: Bug, mautic-3, ready-to-commit

#8937 API and Tracking configuration - check that the options exist
  app/bundles/ApiBundle/EventListener/ConfigSubscriber.php
  app/bundles/ApiBundle/Form/Type/ConfigType.php
  app/bundles/ApiBundle/Tests/EventListener/ConfigSubscriberTest.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
Labels: Bug, L2, ready-to-commit

#9024 Mautic 3 - Checkbox is displayed after option label (not before)
  app/bundles/FormBundle/Views/Field/group.html.php
Labels: Bug, L1, pending-test-confirmation

#9021 Enable code coverage report on plugins and middlewares
  app/phpunit.xml.dist
Labels: CI, ready-to-commit

#8935 Fix multiple forms on pages
  app/bundles/FormBundle/Views/Builder/script.html.php
Labels: Bug, L1, code-review, ready-to-commit

#9028 (3.0) Enable code coverage report on plugins and middlewares
  app/phpunit.xml.dist
Labels: CI

#9025 Update oneup/uploader-bundle to 1.9.4 (security fix)
  app/bundles/CoreBundle/Views/Update/index.html.php
  composer.json
  composer.lock
Labels: dependencies, pending-test-confirmation

#8720 Deduplicate composer.json post-* scripts
  composer.json
Labels: L1, code-review, enhancement
