Repository mautic/mautic, pull requests merged in 2020-03, with the labels that each got.

#8474 Community PR for Error thrown from email field in forms
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/FormBundle/Event/SubmissionEvent.php
Labels: Mautic 3, Regression

#8502 M3 Fix form field placeholder persistence
  app/bundles/FormBundle/Views/Builder/fieldwrapper.html.php
  app/migrations/Version20200302164801.php
Labels: Bug, Code Review, Mautic 3, Ready To Test, Regression

#8500 Fix delete of multiple forms
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Helper/FormUploader.php
  app/bundles/FormBundle/Tests/Model/FormUploaderTest.php
Labels: Mautic 3, Ready To Commit

#8517 Add reference to contributing docs in README.md
  README.md
Labels: Enhancement

#8526 Campaign toggle fix
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
Labels: Mautic 3, Regression

#8453 Create SECURITY.md - Make security contact more prominent
  SECURITY.md
Labels: Ready To Commit

#8455 Fix inability to view contacts in mysql 8
  app/bundles/CoreBundle/Entity/AuditLogRepository.php
Labels: Bug, Ready To Commit

#7824 Fix campaign update form field values
  app/bundles/FormBundle/Assets/js/form.js
Labels: Bug, Ready To Commit

#8393 Not persist while import adding DNC flag
  app/bundles/LeadBundle/Model/LeadModel.php
Labels: Bug, L1, Persists on M3, Ready To Commit

#7641 Fix contact's token zero value
  app/bundles/LeadBundle/Helper/TokenHelper.php
Labels: Bug, Not reproduced on M3, Ready To Commit

#8339 Fix dynamic content for owner field
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: Bug, Persists on M3, Ready To Commit

#7210 Remove object filtering within alias generator
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Helper/FieldAliasHelper.php
Labels: Bug, Ready To Commit

#7806 Duplicate internal IPs from campaign_lead_event_log with master/slave connections.
  app/bundles/CampaignBundle/Executioner/Logger/EventLogger.php
  app/bundles/CampaignBundle/Model/EventLogModel.php
Labels: Bug, L3, Ready To Commit

#7980 Fix use groupByFormula while build select columns in report
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Views/Report/details.html.php
Labels: Bug, L1, Ready To Commit, Reports

#7853 Fix relative date support to anniversary
  app/bundles/LeadBundle/Segment/Decorator/Date/DateOptionFactory.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateAnniversary.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/DateOptionFactoryTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateAnniversaryTest.php
Labels: Bug, L1, Ready To Commit

#7934 Fix clone campaign with segment/form sources
  app/bundles/CampaignBundle/Controller/SourceController.php
Labels: Bug, L1, Ready To Commit

#7919 All columns for agregators in Reports
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Assets/js/report.js
  app/bundles/ReportBundle/Form/Type/ReportType.php
Labels: Bug, L1, Ready To Commit, Reports

#8541 MAUT-3455 New report's columns are not defaulted to the first data source
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Tests/Fixtures.php
  app/bundles/ReportBundle/Tests/Model/ReportModelTest.php
Labels: Bug

#8544 Fix plugin auth popup
  app/bundles/PluginBundle/Controller/PluginController.php
Labels: Bug, Mautic 3

#8506 Default email_frequency_time should be a string by default and not an integer
  app/bundles/EmailBundle/Config/config.php
Labels: Bug, Mautic 3

#8535 Add missing translation for plugin based logins
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: Mautic 3, Translations

#8549 Removing 2 methods that were not being called. Only from each other
  UPGRADE-3.0.md
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadListRepositoryTest.php
Labels: Mautic 3

#8542 Fix case in SmsModel
  app/bundles/SmsBundle/Model/SmsModel.php
  app/bundles/SmsBundle/Tests/Model/SmsModelTest.php
Labels: Mautic 3, Ready To Commit

#8540 Fix lead gravatar
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Templating/Helper/GravatarHelper.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Templating/Helper/AvatarHelper.php
  app/bundles/LeadBundle/Templating/Helper/DefaultAvatarHelper.php
  app/bundles/LeadBundle/Tests/Helper/AvatarHelperTest.php
Labels: Mautic 3, Ready To Commit

#8545 Upload custom image
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/less/media.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Form/Type/LeadType.php
Labels: Mautic 3

#7901 Avoid using the incorrect index with heavy scheduled event count
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
Labels: Bug, Ready To Commit

#7305 Possible fix for #7294
  app/bundles/ConfigBundle/Controller/ConfigController.php
Labels: Bug, Code Review, Ready To Commit

#7893 Add SES/SNS bounces to email graph
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonTransport.php
Labels: Bug, Ready To Commit

#8564 Integrations bundle template fix
  app/bundles/CoreBundle/Templating/TemplateReference.php
  app/bundles/IntegrationsBundle/Form/Type/IntegrationSyncSettingsObjectFieldType.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ObjectHelper/ContactObjectHelperTest.php
Labels: Mautic 3

#8553 Css fixes notes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/notes.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/less/media.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Entity/AuditLogRepository.php
Labels: Pending Test Confirmation

#8546 MAUT-3469 / Fix and test isFormCancelled
  app/bundles/CoreBundle/Controller/AbstractFormController.php
  app/bundles/CoreBundle/Tests/Unit/Controller/AbstractFormControllerTest.php
Labels: Mautic 3, Ready To Commit

#8533 Fields visible in form detail
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Views/Form/details.html.php
Labels: Ready To Commit

#8562 M3: Fix "Recent Activity" feed UI
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  media/css/app.css
  media/css/libraries.css
  media/js/app.js
Labels: Bug, Code Review, Mautic 3, Pending Test Confirmation

#8555 M3: Refactor lookup_id field
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/LeadBundle/Form/Type/FilterTrait.php
  media/js/app.js
Labels: Enhancement, Mautic 3

#8559 M3: new file manager doesn't insert selected images
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Loader/EnvVars/ElFinderEnvVars.php
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Tests/Unit/Loader/EnvVars/ElFinderEnvVarsTest.php
  app/config/config.php
  composer.json
  composer.lock
  media/js/app.js
Labels: Bug, Code Review, Mautic 3, Pending Test Confirmation, Ready To Commit

#8571 Fix profile form fields to user Symfony classname form types.
  app/bundles/UserBundle/Controller/ProfileController.php
Labels: Bug, Mautic 3

#7596 Store multiselect values as text with maximum length of 65535
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/migrations/Version20190724110039.php
Labels: Bug, Ready To Commit

#7520 Oman gouvernorate classification
  app/bundles/CoreBundle/Assets/json/regions.json
Labels: Bug, Code Review, Ready To Commit

#7757 Exclude upgrade.php from build process
  build/excludefiles.txt
Labels: Bug, Ready To Test

#7693 Fix #7692 - typo in date format
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
Labels: Bug, L1, Plugin, Ready To Test

#7494 Speed up leads custom fields
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
Labels: Bug, Ready To Commit

#7595 Fix overwrite custom field value with default value during redirection
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Tests/Helper/ContactRequestHelperTest.php
Labels: Bug, Ready To Commit

#7313 Ampersand in dwc unit-tested
  app/bundles/DynamicContentBundle/Tests/EventListener/DynamicContentSubscriberTest.php
Labels: Code Review, Enhancement, Ready To Commit

#7813 Use Github directly for installing language packages
  app/bundles/CoreBundle/Command/LanguageConfigCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/Language/Installer.php
  app/bundles/CoreBundle/Helper/LanguageHelper.php
  app/bundles/CoreBundle/Helper/UpdateHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Language/InstallerTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/LanguageHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/language/es.zip
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/good.zip
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/missing-config.zip
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/missing-feature.zip
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/missing-message.zip
  app/bundles/CoreBundle/Translations/en_US/config.json
  app/bundles/CoreBundle/Translations/en_US/config.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/config/parameters.php
  app/migrations/Version20190704154940.php
Labels: Enhancement, L2, Ready To Commit

#7424 Support for sub queries in segment filters
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/RelationFuncFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/RelationValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/QueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/SubQuery.php
  app/bundles/LeadBundle/Services/ContactSegmentFilterDictionary.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
Labels: Bug, Enhancement, Ready To Commit

#7515 Redirect parent if the form is in an iframe
  media/js/mautic-form-src.js
  media/js/mautic-form.js
Labels: Bug, Ready To Commit

#8577 Revert "Exclude upgrade.php from build process"
  build/excludefiles.txt
Labels: Bug, Ready To Commit

#7617 Fix default console timezone
  app/console
Labels: Bug, L1, Pending Test Confirmation

#7865 fix deleteCookie expire parameter
  app/bundles/CoreBundle/Helper/CookieHelper.php
Labels: Bug, Code Review, L1, Pending Test Confirmation

#7872 Several fixes to export reports
  app/bundles/ReportBundle/Crate/ReportDataResult.php
  app/bundles/ReportBundle/Model/ExcelExporter.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Views/Report/details_data.html.php
  app/bundles/ReportBundle/Views/Report/export.html.php
Labels: Bug, L2, Pending Test Confirmation, Reports

#7287 Fix issue with broken two column layout in outlook
  app/bundles/CoreBundle/Views/Sections/two-column.html.php
Labels: Bug, Email builder, L1, Pending Test Confirmation

#7741 Fix tags HTML-escaping
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Entity/TagTest.php
Labels: Bug, L1, Pending Test Confirmation

#7616 Fix for [Send a webhook] when customer fields have plus (+) character and it's not properly encoded
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
Labels: Bug, L1, Ready To Commit

#7834 Report not showing properly clicks for multiple emails
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: Bug, L1, Ready To Commit, Reports

#8580 Fix int nullable env procesor
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/DependencyInjection/EnvProcessor/IntNullableProcessor.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/EnvProcessor/IntNullableProcessorTest.php
  app/bundles/SmsBundle/Config/config.php
  app/config/parameters.php
Labels: Mautic 3

#7978 Fix preferences center segments ordering
  app/bundles/CoreBundle/Views/Slots/segmentlist.html.php
  app/bundles/EmailBundle/Views/Lead/preference_options.html.php
Labels: Bug, L1, Pending Test Confirmation

#7569 Altered froala image plugin to allow imageOutputSize to function on i…
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/image.js
Labels: Bug, L1, Pending Test Confirmation

#8575 Report fix
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Tests/Form/Type/ReportTypeTest.php
  app/bundles/ReportBundle/Tests/Model/ReportModelTest.php
Labels: Bug, Mautic 3, Regression

#7717 Default value overwrites on contact merge fix
  app/bundles/LeadBundle/Deduplicate/ContactMerger.php
  app/bundles/LeadBundle/Deduplicate/Helper/MergeValueHelper.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerTest.php
  app/bundles/LeadBundle/Tests/Deduplicate/Helper/MergeValueHelperTest.php
Labels: Bug, L1, Pending Test Confirmation

#6782 Prevent call page view event with mt()
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: Bug, L2, Ready To Commit

#7540 Ensure that the "Lead Channels" label won't show up
  app/bundles/LeadBundle/Form/Type/ContactFrequencyType.php
Labels: Bug, Code Review, L1, Ready To Commit

#7898 SugarCRM Fix owner update
  plugins/MauticCrmBundle/Api/SugarcrmApi.php
Labels: Bug, L2, Plugin, Ready To Commit

#8579 Revert "Speed up leads custom fields"
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
Labels: Bug, Pending Test Confirmation

#7877 bugfix: Handle SES bounces without a DSN
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonTransport.php
Labels: Bug

#8583 Add patch for UnitOfWork warnings on PHP 7.3
  build/package_release.php
  build/patches/UnitOfWork.php
Labels: Ready To Commit

#8175 Fix geolocation even if anonymize_ip is enabled
  app/bundles/CoreBundle/Entity/IpAddress.php
  app/bundles/CoreBundle/Helper/IpLookupHelper.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
Labels: Bug, Ready To Commit

#8590 Fix possibility to overwrite objects in the sync engine
  app/bundles/IntegrationsBundle/Entity/FieldChangeRepository.php
  app/bundles/IntegrationsBundle/Tests/Unit/Entity/FieldChangeRepositoryTest.php
Labels: Mautic 3, Ready To Commit

#8511 Fixes dynamic web content
  app/bundles/DynamicContentBundle/Helper/DynamicContentHelper.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: Bug, Mautic 3, Regression

#8601 Primary company is not displayed properly on the lead view page
  app/bundles/LeadBundle/Controller/LeadController.php
Labels: Bug, Code Review, Mautic 3, Pending Test Confirmation
