Repository mautic/mautic, pull requests merged in 2020-02, with the labels that each got.

#8374 Removing deprecations from CampaignBundle
  UPGRADE-3.0.md
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/EventListener/CampaignSubscriber.php
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/Api/CampaignApiController.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Entity/EventRepository.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Entity/LegacyEventRepository.php
  app/bundles/CampaignBundle/Event/CampaignBuilderEvent.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Executioner/Result/Responses.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CampaignBundle/Model/EventModel.php
  app/bundles/CampaignBundle/Model/LegacyEventModel.php
  app/bundles/CampaignBundle/Tests/Executioner/Result/ResponsesTest.php
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/Helper/DynamicContentHelper.php
  app/bundles/DynamicContentBundle/Tests/Helper/DynamicContentHelperTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/EventListener/PageSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/EventListener/CampaignSubscriber.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadAccessTrait.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
Labels: Mautic 3

#8370 Run CS Fixer only on changed files
  .travis.yml
  app/bundles/ApiBundle/Controller/ClientController.php
Labels: Mautic 3

#8383 Removing abandoned dev dependency sensio/generator-bundle
  .gitignore
  UPGRADE-3.0.md
  app/AppKernel.php
  composer.json
  composer.lock
Labels: Code Review, Mautic 3, Ready To Test

#8388 Plugins page refactoring
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/PluginBundle/Assets/js/plugin.js
  app/bundles/PluginBundle/Views/Integration/grid.html.php
  media/js/app.js
Labels: Bug, Code Review, Mautic 3, Ready To Test

#8387 M2.16: Fix show labels instead values error
  app/AppKernel.php
  app/bundles/LeadBundle/Helper/CustomFieldValueHelper.php
  app/version.txt
  media/css/libraries.css
  media/js/app.js
  media/js/libraries.js
Labels: Bug, Ready To Test

#8377 Optional fixtures
  app/bundles/LeadBundle/Config/config.php
  app/config/config.php
  composer.json
  composer.lock
  plugins/MauticCitrixBundle/Config/config.php
Labels: Mautic 3

#8390 Fixing campaign detail page
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CampaignBundle/EventCollector/Accessor/EventAccessor.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Tests/DataFixtures/Orm/CampaignData.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
Labels: Bug, Code Review, L1, Ready To Test, Regression

#8392 Byte size bug fix
  UPGRADE-3.0.md
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/CoreBundle/Helper/FileHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/FileHelperTest.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  rector.yaml
Labels: Bug, Code Review, Ready To Test, Regression

#8394 Recommended MySql version bumbed from 5.5.3 to 5.7.14
  README.md
  UPGRADE-3.0.md
Labels: Code Review, L1

#8366 Fix fixtures and install
  app/bundles/CoreBundle/Command/InstallDataCommand.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LoadReportData.php
  app/bundles/InstallBundle/InstallFixtures/ORM/PageHitIndex.php
  app/bundles/InstallBundle/InstallFixtures/ORM/RoleData.php
Labels: Code Review, Mautic 3, Ready To Test, Regression

#8389 Applied Rector dead-code set to plugins
  plugins/MauticCitrixBundle/Command/SyncCommand.php
  plugins/MauticClearbitBundle/Controller/PublicController.php
  plugins/MauticClearbitBundle/Services/Clearbit_Base.php
  plugins/MauticCrmBundle/Api/DynamicsApi.php
  plugins/MauticCrmBundle/Api/HubspotApi.php
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticCrmBundle/Api/SugarcrmApi.php
  plugins/MauticCrmBundle/Integration/ConnectwiseIntegration.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/DynamicsIntegration.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
  plugins/MauticCrmBundle/Integration/PipedriveIntegration.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
  plugins/MauticEmailMarketingBundle/Api/IcontactApi.php
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/EventListener/CampaignSubscriber.php
  plugins/MauticFocusBundle/EventListener/PageSubscriber.php
  plugins/MauticFocusBundle/Helper/TokenHelper.php
  plugins/MauticFullContactBundle/Services/FullContact_API.php
  plugins/MauticFullContactBundle/Services/FullContact_Base.php
  plugins/MauticSocialBundle/Command/MauticSocialMonitoringCommand.php
  plugins/MauticSocialBundle/Entity/MonitoringRepository.php
  plugins/MauticSocialBundle/Entity/PostCountRepository.php
  plugins/MauticSocialBundle/Event/SocialMonitorEvent.php
  plugins/MauticSocialBundle/Helper/TwitterCommandHelper.php
  rector.yaml
Labels: Code Review, Ready To Test

#8397 M3.webhook authenticity verification
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_points_change.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_delete.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_save_new.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_save_update.json
  app/bundles/WebhookBundle/Assets/js/webhook.js
  app/bundles/WebhookBundle/Controller/AjaxController.php
  app/bundles/WebhookBundle/Entity/Webhook.php
  app/bundles/WebhookBundle/Form/Type/WebhookType.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Views/Webhook/form.html.php
  app/migrations/Version20181111095447.php
Labels: Feature Request, Mautic 3

#8401 2.16.0 code fixes
  app/bundles/CoreBundle/Tests/Unit/IpLookup/MaxmindDownloadLookupTest.php
  app/bundles/LeadBundle/EventListener/SetContactAvatarFormSubscriber.php
  app/bundles/LeadBundle/Templating/Helper/AvatarHelper.php
  app/bundles/LeadBundle/Views/Company/list.html.php
Labels: Code Review, Ready To Test, Regression

#8403 Phpstan level 1
  UPGRADE-3.0.md
  app/bundles/CampaignBundle/EventCollector/Builder/ConnectionBuilder.php
  app/bundles/CampaignBundle/Tests/Event/CampaignBuilderEventTest.php
  app/bundles/ChannelBundle/Event/ChannelEvent.php
  app/bundles/ChannelBundle/Helper/ChannelListHelper.php
  app/bundles/ChannelBundle/PreferenceBuilder/ChannelPreferences.php
  app/bundles/ChannelBundle/PreferenceBuilder/PreferenceBuilder.php
  app/bundles/ChannelBundle/Tests/PreferenceBuilder/ChannelPreferencesTest.php
  app/bundles/ConfigBundle/Controller/ConfigController.php
  app/bundles/ConfigBundle/Event/ConfigBuilderEvent.php
  app/bundles/ConfigBundle/Event/ConfigEvent.php
  app/bundles/ConfigBundle/Tests/Event/ConfigBuilderEventTest.php
  app/bundles/CoreBundle/Command/PushTransifexCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Configurator/Configurator.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Controller/VariantAjaxControllerTrait.php
  app/bundles/CoreBundle/Entity/FormEntity.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ArrayHelperTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Entity/EmailReplyRepository.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Swiftmailer/Transport/PostmarkTransport.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SendgridTransport.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Search/ContactFinderTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/CompanyObjectSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/ContactObjectSubscriberTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/Form/DataTransformer/TagEntityModelTransformer.php
  app/bundles/LeadBundle/Form/DataTransformer/UtmTagEntityModelTransformer.php
  app/bundles/LeadBundle/Form/Type/TagType.php
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/LeadBundle/Segment/Decorator/DateDecorator.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/PluginBundle/Controller/AjaxController.php
  app/bundles/PluginBundle/Event/PluginIntegrationFormBuildEvent.php
  app/bundles/PluginBundle/Form/Type/CompanyFieldsType.php
  app/bundles/PluginBundle/Form/Type/FeatureSettingsType.php
  app/bundles/PluginBundle/Form/Type/FieldsType.php
  app/bundles/PluginBundle/Form/Type/FieldsTypeTrait.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PluginBundle/Tests/ConfigFormTest.php
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/SmsBundle/Api/TwilioApi.php
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Tests/Sms/TransportChainTest.php
  app/bundles/UserBundle/Controller/UserController.php
  phpstan.neon
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Tests/Integration/SalesforceIntegrationTest.php
  plugins/MauticFocusBundle/Controller/AjaxController.php
  plugins/MauticSocialBundle/Controller/MonitoringController.php
  plugins/MauticSocialBundle/Event/SocialMonitorEvent.php
  rector.yaml
Labels: BC Break, Essential, Mautic 3

#8409 Fix inability to display plugins config forms
  app/bundles/SmsBundle/Integration/TwilioIntegration.php
  plugins/MauticFullContactBundle/Integration/FullContactIntegration.php
Labels: Bug, Code Review, Mautic 3, Ready To Test

#8407 M3: Fix incorrect column types and missing indexes
  app/bundles/LeadBundle/Model/FieldModel.php
Labels: Bug, Code Review, Mautic 3, Ready To Test

#8410 Generate the secret hash before save rather than after
  app/bundles/WebhookBundle/Form/Type/WebhookType.php
Labels: Code Review, L1, Mautic 3, Ready To Test

#8404 Browserkit moved to --dev
  UPGRADE-3.0.md
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingService.php
  composer.json
  composer.lock
Labels: BC Break, Code Review, Essential, Mautic 3, Ready To Test

#8408 Fixes issue with twig cache path and el finder paths not resolving and parameters resolving in mautic.bundles
  app/bundles/CoreBundle/Monolog/Handler/FileLogHandler.php
  app/config/config.php
  app/config/config_prod.php
Labels: Mautic 3

#8369 Bigint unsigned ids
  app/bundles/AssetBundle/Entity/Download.php
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/ChannelBundle/Entity/MessageQueue.php
  app/bundles/CoreBundle/Doctrine/Mapping/ClassMetadataBuilder.php
  app/bundles/CoreBundle/Entity/AuditLog.php
  app/bundles/DynamicContentBundle/Entity/Stat.php
  app/bundles/EmailBundle/Entity/Stat.php
  app/bundles/EmailBundle/Entity/StatDevice.php
  app/bundles/FormBundle/Entity/Submission.php
  app/bundles/IntegrationsBundle/Entity/FieldChange.php
  app/bundles/IntegrationsBundle/Entity/ObjectMapping.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/LeadDevice.php
  app/bundles/LeadBundle/Entity/LeadEventLog.php
  app/bundles/LeadBundle/Entity/PointsChangeLog.php
  app/bundles/NotificationBundle/Entity/Stat.php
  app/bundles/PageBundle/Entity/Hit.php
  app/bundles/PageBundle/Entity/Redirect.php
  app/bundles/SmsBundle/Entity/Stat.php
Labels: Code Review, Mautic 3, Ready To Test

#8418 Integration bundle flip array
  app/bundles/IntegrationsBundle/Form/Type/IntegrationConfigType.php
  app/bundles/IntegrationsBundle/Form/Type/IntegrationSyncSettingsObjectFieldType.php
  app/bundles/IntegrationsBundle/Form/Type/IntegrationSyncSettingsType.php
  app/bundles/IntegrationsBundle/Views/Config/form.html.php
Labels: Mautic 3

#8421 Fix var directory paths in installer
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
Labels: Mautic 3

#8419 Fix UniqueUserAliasValidator violation build
  app/bundles/LeadBundle/Form/Validator/Constraints/UniqueUserAliasValidator.php
Labels: Mautic 3

#8422 Set secure cookie from Request when in installer and fixes configuration for new installation
  app/bundles/EmailBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Config/config.php
  app/config/config.php
Labels: Mautic 3

#8429 mautic:migrations:generate command replaced with doctrine:migrations:migrate
  .travis.yml
  UPGRADE-3.0.md
  app/bundles/CoreBundle/Command/GenerateMigrationsCommand.php
  app/config/config.php
  app/migrations/Migration.template
  phpstan.neon
Labels: Code Review, Ready To Test, Regression

#7976 [BUGFIX] Reintroduce support for Apache < 2.4
  .htaccess
Labels: Bug, Pending Test Confirmation

#8433 Unified integration interface
  app/bundles/AssetBundle/Controller/AjaxController.php
  app/bundles/AssetBundle/Event/RemoteAssetBrowseEvent.php
  app/bundles/IntegrationsBundle/Views/Config/form.html.php
  app/bundles/PluginBundle/Command/FetchLeadsCommand.php
  app/bundles/PluginBundle/Event/PluginIntegrationAuthCallbackUrlEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationAuthRedirectEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationFormBuildEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationFormDisplayEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationKeyEvent.php
  app/bundles/PluginBundle/Event/PluginIntegrationRequestEvent.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PluginBundle/Helper/oAuthHelper.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  plugins/MauticCitrixBundle/Config/config.php
  plugins/MauticCitrixBundle/Controller/PublicController.php
  plugins/MauticCitrixBundle/EventListener/IntegrationRequestSubscriber.php
  plugins/MauticCitrixBundle/Form/Type/CitrixCampaignActionType.php
  plugins/MauticCitrixBundle/Integration/CitrixAbstractIntegration.php
  plugins/MauticCitrixBundle/Tests/EventListener/IntegrationRequestSubscriberTest.php
  plugins/MauticEmailMarketingBundle/Api/EmailMarketingApi.php
Labels: Mautic 3

#8428 Removing the fingerprint tracking
  UPGRADE-3.0.md
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
  app/bundles/LeadBundle/Entity/LeadDevice.php
  app/bundles/LeadBundle/Entity/LeadDeviceRepository.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Helper/ContactRequestHelperTest.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/ConfigSubscriber.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Views/FormTheme/Config/_config_trackingconfig_widget.html.php
  app/migrations/Version20200212141530.php
Labels: BC Break, Code Review, Essential, Mautic 3, Ready To Test

#8441 Merge 2.16.0 to 3.x
  .htaccess
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/CookieHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/CookieHelperTest.php
  composer.lock
Labels: Code Review, Essential, Mautic 3, Ready To Test

#8430 Bye bye Google Plus
  UPGRADE-3.0.md
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Form/Type/SlotSocialFollowType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/Slots/socialfollow.html.php
  app/bundles/EmailBundle/Assets/WebhookPayload/email_on_open.json
  app/bundles/FormBundle/Assets/WebhookPayload/form_on_submit.json
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Views/Builder/fieldwrapper.html.php
  app/bundles/FormBundle/Views/Builder/index.html.php
  app/bundles/InstallBundle/Translations/en_US/fixtures.ini
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_channel_subscription_changed.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_points_change.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_delete.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_save_new.json
  app/bundles/LeadBundle/Assets/WebhookPayload/lead_post_save_update.json
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Assets/WebhookPayload/page_on_hit.json
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PluginBundle/Translations/en_US/messages.ini
  plugins/MauticCitrixBundle/EventListener/FormSubscriber.php
  plugins/MauticClearbitBundle/Controller/PublicController.php
  plugins/MauticFullContactBundle/Controller/PublicController.php
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/Form/Type/GooglePlusType.php
  plugins/MauticSocialBundle/Integration/GooglePlusIntegration.php
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/Profile/photos.html.php
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/Profile/posts.html.php
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/Profile/profile.html.php
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/Profile/tags.html.php
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/Profile/view.html.php
  plugins/MauticSocialBundle/Views/Integration/GooglePlus/share.html.php
  plugins/MauticSocialBundle/Views/Integration/login.html.php
Labels: BC Break, Essential, Mautic 3, Ready To Test

#8444 MAUT-3351-right-fields-mapping
  app/bundles/PluginBundle/Views/FormTheme/Integration/fields_row.html.php
Labels: Mautic 3, Regression

#8443 Add "Test" automatically to "send example" emails
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
Labels: Mautic 3

#8413 Api fixes
  UPGRADE-3.0.md
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CoreBundle/Controller/ExceptionController.php
  app/bundles/CoreBundle/Factory/ModelFactory.php
  app/bundles/CoreBundle/Form/DataTransformer/SortableListTransformer.php
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Form/Type/SortableListType.php
  app/bundles/CoreBundle/Helper/AbstractFormFieldHelper.php
  app/bundles/CoreBundle/Helper/ListParser/ArrayListParser.php
  app/bundles/CoreBundle/Helper/ListParser/BarListParser.php
  app/bundles/CoreBundle/Helper/ListParser/Exception/FormatNotSupportedException.php
  app/bundles/CoreBundle/Helper/ListParser/JsonListParser.php
  app/bundles/CoreBundle/Helper/ListParser/ListParserInterface.php
  app/bundles/CoreBundle/Helper/ListParser/ValueListParser.php
  app/bundles/CoreBundle/Tests/Unit/Factory/ModelFactoryTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/AbstractFormFieldHelperTest.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Views/DynamicContent/form.html.php
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Views/FormTheme/Email/dynamic_content_filter_entry_widget.html.php
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Form/Type/ActionType.php
  app/bundles/FormBundle/Views/Field/field_helper.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/EventListener/PointSubscriber.php
  app/bundles/LeadBundle/Form/Type/DeviceType.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Type/FilterTrait.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/PointSubscriberTest.php
  app/bundles/LeadBundle/Views/List/form.html.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/PointBundle/PointEvents.php
  app/bundles/PointBundle/Tests/Unit/Model/TriggerModelTest.php
  app/bundles/StageBundle/Form/Type/GenericStageActionType.php
  app/bundles/StageBundle/Form/Type/StageType.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Tests/Model/WebhookModelTest.php
  app/config/config.php
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/EventListener/StatsSubscriber.php
  plugins/MauticSocialBundle/Form/Type/TweetType.php
Labels: Mautic 3, Regression

#8448 Fixing PHP Warning - count(): Parameter must be an array or an object…
  app/bundles/CoreBundle/Model/IteratorExportDataModel.php
  app/bundles/CoreBundle/Tests/Unit/Model/IteratorExportDataModelTest.php
Labels: Bug, Mautic 3

#8456 Refactor SchemaHelperFactory
  UPGRADE-3.0.md
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Doctrine/Helper/SchemaHelperFactory.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Model/DeleteFormTest.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
Labels: Mautic 3

#8472 Fix adding widget
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
Labels: Mautic 3

#8473 Fix select contact source from campaign forms
  app/bundles/CampaignBundle/Model/CampaignModel.php
Labels: Mautic 3, Ready To Test

#8466 Refactored building config bundle metadata
  app/bundles/CoreBundle/DependencyInjection/Builder/BundleMetadata.php
  app/bundles/CoreBundle/DependencyInjection/Builder/BundleMetadataBuilder.php
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/ConfigMetadata.php
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/EntityMetadata.php
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/PermissionClassMetadata.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/BundleMetadataBuilderTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/BundleMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/ConfigMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/EntityMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/PermissionClassMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/resource/BadConfig/Config/config.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/resource/GoodConfig/Config/config.php
  app/config/config.php
  phpstan.neon
Labels: Mautic 3, Ready To Test

#8479 Fix category filter
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CategoryBundle/Tests/Controller/CategoryControllerFunctionalTest.php
Labels: Bug, Mautic 3, Pending Test Confirmation
