Repository mautic/mautic, pull requests merged in 2021-11, with the labels that each got.

#10570 Update UPGRADE-4.0.md
  UPGRADE-4.0.md
Labels: cla-signed, chore

#10582 Adding github action for splitting the monorepo into multi-repo
  .github/subtree-splitter-config.json
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: cla-signed

#10586 Removed composer v1 requirement in README (and hoping this will address the CodeCov issue)
  README.md
Labels: cla-signed

#10588 Update split-monorepo-in-multi-repo.yml
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: CI, cla-signed, chore

#10591 Fix push branch trigger on 4.x
  .github/workflows/tests.yml
Labels: CI, cla-signed, chore

#10500 Add Gitpod.io integration
  .ddev/commands/web/ddev-setup-mautic
  .ddev/gitpod-setup-ddev.sh
  .ddev/mautic-setup.sh
  .gitignore
  .gitpod.Dockerfile
  .gitpod.yml
Labels: ready-to-test, enhancement, installation, cla-signed, hacktoberfest-accepted

#9956 Salesforce: Check DNC status
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
Labels: bug, ready-to-commit, code-review, plugin, cla-signed

#7514 Fix campaign membership syncing when an issue such as api limits occur
  app/bundles/PluginBundle/Entity/IntegrationEntityRepository.php
  app/bundles/PluginBundle/Tests/Entity/IntegrationEntityRepositoryTest.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
Labels: T3, bug, ready-to-commit, plugin, campaigns, cla-signed

#10594 Only run subsplit in the mautic org
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: CI, cla-signed, chore

#10421 Fix date range in segments and reports does not trigger ajax request
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/ReportBundle/Assets/js/report.js
Labels: bug, ready-to-commit, segments, cla-signed

#10160 Show segments on contact detail
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: user-interface, ready-to-commit, enhancement, segments, contacts, cla-signed

#10595 DDEV: update `install_source` for the stats server
  .ddev/local.config.php.dist
Labels: CI, cla-signed, chore

#10061 Fix process string in contact's audit log
  app/bundles/CoreBundle/Templating/Helper/FormatterHelper.php
Labels: bug, ready-to-commit, code-review, regression, cla-signed

#10533 Do not write to console when updating segments if quiet flag is specified
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
Labels: bug, ready-to-commit, cla-signed, hacktoberfest-accepted

#10167 Fix display zero values in reports
  app/bundles/ReportBundle/Views/Report/details_data.html.php
Labels: T1, bug, ready-to-commit, reports, cla-signed

#10583 Email domain field
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/GeneratedColumnSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/GeneratedColumnSubscriberTest.php
  composer.lock
Labels: ready-to-commit, cla-signed, performance-scalability

#10557 Fix Amazon SES API transport multiple unsubscribe header using send immediately
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonApiTransport.php
  app/bundles/EmailBundle/Tests/Transport/AmazonApiTransportTest.php
Labels: bug, ready-to-commit, cla-signed, hacktoberfest-accepted

#10525 Fix email translations lost and overwritten by parent
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
Labels: bug, ready-to-test, pending-test-confirmation, email, cla-signed, hacktoberfest-accepted

#10166 Fix dashboard widget Sent email to contacts
  app/bundles/EmailBundle/Entity/StatRepository.php
Labels: T1, bug, pending-test-confirmation, widget, cla-signed

#10257 Add log display limit for webhook detail page
  app/bundles/WebhookBundle/Entity/Webhook.php
  app/bundles/WebhookBundle/Tests/Controller/WebhookControllerFunctionalTest.php
  app/bundles/WebhookBundle/Views/Webhook/details.html.php
Labels: T1, bug, ready-to-commit, enhancement, webhooks, cla-signed, performance-scalability

#10300 Place the .gitignore in the project root, not the webroot
  app/composer.json
Labels: bug, ready-to-commit, installation, cla-signed

#10597 Bring .github changes over to 4.0 (subtree split etc.)
  .github/subtree-splitter-config.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: CI, cla-signed, chore

#10599 Fix the gitsplit action as it is currently broken due to supposedly supported parallelization but was not working
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/core-lib.json
  .github/workflows/gitsplit/plugin-citrix.json
  .github/workflows/gitsplit/plugin-clearbit.json
  .github/workflows/gitsplit/plugin-cloudstorage.json
  .github/workflows/gitsplit/plugin-crm.json
  .github/workflows/gitsplit/plugin-emailmarketing.json
  .github/workflows/gitsplit/plugin-focus.json
  .github/workflows/gitsplit/plugin-fullcontact.json
  .github/workflows/gitsplit/plugin-gmail.json
  .github/workflows/gitsplit/plugin-grapesjs.json
  .github/workflows/gitsplit/plugin-outlook.json
  .github/workflows/gitsplit/plugin-social.json
  .github/workflows/gitsplit/plugin-tagmanager.json
  .github/workflows/gitsplit/plugin-zapier.json
  .github/workflows/gitsplit/theme-aurora.json
  .github/workflows/gitsplit/theme-blank.json
  .github/workflows/gitsplit/theme-brienz.json
  .github/workflows/gitsplit/theme-cards.json
  .github/workflows/gitsplit/theme-coffee.json
  .github/workflows/gitsplit/theme-confirmme.json
  .github/workflows/gitsplit/theme-fresh-center.json
  .github/workflows/gitsplit/theme-fresh-fixed.json
  .github/workflows/gitsplit/theme-fresh-left.json
  .github/workflows/gitsplit/theme-fresh-wide.json
  .github/workflows/gitsplit/theme-goldstar.json
  .github/workflows/gitsplit/theme-mauve.json
  .github/workflows/gitsplit/theme-nature.json
  .github/workflows/gitsplit/theme-neopolitan.json
  .github/workflows/gitsplit/theme-oxygen.json
  .github/workflows/gitsplit/theme-paprika.json
  .github/workflows/gitsplit/theme-skyline.json
  .github/workflows/gitsplit/theme-sunday.json
  .github/workflows/gitsplit/theme-trulypersonal.json
  .github/workflows/gitsplit/theme-vibrant.json
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: CI, cla-signed, chore

#10600 Split up monorepo jobs in 4.0 branch
  .github/workflows/gitsplit/core-lib.json
  .github/workflows/gitsplit/plugin-citrix.json
  .github/workflows/gitsplit/plugin-clearbit.json
  .github/workflows/gitsplit/plugin-cloudstorage.json
  .github/workflows/gitsplit/plugin-crm.json
  .github/workflows/gitsplit/plugin-emailmarketing.json
  .github/workflows/gitsplit/plugin-focus.json
  .github/workflows/gitsplit/plugin-fullcontact.json
  .github/workflows/gitsplit/plugin-gmail.json
  .github/workflows/gitsplit/plugin-grapesjs.json
  .github/workflows/gitsplit/plugin-outlook.json
  .github/workflows/gitsplit/plugin-social.json
  .github/workflows/gitsplit/plugin-tagmanager.json
  .github/workflows/gitsplit/plugin-zapier.json
  .github/workflows/gitsplit/theme-aurora.json
  .github/workflows/gitsplit/theme-blank.json
  .github/workflows/gitsplit/theme-brienz.json
  .github/workflows/gitsplit/theme-cards.json
  .github/workflows/gitsplit/theme-coffee.json
  .github/workflows/gitsplit/theme-confirmme.json
  .github/workflows/gitsplit/theme-fresh-center.json
  .github/workflows/gitsplit/theme-fresh-fixed.json
  .github/workflows/gitsplit/theme-fresh-left.json
  .github/workflows/gitsplit/theme-fresh-wide.json
  .github/workflows/gitsplit/theme-goldstar.json
  .github/workflows/gitsplit/theme-mauve.json
  .github/workflows/gitsplit/theme-nature.json
  .github/workflows/gitsplit/theme-neopolitan.json
  .github/workflows/gitsplit/theme-oxygen.json
  .github/workflows/gitsplit/theme-paprika.json
  .github/workflows/gitsplit/theme-skyline.json
  .github/workflows/gitsplit/theme-sunday.json
  .github/workflows/gitsplit/theme-trulypersonal.json
  .github/workflows/gitsplit/theme-vibrant.json
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: CI, cla-signed, chore

#9486 Fix campaign trigger inactive schedule decision after scheduled event
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
Labels: bug, ready-to-test, pending-feedback, needs-automated-tests, campaigns, cla-signed

#10527 Focus: hide form If we use notice type of popups
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFocusBundle/Tests/Model/FocusModelTest.php
Labels: bug, ready-to-commit, focus-items, cla-signed, hacktoberfest-accepted

#10497 Fix salesforce sync companies even are disabled
  app/bundles/PluginBundle/Command/FetchLeadsCommand.php
Labels: bug, ready-to-commit, plugin, cla-signed, hacktoberfest-accepted

#10495 Fix Preferance Center Javascript issue
  app/bundles/EmailBundle/Views/Lead/preference_options.html.php
Labels: T1, bug, ready-to-commit, landing-pages, cla-signed, hacktoberfest-accepted, builder-grapesjs

#10444 Fix Invalid clickthrough value exception
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
Labels: T1, bug, ready-to-commit, cla-signed

#10308 Guzzle Http refactor
  app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php
Labels: T1, bug, ready-to-commit, cla-signed

#10326 Fix Illegal Address - Enclosing sender name with double quotes
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonApiTransport.php
Labels: T1, bug, ready-to-commit, code-review, mautic-3, email, email-integrations, cla-signed, mautic-4

#10266 Fix form submit messages length
  app/bundles/FormBundle/Entity/Form.php
  app/migrations/Version20210623071326.php
Labels: T1, bug, ready-to-commit, forms, cla-signed

#9328 Fix A new entity was found through the relationship 'Mautic\LeadBundle\Entity\Company#owner
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ObjectHelper/CompanyObjectHelper.php
  app/bundles/IntegrationsBundle/Tests/Functional/Services/SyncDataExchange/Internal/ObjectHelper/CompanyObjectHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ObjectHelper/CompanyObjectHelperTest.php
  app/bundles/LeadBundle/Entity/Company.php
Labels: T1, bug, ready-to-commit, plugin, companies, cla-signed, hacktoberfest-accepted

#9919 Add select/multiselect to NormalizedValueDAO from internal object
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Helper/FieldHelper.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Helper/FieldHelperTest.php
Labels: bug, ready-to-commit, cla-signed

#9936 Some winner criteria not working properly in A/B Tests
  app/bundles/CoreBundle/Views/Variant/index.html.php
  app/bundles/CoreBundle/Views/Variant/row.html.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/EventListener/DetermineWinnerSubscriberTest.php
Labels: T1, bug, ready-to-commit, landing-pages, email, cla-signed

#10064 Add unit test for extractCompanyDataFromImport
  app/bundles/LeadBundle/Tests/Model/CompanyModelTest.php
Labels: T1, ready-to-commit, code-review, companies, cla-signed, automated-tests

#10151 Unable to perform "Change campaign" Action for removing a contact from one and adding to another campaign
  app/bundles/CampaignBundle/EventListener/CampaignActionChangeMembershipSubscriber.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#10209 Fix dashboard report line graphs
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/ReportBundle/EventListener/DashboardSubscriber.php
Labels: T1, bug, ready-to-commit, reports, dashboard, cla-signed

#10535 Fix sync salesforce if company has name with html entity code of singlequote
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticCrmBundle/Tests/Api/SalesforceApiTest.php
Labels: bug, ready-to-commit, cla-signed, hacktoberfest-accepted

#10270 Fix API creating tag duplicates
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/LeadBundle/Entity/TagRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/TagApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Entity/TagRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/TagTest.php
Labels: bug, ready-to-commit, API, tags, cla-signed

#10569 Update to include 4.x/0 dates and huntr.dev update
  SECURITY.md
Labels: cla-signed, chore

#9639 Fix duplicate entry for key campaign_rotation
  app/bundles/CampaignBundle/Executioner/Logger/EventLogger.php
  app/bundles/CampaignBundle/Tests/Executioner/Logger/EventLoggerTest.php
Labels: T1, bug, ready-to-commit, campaigns, cla-signed

#10590 Remove pending count
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Views/Email/details.html.php
Labels: T1, ready-to-commit, email, cla-signed, performance-scalability

#10553 Fix typo in mautic-form-src.js
  app/assets/js/mautic-form-src.js
Labels: ready-to-commit, cla-signed

#10514 Added character counter and information text to sms new form
  app/bundles/SmsBundle/Assets/js/sms.js
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Views/Sms/form.html.php
Labels: T1, ready-to-commit, enhancement, sms, cla-signed, hacktoberfest-accepted

#10401 Add possibility to extend the email form template (edit emails)
  app/bundles/EmailBundle/Views/Email/form.html.php
Labels: ready-to-commit, enhancement, cla-signed

#10470 Fix form field campaign condition with special character in value
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/EventListener/CampaignSubscriber.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: bug, ready-to-commit, forms, campaigns, cla-signed

#10589 fixed mautic:unusedip:delete
  app/bundles/CoreBundle/Command/UnusedIpDeleteCommand.php
Labels: bug, ready-to-commit, cla-signed

#10486 Fix set values from properties for state field
  app/bundles/CoreBundle/Views/FormTheme/Custom/sortable_value_label_list_widget.html.php
  app/bundles/LeadBundle/Helper/CustomFieldValueHelper.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldValueHelperTest.php
Labels: T1, bug, ready-to-commit, forms, cla-signed

#10208 Add segment build time measurement for each segment
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  app/bundles/LeadBundle/Tests/Command/UpdateLeadListCommandTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, code-review, enhancement, segments, cla-signed, performance-scalability

#10295 Print recent activity logs in code of HTML
  app/bundles/CoreBundle/Views/Helper/recentactivity.html.php
Labels: ready-to-commit, enhancement, cla-signed

#10471 "Reply To" Address Should Default to the "From Address" In Email Advanced Tab
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
Labels: bug, ready-to-commit, email, cla-signed

#9743 cookie with samesite=none require secure
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
  app/bundles/CoreBundle/Helper/CookieHelper.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  plugins/MauticFocusBundle/Views/Builder/generate.js.php
Labels: T2, bug, ready-to-commit, tracking, cla-signed

#9525 Tokens added to cc bcc fields
  app/bundles/CoreBundle/Event/TokenReplacementEvent.php
  app/bundles/CoreBundle/Exception/InvalidValueException.php
  app/bundles/CoreBundle/Exception/RecordException.php
  app/bundles/CoreBundle/Exception/RecordNotFoundException.php
  app/bundles/CoreBundle/Exception/RecordNotPublishedException.php
  app/bundles/CoreBundle/Form/DataTransformer/BarStringTransformer.php
  app/bundles/CoreBundle/Helper/ArrayHelper.php
  app/bundles/CoreBundle/Tests/Unit/Form/DataTransformer/BarStringTransformerTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ArrayHelperTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EmailEvents.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/Exception/InvalidEmailException.php
  app/bundles/EmailBundle/Form/Type/EmailToUserType.php
  app/bundles/EmailBundle/Model/SendEmailToUser.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToUserTest.php
  app/bundles/EmailBundle/Tests/Validator/EmailOrEmailTokenListValidatorTest.php
  app/bundles/EmailBundle/Translations/en_US/validators.ini
  app/bundles/EmailBundle/Validator/EmailOrEmailTokenList.php
  app/bundles/EmailBundle/Validator/EmailOrEmailTokenListValidator.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/DataObject/ContactFieldToken.php
  app/bundles/LeadBundle/EventListener/EmailSubscriber.php
  app/bundles/LeadBundle/Exception/InvalidContactFieldTokenException.php
  app/bundles/LeadBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/LeadBundle/Validator/CustomFieldValidator.php
  phpstan.neon
Labels: feature, ready-to-commit, campaigns, email, cla-signed

#8841 Focus Custom CSS
  plugins/MauticFocusBundle/Form/Type/ContentType.php
  plugins/MauticFocusBundle/Tests/Form/Type/ContentTypeTest.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
  plugins/MauticFocusBundle/Views/Builder/content.html.php
  plugins/MauticFocusBundle/Views/Focus/form.html.php
Labels: ready-to-commit, enhancement, focus-items, cla-signed

#10623 Display labels for custom contact columns
  app/bundles/LeadBundle/Views/Lead/row/default.html.php
Labels: ready-to-commit, enhancement, contacts, cla-signed

#8794 form conditions fields
  .php-cs-fixer.php
  app/bundles/CoreBundle/Form/EventListener/CleanFormSubscriber.php
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/FormBundle/Assets/css/form.css
  app/bundles/FormBundle/Assets/js/form.js
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Enum/ConditionalFieldEnum.php
  app/bundles/FormBundle/Event/FormFieldEvent.php
  app/bundles/FormBundle/EventListener/FormConditionalSubscriber.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldConditionType.php
  app/bundles/FormBundle/FormEvents.php
  app/bundles/FormBundle/Helper/PropertiesAccessor.php
  app/bundles/FormBundle/Model/FieldModel.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
  app/bundles/FormBundle/Tests/Event/FormFieldEventTest.php
  app/bundles/FormBundle/Tests/EventListener/FormConditionalSubscriberTest.php
  app/bundles/FormBundle/Tests/Form/Type/FormFieldConditionTypeTest.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Helper/PropertiesAccessorTest.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Views/Builder/field.html.php
  app/bundles/FormBundle/Views/Builder/fieldwrapper.html.php
  app/bundles/FormBundle/Views/Builder/form.html.php
  app/bundles/FormBundle/Views/Builder/index.html.php
  app/bundles/FormBundle/Views/Field/captcha.html.php
  app/bundles/FormBundle/Views/Field/checkboxgrp.html.php
  app/bundles/FormBundle/Views/Field/country.html.php
  app/bundles/FormBundle/Views/Field/date.html.php
  app/bundles/FormBundle/Views/Field/datetime.html.php
  app/bundles/FormBundle/Views/Field/email.html.php
  app/bundles/FormBundle/Views/Field/field_helper.php
  app/bundles/FormBundle/Views/Field/file.html.php
  app/bundles/FormBundle/Views/Field/number.html.php
  app/bundles/FormBundle/Views/Field/password.html.php
  app/bundles/FormBundle/Views/Field/radiogrp.html.php
  app/bundles/FormBundle/Views/Field/select.html.php
  app/bundles/FormBundle/Views/Field/tel.html.php
  app/bundles/FormBundle/Views/Field/textarea.html.php
  app/bundles/FormBundle/Views/Field/url.html.php
  app/bundles/FormBundle/Views/Form/details-fields-list.html.php
  app/bundles/FormBundle/Views/Form/details.html.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/migrations/Version20200409102100.php
  app/migrations/Version20200507122854.php
  media/css/app.css
  media/js/app.js
  media/js/mautic-form-src.js
Labels: T1, feature, ready-to-commit, mautic-3, forms, cla-signed

#10645 Add Sparse theme to the git split workflow & fix Skyline theme.
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-skyline.json
  .github/workflows/gitsplit/theme-sparse.json
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: bug, cla-signed, chore

#10504 Display custom data in click counts table
  app/bundles/PageBundle/Views/Trackable/click_counts.html.php
Labels: T1, ready-to-commit, enhancement, cla-signed, hacktoberfest-accepted

#10580 Fix "Send a webhook" action does not work in campaigns
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
  app/bundles/WebhookBundle/Tests/Helper/CampaignHelperTest.php
Labels: bug, ready-to-commit, webhooks, cla-signed

#10415 Add multiselect default value support
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Views/Field/form.html.php
  app/bundles/LeadBundle/Views/Field/properties_select.html.php
Labels: ready-to-commit, enhancement, cla-signed, custom-fields

#9686 Form table new columns
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/FormBundle/Views/Form/list.html.php
Labels: T1, ready-to-commit, enhancement, forms, cla-signed

#9314 Do not query for object ID = 0
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/MauticSyncDataExchange.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/MauticSyncDataExchangeTest.php
Labels: ready-to-commit, enhancement, plugin, cla-signed, hacktoberfest, performance-scalability

#7614 Disable tracking 404
  app/bundles/LeadBundle/Tracker/ContactTracker.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/EventListener/ConfigSubscriber.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Model/Tracking404Model.php
  app/bundles/PageBundle/Tests/Model/Tracking404ModelTest.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Views/FormTheme/Config/_config_trackingconfig_widget.html.php
Labels: ready-to-commit, enhancement, configuration, cla-signed

#10647 Update production assets for git-based installations
  media/css/app.css
  media/js/app.js
  media/js/mautic-form.js
Labels: T1, bug, ready-to-commit, installation, cla-signed
