Repository mautic/mautic, pull requests merged in 2021-12, with the labels that each got.

#10684 Update language string
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
Labels: T1, translations, ready-to-commit, cla-signed

#10673 Fixes 500 error in forms when render style is deactivated
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
Labels: T1, bug, ready-to-commit, forms, cla-signed

#10523 Segment view optimization
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Entity/LeadEventLog.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Entity/ListLead.php
  app/bundles/LeadBundle/Entity/ListLeadRepository.php
  app/bundles/LeadBundle/Segment/Stat/ChartQuery/SegmentContactsLineChartQuery.php
  app/bundles/LeadBundle/Tests/Entity/ListLeadRepositoryTest.php
  app/migrations/Version20201123070813.php
  app/migrations/Version20201125155904.php
Labels: ready-to-commit, segments, cla-signed, performance-scalability, hacktoberfest-accepted

#10697 Fixes 500 error in forms when render style is deactivated against 4.1
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
Labels: cla-signed

#10696 Fixing issues when using PHPSTAN with more processes
  phpstan.neon
Labels: ready-to-test, enhancement, CI, cla-signed

#10681 Remove reference to mautibox (4.1 branch)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, chore

#10680 Remove reference to mautibox (4.x branch)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, chore
