Repository mautic/mautic, pull requests merged in 2021-01, with the labels that each got.

#9568 Add regenerated production JS & CSS
  media/css/app.css
  media/js/app.js
Labels: bug, cla-signed

#9534 Fix dateandtime defaultvalue
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: T1, bug, cla-signed, contacts, ready-to-commit

#9523 Run composer test command with 4G
  composer.json
Labels: cla-signed, ready-to-commit

#9526 True emoji support for notifications
  app/bundles/CoreBundle/Model/NotificationModel.php
  app/migrations/Version20201105120328.php
Labels: T2, bug, cla-signed, notifications, ready-to-commit

#9527 Comment improvements
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Event/BuilderEvent.php
  app/bundles/CoreBundle/Helper/CoreParametersHelper.php
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.php
  app/bundles/LeadBundle/Entity/LeadList.php
Labels: cla-signed, enhancement, ready-to-commit

#9475 Allow plugins modify request data for webhook campaign action
  app/bundles/WebhookBundle/Config/config.php
  app/bundles/WebhookBundle/Event/WebhookRequestEvent.php
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
  app/bundles/WebhookBundle/Tests/Helper/CampaignHelperTest.php
  app/bundles/WebhookBundle/WebhookEvents.php
Labels: cla-signed, enhancement, plugin, ready-to-commit

#9444 Fix getSecondaryIdentifier for Lead
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Views/Lead/list_rows.html.php
  app/bundles/LeadBundle/Views/Lead/row/name.html.php
Labels: bug, cla-signed, contacts, ready-to-commit

#9394 Support graceful timeout option on ConsumeQueueCommand
  app/bundles/QueueBundle/Command/ConsumeQueueCommand.php
  app/bundles/QueueBundle/Event/QueueEvent.php
  app/bundles/QueueBundle/EventListener/RabbitMqSubscriber.php
  app/bundles/QueueBundle/Queue/QueueService.php
Labels: cla-signed, queue, ready-to-commit

#9587 Add latest changes from 3.2.4 to 3.2 branch
  app/bundles/ApiBundle/Form/Type/ClientType.php
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/CoreBundle/Update/Step/InstallNewFilesStep.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/UserBundle/Form/Type/PasswordResetConfirmType.php
  app/bundles/UserBundle/Form/Type/PasswordResetType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/release_metadata.json
  plugins/MauticSocialBundle/Form/Type/MonitoringType.php
Labels: cla-signed

#9588 Add latest changes from 2.16.5 to 2.16 branch
  app/AppKernel.php
  app/bundles/ApiBundle/Form/Type/ClientType.php
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/UserBundle/Form/Type/PasswordResetConfirmType.php
  app/bundles/UserBundle/Form/Type/PasswordResetType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/version.txt
  plugins/MauticSocialBundle/Form/Type/MonitoringType.php
Labels: cla-signed

#9589 Fix Codecov badge in README.md
  README.md
Labels: cla-signed

#9519 Focus items in dynamic web content
  plugins/MauticFocusBundle/Helper/TokenHelper.php
  plugins/MauticFocusBundle/Tests/Helper/TokenHelperTest.php
Labels: T2, bug, cla-signed, dynamic-content, focus-items, ready-to-commit

#9574 Update README.md to warn about composer version
  README.md
Labels: chore, cla-signed, ready-to-commit

#9571 Update Github templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
Labels: chore, cla-signed, ready-to-commit

#7815 Fixed batch delete response inconsistencies
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Helper/BatchIdToEntityHelper.php
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
Labels: API, T2, bug, cla-signed, ready-to-commit

#9594 Show warning on dashboard if user is using unsupported PHP version
  app/bundles/CoreBundle/Helper/PhpVersionHelper.php
  app/bundles/CoreBundle/Release/Metadata.php
  app/bundles/CoreBundle/Tests/Unit/Helper/PhpVersionHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Release/MetadataTest.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Views/Dashboard/index.html.php
  app/release_metadata.json
Labels: cla-signed, dependencies, ready-to-commit

#9522 Update PHPSTAN to 0.12.25
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CoreBundle/Model/TranslationModelTrait.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/PageBundle/Controller/PageController.php
  composer.json
  composer.lock
  phpstan.neon
Labels: cla-signed, dependencies, ready-to-commit

#9520 Fix dashboard query performance
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/DashboardBundle/DashboardEvents.php
  app/bundles/PageBundle/Model/PageModel.php
  app/migrations/Version20201207140911.php
Labels: bug, cla-signed, dashboard, performance-scalability, ready-to-commit

#9260 remove unrelevant filters for dynamic content
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Event/LeadListFiltersChoicesEvent.php
  app/bundles/LeadBundle/EventListener/SegmentFiltersSubscriber.php
  app/bundles/LeadBundle/Model/ListModel.php
  plugins/MauticCitrixBundle/EventListener/LeadSubscriber.php
Labels: bug, cla-signed, needs-automated-tests, ready-to-commit

#8746 Fix: Report when use Contact Point Log as data source and filter by Segment
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
Labels: bug, cla-signed, contacts, needs-automated-tests, ready-to-commit

#8605 Fix input format for onesignal.
  app/bundles/NotificationBundle/Api/OneSignalApi.php
Labels: T2, bug, needs-automated-tests, ready-to-commit

#9410 Check for country/city presence before use.
  app/bundles/CoreBundle/IpLookup/AbstractMaxmindLookup.php
Labels: bug, cla-signed, ready-to-commit

#9458 Update db_server_version on existing Mautic instances
  app/migrations/Version20201130201631.php
  composer.lock
Labels: T2, bug, cla-signed, pending-test-confirmation

#9515 Fix absolute url in pages
  app/bundles/PageBundle/Controller/PageController.php
Labels: bug, cla-signed, ready-to-test

#9476 Fix gated video showing play button above form (Issue #9431)
  media/css/mediaelementplayer.min.css
Labels: T1, bug, cla-signed, forms, pending-test-confirmation

#9601 merge 3.2 into features branch
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Form/Type/ClientType.php
  app/bundles/ApiBundle/Helper/BatchIdToEntityHelper.php
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Helper/PhpVersionHelper.php
  app/bundles/CoreBundle/IpLookup/AbstractMaxmindLookup.php
  app/bundles/CoreBundle/Model/TranslationModelTrait.php
  app/bundles/CoreBundle/Release/Metadata.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/PhpVersionHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Release/MetadataTest.php
  app/bundles/CoreBundle/Update/Step/InstallNewFilesStep.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/DashboardEvents.php
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Views/Dashboard/index.html.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Event/LeadListFiltersChoicesEvent.php
  app/bundles/LeadBundle/EventListener/SegmentFiltersSubscriber.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Views/Lead/list_rows.html.php
  app/bundles/LeadBundle/Views/Lead/row/name.html.php
  app/bundles/NotificationBundle/Api/OneSignalApi.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/UserBundle/Form/Type/PasswordResetConfirmType.php
  app/bundles/UserBundle/Form/Type/PasswordResetType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/migrations/Version20201130201631.php
  app/migrations/Version20201207140911.php
  app/release_metadata.json
  composer.json
  composer.lock
  media/css/mediaelementplayer.min.css
  phpstan.neon
  plugins/MauticCitrixBundle/EventListener/LeadSubscriber.php
  plugins/MauticFocusBundle/Helper/TokenHelper.php
  plugins/MauticFocusBundle/Tests/Helper/TokenHelperTest.php
  plugins/MauticSocialBundle/Form/Type/MonitoringType.php
Labels: cla-signed

#7411 Reports: smarter query generation for faster load times
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/EventListener/ReportUtmTagSubscriber.php
  app/bundles/LeadBundle/EventListener/SegmentReportSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentReportSubscriberTest.php
  app/bundles/NotificationBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: cla-signed, enhancement, mautic-3, performance-scalability, ready-to-commit

#9451 Drop PHP 7.2 support
  .github/workflows/tests.yml
  app/release_metadata.json
  composer.json
  composer.lock
Labels: cla-signed, dependencies

#9602 Upgrade to PHPUnit 9
  .github/workflows/tests.yml
  app/AppKernel.php
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/CoreBundle/Tests/Unit/Command/MaxMindDoNotSellPurgeCommandTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/Github/json/metadata-2.15.0.json
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/Github/json/metadata-2.16.0.json
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/Github/json/metadata-3.0.0.json
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/Github/json/metadata-3.0.1-alpha.json
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/Github/json/metadata-3.0.1-beta.json
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/FormBundle/Helper/FormUploader.php
  app/bundles/FormBundle/Tests/Model/DummyFiles/1/fieldId1/upload1.jpg
  app/bundles/FormBundle/Tests/Model/DummyFiles/2/fieldId2/upload2.txt
  app/bundles/FormBundle/Tests/Model/FormUploaderTest.php
  app/bundles/SmsBundle/Tests/EventListener/SmsSubscriberTest.php
  app/phpunit.xml.dist
  composer.json
  composer.lock
Labels: cla-signed, dependencies

#9063 Integrations field fix
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ReportBuilder/FieldBuilder.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ReportBuilder/PartialObjectReportBuilder.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ReportBuilder/FieldBuilderTest.php
Labels: T3, bug, cla-signed, integrations, ready-to-commit

#9507 Return campaign ID and Name for 'Campaign membership change' Events
  app/bundles/LeadBundle/EventListener/TimelineEventLogCampaignSubscriber.php
Labels: API, T1, cla-signed, enhancement, ready-to-commit

#9547 Bug report graph line leads
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
Labels: T1, bug, cla-signed, ready-to-commit, reports

#7312 Permission class DI
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Security/Permissions/AssetPermissions.php
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/10.entity.js
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/DependencyInjection/Builder/BundleMetadata.php
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/PermissionClassMetadata.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/PermissionsPass.php
  app/bundles/CoreBundle/DependencyInjection/MauticCoreExtension.php
  app/bundles/CoreBundle/MauticCoreBundle.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/CoreBundle/Security/Permissions/CorePermissions.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/BundleMetadataBuilderTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/BundleMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/PermissionClassMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/Security/Permissions/CorePermissionsTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
Labels: T2, cla-signed, enhancement, ready-to-commit

#9610 Add segment filter info message
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/List/form.html.php
Labels: cla-signed, enhancement, pending-feedback, pending-test-confirmation, segments

#9060 Skip DNC reason query if not needed
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
Labels: T1, bug, cla-signed, email, enhancement, ready-to-commit

#9316 Refactoring theme helper
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/Filesystem.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
Labels: automated-tests, cla-signed, code-review, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#9575 missing table prefix on campaign repository
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
Labels: bug, cla-signed, ready-to-commit, segments

#9544 Segment categories
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/DataFixtures/ORM/LoadCategorizedLeadListData.php
  app/bundles/LeadBundle/DataFixtures/ORM/LoadCategoryData.php
  app/bundles/LeadBundle/DataFixtures/ORM/fakecategorizedleadlistdata.csv
  app/bundles/LeadBundle/DataFixtures/ORM/fakecategorydata.csv
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Event/LeadListEventTest.php
  app/bundles/LeadBundle/Tests/Model/ListModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/List/form.html.php
  app/bundles/LeadBundle/Views/List/index.html.php
  app/migrations/Version20210104171005.php
Labels: categories, cla-signed, feature, segments

#9531 Elfinder load from dev enviroment
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: cla-signed, pending-test-confirmation

#8828 M3 Feature/custom fields background
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Exception/InvalidObjectTypeException.php
  app/bundles/LeadBundle/Exception/NoListenerException.php
  app/bundles/LeadBundle/Field/BackgroundService.php
  app/bundles/LeadBundle/Field/Command/CreateCustomFieldCommand.php
  app/bundles/LeadBundle/Field/CustomFieldColumn.php
  app/bundles/LeadBundle/Field/CustomFieldIndex.php
  app/bundles/LeadBundle/Field/DTO/CustomFieldObject.php
  app/bundles/LeadBundle/Field/Dispatcher/FieldColumnBackgroundJobDispatcher.php
  app/bundles/LeadBundle/Field/Dispatcher/FieldColumnDispatcher.php
  app/bundles/LeadBundle/Field/Dispatcher/FieldSaveDispatcher.php
  app/bundles/LeadBundle/Field/Event/AddColumnBackgroundEvent.php
  app/bundles/LeadBundle/Field/Event/AddColumnEvent.php
  app/bundles/LeadBundle/Field/Exception/AbortColumnCreateException.php
  app/bundles/LeadBundle/Field/Exception/ColumnAlreadyCreatedException.php
  app/bundles/LeadBundle/Field/Exception/CustomFieldLimitException.php
  app/bundles/LeadBundle/Field/Exception/LeadFieldWasNotFoundException.php
  app/bundles/LeadBundle/Field/Exception/NoUserException.php
  app/bundles/LeadBundle/Field/FieldList.php
  app/bundles/LeadBundle/Field/FieldsWithUniqueIdentifier.php
  app/bundles/LeadBundle/Field/LeadFieldSaver.php
  app/bundles/LeadBundle/Field/Notification/CustomFieldNotification.php
  app/bundles/LeadBundle/Field/SchemaDefinition.php
  app/bundles/LeadBundle/Field/Settings/BackgroundSettings.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldTest.php
  app/bundles/LeadBundle/Tests/Field/BackgroundServiceTest.php
  app/bundles/LeadBundle/Tests/Field/CustomFieldColumnTest.php
  app/bundles/LeadBundle/Tests/Field/DTO/CustomFieldObjectTest.php
  app/bundles/LeadBundle/Tests/Field/Dispatcher/FieldColumnBackgroundJobDispatcherTest.php
  app/bundles/LeadBundle/Tests/Field/Dispatcher/FieldColumnDispatcherTest.php
  app/bundles/LeadBundle/Tests/Field/LeadFieldSaverTest.php
  app/bundles/LeadBundle/Tests/Field/Notification/CustomFieldNotificationTest.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Views/Field/list.html.php
  app/migrations/Migration.template
  app/migrations/Version20180921144421.php
  app/migrations/Version20191017140848.php
  app/migrations/Version20200220172041.php
  app/migrations/Version20200805185714.php
  app/migrations/Version20200815153711.php
Labels: T3, cla-signed, enhancement, pending-test-confirmation

#9626 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, cla-signed

#9298 Add segment build time measurement and support for multiple UNION queries
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
Labels: cla-signed, enhancement, feature, hacktoberfest, hacktoberfest-accepted, ready-to-commit
