Repository mautic/mautic, pull requests merged in 2021-05, with the labels that each got.

#9931 Symfony expects true/false for CheckboxType
  UPGRADE-4.0.md
  app/bundles/ChannelBundle/Controller/Api/MessageApiController.php
  app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/ReportBundle/Form/Type/ConfigType.php
Labels: API, bc-break, bug, cla-signed, essential, ready-to-commit

#9959 Merge 3.3.3 into features
  app/bundles/AssetBundle/EventListener/ReportSubscriber.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/Controller/AjaxController.php
  app/bundles/CampaignBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Templating/Helper/FormatterHelper.php
  app/bundles/CoreBundle/Tests/Unit/Templating/Helper/DateHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Templating/Helper/FormatterHelperTest.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/FormBundle/Tests/Entity/FormTest.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Tests/Entity/LeadListTest.php
  app/bundles/LeadBundle/Views/Auditlog/details.html.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
  app/bundles/LeadBundle/Views/Lead/row/default.html.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/Tests/Entity/PageTest.php
  app/bundles/ReportBundle/Tests/Model/CsvExporterTest.php
  app/bundles/ReportBundle/Views/Report/details_data.html.php
  app/bundles/StageBundle/Config/config.php
  app/bundles/StageBundle/EventListener/CampaignSubscriber.php
  app/bundles/StageBundle/StageEvents.php
  app/bundles/StageBundle/Tests/Unit/EventListener/CampaignSubscriberTest.php
  app/bundles/StageBundle/Translations/en_US/messages.ini
  app/release_metadata.json
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Tests/CrmAbstractIntegrationTest.php
  plugins/MauticCrmBundle/Tests/Integration/SalesforceIntegrationTest.php
Labels: cla-signed, ready-to-commit

#9902 fix: Trying to access array offset on value of type null in dynamicCo…
  app/bundles/EmailBundle/Views/FormTheme/Email/_emailform_dynamicContent_entry_filters_entry_filters_entry_widget.html.php
Labels: bug, cla-signed, ready-to-commit

#9930 Updating composer.json to remove grapesjs repository and to add dev dependencies
  app/composer.json
  composer.json
  composer.lock
Labels: T1, cla-signed, code-review, essential, installation, pending-test-confirmation, strategic-initiative

#9886 Dispatch INTEGRATION_CONFIG_BEFORE_SAVE later
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
Labels: T1, bc-break, bug, cla-signed, mautic-4, pending-test-confirmation, plugin

#9893 Allow themes to be used with multiple builders
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/theme-custom-builder-all/config.json
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/themes/theme-custom-builder-page/config.json
  app/bundles/CoreBundle/Views/Theme/list.html.php
  app/bundles/PageBundle/Controller/PageController.php
  themes/blank-grapejs/config.json
  themes/blank-grapejs/html/base.html.twig
  themes/blank-grapejs/html/email.html.twig
  themes/blank-grapejs/html/form.html.twig
  themes/blank-grapejs/html/message.html.twig
  themes/blank-grapejs/html/page.html.twig
  themes/blank-grapejs/thumbnail.png
  themes/blank/config.json
  themes/brienz/config.json
  themes/paprika/config.json
Labels: T1, builders, cla-signed, essential, needs-documentation, ready-to-commit, strategic-initiative

#9786 Elfinder enabled sanitizier plugin
  app/config/config.php
Labels: bug, builders, cla-signed, email, ready-to-commit

#9981 Remove duplicate badges from README
  README.md
Labels: chore, cla-signed

#9947 Fix contact value campaign condition with company select field
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
Labels: bug, campaigns, cla-signed, ready-to-commit

#9968 Add note about updated IntegrationEvents::INTEGRATION_CONFIG_BEFORE_SAVE
  UPGRADE-4.0.md
Labels: T1, cla-signed, ready-to-commit

#10002 Update the readme
  plugins/GrapesJsBuilderBundle/README.md
Labels: cla-signed, ready-to-commit

#9452 Merge contacts by unique fields with custom operator
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ObjectHelper/ContactObjectHelper.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Form/Type/ConfigType.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/FormTheme/Config/_config_leadconfig_widget.html.php
Labels: T2, cla-signed, enhancement, ready-to-commit

#9357 Fix startsWith/endsWith/contains for dynamic content
  app/bundles/EmailBundle/EventListener/MatchFilterForLeadTrait.php
  app/bundles/EmailBundle/Tests/EventListener/MatchFilterForLeadTraitTest.php
Labels: bug, cla-signed, dynamic-content, ready-to-commit

#7646 Add error message to new/update contact
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: T1, cla-signed, contacts, enhancement, ready-to-commit

#9834 Tests memory optimization non nullable types
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/Listeners/CleanupListener.php
  app/bundles/InstallBundle/Tests/InstallFixtures/ORM/RemoveDuplicateIndexDataTest.php
Labels: automated-tests, cla-signed, pending-test-confirmation

#8706 Allow html to textarea custom field
  app/bundles/LeadBundle/Controller/Api/CompanyApiController.php
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Helper/FormFieldHelper.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Field/form.html.php
  app/bundles/LeadBundle/Views/Field/properties_textarea.html.php
Labels: T1, cla-signed, companies, contacts, enhancement, ready-to-commit

#9855 Refactor deprecated setMethod in unit tests
  app/bundles/ApiBundle/Tests/Controller/CommonApiControllerTest.php
  app/bundles/CacheBundle/Tests/EventListener/CacheClearSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Entity/CampaignRepositoryTest.php
  app/bundles/CampaignBundle/Tests/Model/EventModelTest.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CoreBundle/Test/EventListener/CoreSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Entity/CommonRepositoryTest.php
  app/bundles/DynamicContentBundle/Tests/Helper/DynamicContentHelperTest.php
  app/bundles/EmailBundle/Tests/EventListener/TokenSubscriberTest.php
  app/bundles/EmailBundle/Tests/Helper/PointEventHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Entity/ObjectMappingRepositoryTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/Helper/SyncDateHelperTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/TagRepositoryTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Helper/FieldAliasHelperTest.php
  app/bundles/LeadBundle/Tests/Model/CompanyModelTest.php
  app/bundles/LeadBundle/Tests/Model/ImportModelTest.php
  app/bundles/LeadBundle/Tests/Model/LeadListModelTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
  app/bundles/SmsBundle/Tests/DependencyInjection/Compiler/SmsTransportPassTest.php
  app/bundles/SmsBundle/Tests/Model/SmsModelTest.php
  app/bundles/WebhookBundle/Tests/Helper/CampaignHelperTest.php
  plugins/MauticCrmBundle/Tests/Integration/SalesforceIntegrationTest.php
  tests/Mautic/StageBundle/Tests/Entity/StageRepositoryTest.php
Labels: automated-tests, chore, cla-signed, ready-to-commit

#9821 Fix logger service for integrations
  plugins/MauticCrmBundle/Config/config.php
Labels: bug, cla-signed, pending-test-confirmation

#9717 Add environment variables for running test suite.
  .ddev/.env.dist
  .ddev/mautic-setup.sh
Labels: bug, cla-signed, ready-to-commit

#9364 Feature: Mautic Tag Manager MR-51
  .github/workflows/tests.yml
  .gitignore
  plugins/MauticTagManagerBundle/Assets/img/tagmanager.png
  plugins/MauticTagManagerBundle/Config/config.php
  plugins/MauticTagManagerBundle/Controller/TagController.php
  plugins/MauticTagManagerBundle/Entity/Tag.php
  plugins/MauticTagManagerBundle/Entity/TagRepository.php
  plugins/MauticTagManagerBundle/Form/Type/TagEntityType.php
  plugins/MauticTagManagerBundle/Integration/TagManagerIntegration.php
  plugins/MauticTagManagerBundle/MauticTagManagerBundle.php
  plugins/MauticTagManagerBundle/Model/TagModel.php
  plugins/MauticTagManagerBundle/Security/Permissions/TagManagerPermissions.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/TagControllerTest.php
  plugins/MauticTagManagerBundle/Tests/Functional/Entity/TagRepositoryTest.php
  plugins/MauticTagManagerBundle/Tests/Unit/Integration/TagManagerIntegrationTest.php
  plugins/MauticTagManagerBundle/Tests/Unit/Security/Permissions/TagManagerPermissionsTest.php
  plugins/MauticTagManagerBundle/Translations/en_US/flashes.ini
  plugins/MauticTagManagerBundle/Translations/en_US/messages.ini
  plugins/MauticTagManagerBundle/Views/Tag/details.html.php
  plugins/MauticTagManagerBundle/Views/Tag/form.html.php
  plugins/MauticTagManagerBundle/Views/Tag/index.html.php
  plugins/MauticTagManagerBundle/Views/Tag/list.html.php
Labels: T3, cla-signed, feature, pending-test-confirmation, tags

#10010 Fix DNC report channel link
  app/bundles/LeadBundle/EventListener/ReportDNCSubscriber.php
Labels: bug, cla-signed, ready-to-commit, reports

#8173 Add stage name and stage date added to contacts report
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: cla-signed, enhancement, ready-to-commit, reports

#9973 Safe join company table
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: T1, bug, cla-signed, pending-test-confirmation, reports

#10035 Add readme for Tag Manager repo
  plugins/MauticTagManagerBundle/README.md
Labels: cla-signed

#9477 Fix for GoToWebinar join URLs not being saved when registering through a Mautic form (Issue #9411)
  plugins/MauticCitrixBundle/EventListener/CitrixRegistrationTrait.php
  plugins/MauticCitrixBundle/Helper/CitrixHelper.php
  plugins/MauticCitrixBundle/Model/CitrixModel.php
Labels: bug, cla-signed, integrations, needs-automated-tests, pending-feedback, pending-test-confirmation

#9299 Sync leaking memory
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Tests/Unit/Entity/CommonRepositoryTest.php
  app/bundles/LeadBundle/Segment/RandomParameterName.php
  app/bundles/LeadBundle/Tests/Segment/RandomParameterNameTest.php
Labels: T1, bug, cla-signed, hacktoberfest, pending-test-confirmation, performance-scalability

#9506 Fix API set multiselect empty value
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Tests/Form/RequestTraitTest.php
Labels: API, T1, bug, cla-signed, pending-test-confirmation

#7211 Add background-position and background-image to section content and wrapper
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Form/Type/BuilderSectionType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: builders, cla-signed, enhancement, pending-test-confirmation

#9657 Fix report owners filter
  app/bundles/LeadBundle/Report/FieldsBuilder.php
  app/bundles/LeadBundle/Tests/Report/FieldsBuilderTest.php
Labels: bug, cla-signed, ready-to-commit, reports

#9722 Update to email address & add details for contribs
  .github/CONTRIBUTING.md
Labels: chore, cla-signed

#10005 Fix PHP Notice - Undefined index: properties
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
Labels: API, T1, bug, cla-signed, ready-to-commit

#10050 Updating composer.json and .lock to remove references to custom grapesjs version
  composer.json
  composer.lock
Labels: cla-signed

#10051 adding composer.json to the tag manager plugin
  plugins/MauticTagManagerBundle/composer.json
Labels: cla-signed

#10049 Standardize composer.json for the plugins
  plugins/GrapesJsBuilderBundle/composer.json
Labels: cla-signed

#10052 Adding tag manager composer reference
  app/composer.json
  composer.lock
Labels: cla-signed

#10054 Adding env dist as the recommended project way of composering mautic …
  app/assets/scaffold/files/.env.dist
Labels: cla-signed

#7191 Improve performance of the frequency rule query
  app/bundles/LeadBundle/Entity/FrequencyRuleRepository.php
  app/bundles/LeadBundle/Tests/Entity/FrequencyRuleRepositoryTest.php
Labels: cla-signed, enhancement, performance-scalability, ready-to-commit

#9795 Add validation to ensure that we are not trying to access attributes …
  app/bundles/LeadBundle/Form/DataTransformer/FieldFilterTransformer.php
  app/bundles/ReportBundle/Form/Type/FilterSelectorType.php
Labels: T1, bug, cla-signed, dynamic-content, email, essential, ready-to-commit, regression, segments

#10047 TPROD-224: Confirmme theme back into mautic/mautic
  .gitignore
  themes/confirmme/composer.json
  themes/confirmme/config.json
  themes/confirmme/html/base.html.twig
  themes/confirmme/html/email.mjml.twig
  themes/confirmme/html/message.html.twig
  themes/confirmme/thumbnail.png
Labels: cla-signed

#9869 Segment API: category info and search by category alias
  app/bundles/LeadBundle/Controller/Api/ListApiController.php
  app/bundles/LeadBundle/DataFixtures/ORM/fakecategorydata.csv
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: API, cla-signed, needs-documentation, ready-to-commit, segments

#9742 New MJML truly personal email template
  themes/trulypersonal/composer.json
  themes/trulypersonal/config.json
  themes/trulypersonal/html/base.html.twig
  themes/trulypersonal/html/email.mjml.twig
  themes/trulypersonal/html/message.html.twig
  themes/trulypersonal/thumbnail.png
Labels: T1, cla-signed, email, feature, pending-test-confirmation

#9739 TPROD-182 Dynamic database platform detection
  UPGRADE-4.0.md
  app/AppKernel.php
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/ConfigBundle/Controller/SysinfoController.php
  app/bundles/ConfigBundle/Model/SysinfoModel.php
  app/bundles/ConfigBundle/Tests/Controller/SysinfoControllerTest.php
  app/bundles/ConfigBundle/Translations/en_US/messages.ini
  app/bundles/ConfigBundle/Views/Sysinfo/index.html.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/DependencyInjection/EnvProcessor/MauticConstProcessor.php
  app/bundles/CoreBundle/Doctrine/Provider/VersionProvider.php
  app/bundles/CoreBundle/EventListener/MigrationCommandSubscriber.php
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/VersionProviderTest.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/config/config.php
  app/migrations/Version20210502162314.php
Labels: T2, bc-break, cla-signed, code-review, enhancement, mautic-4

#9972 Fix form set config SDK
  media/js/mautic-form-src.js
Labels: T1, bug, cla-signed, code-review, essential, forms, pending-test-confirmation

#9340 Fix email queue resend process
  app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php
  app/bundles/EmailBundle/EventListener/EmailSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/EmailSubscriberTest.php
Labels: cla-signed, email, hacktoberfest, hacktoberfest-accepted, ready-to-commit

#10091 Add GrapesJS daily dist update script
  .github/workflows/build-grapesjs-assets.yml
Labels: CI, chore, cla-signed

#10059 Fixed cs-fixer in GitHub actions
  .github/workflows/tests.yml
Labels: CI, chore, cla-signed

#10094 Update asset category ID in GitHub Action release pipeline
  .github/workflows/release.yml
Labels: cla-signed

#10095 Fix auto-update script for GrapesJS
  .github/workflows/build-grapesjs-assets.yml
  plugins/GrapesJsBuilderBundle/.gitignore
  plugins/GrapesJsBuilderBundle/package-lock.json
Labels: chore, cla-signed

#9978 UI warnings when unpublish associated segment
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/FormErrorMessagesTrait.php
  app/bundles/CoreBundle/Exception/RecordCanNotUnpublishException.php
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/EventListener/SegmentSubscriber.php
  app/bundles/LeadBundle/Form/Validator/Constraints/SegmentInUse.php
  app/bundles/LeadBundle/Form/Validator/Constraints/SegmentInUseValidator.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
Labels: T1, cla-signed, enhancement, ready-to-commit, segments, user-experience, user-interface
