Repository mautic/mautic, pull requests merged in 2021-08, with the labels that each got.

#10303 button block lable for landing page in all Translation language folders
  plugins/GrapesJsBuilderBundle/Translations/cs/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/de/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/fr/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/pt_BR/javascript.ini
Labels: cla-signed

#10254 Add workflow for automatic replies on closed issues
  .github/workflows/closed-issue-reply.yaml
Labels: CI, cla-signed, chore

#10235 Update Stalebot messages
  .github/stale.yml
Labels: cla-signed, chore

#10278 Update GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
Labels: code-review, cla-signed, chore

#10164 Category controller code improvements
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CategoryBundle/Tests/Controller/CategoryControllerFunctionalTest.php
Labels: bug, ready-to-commit, forms, categories, cla-signed

#10243 Fix send email to contact If send email to user action do not choose user
  app/bundles/EmailBundle/Form/Type/FormSubmitActionUserEmailType.php
  app/bundles/EmailBundle/Tests/Form/Type/FormSubmitActionUserEmailTypeTest.php
Labels: T1, bug, ready-to-commit, forms, cla-signed

#9934 Fix Installer Exception Handling - TPROD-194
  UPGRADE-4.0.md
  app/bundles/CoreBundle/Doctrine/Connection/ConnectionWrapper.php
  app/bundles/InstallBundle/Command/InstallCommand.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/DependencyInjection/Compiler/InstallCommandPass.php
  app/bundles/InstallBundle/Exception/AlreadyInstalledException.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/InstallBundle/MauticInstallBundle.php
  app/bundles/InstallBundle/Tests/Command/InstallCommandTest.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/config/config.php
Labels: T1, bug, ready-to-test, regression, installation, cla-signed

#7271 Dashboard widget - best email read hours
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/Type/TimeFormatType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EventListener/DashboardBestHoursSubscriber.php
  app/bundles/EmailBundle/Form/Type/DashboardBestHoursWidgetType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, widget, dashboard, cla-signed

#10381 Fix for failing phpstan tests - 4.0
  app/bundles/PointBundle/Controller/TriggerController.php
Labels: bug, mautic-4
