Repository mautic/mautic, pull requests merged in 2021-03, with the labels that each got.

#9560 Bug lead graph report with company filters
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
Labels: bug, cla-signed, ready-to-commit, reports

#9651 Fix load filemanager from builder
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: bug, builders, cla-signed, ready-to-commit, regression

#7512 Removed code no longer needed when saving SAML XML files
  app/bundles/ConfigBundle/Controller/ConfigController.php
Labels: T2, bug, cla-signed, code-review, configuration, ready-to-commit

#9329 Fix absolute url of preview email
  app/bundles/EmailBundle/Controller/EmailController.php
Labels: bug, cla-signed, email, ready-to-commit

#9712 Reduce ajax call for email count stats
  app/bundles/EmailBundle/Assets/js/email.js
Labels: T2, bug, cla-signed, pending-test-confirmation, performance-scalability

#9756 Fix campaign limit
  app/bundles/CampaignBundle/Executioner/ContactFinder/Limiter/ContactLimiter.php
Labels: T1, bug, campaigns, cla-signed, ready-to-commit, regression

#9770 Fix company change audit log after modify contact
  app/bundles/LeadBundle/Controller/LeadController.php
Labels: T1, bug, cla-signed, contacts, needs-automated-tests

#9510 Remove duplicate index
  app/bundles/CoreBundle/Doctrine/Helper/IndexSchemaHelper.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/InstallFixtures/ORM/RemoveDuplicateIndexData.php
  app/bundles/InstallBundle/Tests/InstallFixtures/ORM/RemoveDuplicateIndexDataTest.php
  app/migrations/Version20201102120710.php
  app/migrations/Version20201102133546.php
Labels: T2, bug, cla-signed, email, pending-test-confirmation

#9679 Search with wildcards
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/migrations/Version20210104171005.php
  app/migrations/Version20210223174702.php
  build/package_release.php
  themes/blank-grapejs/config.json
  themes/blank-grapejs/html/base.html.twig
  themes/blank-grapejs/html/email.html.twig
  themes/blank-grapejs/html/form.html.twig
  themes/blank-grapejs/html/message.html.twig
  themes/blank-grapejs/html/page.html.twig
  themes/blank-grapejs/thumbnail.png
Labels: T1, bug, cla-signed, companies, email, focus-items, ready-to-test

#9824 Tests memory optimization
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/Listeners/CleanupListener.php
  app/bundles/InstallBundle/Tests/InstallFixtures/ORM/RemoveDuplicateIndexDataTest.php
  app/phpunit.xml.dist
  composer.json
Labels: CI, automated-tests, cla-signed, ready-to-commit

#9853 Shell verbosity restored in tests
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
Labels: CI, automated-tests, cla-signed, mautic-4, ready-to-commit

#9846 Remove hard coded ids within fixtures
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
Labels: T1, bug, cla-signed, mautic-4, ready-to-commit

#9845 Fix social mentions for twitter
  plugins/MauticSocialBundle/Controller/MonitoringController.php
Labels: T1, bug, cla-signed, mautic-4, ready-to-commit, social-monitoring

#9842 changes to encoder to update to Symfony
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Controller/Api/UserApiController.php
  app/bundles/UserBundle/Controller/ProfileController.php
  app/bundles/UserBundle/Controller/PublicController.php
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/DataFixtures/ORM/LoadUserData.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Security/Authenticator/FormAuthenticator.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  app/bundles/UserBundle/Security/SAML/User/UserCreator.php
Labels: bug, cla-signed, mautic-4, ready-to-commit, roles

#9840 fix monolog to use mautic logger
  app/bundles/PluginBundle/Controller/PluginController.php
Labels: T1, bug, cla-signed, mautic-4, plugin, ready-to-commit

#9796 Integrations Bundle - add support to pass custom options to OrderDAO
  app/bundles/IntegrationsBundle/Command/SyncCommand.php
  app/bundles/IntegrationsBundle/Sync/DAO/Sync/InputOptionsDAO.php
  app/bundles/IntegrationsBundle/Sync/DAO/Sync/Order/OrderDAO.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Integration/IntegrationSyncProcess.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Internal/MauticSyncProcess.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/DAO/InputOptionsDAOTest.php
Labels: T3, cla-signed, enhancement, ready-to-commit

#9666 Clickable campaign ID in contact's campaigns list
  app/bundles/LeadBundle/Views/LeadCampaigns/index.html.php
Labels: T1, cla-signed, enhancement, ready-to-commit

#9189 Allow change default theme for new email
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
Labels: cla-signed, enhancement, ready-to-commit

#9757 Aggregate stat service
  app/AppKernel.php
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
  app/bundles/CoreBundle/Helper/Chart/AbstractChart.php
  app/bundles/CoreBundle/Helper/Chart/DateRangeUnitTrait.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/DateRangeUnitTraitTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/EmailGraphStatsController.php
  app/bundles/EmailBundle/DependencyInjection/Compiler/StatHelperPass.php
  app/bundles/EmailBundle/EventListener/GraphAggregateStatsSubscriber.php
  app/bundles/EmailBundle/Helper/StatsCollectionHelper.php
  app/bundles/EmailBundle/MauticEmailBundle.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Stats/Exception/InvalidStatHelperException.php
  app/bundles/EmailBundle/Stats/FetchOptions/EmailStatOptions.php
  app/bundles/EmailBundle/Stats/Helper/AbstractHelper.php
  app/bundles/EmailBundle/Stats/Helper/BouncedHelper.php
  app/bundles/EmailBundle/Stats/Helper/ClickedHelper.php
  app/bundles/EmailBundle/Stats/Helper/FailedHelper.php
  app/bundles/EmailBundle/Stats/Helper/FilterTrait.php
  app/bundles/EmailBundle/Stats/Helper/OpenedHelper.php
  app/bundles/EmailBundle/Stats/Helper/SentHelper.php
  app/bundles/EmailBundle/Stats/Helper/StatHelperInterface.php
  app/bundles/EmailBundle/Stats/Helper/UnsubscribedHelper.php
  app/bundles/EmailBundle/Stats/StatHelperContainer.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/StatsBundle/Aggregate/Calculator.php
  app/bundles/StatsBundle/Aggregate/Collection/DAO/StatDAO.php
  app/bundles/StatsBundle/Aggregate/Collection/DAO/StatsDAO.php
  app/bundles/StatsBundle/Aggregate/Collection/StatCollection.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/DayStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/HourStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/MonthStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/StatInterface.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/WeekStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/YearStat.php
  app/bundles/StatsBundle/Aggregate/Collector.php
  app/bundles/StatsBundle/Aggregate/Helper/CalculatorHelper.php
  app/bundles/StatsBundle/Config/config.php
  app/bundles/StatsBundle/Event/AggregateStatRequestEvent.php
  app/bundles/StatsBundle/Event/Options/FetchOptions.php
  app/bundles/StatsBundle/MauticStatsBundle.php
  app/bundles/StatsBundle/StatEvents.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/CalculatorTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/CollectorTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/DAO/StatsDAOTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/Stats/DayStatTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/Stats/HourStatTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/Stats/MonthStatTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/Stats/WeekStatTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/Stats/YearStatTest.php
Labels: T3, cla-signed, feature, has-conflicts, ready-to-commit, reports

#8352 Add search by company fields for list view/API
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Event/CompanyBuildSearchEvent.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/CompanyModel.php
Labels: API, T1, cla-signed, companies, enhancement, pending-test-confirmation

#7787 A/B test chart rendering unified
  app/bundles/PageBundle/Views/SubscribedEvents/AbTest/bargraph.html.php
Labels: T1, builders, cla-signed, enhancement, ready-to-commit

#9650 Marketplace v1
  app/AppKernel.php
  app/bundles/CoreBundle/Assets/js/9.modals.js
  app/bundles/MarketplaceBundle/Api/Connection.php
  app/bundles/MarketplaceBundle/Collection/MaintainerCollection.php
  app/bundles/MarketplaceBundle/Collection/PackageCollection.php
  app/bundles/MarketplaceBundle/Collection/VersionCollection.php
  app/bundles/MarketplaceBundle/Command/ListCommand.php
  app/bundles/MarketplaceBundle/Config/config.php
  app/bundles/MarketplaceBundle/Controller/Package/DetailController.php
  app/bundles/MarketplaceBundle/Controller/Package/ListController.php
  app/bundles/MarketplaceBundle/DTO/GitHubInfo.php
  app/bundles/MarketplaceBundle/DTO/Maintainer.php
  app/bundles/MarketplaceBundle/DTO/PackageBase.php
  app/bundles/MarketplaceBundle/DTO/PackageDetail.php
  app/bundles/MarketplaceBundle/DTO/Version.php
  app/bundles/MarketplaceBundle/EventListener/MenuSubscriber.php
  app/bundles/MarketplaceBundle/Exception/ApiException.php
  app/bundles/MarketplaceBundle/Exception/RecordNotFoundException.php
  app/bundles/MarketplaceBundle/MarketplaceBundle.php
  app/bundles/MarketplaceBundle/Model/PackageModel.php
  app/bundles/MarketplaceBundle/Security/Permissions/MarketplacePermissions.php
  app/bundles/MarketplaceBundle/Service/Config.php
  app/bundles/MarketplaceBundle/Service/PluginCollector.php
  app/bundles/MarketplaceBundle/Service/RouteProvider.php
  app/bundles/MarketplaceBundle/Tests/ApiResponse/detail.json
  app/bundles/MarketplaceBundle/Tests/ApiResponse/list.json
  app/bundles/MarketplaceBundle/Tests/Functional/Command/ListCommandTest.php
  app/bundles/MarketplaceBundle/Tests/Functional/Controller/DetailControllerTest.php
  app/bundles/MarketplaceBundle/Tests/Functional/Controller/ListControllerTest.php
  app/bundles/MarketplaceBundle/Translations/en_US/messages.ini
  app/bundles/MarketplaceBundle/Views/Package/detail.html.php
  app/bundles/MarketplaceBundle/Views/Package/index.html.php
  app/bundles/MarketplaceBundle/Views/Package/list.html.php
Labels: T3, cla-signed, feature, mautic-4, ready-to-commit, strategic-initiative, user-experience, user-interface

#8125 New report: Contact's segments activity log
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/SegmentLogReportSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentLogReportSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: cla-signed, feature, ready-to-commit, reports

#9837 [WIP] TPROD-170: Enabling 2-legged authentication for Mautic
  app/bundles/ApiBundle/Controller/ClientController.php
  app/bundles/ApiBundle/Entity/oAuth2/AccessToken.php
  app/bundles/ApiBundle/Entity/oAuth2/Client.php
  app/bundles/ApiBundle/Model/ClientModel.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Security/Firewall/AuthenticationListener.php
  app/bundles/UserBundle/Tests/Security/Firewall/AuthenticationListenerTest.php
  app/migrations/Version20200810153131.php
Labels: API, T2, cla-signed, configuration, feature, ready-to-commit

#9850 Fix ConsoleErrorListener
  app/bundles/CoreBundle/EventListener/ConsoleErrorListener.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/ConsoleErrorListenerTest.php
  app/phpunit.xml.dist
Labels: T1, bug, cla-signed

#9856 Use official Codecov GH Action
  .github/workflows/tests.yml
Labels: CI, cla-signed

#9865 M4 API fixes
  app/bundles/LeadBundle/Tracker/Factory/DeviceDetectorFactory/DeviceDetectorFactory.php
  app/bundles/PointBundle/Controller/Api/TriggerApiController.php
  app/bundles/PointBundle/Controller/TriggerController.php
  app/bundles/WebhookBundle/Form/Type/WebhookType.php
  app/config/config.php
Labels: cla-signed, mautic-4, pending-test-confirmation

#9867 Patch and minor version bumps for some dependencies
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
  app/bundles/UserBundle/Tests/Security/Firewall/AuthenticationListenerTest.php
  composer.lock
Labels: cla-signed

#9868 [skip ci] Allow manually generating release notes
  .github/workflows/generate-release-notes.yml
Labels: CI, chore, cla-signed
