Repository mautic/mautic, pull requests merged in 2022-12, with the labels that each got.

#11724 TPROD-346 Transifex SDK update
  app/assets/scaffold/build/processfiles.php
  app/bundles/CoreBundle/Command/PullTransifexCommand.php
  app/bundles/CoreBundle/Command/PushTransifexCommand.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/TestPass.php
  app/bundles/CoreBundle/Factory/TransifexFactory.php
  app/bundles/CoreBundle/Helper/LanguageHelper.php
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/Command/PullTransifexCommandFunctionalTest.php
  app/bundles/CoreBundle/Tests/Command/PushTransifexCommandFunctionalTest.php
  app/bundles/CoreBundle/Tests/Fixtures/Transifex/language-stats.json
  app/bundles/CoreBundle/Tests/Fixtures/Transifex/resources-create.json
  app/bundles/CoreBundle/Tests/Fixtures/Transifex/resources-upload.json
  app/bundles/CoreBundle/Tests/Fixtures/Transifex/resources.json
  app/bundles/CoreBundle/Tests/Fixtures/Transifex/translation-download.json
  app/bundles/CoreBundle/Tests/Functional/Helper/LanguageHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Factory/TransifexFactoryTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/LanguageHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  build/processfiles.php
  composer.json
  composer.lock
  plugins/MauticCrmBundle/Config/config.php
  plugins/MauticCrmBundle/DependencyInjection/Compiler/TestPass.php
  plugins/MauticCrmBundle/MauticCrmBundle.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Command/FetchPipedriveDataCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Command/PushDataToPipedriveCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/CompanyExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/LeadExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/LeadTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Mock/Client.php
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
Labels: translations, ready-to-commit, essential, cla-signed, refactoring

#11701 Doctrine fixtures will load form DDL before executing inserts.
  app/bundles/CoreBundle/DependencyInjection/Compiler/ORMPurgerPass.php
  app/bundles/CoreBundle/Doctrine/Common/DataFixtures/Event/PreExecuteEvent.php
  app/bundles/CoreBundle/Doctrine/Common/DataFixtures/Purger/ORMPurgerFactory.php
  app/bundles/CoreBundle/Doctrine/Helper/TableSchemaHelper.php
  app/bundles/CoreBundle/MauticCoreBundle.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/DataFixtures/ORM/LoadFormData.php
  app/bundles/FormBundle/Entity/Action.php
  app/bundles/FormBundle/Entity/Field.php
Labels: bug, ready-to-commit, code-review, cla-signed

#11774 Config bundle autowiring
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/ConfigBundle/Config/services.php
  app/bundles/ConfigBundle/ConfigEvents.php
  app/bundles/ConfigBundle/Controller/ConfigController.php
  app/bundles/ConfigBundle/DependencyInjection/MauticConfigExtension.php
  app/bundles/ConfigBundle/Event/ConfigBuilderEvent.php
  app/bundles/ConfigBundle/EventListener/ConfigSubscriber.php
  app/bundles/ConfigBundle/Form/Helper/RestrictionHelper.php
  app/bundles/ConfigBundle/Form/Type/ConfigType.php
  app/bundles/ConfigBundle/Form/Type/EscapeTransformer.php
  app/bundles/ConfigBundle/Mapper/ConfigMapper.php
  app/bundles/ConfigBundle/MauticConfigBundle.php
  app/bundles/ConfigBundle/Service/ConfigChangeLogger.php
  app/bundles/ConfigBundle/Tests/Controller/SysinfoControllerTest.php
  app/bundles/ConfigBundle/Tests/Service/ConfigChangeLoggerTest.php
Labels: code-review, pending-test-confirmation, cla-signed, refactoring

#11722 Add support for {today} token
  app/bundles/CoreBundle/Helper/DateTime/DateTimeLocalization.php
  app/bundles/CoreBundle/Helper/DateTime/DateTimeToken.php
  app/bundles/CoreBundle/Tests/Unit/Helper/DateTime/DateTokenHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/EventListener/DateTimeTokenSubscriber.php
  app/bundles/PageBundle/EventListener/DateTimeTokenSubscriber.php
Labels: ready-to-commit, enhancement, email, cla-signed

#11725 Fix marketing message sorting by category
  app/bundles/ChannelBundle/Entity/MessageRepository.php
Labels: bug, ready-to-commit, cla-signed, marketing-messages

#11733 Fix marketing message sorting by category (v4.x)
  app/bundles/ChannelBundle/Entity/MessageRepository.php
Labels: bug, ready-to-test, cla-signed, marketing-messages

#11726 Fix the dynamic content events are not displayed on the lead timeline
  app/bundles/DynamicContentBundle/EventListener/LeadSubscriber.php
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Views/SubscribedEvents/Timeline/index.html.php
Labels: bug, ready-to-commit, contacts, cla-signed

#11747 Fix campaign trigger command multithreading
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#11760 Get request variables from query instead of request.
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Tests/Functional/PendingCountTest.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/PluginBundle/Controller/AjaxController.php
Labels: bug, ready-to-commit, cla-signed

#11674 Remove sleep() from campaign command tests.
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/DependencyInjection/CompilerPass/TestExecutionerPass.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/ScheduledExecutioner.php
  app/bundles/CampaignBundle/Executioner/TestInactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/TestScheduledExecutioner.php
  app/bundles/CampaignBundle/MauticCampaignBundle.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Command/ExecuteEventCommandTest.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
  app/bundles/CampaignBundle/Tests/Command/ValidateEventCommandTest.php
Labels: enhancement, cla-signed, performance-scalability, automated-tests, refactoring

#11806 Adding link to Best Practices when using templates in UPGRADE-PHP-TO-…
  UPGRADE-PHP-TO-TWIG-TEMPLATES.md
Labels: cla-signed

#11775 Tests for #11767.
  app/bundles/PluginBundle/Entity/Integration.php
  app/bundles/PluginBundle/Event/PluginIntegrationFormBuildEvent.php
  app/bundles/PluginBundle/Form/Type/DetailsType.php
  app/bundles/PluginBundle/Form/Type/IntegrationsListType.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Tests/Form/Type/DetailsTypeTest.php
  app/bundles/PluginBundle/Tests/Form/Type/IntegrationsListTypeTest.php
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  plugins/MauticCrmBundle/Tests/Api/HubspotApiTest.php
  plugins/MauticCrmBundle/Tests/Integration/HubspotIntegrationTest.php
Labels: ready-to-commit, enhancement, cla-signed, automated-tests

#11716 Unique lead fields are now checked for unique on Lead form.
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/Company.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Type/LeadType.php
  app/bundles/LeadBundle/Form/Validator/Constraints/UniqueCustomField.php
  app/bundles/LeadBundle/Form/Validator/Constraints/UniqueCustomFieldValidator.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
Labels: ready-to-commit, enhancement, contacts, cla-signed

#11748 Company merge event
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Event/CompanyMergeEvent.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Event/CompanyMergeEventTest.php
Labels: ready-to-commit, enhancement, companies, cla-signed

#11782 Fix the campaign condition 'is a member of segment'
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadListRepositoryFunctionalTest.php
Labels: bug, ready-to-commit, campaigns, cla-signed, performance-scalability

#11813 Update UPGRADE-PHP-TO-TWIG-TEMPLATES.md
  UPGRADE-PHP-TO-TWIG-TEMPLATES.md
Labels: enhancement, cla-signed

#11692 Check if an entity exists in dashboard subscriber for "Recent activity".
  app/bundles/CoreBundle/EventListener/DashboardSubscriber.php
  app/bundles/CoreBundle/Tests/EventListener/DashboardSubscriberTest.php
Labels: bug, ready-to-commit, dashboard, cla-signed

#11766 Optimize segment load query
  app/bundles/LeadBundle/Segment/Stat/ChartQuery/SegmentContactsLineChartQuery.php
Labels: ready-to-commit, segments, cla-signed, performance-scalability

#11693 Add Endpoint field to S3 plugin
  plugins/MauticCloudStorageBundle/Integration/AmazonS3Integration.php
  plugins/MauticCloudStorageBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, plugin, cla-signed
