Repository mautic/mautic, pull requests merged in 2022-01, with the labels that each got.

#10710 Fix lock wait deleting unused ips
  app/bundles/CoreBundle/Command/UnusedIpDeleteCommand.php
  app/bundles/CoreBundle/Entity/IpAddress.php
  app/bundles/CoreBundle/Entity/IpAddressRepository.php
  app/bundles/CoreBundle/Tests/Command/UnusedIpDeleteCommandFunctionalTest.php
  app/bundles/LeadBundle/Model/IpAddressModel.php
Labels: bug, pending-test-confirmation, cla-signed

#10705 Confirmation unpublishing campaign workflow
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Form/Type/CampaignType.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignUnpublishedWorkflowFunctionalTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Views/Campaign/list.html.php
  app/bundles/CoreBundle/Assets/js/9.modals.js
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Entity/PublishStatusIconAttributesInterface.php
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.php
Labels: pending-test-confirmation, enhancement, campaigns, cla-signed

#10700 Fix contact batch api for single id value
  app/bundles/ApiBundle/Helper/BatchIdToEntityHelper.php
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
Labels: bug, ready-to-commit, API, cla-signed

#10663 fix(LeadTimelineEvent): keys do not match the func args, strips keys
  app/bundles/LeadBundle/Event/LeadTimelineEvent.php
Labels: T1, bug, ready-to-commit, contacts, cla-signed

#10668 User update role api
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/UserBundle/Controller/Api/UserApiController.php
  app/bundles/UserBundle/Tests/Controller/Api/UserApiControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, API, roles, cla-signed

#10577 Fix send unpublished SMS
  app/bundles/CampaignBundle/Event/CampaignExecutionEvent.php
  app/bundles/SmsBundle/EventListener/CampaignSendSubscriber.php
  app/bundles/SmsBundle/Model/SmsModel.php
  app/bundles/SmsBundle/Tests/EventListener/CampaignSendSubscriberTest.php
  app/bundles/SmsBundle/Tests/Model/SmsModelTest.php
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: bug, ready-to-commit, sms, cla-signed

#10693 Fix group by If you use count columns for assets download
  app/bundles/AssetBundle/EventListener/ReportSubscriber.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: bug, ready-to-commit, regression, reports, cla-signed

#10728 Update grapesjs-custom.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/grapesjs-custom.css
Labels: bug, ready-to-commit, cla-signed, builder-grapesjs

#10745 Update stale.yml
  .github/stale.yml
Labels: cla-signed, chore

#10746 Update stale.yml
  .github/stale.yml
Labels: cla-signed, chore

#10753 Ensure default frequency rules are taken into account correclty
  app/bundles/LeadBundle/Entity/FrequencyRuleRepository.php
Labels: bug, ready-to-commit, code-review, regression, cla-signed

#10731 update list of default themes to be in line with the current ones
  app/bundles/CoreBundle/Helper/ThemeHelper.php
Labels: T1, bug, pending-test-confirmation, enhancement, cla-signed

#10778 Change field definition for column_value to longtext instead of varchar
  app/bundles/IntegrationsBundle/Entity/FieldChange.php
  app/migrations/Version20200729170800.php
Labels: bug, pending-test-confirmation, plugin, cla-signed

#10765 Improve condition in lessphp lib
  plugins/MauticFocusBundle/Include/lessc.inc.php
Labels: bug, focus-items, cla-signed

#10716 Restore X value in contact boolean fields
  UPGRADE-4.0.md
  app/bundles/ChannelBundle/Controller/Api/MessageApiController.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: bug, ready-to-commit, regression, cla-signed

#10656 Add missing information
  composer.json
Labels: pending-test-confirmation, cla-signed, chore

#10674 Fix for pushing to integrations in campaign actions
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTest.php
Labels: T2, bug, ready-to-commit, plugin, cla-signed

#10789 4.1 -> 4.x
  UPGRADE-4.0.md
  app/bundles/ApiBundle/Helper/BatchIdToEntityHelper.php
  app/bundles/ApiBundle/Tests/Helper/BatchIdToEntityHelperTest.php
  app/bundles/AssetBundle/EventListener/ReportSubscriber.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/Event/CampaignExecutionEvent.php
  app/bundles/CampaignBundle/Form/Type/CampaignLeadSourceType.php
  app/bundles/CampaignBundle/Tests/Controller/SourceControllerTest.php
  app/bundles/ChannelBundle/Controller/Api/MessageApiController.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Command/UnusedIpDeleteCommand.php
  app/bundles/CoreBundle/Entity/IpAddress.php
  app/bundles/CoreBundle/Entity/IpAddressRepository.php
  app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Tests/Command/UnusedIpDeleteCommandFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/IntegrationsBundle/Entity/FieldChange.php
  app/bundles/LeadBundle/Entity/FrequencyRuleRepository.php
  app/bundles/LeadBundle/Event/LeadTimelineEvent.php
  app/bundles/LeadBundle/Model/IpAddressModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTest.php
  app/bundles/SmsBundle/EventListener/CampaignSendSubscriber.php
  app/bundles/SmsBundle/Model/SmsModel.php
  app/bundles/SmsBundle/Tests/EventListener/CampaignSendSubscriberTest.php
  app/bundles/SmsBundle/Tests/Model/SmsModelTest.php
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Controller/Api/UserApiController.php
  app/bundles/UserBundle/Tests/Controller/Api/UserApiControllerFunctionalTest.php
  app/migrations/Version20200729170800.php
  app/release_metadata.json
  composer.json
  plugins/GrapesJsBuilderBundle/Assets/library/js/grapesjs-custom.css
Labels: cla-signed

#10812 Update available versions on issues template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: cla-signed, chore

#10810 fix static config file in tests
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
Labels: T1, bug, ready-to-commit, cla-signed, automated-tests

#10667 Sugar Integration works better when the endpoint is using HTTP GET method
  plugins/MauticCrmBundle/Api/SugarcrmApi.php
Labels: T2, bug, ready-to-commit, plugin, cla-signed

#10665 Inject a caching solution into the DeviceDetector
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Tests/Tracker/DeviceTrackerTest.php
  app/bundles/LeadBundle/Tracker/Factory/DeviceDetectorFactory/DeviceDetectorFactory.php
Labels: T1, ready-to-commit, enhancement, tracking, cla-signed, performance-scalability

#10646 Removing disabled tracking for localhost on prod env
  app/bundles/CoreBundle/Helper/IpLookupHelper.php
Labels: ready-to-commit, enhancement, tracking, cla-signed

#10445 migrate demo to mjml, add custom font
  plugins/GrapesJsBuilderBundle/Demo/helloWorld/helloWorld.js
  plugins/GrapesJsBuilderBundle/Demo/helloWorld/index.html
Labels: ready-to-commit, cla-signed, builder-grapesjs
