Repository mautic/mautic, pull requests merged in 2022-05, with the labels that each got.

#10986 Update ddev dev mode
  .ddev/mautic-setup.sh
  .gitpod.yml
Labels: enhancement, cla-signed

#11134 DDEV updates for 4.x
  .ddev/mautic-setup.sh
  .gitpod.yml
Labels: cla-signed

#11125 Fix progressive forms
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/FormBundle/Views/Builder/form.html.php
Labels: T1, bug, ready-to-commit, forms, cla-signed

#11132 Clearing risky tests
  app/bundles/CoreBundle/Model/AbstractCommonModel.php
  app/bundles/EmailBundle/Tests/Validator/EmailOrEmailTokenListValidatorTest.php
  app/bundles/LeadBundle/Tests/Validator/Constraints/EmailAddressValidatorTest.php
  app/phpunit.xml.dist
Labels: ready-to-commit, code-review, cla-signed, automated-tests

#11036 Tprod 293 - Replacing deprecated Intl methods
  app/bundles/CoreBundle/Model/AbstractCommonModel.php
  app/bundles/LeadBundle/EventListener/DashboardSubscriber.php
  app/bundles/LeadBundle/Helper/FormFieldHelper.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: bug, ready-to-commit, cla-signed

#11019 Recommended configuration added to System Info + Zend assertions check
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/ConfigBundle/Controller/SysinfoController.php
  app/bundles/ConfigBundle/Model/SysinfoModel.php
  app/bundles/ConfigBundle/Tests/Controller/SysinfoControllerTest.php
  app/bundles/ConfigBundle/Translations/en_US/messages.ini
  app/bundles/ConfigBundle/Views/Sysinfo/index.html.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
Labels: feature, ready-to-commit, cla-signed

#11088 Fix: Tags filter Tag IDs are displayed as dropdown options instead of…
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Tests/Form/Type/DynamicContentTypeTest.php
Labels: bug, ready-to-commit, cla-signed

#10724 Fix 500 error on contact API batch endpoint
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Helper/EntityResultHelper.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: bug, ready-to-commit, API, needs-rebase, contacts, cla-signed

#11126 Segment mysql8 fix
  app/bundles/LeadBundle/EventListener/SegmentOperatorQuerySubscriber.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilter.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentOperatorQuerySubscriberTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentFilterTest.php
Labels: bug, ready-to-commit, segments, cla-signed

#11143 TPROD-274: Replace uses of Symfony\Component\Debug\Debug by Symfony\Component\ErrorHandler\Debug
  app/assets/scaffold/files/console
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  bin/console
Labels: ready-to-commit, enhancement, cla-signed

#11110 Fix audit log old value for company
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
Labels: bug, pending-test-confirmation, companies, cla-signed

#10458 Fix crash when getting a field that is missing column if more missing
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryTest.php
Labels: bug, ready-to-commit, cla-signed, custom-fields

#10343 Fix writeMessage type int error
  app/bundles/IntegrationsBundle/Sync/Notification/Helper/UserNotificationHelper.php
Labels: bug, ready-to-commit, plugin, cla-signed

#10043 Reports not equal expression include nullable values
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
Labels: T1, bug, ready-to-commit, reports, cla-signed

#11005 Asynchronously loaded segment contact list
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Views/List/details.html.php
Labels: T1, ready-to-commit, enhancement, segments

#10498 Added Curaçao and Isle of Man
  app/bundles/CoreBundle/Assets/json/countries.json
Labels: ready-to-commit, enhancement, cla-signed, hacktoberfest-accepted

#9749 Fix JS translations
  app/bundles/CoreBundle/Templating/Helper/TranslatorHelper.php
  app/bundles/CoreBundle/Test/Templating/Helper/TranslatorHelperTest.php
Labels: bug, translations, ready-to-commit, cla-signed

#11121 Add log processor
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Monolog/LogProcessor.php
  app/bundles/CoreBundle/Tests/Unit/Monolog/LogProcessorTest.php
Labels: ready-to-commit, pending-test-confirmation, enhancement, cla-signed

#10883 Custom Objects plugin support
  app/bundles/CoreBundle/Entity/UuidInterface.php
  app/bundles/CoreBundle/Entity/UuidTrait.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/UserBundle/Form/Type/PermissionListType.php
Labels: ready-to-commit, enhancement, cla-signed

#9460 Fix 191 characters for created lead fields
  app/bundles/EmailBundle/Helper/RequestStorageHelper.php
  app/bundles/LeadBundle/Field/SchemaDefinition.php
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
  app/bundles/WebhookBundle/Entity/Log.php
Labels: bug, ready-to-commit, contacts, cla-signed

#10919 Change version regexp
  app/bundles/CoreBundle/Release/Metadata.php
  app/bundles/CoreBundle/Tests/Unit/Release/MetadataTest.php
Labels: ready-to-commit, enhancement, cla-signed

#11058 Move removal of duplicate indexes from fixture to Doctrine event listener
  app/bundles/CoreBundle/EventListener/DoctrineEventsSubscriber.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/InstallFixtures/ORM/RemoveDuplicateIndexData.php
  app/bundles/InstallBundle/Tests/InstallFixtures/ORM/RemoveDuplicateIndexDataTest.php
Labels: bug, ready-to-commit, cla-signed

#11038 TPROD-278 - Do not add format option when html5 is set for DateType
  app/bundles/LeadBundle/Form/Type/ContactChannelsType.php
  app/bundles/LeadBundle/Tests/Form/Type/ContactChannelsTypeTest.php
Labels: ready-to-commit, enhancement, cla-signed

#11130 Campaign forms source - add contact just to active campaign
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#11159 Adding missing table prefix
  app/bundles/SmsBundle/Assets/js/sms.js
  app/bundles/SmsBundle/Entity/SmsRepository.php
Labels: bug, pending-test-confirmation, regression, cla-signed

#11037 TPROD-279 - The getExtendedType() method was removed from the FormTypeExtensionInterface
  UPGRADE-4.3.md
  app/bundles/CoreBundle/CoreEvents.php
  app/bundles/CoreBundle/Event/CustomFormEvent.php
  app/bundles/CoreBundle/Form/Extension/CustomFormExtension.php
Labels: ready-to-commit, deprecation, cla-signed, mautic-5

#11118 Adding test for a translation initialisation issue
  app/bundles/LeadBundle/Tests/EventListener/ImportCompanySubscriberTest.php
Labels: ready-to-commit, enhancement, cla-signed, automated-tests

#11116 Fix: API - GET tag replace Apostrophe with its HTML Entity Number
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/LeadBundle/Entity/TagRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/TagApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Entity/TagRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/TagTest.php
Labels: bug, ready-to-commit, API, cla-signed

#11039 Allow console to leverage the generic autoloader regardless of the location (part 2)
  .github/ci-files/composer.json
  .github/workflows/tests.yml
  app/assets/scaffold/files/autoload.php
  app/assets/scaffold/files/console
  app/autoload.php
  app/composer.json
  autoload.php
  bin/console
Labels: bug, ready-to-commit, cla-signed

#10993 fix salesforce integration refresh token
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticCrmBundle/Tests/Api/SalesforceApiTest.php
Labels: bug, ready-to-commit, regression, cla-signed

#11165 Fix prerelease logic in CI, use outputs instead of env in several places
  .github/workflows/release.yml
Labels: CI, cla-signed, chore

#11172 Set correct stability channel
  app/release_metadata.json
Labels: cla-signed

#11071 Fast rendering segment list
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
  app/bundles/CampaignBundle/Tests/Command/campaign_schema.sql
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Helper/SegmentCountCacheHelper.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Command/UpdateLeadListCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadListRepositoryTest.php
  app/bundles/LeadBundle/Tests/Helper/SegmentCountCacheHelperTest.php
  app/bundles/LeadBundle/Tests/Model/ListModelTest.php
  app/bundles/LeadBundle/Views/List/list.html.php
Labels: ready-to-commit, enhancement, segments, cla-signed

#11164 ensure css and js assets are present and can be generated on composer based installs
  .github/ci-files/composer.json
  .github/workflows/tests.yml
  app/assets/js/mautic-form-src.js
  app/composer.json
  media/js/mautic-form-src.js
Labels: bug, ready-to-commit, cla-signed, composer

#11166 Modify the form label
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
Labels: bug, translations, ready-to-commit, campaigns, cla-signed

#11195 Update BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: cla-signed
