Repository mautic/mautic, pull requests merged in 2022-02, with the labels that each got.

#10823 Fix csv header with 'file' column issue while contact import
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Tests/Functional/Controller/ImportControllerFunctionalTest.php
  app/bundles/LeadBundle/Views/Import/new.html.php
Labels: cla-signed

#10763 Gitpod fix
  .ddev/config.yaml
  .ddev/gitpod-setup-ddev.sh
  .ddev/mautic-setup.sh
  .gitpod.yml
  composer.json
Labels: cla-signed, chore

#10826 Small text update to reflect change from apply to save on button
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, ready-to-commit, cla-signed

#10538 Add Redis to DDEV
  .ddev/commands/redis/redis-cli
  .ddev/docker-compose.redis-commander.yaml
  .ddev/docker-compose.redis.yaml
  .ddev/redis/redis.conf
Labels: ready-to-commit, code-review, enhancement, cla-signed, hacktoberfest-accepted

#10803 Fix email_queued search query
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/EventListener/SearchSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/SearchSubscriberTest.php
Labels: T1, bug, ready-to-commit, code-review, reports, cla-signed

#9695 Single landing page scripts
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Tests/Entity/PageTest.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Views/Page/form.html.php
  app/migrations/Version20210203143600.php
Labels: ready-to-commit, enhancement, landing-pages, cla-signed

#10273 Contact email validation
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Validator/Constraints/EmailAddress.php
  app/bundles/LeadBundle/Form/Validator/Constraints/EmailAddressValidator.php
  app/bundles/LeadBundle/Tests/Validator/Constraints/EmailAddressTest.php
  app/bundles/LeadBundle/Tests/Validator/Constraints/EmailAddressValidatorTest.php
Labels: bug, ready-to-commit, companies, contacts, cla-signed

#10418 Fix PHP Notice - Undefined index: ct
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
Labels: bug, ready-to-commit, cla-signed

#10709 Truncate page hit title
  app/bundles/PageBundle/Entity/Hit.php
  app/bundles/PageBundle/Tests/Entity/HitTest.php
Labels: bug, ready-to-commit, cla-signed

#10839 Exclude the phpstan baseline file from releases
  app/assets/scaffold/build/exclude_files.txt
Labels: cla-signed

#10550 Stop duplicate campaign update
  UPGRADE-5.0.md
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/FormBundle/Tests/Controller/FieldControllerFunctionalTest.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
Labels: ready-to-commit, enhancement, bc-break, cla-signed, hacktoberfest-accepted

#10354 Support for emoji in emails
  app/migrations/Version20210520100503.php
Labels: ready-to-commit, needs-rebase, email, cla-signed

#9752 Fix unsubscribe form usage
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: T1, bug, ready-to-commit, forms, email, cla-signed

#10842 Fix MJML email builder - "Edit Code" is broken
  plugins/GrapesJsBuilderBundle/Assets/library/js/codeMode/codeEditor.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/codeMode/codeMode.command.js
Labels: ready-to-commit, cla-signed, builder-grapesjs

#10759 Improve and fix the execution of (local) PHPUnit tests
  .github/ci-files/.my.cnf
  .github/ci-files/local.php
  .github/workflows/tests.yml
  .gitignore
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/ConfigBundle/Tests/Controller/SysinfoControllerTest.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Functional/Controller/FileControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/PreUpdateChecks/CheckDatabaseDriverAndVersionTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Update/PreUpdateChecks/CheckPhpVersionTest.php
  app/bundles/EmailBundle/Swiftmailer/Spool/DelegatingSpool.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/Model/Tracking404ModelTest.php
  app/bundles/WebhookBundle/Tests/Functional/WebhookFunctionalTest.php
  app/phpunit.xml.dist
Labels: ready-to-commit, enhancement, cla-signed, automated-tests

#10844 Support for emoji in emails2
  app/migrations/Version20210520100503.php
Labels: ready-to-commit, enhancement, cla-signed

#10744 Anton vlasenko: imports not completing
  app/bundles/CoreBundle/Tests/CommonMocks.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Tests/Model/ImportModelTest.php
  app/bundles/LeadBundle/Tests/StandardImportTestHelper.php
Labels: bug, ready-to-commit, ready-to-test, import-export, cla-signed

#10747 Fix SQL issue when creating a backup during install
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/bundles/InstallBundle/Tests/Install/InstallSchemaTest.php
Labels: T1, bug, ready-to-commit, installation, cla-signed

#10566 Fix SendGird Attachments on Queue Mode
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailAttachment.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailAttachmentTest.php
Labels: T1, bug, ready-to-commit, code-review, email, email-integrations, cla-signed, hacktoberfest-accepted

#9690 Segments table new columns
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Views/List/list.html.php
Labels: T1, user-interface, ready-to-commit, enhancement, segments, cla-signed

#10212 Functional tests improvements
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/Hooks/ExecuteTestAfterExtension.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/phpunit.xml.dist
Labels: T1, ready-to-commit, enhancement, cla-signed, automated-tests

#10194 Empty and Not Empty report date filters are not compatible with MySQL8
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
Labels: T1, bug, ready-to-commit, reports, cla-signed

#10766 Repeatable campaign loop fix
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Membership/MembershipBuilder.php
  app/bundles/CampaignBundle/Tests/Membership/MembershipBuilderTest.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#9688 Assets table new columns
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/AssetBundle/Views/Asset/list.html.php
Labels: T1, ready-to-commit, enhancement, assets, cla-signed

#10856 Upgrade to Redis 5 for DDEV
  .ddev/docker-compose.redis.yaml
Labels: ready-to-commit, enhancement, cla-signed

#10757 process booleans correctly in the install command to prevent unwanted actions and incorrect data
  app/bundles/InstallBundle/Command/InstallCommand.php
Labels: bug, ready-to-commit, cla-signed

#10799 Add description on Tag form
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/LeadBundle/Model/TagModel.php
  app/migrations/Version20220111202917.php
  plugins/MauticTagManagerBundle/Controller/TagController.php
  plugins/MauticTagManagerBundle/Form/Type/TagEntityType.php
  plugins/MauticTagManagerBundle/Model/TagModel.php
  plugins/MauticTagManagerBundle/Translations/en_US/messages.ini
  plugins/MauticTagManagerBundle/Views/Tag/details.html.php
  plugins/MauticTagManagerBundle/Views/Tag/form.html.php
  plugins/MauticTagManagerBundle/Views/Tag/list.html.php
Labels: ready-to-commit, enhancement, cla-signed

#10787 add pagehit index in entity metadata instead of fixture
  app/bundles/CoreBundle/Doctrine/Mapping/ClassMetadataBuilder.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/ClassMetadataBuilderTest.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/InstallFixtures/ORM/PageHitIndex.php
  app/bundles/PageBundle/Entity/Hit.php
Labels: bug, ready-to-commit, cla-signed

#10772 Segment fail notifications
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/EventListener/ConfigSubscriber.php
  app/bundles/LeadBundle/Form/Type/SegmentConfigType.php
  app/bundles/LeadBundle/Tests/Command/UpdateLeadListCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/ConfigSubscriberTest.php
  app/bundles/LeadBundle/Tests/Form/Type/SegmentConfigTypeTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/FormTheme/Config/_config_segment_config_widget.html.php
  app/bundles/LeadBundle/Views/List/list.html.php
  app/migrations/Version20200812180900.php
Labels: bug, ready-to-commit, enhancement, segments, cla-signed

#10213 Migration may run in wrong order
  app/bundles/LeadBundle/Entity/LeadField.php
  app/migrations/Version20180702014364.php
  app/migrations/Version20180702014365.php
Labels: T1, bug, pending-test-confirmation, installation, cla-signed

#10574 Switch to skip empty decrypted keys instead of returning empty array and dropping other keys
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
Labels: bug, ready-to-commit, plugin, API, cla-signed

#10635 Remove points from properties for contacts import
  app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ImportContactSubscriberTest.php
Labels: bug, ready-to-commit, points-scoring, import-export, cla-signed

#10402 Fix accessibility of HTML Emails
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberTest.php
Labels: bug, ready-to-commit, email, cla-signed

#9691 Landing pages table new columns
  app/bundles/CoreBundle/Views/Helper/tableheader.html.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PageBundle/Views/Page/list.html.php
Labels: T1, ready-to-commit, pending-feedback, enhancement, landing-pages, cla-signed

#9432 Re: FullCalendar localization
  app/bundles/CalendarBundle/Assets/js/calendar.js
  app/bundles/CoreBundle/Assets/js/libraries/4fa.fullcalendar.lang-all.js
  app/bundles/CoreBundle/Views/Default/script.html.php
Labels: translations, ready-to-commit, enhancement, plugin, cla-signed

#10543 Updated the stat count for week and added tests
  app/bundles/StatsBundle/Aggregate/Calculator.php
  app/bundles/StatsBundle/Aggregate/Collection/DAO/StatsDAO.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/CalculatorTest.php
  app/bundles/StatsBundle/Tests/Aggregate/Collection/DAO/StatsDAOTest.php
Labels: bug, ready-to-commit, cla-signed, hacktoberfest-accepted

#10820 REST API for forms allows to send certain fields with HTML tags
  app/bundles/FormBundle/Controller/Api/FormApiController.php
Labels: bug, pending-test-confirmation, cla-signed

#9685 Email table new columns
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Views/Email/list.html.php
Labels: user-interface, pending-test-confirmation, user-experience, email, cla-signed

#10866 Heath Dutton: Improve boolean import/API support #7513
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Form/RequestTraitTest.php
Labels: bug, ready-to-commit, cla-signed

#10708 Campaign event api fix
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/Api/EventLogApiController.php
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/CampaignBundle/Model/EventLogModel.php
  app/bundles/CampaignBundle/Model/SummaryModel.php
  app/bundles/CampaignBundle/Tests/Command/Api/EventLogApiControllerTest.php
  app/bundles/CampaignBundle/Translations/en_US/flashes.ini
Labels: bug, ready-to-commit, API, regression, cla-signed

#10410 Fix elfinder folder perms
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Service/LocalFileAdapterService.php
  app/bundles/CoreBundle/Tests/Functional/Service/LocalFileAdapterServiceTest.php
  app/config/config.php
Labels: ready-to-commit, enhancement, builder-legacy, cla-signed, builder-grapesjs

#10857 Fix scaffolded files and add sanity checks to github workflow
  .github/workflows/tests.yml
  app/assets/scaffold/files/example.gitignore
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/upgrade.php
Labels: ready-to-commit, CI, cla-signed, automated-tests, chore

#10862 Fix default order direction in controllers
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Views/Campaign/list.html.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Controller/FormController.php
  app/bundles/CoreBundle/Tests/Traits/ControllerTrait.php
  app/bundles/CoreBundle/Views/Helper/tableheader.html.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PageBundle/Views/Page/list.html.php
  app/bundles/SmsBundle/Controller/SmsController.php
Labels: bug, pending-test-confirmation, cla-signed

#10873 Bump to 4.2.0-rc
  app/release_metadata.json
Labels: cla-signed

#10876 Stop unnecessary query
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryTest.php
Labels: ready-to-commit, enhancement, cla-signed, performance-scalability

#10898 Reusable getStandardColumns method
  app/bundles/LeadBundle/Tests/EventListener/SegmentReportSubscriberTest.php
  app/bundles/ReportBundle/Event/ReportBuilderEvent.php
  app/bundles/ReportBundle/Helper/ReportHelper.php
  app/bundles/ReportBundle/Tests/Helper/ReportHelperTest.php
Labels: ready-to-commit, enhancement, reports, cla-signed

#10909 Re-add local.php for CI
  .github/ci-files/local.php
Labels: CI, cla-signed
