Repository mautic/mautic, pull requests merged in 2022-08, with the labels that each got.

#11354 Add core lib readme and workflow to auto-close PRs
  app/.github/workflows/close_pull_requests.yml
  app/README.md
Labels: cla-signed, chore

#11367 4.4.1 release bump
  app/release_metadata.json
  media/js/app.js
Labels: cla-signed, chore

#11043 Assets are streamed by default
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/Controller/PublicController.php
  app/bundles/AssetBundle/Tests/Asset/AbstractAssetTest.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, assets, cla-signed

#11332 Capaign events with 0 delay ignore day of week restrictions
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
  app/bundles/CampaignBundle/Views/Event/form.html.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#11362 Do not embed images before the email is really sent.
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
Labels: bug, ready-to-commit, cla-signed

#11342 Change report download link message
  app/bundles/ReportBundle/Translations/en_US/messages.ini
Labels: translations, ready-to-commit, enhancement, cla-signed

#11352 Add created and modified data to contact profile
  app/bundles/CoreBundle/Views/Helper/details.html.php
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: ready-to-commit, pending-feedback, enhancement, cla-signed

#11364 Flip flipped locales.
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadFieldValueType.php
  app/bundles/LeadBundle/Tests/EventListener/Issue9488Test.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#11383 Hide tooltips on keydown and wait for a user to stop typing.
  app/bundles/CampaignBundle/Assets/js/campaign.js
Labels: T1, bug, user-interface, ready-to-commit, campaigns, cla-signed

#11390 Skip embedding a tracking pixel.
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
Labels: bug, ready-to-commit, regression, cla-signed

#11232 Implementing the RemoveUnusedPrivateMethodParameterRector Rector rule
  app/bundles/CampaignBundle/Executioner/Dispatcher/LegacyEventDispatcher.php
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/LeadBundle/Command/CheckQueryBuildersCommand.php
  app/bundles/MarketplaceBundle/Service/PluginCollector.php
  app/bundles/ReportBundle/Controller/ScheduleController.php
  rector.php
Labels: bug, ready-to-commit, code-review, CI, cla-signed

#11391 Include <map><area/></map> into links tracking.
  app/bundles/PageBundle/Model/TrackableModel.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
Labels: bug, ready-to-commit, code-review, email, cla-signed

#11394 Fixing PHPSTAN issue with PHP8 on 4.4 branch
  app/bundles/MarketplaceBundle/Service/PluginCollector.php
Labels: T1, bug, pending-test-confirmation, regression, cla-signed

#11388 Fix property must not be accessed before initialization error
  app/bundles/LeadBundle/Event/ImportValidateEvent.php
Labels: bug, ready-to-commit, import-export, cla-signed

#11404 New segment test case
  app/bundles/LeadBundle/Tests/Segment/SegmentFilterFunctionalTest.php
Labels: bug, ready-to-commit, code-review, cla-signed, automated-tests

#11409 Fix gitpod for form submissions
  .gitpod.yml
Labels: bug, pending-test-confirmation, cla-signed

#11150 TPROD-297 Use __serialize() and __unserialize() instead serialize() and unserialize()
  app/bundles/UserBundle/Security/Authentication/Token/PluginToken.php
Labels: ready-to-commit, code-review, enhancement, cla-signed, mautic-5

#11382 TPROD-312 + TPROD-330 - Add Twig support to CoreBundle Helpers + migrate WebhookBundle to Twig
  UPGRADE-PHP-TO-TWIG-TEMPLATES.md
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Templating/Helper/ButtonHelper.php
  app/bundles/CoreBundle/Templating/Twig/Extension/ButtonExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/CoreHelpersExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/DateExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/NumericExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/SecurityExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/StorageExtension.php
  app/bundles/CoreBundle/Templating/Twig/Extension/TranslatorExtension.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Views/Default/content.html.twig
  app/bundles/CoreBundle/Views/Default/navbar.html.twig
  app/bundles/CoreBundle/Views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Views/Default/raw_output.html.twig
  app/bundles/CoreBundle/Views/Helper/action_button_helper.html.twig
  app/bundles/CoreBundle/Views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Views/Helper/list_filters.html.twig
  app/bundles/CoreBundle/Views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Views/Helper/modal.html.twig
  app/bundles/CoreBundle/Views/Helper/noresults.html.twig
  app/bundles/CoreBundle/Views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Views/Helper/pagination.html.twig
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.twig
  app/bundles/CoreBundle/Views/Helper/recentactivity.html.twig
  app/bundles/CoreBundle/Views/Helper/search.html.twig
  app/bundles/CoreBundle/Views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Views/Notification/flashes.html.twig
  app/bundles/WebhookBundle/Controller/WebhookController.php
  app/bundles/WebhookBundle/Views/FormTheme/Config/_config_webhookconfig_widget.html.php
  app/bundles/WebhookBundle/Views/FormTheme/Config/_config_webhookconfig_widget.html.twig
  app/bundles/WebhookBundle/Views/Helper/labelcode.html.php
  app/bundles/WebhookBundle/Views/Helper/labelcode.html.twig
  app/bundles/WebhookBundle/Views/Webhook/details.html.php
  app/bundles/WebhookBundle/Views/Webhook/details.html.twig
  app/bundles/WebhookBundle/Views/Webhook/form.html.php
  app/bundles/WebhookBundle/Views/Webhook/form.html.twig
  app/bundles/WebhookBundle/Views/Webhook/index.html.php
  app/bundles/WebhookBundle/Views/Webhook/list.html.php
  app/bundles/WebhookBundle/Views/Webhook/list.html.twig
  app/config/config_dev.php
  app/config/config_prod.php
  plugins/MauticSocialBundle/Controller/TweetController.php
Labels: ready-to-commit, enhancement, cla-signed, mautic-5

#11351 Disabled send button If sending is in background
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Views/Email/details.html.php
Labels: ready-to-commit, enhancement, cla-signed

#11295 chore: Set permissions for GitHub actions
  .github/workflows/build-grapesjs-assets.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
Labels: bug, ready-to-commit, CI, cla-signed

#11405 Copy to CC or BCC should send an email even if TO field is empty.
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
Labels: bug, ready-to-commit, forms, email, cla-signed

#10539 Show form validation errors if an integration is published or if the …
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
Labels: bug, ready-to-commit, cla-signed, hacktoberfest-accepted

#11397 Report query for debug mode
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: ready-to-commit, enhancement, reports, cla-signed

#11371 Fix migrations preup with table prefix and migration performance
  app/migrations/Version20190724110039.php
  app/migrations/Version20191017140848.php
  app/migrations/Version20191219155630.php
  app/migrations/Version20200227110431.php
  app/migrations/Version20200805185714.php
Labels: ready-to-commit, cla-signed, db-migrations

#11420 Avoid api cache clear
  app/bundles/CoreBundle/Loader/RouteLoader.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/config/config_test.php
Labels: bug, ready-to-commit, cla-signed
