Repository mautic/mautic, pull requests merged in 2022-09, with the labels that each got.

#11373 Reverting PR 11353 that used wrong branch
  app/composer.json
Labels: bug, ready-to-test, regression, cla-signed, composer

#11433 4.4.2 bump
  app/release_metadata.json
  media/js/app.js
Labels: cla-signed, chore

#11415 Fix gitpod for form submissions for 5.x branch
  .gitpod.yml
Labels: bug, cla-signed

#11437 Add explicit order by id when as dependant fields have same field order
  app/bundles/FormBundle/Entity/SubmissionRepository.php
Labels: bug, forms, cla-signed

#11406 Contact email statistics in lead view
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Tests/Entity/StatRepositoryTest.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Lead/lead.html.php
  app/bundles/LeadBundle/Views/Lead/lead_stats.html.php
Labels: ready-to-commit, code-review, enhancement, cla-signed

#11057 Tprod 296 Authentication refactoring needed for Symfony 5
  UPGRADE-5.0.md
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/AssetBundle/Tests/Controller/Api/AssetApiControllerFunctionalTest.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/GeneratedColumn/GeneratedColumnTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/GeneratedColumnsProviderTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/DoctrineGeneratedColumnsListenerTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Security/Firewall/AuthenticationListener.php
  app/bundles/UserBundle/Tests/Security/Firewall/AuthenticationListenerTest.php
  app/config/security.php
Labels: ready-to-commit, bc-break, cla-signed

#11457 Fix issue searching company on contact edit page when more than 100 companies in DB (issue #11455)
  app/bundles/LeadBundle/Entity/CompanyRepository.php
Labels: T1, bug, ready-to-commit, companies, contacts, cla-signed

#11461 Hide category list from form download action If do not need it
  app/bundles/AssetBundle/Form/Type/FormSubmitActionDownloadFileType.php
Labels: bug, ready-to-commit, forms, cla-signed

#11462 Fix download asset from form action
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
Labels: bug, ready-to-commit, regression, forms, assets, cla-signed

#11448 TPROD-284 Refactor CookieHelper to use Symfony Cookie.
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/CookieHelper.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Tests/Unit/Helper/CookieHelperTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
Labels: ready-to-commit, enhancement, bc-break, cla-signed

#11444 Simple paginator
  app/bundles/CoreBundle/Doctrine/Paginator/SimplePaginator.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Tests/Functional/Doctrine/Paginator/SimplePaginatorTest.php
  plugins/MauticFocusBundle/Entity/FocusRepository.php
Labels: ready-to-commit, cla-signed, performance-scalability

#11318 Fix campaign looping issue
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
Labels: bug, ready-to-commit, regression, campaigns, cla-signed

#11419 Add text for the rebuilding contacts time for segment. The text "Tota…
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, segments, cla-signed

#11467 Fix gated video with froogaloop library
  app/bundles/CoreBundle/Assets/js/libraries/froogaloop2.min.js
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: bug, ready-to-commit, landing-pages, cla-signed

#11483 Use `hasSession()` over `getSession()` to check whether the session exists
  app/AppKernel.php
Labels: T1, bug, ready-to-test, pending-test-confirmation, cla-signed

#11479 Adding Symfony 4.0 and 4.1 Rector rule sets to CI
  .github/workflows/tests.yml
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/PointBundle/Controller/Api/TriggerApiController.php
  rector.php
Labels: bug, ready-to-commit, enhancement, cla-signed, automated-tests

#11032 TPROD-272: Dropped PluginConfiguration.php
  UPGRADE-5.0.md
  app/bundles/IntegrationsBundle/Configuration/PluginConfiguration.php
Labels: bug, ready-to-commit, bc-break, cla-signed

#11498 switch to md5 for password hashing during tests to improve speed
  app/config/security_test.php
Labels: cla-signed

#11142 TPROD-283: Refactor Symfony\Bundle\FrameworkBundle\Controller\Controller to Symfony\Bundle\FrameworkBundle\Controller\AbstractController
  app/bundles/ConfigBundle/Controller/ConfigController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/EmailBundle/Controller/EmailGraphStatsController.php
  app/bundles/PageBundle/Controller/PublicController.php
Labels: ready-to-commit, enhancement, cla-signed

#11485 Fix best hours widget
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
Labels: bug, ready-to-commit, code-review, cla-signed

#11418 Focusitems fix unique clicks link in focus view
  plugins/MauticFocusBundle/Views/Focus/details.html.php
Labels: bug, ready-to-commit, focus-items, cla-signed

#11431 Fix a JS failure when the show pause preferences setting is disabled
  app/bundles/EmailBundle/Views/Lead/preference_options.html.php
Labels: bug, ready-to-commit, email, cla-signed

#10567 Csrf errors ajax endpoints
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Assets/js/2.config.js
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/PluginBundle/Assets/js/plugin.js
  plugins/MauticFocusBundle/Assets/js/focus.js
Labels: bug, ready-to-commit, cla-signed

#11500 Fix handling of not-parsable URL's in page tracking model
  app/bundles/PageBundle/Model/TrackableModel.php
Labels: ready-to-commit, pending-test-confirmation, tracking, cla-signed

#11496 Ensure there is a default db prefix during PHPUnit tests (4.4)
  .env.dist
  app/assets/scaffold/files/.env.dist
Labels: bug, ready-to-commit, cla-signed

#11481 Trackable link to mailto
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/PageBundle/Model/TrackableModel.php
Labels: ready-to-commit, enhancement, email, cla-signed

#11278 Fix dwc access control
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
Labels: bug, pending-test-confirmation, roles, dynamic-content, cla-signed

#11480 Fix of permmission validation and functional tests PR for 5.x
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
Labels: bug, ready-to-commit, roles, dynamic-content, cla-signed

#11465 Fix link to clicked contact list
  plugins/MauticFocusBundle/Views/Focus/details.html.php
Labels: bug, ready-to-commit, cla-signed

#11507 Fix missing MAUTIC_TABLE_PREFIX in isolated tests
  app/bundles/CoreBundle/Test/IsolatedTestTrait.php
  app/bundles/IntegrationsBundle/Tests/Unit/Command/SyncCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Controller/PipedriveControllerTest.php
Labels: bug, ready-to-commit, cla-signed, automated-tests

#11494 Ensure there is a default db prefix during PHPUnit tests (5.x)
  .env.dist
  app/assets/scaffold/files/.env.dist
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/CoreBundle/Test/IsolatedTestTrait.php
  app/bundles/IntegrationsBundle/Tests/Unit/Command/SyncCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Controller/PipedriveControllerTest.php
Labels: bug, ready-to-commit, cla-signed

#11510 Release 4.4.3
  app/release_metadata.json
  media/js/app.js
  media/js/libraries.js
Labels: cla-signed

#10961 Fixing campaign contact field condition on state field
  app/bundles/CampaignBundle/Tests/Controller/EventControllerFunctionalTest.php
  app/bundles/CoreBundle/Helper/ArrayHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ArrayHelperTest.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadFieldValueType.php
Labels: T1, bug, ready-to-commit, campaigns, cla-signed

#11508 lower sleep times for faster tests
  .github/workflows/tests.yml
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Command/ExecuteEventCommandTest.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
  app/bundles/CampaignBundle/Tests/Command/ValidateEventCommandTest.php
Labels: ready-to-commit, CI, cla-signed, automated-tests

#11518 Fix typo in link
  README.md
Labels: cla-signed, chore

#11519 Fix typo in link
  README.md
Labels: cla-signed

#11416 Hubspot - Fix errors when the API returns a 401 code
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  plugins/MauticCrmBundle/Api/HubspotApi.php
  plugins/MauticCrmBundle/Tests/Api/HubspotApiTest.php
Labels: bug, ready-to-commit, plugin, cla-signed
