Repository mautic/mautic, pull requests merged in 2022-04, with the labels that each got.

#10882 Only upload release asset if not prerelease TPROD-198
  .github/workflows/release.yml
Labels: ready-to-commit, CI, cla-signed

#11049 TPROD-289 : Replace Client with KernelBrowser
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
Labels: cla-signed

#11034 TPROD-280 - The scale option was removed from the IntegerType
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Form/Type/ContactChannelsType.php
Labels: enhancement, cla-signed

#10702 Add company_id search command
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Company/list.html.php
Labels: ready-to-commit, enhancement, cla-signed

#11062 limit scheduled workflows to specific public repo's
  .github/workflows/tests.yml
Labels: ready-to-commit, cla-signed, chore

#11054 Updating the email validation mode to work in Symfony 5.0
  app/bundles/EmailBundle/Form/Type/ConfigType.php
Labels: T1, ready-to-commit, enhancement, configuration, cla-signed

#11040 Removing options for TimeType that would cause an exception in Symfony 5.0
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
Labels: ready-to-commit, ready-to-test, enhancement, cla-signed

#11060 rework the seek / fgets combo to be compatible with both PHP 7 and 8
  app/bundles/LeadBundle/Model/ImportModel.php
Labels: bug, ready-to-commit, enhancement, cla-signed

#11011 Fixed Import validation when uploading a CSV file in Mautic 4.x with PHP 8
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
Labels: bug, ready-to-commit, import-export, cla-signed

#10969 Add tag creation behavior for leads in edit page
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: T1, bug, ready-to-commit, tags, cla-signed

#11059 split up of lead column structure and field data fixtures
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/EventListener/DoctrineEventSubscriber.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/LeadBundle/Field/SchemaDefinition.php
Labels: ready-to-commit, enhancement, php, installation, cla-signed

#11056 Removing unused interface AdvancedUserInterface and methods it required
  UPGRADE-5.0.md
  app/bundles/UserBundle/Entity/User.php
Labels: ready-to-commit, bc-break, roles, cla-signed

#10903 Segment optimization IN to EXISTS
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Event/LeadListFilteringEvent.php
  app/bundles/LeadBundle/Event/SegmentOperatorQueryBuilderEvent.php
  app/bundles/LeadBundle/EventListener/SegmentOperatorQuerySubscriber.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ChannelClickQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ComplexRelationValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/DoNotContactFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignFuncFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/IntegrationCampaignFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/SegmentReferenceFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/SessionsFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/Event/SegmentOperatorQueryBuilderEventTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentOperatorQuerySubscriberTest.php
  plugins/MauticCitrixBundle/EventListener/LeadSubscriber.php
Labels: ready-to-commit, enhancement, segments, cla-signed, performance-scalability

#11016 Dont show empty fields in the contact and company detail view
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Views/Company/company.html.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: user-interface, ready-to-commit, enhancement, companies, contacts, cla-signed

#11075 Fixing GH actions for 4.2 branch
  .github/workflows/tests.yml
Labels: cla-signed, automated-tests, chore

#11074 Fixing "fatal: unsafe repository ('/github/workspace' is owne…
  .github/workflows/tests.yml
Labels: cla-signed, automated-tests, chore

#11046 Remove transChoice() as it is deprecated in Symfony 4.2
  app/bundles/CampaignBundle/Command/ValidateEventCommand.php
  app/bundles/CampaignBundle/Command/WriteCountTrait.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CategoryBundle/Controller/BatchContactController.php
  app/bundles/ChannelBundle/Controller/BatchContactController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Service/FlashBag.php
  app/bundles/CoreBundle/Templating/Helper/DateHelper.php
  app/bundles/CoreBundle/Test/Service/FlashBagTest.php
  app/bundles/CoreBundle/Views/Helper/pagination.html.php
  app/bundles/EmailBundle/MonitoredEmail/Fetcher.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Views/Send/form.html.php
  app/bundles/EmailBundle/Views/SubscribedEvents/Timeline/index.html.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Views/Builder/fieldwrapper.html.php
  app/bundles/FormBundle/Views/Form/list.html.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/Company/company.html.php
  app/bundles/LeadBundle/Views/Company/list.html.php
  app/bundles/LeadBundle/Views/Lead/lead.html.php
  app/bundles/LeadBundle/Views/List/list.html.php
  app/bundles/PageBundle/Views/Page/list.html.php
  app/bundles/UserBundle/Views/Role/list.html.php
  plugins/MauticClearbitBundle/Controller/ClearbitController.php
  plugins/MauticFullContactBundle/Controller/FullContactController.php
  plugins/MauticTagManagerBundle/Views/Tag/list.html.php
Labels: translations, ready-to-commit, enhancement, cla-signed

#11084 Fix network issues when running composer in ddev
  .ddev/docker-compose.network-mtu.yaml
Labels: ready-to-commit, cla-signed

#11050 Deprecate AbstractIntegration
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
Labels: ready-to-commit, code-review, enhancement, cla-signed

#11089 Fix network issues when running composer in ddev
  .ddev/docker-compose.network-mtu.yaml
Labels: cla-signed

#11053 use a more strict constraint for doctrine-bundle
  app/composer.json
Labels: bug, ready-to-commit, cla-signed

#10831 Fix headers (including list-unsubscribe header) when using sendgrid-api
  app/bundles/EmailBundle/Swiftmailer/SendGrid/Mail/SendGridMailMetadata.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/Mail/SendGridMailMetadataTest.php
Labels: T2, bug, ready-to-commit, email-integrations, cla-signed

#11069 Remove multiselect field default value template
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: bug, ready-to-commit, cla-signed

#10987 Fix elFinder localization
  app/bundles/CoreBundle/Assets/js/libraries/filemanager/index.html.twig
  app/config/config.php
Labels: bug, ready-to-commit, cla-signed

#11045 TPROD-281 - Test kernel boot fix for Symfony 5
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: pending-test-confirmation, enhancement, cla-signed

#11098 change link from edit to view once company modification saved
  app/bundles/LeadBundle/Controller/CompanyController.php
Labels: T1, bug, ready-to-commit, user-experience, companies, cla-signed

#11100 Update contributing file with correct process for security issue reporting #11099
  .github/CONTRIBUTING.md
Labels: ready-to-commit, cla-signed, chore

#11085 Fix dependency issue
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/DataFixtures/ORM/LoadAssetData.php
  app/bundles/AssetBundle/Tests/DataFixtures/LoadAssetDataTest.php
Labels: bug, ready-to-commit, cla-signed

#11109 4.2.2 bump
  app/release_metadata.json
  media/css/app.css
  media/js/app.js
  media/js/libraries.js
Labels: cla-signed, chore

#10722 Corrected zip key for IPStack
  app/bundles/CoreBundle/IpLookup/IpstackLookup.php
  app/bundles/CoreBundle/Tests/Unit/IpLookup/IpstackLookupTest.php
Labels: bug, ready-to-commit, cla-signed

#11128 Instances with DB prefix set failed after #11059
  app/bundles/InstallBundle/EventListener/DoctrineEventSubscriber.php
Labels: bug, ready-to-test, cla-signed
