Repository mautic/mautic, pull requests merged in 2022-10, with the labels that each got.

#11346 Filter report data by tags
  app/bundles/CoreBundle/Assets/js/10.entity.js
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/ReportDNCSubscriber.php
  app/bundles/LeadBundle/EventListener/ReportUtmTagSubscriber.php
  app/bundles/LeadBundle/Report/FieldsBuilder.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
  app/bundles/LeadBundle/Tests/Report/FieldsBuilderTest.php
  app/bundles/ReportBundle/Assets/js/report.js
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Form/Type/DynamicFiltersType.php
  app/bundles/ReportBundle/Form/Type/FilterSelectorType.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
  app/bundles/ReportBundle/Tests/Form/Type/FilterSelectorTypeTest.php
  app/bundles/ReportBundle/Views/FormTheme/Report/_report_filters_entry_value_row.html.php
Labels: feature, ready-to-commit, reports, cla-signed

#11512 Fix import company error message without unique fields
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: bug, ready-to-commit, companies, import-export, cla-signed

#11513 Change clean conditional values with InputHelper::clean
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Form/Type/FormFieldConditionType.php
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
Labels: bug, ready-to-commit, cla-signed

#11270 Removing calendar bundle
  LICENSE.txt
  app/AppKernel.php
  app/bundles/CalendarBundle/Assets/css/calendar.css
  app/bundles/CalendarBundle/Assets/js/calendar.js
  app/bundles/CalendarBundle/CalendarEvents.php
  app/bundles/CalendarBundle/Config/config.php
  app/bundles/CalendarBundle/Controller/AjaxController.php
  app/bundles/CalendarBundle/Controller/DefaultController.php
  app/bundles/CalendarBundle/Event/CalendarGeneratorEvent.php
  app/bundles/CalendarBundle/Event/EventGeneratorEvent.php
  app/bundles/CalendarBundle/MauticCalendarBundle.php
  app/bundles/CalendarBundle/Model/CalendarModel.php
  app/bundles/CalendarBundle/Translations/en_US/messages.ini
  app/bundles/CalendarBundle/Views/Default/index.html.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/EventListener/CalendarSubscriber.php
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/css/libraries/other/fullcalendar.less
  app/bundles/CoreBundle/Assets/js/libraries/4f.fullcalendar.min.js
  app/bundles/CoreBundle/Assets/js/libraries/4fa.fullcalendar.lang-all.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/CalendarSubscriber.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/EventListener/CalendarSubscriber.php
  media/css/app.css
  media/js/app.js
  media/js/libraries.js
  phpstan-baseline.neon
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
Labels: ready-to-commit, bc-break, cla-signed

#11545 Updated supported versions and their dates in SECURITY.md
  SECURITY.md
Labels: cla-signed

#11524 TPROD-340 - Migrate Tag Manager Views to twig
  app/AppKernel.php
  app/bundles/CoreBundle/Entity/VariantEntityTrait.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Entity/DoNotContactRepository.php
  app/composer.json
  composer.lock
  plugins/MauticTagManagerBundle/Controller/TagController.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/TagControllerTest.php
  plugins/MauticTagManagerBundle/Views/Tag/details.html.php
  plugins/MauticTagManagerBundle/Views/Tag/details.html.twig
  plugins/MauticTagManagerBundle/Views/Tag/form.html.php
  plugins/MauticTagManagerBundle/Views/Tag/form.html.twig
  plugins/MauticTagManagerBundle/Views/Tag/index.html.php
  plugins/MauticTagManagerBundle/Views/Tag/list.html.php
  plugins/MauticTagManagerBundle/Views/Tag/list.html.twig
Labels: user-interface, ready-to-commit, enhancement, tags, cla-signed, mautic-5

#11547 Upgraded LiipTestFixturesBundle to a newer version.
  UPGRADE-5.0.md
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  composer.json
  composer.lock
Labels: ready-to-commit, enhancement, cla-signed, refactoring

#11145 TPROD-290 The Kernel::getRootDir() and the kernel.root_dir parameter have been removed
  UPGRADE-5.0.md
  app/AppKernel.php
  app/assets/scaffold/files/config_override.php
  app/assets/scaffold/files/upgrade.php
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/ConfigBundle/Tests/Form/Helper/RestrictionHelperTest.php
  app/bundles/ConfigBundle/Tests/Mapper/ConfigMapperTest.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/UpdateController.php
  app/bundles/CoreBundle/Helper/PathsHelper.php
  app/bundles/CoreBundle/Loader/EnvVars/ElFinderEnvVars.php
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/ConfigMetadataTest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/resource/GoodConfig/Config/config.php
  app/bundles/CoreBundle/Tests/Unit/Helper/PathsHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Config/config.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Swiftmailer/Spool/DelegatingSpool.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Config/config.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/ReportBundle/Config/config.php
  app/config/config.php
  app/config/config_dev.php
  app/config/config_prod.php
  app/config/parameters.php
  app/config/paths.php
  app/config/paths_helper.php
  app/middlewares/ConfigAwareTrait.php
  upgrade.php
Labels: pending-test-confirmation, enhancement, cla-signed, mautic-5, refactoring

#11138 TPROD-291 Remove use of KernelInterface::getName() and the kernel.name parameter
  app/assets/scaffold/files/console
  bin/console
Labels: pending-test-confirmation, enhancement, cla-signed, mautic-5

#11553 Fix installer by replacing a removed method by the correct one
  app/bundles/InstallBundle/Controller/InstallController.php
Labels: bug, code-review, pending-test-confirmation, regression, cla-signed

#11557 Add test for UI installer to ensure basic config works (5.x)
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/InstallBundle/Views/Install/email.html.php
Labels: cla-signed

#11559 Add test for UI installer to ensure basic config works (4.4)
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
Labels: bug, cla-signed, automated-tests

#11564 fix missed dispatch calls with reversed arguments in #11140
  app/bundles/ChannelBundle/Command/SendChannelBroadcastCommand.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CoreBundle/Command/CleanupMaintenanceCommand.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/Api/StatsApiController.php
  app/bundles/CoreBundle/Controller/DefaultController.php
  app/bundles/CoreBundle/Templating/Helper/SecurityHelper.php
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
  app/bundles/IntegrationsBundle/Sync/Helper/MappingHelper.php
  app/bundles/IntegrationsBundle/Sync/Notification/Helper/RouteHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Helper/FieldHelper.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/Helper/MappingHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/Notification/Helper/RouteHelperTest.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SearchSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Tests/EventListener/PageSubscriberTest.php
  app/bundles/PluginBundle/Controller/PluginController.php
  plugins/MauticFocusBundle/Model/FocusModel.php
Labels: bug, ready-to-commit, cla-signed

#11554 #TPROD-309 - Migrate Category Bundle to Twig templates
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CategoryBundle/Views/Category/form.html.php
  app/bundles/CategoryBundle/Views/Category/form.html.twig
  app/bundles/CategoryBundle/Views/Category/index.html.php
  app/bundles/CategoryBundle/Views/Category/list.html.php
  app/bundles/CategoryBundle/Views/Category/list.html.twig
  app/bundles/CoreBundle/Views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Views/Helper/list_filters.html.twig
Labels: user-interface, ready-to-commit, cla-signed, mautic-5, refactoring

#11552 Add stage info to lead export data
  app/bundles/CoreBundle/Helper/ExportHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ExportHelperTest.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/Lead.php
Labels: ready-to-commit, enhancement, import-export, cla-signed

#11541 Segment - Fix filter URL Visited with regex and more
  app/bundles/LeadBundle/Segment/ContactSegmentFilterCrate.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadPageHitData.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentFilterCrateTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
Labels: bug, ready-to-commit, segments, cla-signed

#11434 Fix segment filters error when drag&droping multiple times
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: ready-to-commit, segments, cla-signed

#11400 Update SpoolTransport.php to set new MessageID for each email
  app/bundles/EmailBundle/Swiftmailer/Transport/SpoolTransport.php
Labels: bug, ready-to-commit, email

#11560 #TPROD-320 - migrate Marketplace Bundle to Twig templates
  app/bundles/CoreBundle/Templating/Twig/Extension/DateExtension.php
  app/bundles/CoreBundle/Views/Default/pageheader.html.twig
  app/bundles/MarketplaceBundle/Controller/Package/DetailController.php
  app/bundles/MarketplaceBundle/Controller/Package/InstallController.php
  app/bundles/MarketplaceBundle/Controller/Package/ListController.php
  app/bundles/MarketplaceBundle/Controller/Package/RemoveController.php
  app/bundles/MarketplaceBundle/Views/Package/detail.html.php
  app/bundles/MarketplaceBundle/Views/Package/detail.html.twig
  app/bundles/MarketplaceBundle/Views/Package/index.html.php
  app/bundles/MarketplaceBundle/Views/Package/install.html.twig
  app/bundles/MarketplaceBundle/Views/Package/list.html.php
  app/bundles/MarketplaceBundle/Views/Package/list.html.twig
  app/bundles/MarketplaceBundle/Views/Package/remove.html.twig
Labels: user-interface, pending-test-confirmation, cla-signed, mautic-5, refactoring

#11422 Devices report
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/ReportDevicesSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportDevicesSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportDevicesSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: feature, ready-to-commit, reports, cla-signed

#11543 Rector resolving deprecations for Symfony 4.2
  UPGRADE-5.0.md
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/MauticController.php
  app/bundles/CoreBundle/Doctrine/AbstractMauticMigration.php
  app/bundles/CoreBundle/Doctrine/Loader/FixturesLoaderInterface.php
  app/bundles/CoreBundle/Doctrine/Loader/MauticFixturesLoader.php
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentApiController.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/InstallFixtures/ORM/LeadFieldData.php
  app/bundles/InstallBundle/InstallFixtures/ORM/RoleData.php
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/bundles/IntegrationsBundle/EventListener/ControllerSubscriber.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Model/LegacyLeadModel.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Helper/ContactRequestHelperTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelFunctionalTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Tests/Tracker/ContactTrackerTest.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
  app/config/config_test.php
  rector.php
Labels: ready-to-test, cla-signed, mautic-5, refactoring

#11574 switch to md5 for password hashing during tests to improve speed - 4.4
  app/config/security_test.php
Labels: ready-to-commit, cla-signed

#11571 fix incorrect --quiet flag in ProcessEmailQueueCommand (4.4)
  app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php
  app/bundles/EmailBundle/Tests/Command/ProcessEmailQueueCommandTest.php
Labels: bug, ready-to-commit, email, cla-signed

#11579 Removing misd/phone-number-bundle as it is unused and abandoned
  app/composer.json
  composer.lock
Labels: bug, ready-to-test, dependencies, cla-signed

#11582 The tag label in the contact page is a link to the tag detail page
  app/bundles/LeadBundle/Views/Lead/lead.html.php
Labels: user-experience, enhancement, contacts, cla-signed

#11584 Fix dashboard report line graphs
  app/bundles/ReportBundle/Views/SubscribedEvents/Dashboard/widget.html.php
Labels: bug, reports, dashboard, cla-signed

#11585 Prepare database only once a test suite run
  app/bundles/CoreBundle/Test/Hooks/SlowTestExtension.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/phpunit.xml.dist
Labels: enhancement, cla-signed, automated-tests

#11588 Index for webhook_logs table
  app/bundles/WebhookBundle/Entity/Log.php
  app/migrations/Version20221014061125.php
Labels: cla-signed

#11593 ensure the themes and plugins on 5.x will require Mautic core 5.x
  .github/ci-files/composer.json
  plugins/GrapesJsBuilderBundle/composer.json
  plugins/MauticCitrixBundle/composer.json
  plugins/MauticClearbitBundle/composer.json
  plugins/MauticCloudStorageBundle/composer.json
  plugins/MauticCrmBundle/composer.json
  plugins/MauticEmailMarketingBundle/composer.json
  plugins/MauticFocusBundle/composer.json
  plugins/MauticFullContactBundle/composer.json
  plugins/MauticGmailBundle/composer.json
  plugins/MauticOutlookBundle/composer.json
  plugins/MauticSocialBundle/composer.json
  plugins/MauticTagManagerBundle/composer.json
  plugins/MauticZapierBundle/composer.json
  themes/Mauve/composer.json
  themes/aurora/composer.json
  themes/blank/composer.json
  themes/brienz/composer.json
  themes/cards/composer.json
  themes/coffee/composer.json
  themes/confirmme/composer.json
  themes/fresh-center/composer.json
  themes/fresh-fixed/composer.json
  themes/fresh-left/composer.json
  themes/fresh-wide/composer.json
  themes/goldstar/composer.json
  themes/nature/composer.json
  themes/neopolitan/composer.json
  themes/oxygen/composer.json
  themes/paprika/composer.json
  themes/skyline/composer.json
  themes/sparse/composer.json
  themes/sunday/composer.json
  themes/trulypersonal/composer.json
  themes/vibrant/composer.json
Labels: cla-signed, composer

#11581 Bump min PHP requirement to 8.0
  .github/workflows/tests.yml
  app/composer.json
  composer.json
  composer.lock
  phpstan.neon
Labels: enhancement, dependencies, CI, cla-signed

#11583 Optimized query for getting orphaned leads in a segment
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/Query/QueryBuilder.php
Labels: ready-to-commit, enhancement, segments, cla-signed, performance-scalability

#11589 Compress webhook queue payload
  app/bundles/WebhookBundle/Entity/WebhookQueue.php
  app/bundles/WebhookBundle/Tests/Entity/WebhookQueueFunctionalTest.php
  app/migrations/Version20221014081742.php
Labels: ready-to-commit, enhancement, webhooks, cla-signed, performance-scalability

#11565 #TPROD-328 Migrate Stage Bundle to twig templates
  app/bundles/StageBundle/Controller/AjaxController.php
  app/bundles/StageBundle/Controller/StageController.php
  app/bundles/StageBundle/EventListener/SearchSubscriber.php
  app/bundles/StageBundle/Views/Event/actions.html.php
  app/bundles/StageBundle/Views/FormTheme/Action/_stageaction_properties_row.html.twig
  app/bundles/StageBundle/Views/Stage/actionform.html.php
  app/bundles/StageBundle/Views/Stage/actionform.html.twig
  app/bundles/StageBundle/Views/Stage/form.html.php
  app/bundles/StageBundle/Views/Stage/form.html.twig
  app/bundles/StageBundle/Views/Stage/index.html.php
  app/bundles/StageBundle/Views/Stage/list.html.php
  app/bundles/StageBundle/Views/Stage/list.html.twig
  app/bundles/StageBundle/Views/SubscribedEvents/Search/global.html.php
  app/bundles/StageBundle/Views/SubscribedEvents/Search/global.html.twig
Labels: bug, ready-to-commit, stages, cla-signed, mautic-5, refactoring

#11600 Bump DDEV to use PHP 8.0
  .ddev/config.yaml
Labels: cla-signed

#11538 Fix report with aggregated columns is not saved properly
  app/bundles/ReportBundle/Assets/js/report.js
Labels: bug, ready-to-commit, reports, cla-signed

#11509 GitHub Workflows security hardening
  .github/workflows/closed-issue-reply.yaml
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: ready-to-commit, cla-signed, chore

#11610 #TPROD-306 - migrate AssetBundle to twig templates
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/EventListener/LeadSubscriber.php
  app/bundles/AssetBundle/EventListener/SearchSubscriber.php
  app/bundles/AssetBundle/Views/Asset/details.html.twig
  app/bundles/AssetBundle/Views/Asset/form.html.twig
  app/bundles/AssetBundle/Views/Asset/list.html.twig
  app/bundles/AssetBundle/Views/Asset/preview.html.twig
  app/bundles/AssetBundle/Views/FormTheme/Config/_config_assetconfig_widget.html.twig
  app/bundles/AssetBundle/Views/Public/download.html.php
  app/bundles/AssetBundle/Views/Remote/browse.html.twig
  app/bundles/AssetBundle/Views/Remote/list.html.twig
  app/bundles/AssetBundle/Views/SubscribedEvents/Search/global.html.twig
  app/bundles/AssetBundle/Views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Templating/Twig/Extension/ObjectExtension.php
  app/bundles/CoreBundle/Views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Views/Helper/chart.html.twig
  app/bundles/CoreBundle/Views/Helper/details.html.twig
  app/bundles/CoreBundle/Views/Helper/graph_dateselect.html.twig
  app/bundles/CoreBundle/Views/Helper/publishstatus_badge.html.twig
Labels: ready-to-commit, cla-signed, mautic-5

#11511 Use SameSite=Lax attribute for session cookies
  app/config/config.php
  app/config/security.php
Labels: bug, ready-to-commit, tracking, cla-signed

#11425 Dynamic Content filters fixed
  app/bundles/EmailBundle/EventListener/MatchFilterForLeadTrait.php
  app/bundles/EmailBundle/Tests/EventListener/MatchFilterForLeadTraitTest.php
Labels: bug, ready-to-commit, dynamic-content, cla-signed

#11595 Add a setting to set the batch size
  app/bundles/EmailBundle/Config/config.php
Labels: code-review, pending-test-confirmation, enhancement, email, cla-signed, performance-scalability

#11580 #TPROD-329 - migrate UserBundle to twig templates
  app/bundles/CoreBundle/Templating/Twig/Extension/AssetExtension.php
  app/bundles/CoreBundle/Views/Default/script.html.twig
  app/bundles/CoreBundle/Views/Notification/flash_messages.html.twig
  app/bundles/UserBundle/Controller/PublicController.php
  app/bundles/UserBundle/Controller/RoleController.php
  app/bundles/UserBundle/Controller/SecurityController.php
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/EventListener/SearchSubscriber.php
  app/bundles/UserBundle/Views/Role/form.html.twig
  app/bundles/UserBundle/Views/Role/list.html.twig
  app/bundles/UserBundle/Views/Security/ajax.html.php
  app/bundles/UserBundle/Views/Security/base.html.twig
  app/bundles/UserBundle/Views/Security/login.html.twig
  app/bundles/UserBundle/Views/Security/reset.html.twig
  app/bundles/UserBundle/Views/Security/resetconfirm.html.twig
  app/bundles/UserBundle/Views/SubscribedEvents/Search/global_role.html.twig
  app/bundles/UserBundle/Views/SubscribedEvents/Search/global_user.html.twig
  app/bundles/UserBundle/Views/User/contact.html.twig
  app/bundles/UserBundle/Views/User/form.html.twig
  app/bundles/UserBundle/Views/User/list.html.twig
Labels: user-interface, ready-to-commit, cla-signed, mautic-5, refactoring

#11622 add custom PHPCS fixer to prevent useless MAUTIC_TABLE_PREFIX defines
  .php-cs-fixer.php
  app/bundles/AssetBundle/Tests/Asset/AbstractAssetTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportDevicesSubscriberTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/ChannelClickQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/ForeignValueFilterQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/SegmentReferenceFilterQueryBuilderTest.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
  app/codingstandards/PhpCSFixer/NoTablePrefixDefinitionInTestsFixer.php
  app/composer.json
  composer.lock
Labels: enhancement, CI, cla-signed

#11544 Fix day graph range
  app/bundles/StatsBundle/Aggregate/Helper/CalculatorHelper.php
Labels: bug, ready-to-commit, reports, email, cla-signed

#11625 Bump to 4.4.4
  app/release_metadata.json
  media/js/app.js
Labels: cla-signed

#11632 Removing CustomFormExtension as it is not used and was deprecated in 4.3
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/Extension/CustomFormExtension.php
  phpstan-baseline.neon
Labels: ready-to-commit, code-review, cla-signed, mautic-5, refactoring
