Repository mautic/mautic, pull requests merged in 2022-07, with the labels that each got.

#11302 Merging 4.4 into 5.x
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/release.yml
  UPGRADE-5.0.md
  app/AppKernel.php
  app/assets/scaffold/files/upgrade.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Test/Hooks/ExecuteTestAfterExtension.php
  app/bundles/EmailBundle/Entity/Copy.php
  app/bundles/EmailBundle/Entity/CopyRepository.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/FormBundle/Tests/Controller/FieldControllerFunctionalTest.php
  app/bundles/IntegrationsBundle/Command/SyncCommand.php
  app/bundles/IntegrationsBundle/Event/SyncEvent.php
  app/bundles/IntegrationsBundle/Sync/DAO/Sync/InputOptionsDAO.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/SyncProcess.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/DAO/InputOptionsDAOTest.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/MarketplaceBundle/Service/PluginCollector.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
  app/bundles/UserBundle/Entity/User.php
  app/migrations/Version20200513162918.php
  media/js/app.js
  plugins/MauticTagManagerBundle/Form/Type/TagEntityType.php
  tests/Mautic/StageBundle/Tests/Entity/StageRepositoryTest.php
  upgrade.php
Labels: cla-signed, chore

#11307 Updating GitHub templates for issues and PRs with new verions
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla-signed, chore

#11308 Remove uneeded if
  app/bundles/LeadBundle/Form/Type/FilterTrait.php
Labels: bug, ready-to-commit, cla-signed

#11276 Segment dependency tree
  app/bundles/CoreBundle/Helper/Tree/IntNode.php
  app/bundles/CoreBundle/Helper/Tree/JsPlumbFormatter.php
  app/bundles/CoreBundle/Helper/Tree/NodeFormatterInterface.php
  app/bundles/CoreBundle/Helper/Tree/NodeInterface.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Services/SegmentDependencyTreeFactory.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Views/List/details.html.php
Labels: feature, ready-to-commit, code-review, segments, cla-signed

#11260 Pending query optimization
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryFunctionalTest.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryTest.php
  app/bundles/EmailBundle/Tests/Entity/PendingQueryFunctionalTest.php
  app/bundles/EmailBundle/Tests/Functional/PendingCountTest.php
Labels: bug, ready-to-commit, code-review, segments, cla-signed, performance-scalability

#11281 Support EU region for sparkpost
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Model/TransportType.php
  app/bundles/EmailBundle/Swiftmailer/Transport/SparkpostTransport.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Sparkpost/SparkpostTransportTest.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportMessageTest.php
  app/bundles/EmailBundle/Tests/Transport/SparkpostTransportTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Views/FormTheme/Config/_config_emailconfig_widget.html.php
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
Labels: ready-to-commit, code-review, enhancement, email-integrations, cla-signed

#11167 Hide the input field for the batch size
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Form/Type/BatchSendType.php
  app/bundles/EmailBundle/Views/Send/form.html.php
Labels: ready-to-commit, enhancement, cla-signed

#11296 Fix lookup properties
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: bug, ready-to-commit, cla-signed, custom-fields

#11317 Fix UTM content longer like 191 characters
  app/bundles/EmailBundle/Form/Type/EmailUtmTagsType.php
  app/bundles/LeadBundle/Entity/UtmTag.php
  app/bundles/LeadBundle/Tests/Entity/UtmTagTest.php
Labels: bug, ready-to-commit, cla-signed

#11312 Fix the typos in php doc
  app/bundles/CoreBundle/Event/CustomTemplateEvent.php
  app/bundles/FormBundle/Model/FormModel.php
Labels: bug, ready-to-commit, cla-signed

#11283 Segment query optimization
  app/bundles/LeadBundle/Segment/ContactSegmentFilter.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterFactory.php
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ChannelClickQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/DoNotContactFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/SegmentReferenceFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/LeadBatchLimiterTrait.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentFilterTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/ContactSegmentQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/ChannelClickQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/DoNotContactFilterQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/ForeignValueFilterQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/SegmentReferenceFilterQueryBuilderTest.php
Labels: ready-to-commit, enhancement, segments, cla-signed

#11273 AVG rounding in reports removed
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
Labels: ready-to-commit, enhancement, reports, cla-signed

#11282 Query optimization campaign stat summary
  app/bundles/CampaignBundle/Entity/SummaryRepository.php
Labels: ready-to-commit, code-review, enhancement, campaigns, cla-signed, performance-scalability

#11321 Check existing property (fixes #11299)
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
Labels: bug, ready-to-commit, regression, cla-signed, custom-fields

#11119 Fix user language preference over system language
  app/bundles/ConfigBundle/Controller/ConfigController.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/EventListener/EnvironmentSubscriber.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/EnvironmentSubscriberTest.php
Labels: bug, ready-to-commit, cla-signed

#11322 The reply-to address of an email is the from address if the mailer is owner
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: bug, ready-to-commit, email, cla-signed

#11298 Fix report export to Excel with aggregated bool columns
  app/bundles/ReportBundle/Model/ExcelExporter.php
  app/bundles/ReportBundle/Tests/Fixtures.php
  app/bundles/ReportBundle/Tests/Model/ExcelExporterTest.php
Labels: bug, ready-to-commit, reports, cla-signed

#11335 The form help message can be formatted with html tags
  app/bundles/FormBundle/Form/Type/FieldType.php
Labels: ready-to-commit, enhancement, forms, cla-signed

#11086 Fix No Data shown for Most hit email redirects dashboard widget
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/bundles/DashboardBundle/Tests/Model/DashboardModelTest.php
Labels: bug, ready-to-commit, cla-signed

#11222 Add a new condition in the campaign
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadStagesType.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/Form/Type/CampaignEventLeadStagesTypeTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: feature, ready-to-commit, campaigns, cla-signed

#11006 Add translations for new blocks
  plugins/GrapesJsBuilderBundle/Translations/cs/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/de/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/fr/javascript.ini
  plugins/GrapesJsBuilderBundle/Translations/pt_BR/javascript.ini
Labels: translations, ready-to-commit, enhancement, cla-signed

#11343 Fixing JSON control chars and adding a test
  app/bundles/IntegrationsBundle/Tests/Unit/AbstractIntegrationTest.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
Labels: bug, ready-to-commit, cla-signed

#11093 Fix special characters in form condition value
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Form/Type/FormFieldConditionType.php
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
Labels: bug, ready-to-commit, cla-signed

#11348 Cancelling new campaign should not give 500 error.
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerTest.php
Labels: T1, bug, ready-to-commit, campaigns, cla-signed

#11353 Fixing Composer install/require
  app/composer.json
Labels: bug, ready-to-commit, cla-signed, composer

#11345 Improve documentstion and logging
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Membership/Action/Adder.php
  app/bundles/CampaignBundle/Membership/Exception/ContactAlreadyRemovedFromCampaignException.php
  app/bundles/CampaignBundle/Membership/Exception/ContactCannotBeAddedToCampaignException.php
  app/bundles/CampaignBundle/Membership/MembershipBuilder.php
  app/bundles/CampaignBundle/Membership/MembershipManager.php
  app/bundles/CoreBundle/Exception/FlattenableException.php
  app/bundles/EmailBundle/Swiftmailer/Amazon/AmazonCallback.php
Labels: ready-to-commit, enhancement, cla-signed

#11350 Fix import errors when Don't override value is enabled
  app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ImportContactSubscriberTest.php
Labels: bug, ready-to-commit, regression, import-export, cla-signed

#11347 Fix issue 11267 - Sending emails via API should respect useOwnerAsMailer
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Helper/Transport/SmtpTransport.php
Labels: T1, bug, ready-to-commit, API, email, cla-signed

#11363 Use proper env variable processor for rememberme_lifetime.
  app/bundles/CoreBundle/Tests/Functional/ParametersTest.php
  app/config/parameters.php
  app/config/security.php
Labels: bug, ready-to-test, cla-signed
