Repository mautic/mautic, pull requests merged in 2022-06, with the labels that each got.

#11203 Update guzzlehttp/oauth-subscriber to 0.6.*
  app/composer.json
Labels: pending-test-confirmation, dependencies, cla-signed

#11213 ensure the app folder is seen as the 4.3.x instead of a specific version in composer
  composer.json
  composer.lock
Labels: bug, pending-test-confirmation, cla-signed, composer

#11192 The email update success message is a notice (by default)
  app/bundles/EmailBundle/Controller/EmailController.php
Labels: bug, ready-to-commit, cla-signed

#11210 Improve grapesjs dev demo
  plugins/GrapesJsBuilderBundle/Demo/mautic/index.html
  plugins/GrapesJsBuilderBundle/Demo/mautic/index.html.orig
Labels: bug, ready-to-commit, cla-signed

#11196 run PHPUnit tests with a random db prefix by default
  .env.dist
  app/assets/scaffold/files/.env.dist
  app/bundles/AssetBundle/Tests/Controller/AssetDetailFunctionalTest.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Entity/CampaignRepositoryTest.php
  app/bundles/CampaignBundle/Tests/Functional/Entity/LeadEventLogRepositoryTest.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/EventListener/MaintenanceSubscriberTest.php
  app/bundles/CoreBundle/Test/Hooks/MauticExtension.php
  app/bundles/CoreBundle/Tests/Unit/Command/MaxMindDoNotSellPurgeCommandTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/GeneratedColumn/GeneratedColumnTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Mapping/GeneratedColumn/GeneratedColumnsTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/GeneratedColumnsProviderTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/DoctrineGeneratedColumnsListenerTest.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/MigrationCommandSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryTest.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryUpCountTest.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/InstallBundle/Tests/EventListener/DoctrineEventSubscriberTest.php
  app/bundles/InstallBundle/Tests/Install/InstallSchemaTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Entity/FieldChangeRepositoryTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Entity/ObjectMappingRepositoryTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ObjectHelper/ContactObjectHelperTest.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadListRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryTest.php
  app/bundles/LeadBundle/Tests/Event/SegmentOperatorQueryBuilderEventTest.php
  app/bundles/LeadBundle/Tests/EventListener/GeneratedColumnSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SearchSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentLogReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentOperatorQuerySubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Model/IpAddressModelTest.php
  app/bundles/LeadBundle/Tests/Model/ListModelTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/BaseDecoratorTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/CustomMappedDecoratorTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/DecoratorFactoryTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/ContactSegmentQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/DoNotContactFilterQueryBuilderTest.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
  app/phpunit.xml.dist
Labels: ready-to-commit, cla-signed, automated-tests

#11187 Fix the issue with saving contact settings
  app/bundles/LeadBundle/EventListener/ConfigSubscriber.php
Labels: T1, bug, ready-to-commit, configuration, contacts, cla-signed

#11218 align lock file with change from #11203
  composer.lock
Labels: bug, regression, cla-signed, composer

#11191 Integer range point action validation
  app/bundles/CoreBundle/Entity/UuidTrait.php
  app/bundles/CoreBundle/Helper/IntHelper.php
  app/bundles/PointBundle/Entity/Point.php
  app/bundles/PointBundle/Tests/Entity/PointEntityValidationTest.php
Labels: T1, bug, ready-to-commit, cla-signed

#11240 Add 4.3.x series to issue template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: ready-to-commit, cla-signed, chore

#11221 Code mode fix
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
Labels: bug, ready-to-commit, regression, cla-signed, themes

#11233 flip array returned by getDateChoices
  .all-contributorsrc
  README.md
  app/bundles/LeadBundle/Helper/FormFieldHelper.php
Labels: bug, ready-to-commit, cla-signed

#11235 Fix normalize value for boolean contact field
  app/bundles/LeadBundle/Helper/CustomFieldValueHelper.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldValueHelperTest.php
Labels: bug, ready-to-commit, cla-signed

#11252 Do not retry all objects if one of them should be retried. Retry only the right one(s)
  app/bundles/IntegrationsBundle/Sync/DAO/Sync/Order/OrderDAO.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/DAO/Sync/Order/OrderDAOTest.php
Labels: bug, code-review, pending-test-confirmation, plugin, cla-signed

#10871 Email dc multi select filter
  app/bundles/EmailBundle/EventListener/MatchFilterForLeadTrait.php
  app/bundles/EmailBundle/EventListener/TokenSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/MatchFilterForLeadTraitTest.php
Labels: bug, ready-to-commit, dynamic-content, email, cla-signed

#11197 Marketplace version fix
  app/bundles/CoreBundle/Tests/Unit/Helper/CookieHelperTest.php
  app/bundles/MarketplaceBundle/Collection/VersionCollection.php
  app/bundles/MarketplaceBundle/Command/InstallCommand.php
  app/bundles/MarketplaceBundle/Config/config.php
  app/bundles/MarketplaceBundle/Controller/CacheController.php
  app/bundles/MarketplaceBundle/Controller/Package/DetailController.php
  app/bundles/MarketplaceBundle/DTO/Allowlist.php
  app/bundles/MarketplaceBundle/DTO/AllowlistEntry.php
  app/bundles/MarketplaceBundle/DTO/PackageBase.php
  app/bundles/MarketplaceBundle/DTO/PackageDetail.php
  app/bundles/MarketplaceBundle/DTO/Version.php
  app/bundles/MarketplaceBundle/Model/PackageModel.php
  app/bundles/MarketplaceBundle/Service/Allowlist.php
  app/bundles/MarketplaceBundle/Service/PluginCollector.php
  app/bundles/MarketplaceBundle/Service/RouteProvider.php
  app/bundles/MarketplaceBundle/Tests/ApiResponse/allowlist.json
  app/bundles/MarketplaceBundle/Tests/Functional/Command/InstallCommandTest.php
  app/bundles/MarketplaceBundle/Tests/Functional/Controller/DetailControllerTest.php
  app/bundles/MarketplaceBundle/Tests/Functional/Controller/ListControllerTest.php
  app/bundles/MarketplaceBundle/Translations/en_US/messages.ini
  app/bundles/MarketplaceBundle/Views/Package/detail.html.php
  app/bundles/MarketplaceBundle/Views/Package/index.html.php
  app/bundles/MarketplaceBundle/Views/Package/install.html.php
  app/bundles/MarketplaceBundle/Views/Package/list.html.php
  app/bundles/MarketplaceBundle/Views/Package/remove.html.php
Labels: bug, pending-test-confirmation, cla-signed

#11200 Fix: The decision step ignores the preceding condition in the campaign
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Executioner/Helper/DecisionHelper.php
  app/bundles/CampaignBundle/Executioner/Helper/InactiveHelper.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/RealTimeExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/RealTimeExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Helper/InactiveHelperTest.php
Labels: bug, ready-to-commit, campaigns, cla-signed

#11259 Add default parameters to public method
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Tests/Unit/Loader/ParameterLoaderTest.php
Labels: ready-to-commit, ready-to-test, enhancement, cla-signed

#11258 Email address with two dots mark as invalid
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: bug, ready-to-commit, import-export, cla-signed

#11250 Disable default values
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Entity/Company.php
  app/bundles/LeadBundle/Entity/IdentifierFieldEntityInterface.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Field/FieldsWithUniqueIdentifier.php
  app/bundles/LeadBundle/Field/IdentifierFields.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Tests/Field/IdentifierFieldsTest.php
Labels: bug, ready-to-commit, contacts, cla-signed, custom-fields

#11255 Disable activity push
  app/bundles/IntegrationsBundle/Command/SyncCommand.php
  app/bundles/IntegrationsBundle/Event/SyncEvent.php
  app/bundles/IntegrationsBundle/Sync/DAO/Sync/InputOptionsDAO.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/SyncProcess.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/DAO/InputOptionsDAOTest.php
Labels: ready-to-commit, enhancement, plugin, cla-signed

#11284 Added getter method for originalIsPublishedValue so that we can read it
  app/bundles/LeadBundle/Entity/LeadField.php
Labels: ready-to-commit, contacts, cla-signed

#11253 Fix for all foreign tables segment filter with empty/notEmpty expression
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadTagData.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
Labels: bug, ready-to-commit, segments, cla-signed

#11254 Save plaintext to the Copy entity
  app/bundles/EmailBundle/Entity/Copy.php
  app/bundles/EmailBundle/Entity/CopyRepository.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/migrations/Version20200513162918.php
Labels: ready-to-commit, enhancement, cla-signed

#11300 change lead to company trans key
  app/bundles/LeadBundle/Views/Company/company.html.php
Labels: bug, translations, ready-to-commit, cla-signed
