Repository mautic/mautic, pull requests merged in 2022-03, with the labels that each got.

#10923 fix scaffolding issue in tests (4.x)
  app/assets/scaffold/files/htaccess
Labels: bug, ready-to-commit, cla-signed

#10894 restrict workflows with impact to mautic/mautic
  .github/workflows/build-grapesjs-assets.yml
  .github/workflows/release.yml
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: ready-to-commit, cla-signed, chore

#10886 Dynamic content events
  .gitmodules
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/DynamicContentEvents.php
  app/bundles/DynamicContentBundle/Event/ContactFiltersEvaluateEvent.php
  app/bundles/DynamicContentBundle/Helper/DynamicContentHelper.php
  app/bundles/DynamicContentBundle/Model/DynamicContentModel.php
  app/bundles/DynamicContentBundle/Tests/Helper/DynamicContentHelperTest.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterFactory.php
Labels: ready-to-commit, code-review, enhancement, dynamic-content, cla-signed

#10624 Allow composer scripts to use php-cs-fixer configuration to allow multiple files at once
  composer.json
Labels: ready-to-commit, enhancement, installation, cla-signed

#10003 Added provision to check if edited segment is new
  app/bundles/LeadBundle/Controller/ListController.php
Labels: ready-to-commit, enhancement, segments, cla-signed

#10922 fix scaffolding issue in tests
  app/assets/scaffold/files/htaccess
Labels: bug, ready-to-commit, cla-signed, chore

#10809 Fix segment membership filter build query
  app/bundles/LeadBundle/Segment/Query/Filter/SegmentReferenceFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
Labels: T3, bug, ready-to-commit, segments, cla-signed

#10800 Fix report date filter
  app/bundles/ReportBundle/Form/DataTransformer/ReportFilterDataTransformer.php
Labels: bug, ready-to-commit, cla-signed

#10620 Fix email translations lost and overwritten by parent
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  plugins/GrapesJsBuilderBundle/Model/GrapesJsBuilderModel.php
Labels: bug, ready-to-commit, code-review, email, cla-signed

#10474 Fix for Amazon API transport return-path when sending emails immediately
  app/bundles/EmailBundle/Swiftmailer/Transport/AmazonApiTransport.php
  app/bundles/EmailBundle/Tests/Transport/AmazonApiTransportTest.php
Labels: bug, ready-to-commit, email, email-integrations, cla-signed

#10375 Fix timezone on timeline
  app/bundles/CoreBundle/Helper/DateTimeHelper.php
Labels: bug, ready-to-commit, code-review, contacts, cla-signed

#10679 Fix API Permission Issue
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/FormBundle/Controller/Api/SubmissionApiController.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: bug, ready-to-commit, API, forms, roles, cla-signed

#10649 Fix integration special fields order
  app/bundles/PluginBundle/Views/FormTheme/Integration/fields_row.html.php
Labels: bug, ready-to-commit, plugin, cla-signed

#10897 Fix set import template to send custom email If use legacy builder
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: bug, ready-to-commit, builder-legacy, cla-signed

#10858 add v5 to bug reporting
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: ready-to-commit, cla-signed, chore

#10924 restrict workflows with impact to mautic/mautic (4.2)
  .github/workflows/build-grapesjs-assets.yml
  .github/workflows/release.yml
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: cla-signed

#10733 Fix primary email company tokens
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
Labels: bug, ready-to-commit, cla-signed

#10758 Validate admin password length during CLI install
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/bundles/InstallBundle/Translations/en_US/validators.ini
Labels: bug, ready-to-commit, installation, cla-signed

#10934 Update to use default release notes, remove file
  .github/release-notes.yml
  .github/workflows/release.yml
Labels: cla-signed, chore

#9335 Added support for MySQL full-text search queries
  app/bundles/CoreBundle/Doctrine/Helper/FulltextKeyword.php
  app/bundles/CoreBundle/Doctrine/Mapping/ClassMetadataBuilder.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Helper/FulltextKeywordTest.php
  app/composer.json
  app/config/config.php
  composer.lock
Labels: ready-to-commit, enhancement, cla-signed, hacktoberfest, hacktoberfest-accepted

#10734 Display just published fields in form field mapping
  app/bundles/FormBundle/Model/FieldModel.php
  app/bundles/FormBundle/Tests/Model/FieldModelFunctionalTest.php
  app/bundles/LeadBundle/Model/FieldModel.php
Labels: bug, ready-to-commit, forms, cla-signed, custom-fields

#10948 Fix for release notes regression
  .github/workflows/release.yml
Labels: ready-to-commit, cla-signed, chore

#10938 fix segments list order
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Views/List/list.html.php
Labels: bug, ready-to-commit, code-review, regression, segments, cla-signed

#9852 Feature new click filters
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/EventListener/FilterOperatorSubscriber.php
  app/bundles/LeadBundle/Form/DataTransformer/FieldFilterTransformer.php
  app/bundles/LeadBundle/Segment/Query/Filter/ChannelClickQueryBuilder.php
  app/bundles/LeadBundle/Services/ContactSegmentFilterDictionary.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadClickData.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadDncData.php
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadSegmentsData.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Entity/Hit.php
Labels: ready-to-commit, enhancement, segments, cla-signed

#10904 Segment query optimizatioin
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/DoNotContact/DoNotContactParts.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/DoNotContactFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/Segment/DoNotContact/DoNotContactPartsTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/ContactSegmentQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/DoNotContactFilterQueryBuilderTest.php
Labels: ready-to-commit, enhancement, cla-signed

#10884 Import validation
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Security/Permissions/CorePermissions.php
  app/bundles/LeadBundle/Command/ImportCommand.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Event/ImportValidateEvent.php
  app/bundles/LeadBundle/EventListener/ImportCompanySubscriber.php
  app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php
  app/bundles/LeadBundle/Field/FieldList.php
  app/bundles/LeadBundle/Form/Type/LeadImportFieldType.php
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Controller/ImportControllerTest.php
  app/bundles/LeadBundle/Tests/EventListener/ImportCompanySubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ImportContactSubscriberTest.php
  app/bundles/LeadBundle/Tests/Fixtures/contacts.csv
  app/bundles/LeadBundle/Translations/en_US/flashes.ini
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/UserBundle/Entity/User.php
Labels: ready-to-commit, enhancement, import-export, cla-signed

#10931 Migration fixes
  app/migrations/Version20201120122846.php
  app/migrations/Version20201125155904.php
Labels: bug, ready-to-commit, regression, cla-signed, db-migrations

#10224 Fix prevent save alias of contact field already used in segments
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Form/Validator/Constraints/FieldAliasKeywordValidator.php
  app/bundles/LeadBundle/Tests/Form/Validator/Constraints/FieldAliasKeywordValidatorTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
Labels: T1, bug, ready-to-commit, segments, cla-signed, custom-fields

#10971 Fix public preview email for expired emails
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: bug, ready-to-commit, email, cla-signed

#10977 Small grammar fix
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: bug, translations, ready-to-commit, cla-signed

#10890 Segment delegate decorator event
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Event/LeadListFiltersDecoratorDelegateEvent.php
  app/bundles/LeadBundle/Event/SegmentDictionaryGenerationEvent.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilter.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterCrate.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterFactory.php
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/Decorator/DecoratorFactory.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/QueryBuilder.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/DecoratorFactoryTest.php
Labels: ready-to-commit, enhancement, segments, cla-signed

#10849 Export to CSV and Excel creates contact duplicates
  app/bundles/LeadBundle/Controller/LeadController.php
Labels: bug, ready-to-commit, import-export, cla-signed

#10985 Missing include/exclude operator for text field in segment filters
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/EventListener/FilterOperatorSubscriber.php
Labels: bug, ready-to-commit, code-review, regression, segments, cla-signed

#11003 Fixing BC change after moving some segment filters to behaviors
  app/bundles/LeadBundle/Form/Type/FilterType.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: bug, ready-to-test, regression, segments, cla-signed

#11000 Fixes updating the contact's primary company when all companies are removed or one of many companies are removed
  app/bundles/LeadBundle/DataFixtures/ORM/LoadLeadData.php
  app/bundles/LeadBundle/Entity/CompanyLeadRepository.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: bug, ready-to-commit, companies, contacts, cla-signed

#10872 Special characters of the text getting corrupted while posting results to another form
  app/bundles/FormBundle/Event/SubmissionEvent.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
Labels: bug, ready-to-commit, forms, cla-signed

#11012 Fix changelog in release.yml
  .github/workflows/release.yml
Labels: cla-signed, chore

#11014 Move release notes to separate file
  .github/release.yml
  .github/workflows/release.yml
Labels: cla-signed, chore
