Repository mautic/mautic, pull requests merged in 2023-05, with the labels that each got.

#12279 TPROD-445: Call to deprecated method getDoctrine() of class
  app/bundles/ApiBundle/Controller/ClientController.php
  app/bundles/ApiBundle/Controller/CommonApiController.php
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/ApiBundle/Tests/Controller/CommonApiControllerTest.php
  app/bundles/AssetBundle/Controller/Api/AssetApiController.php
  app/bundles/CampaignBundle/Controller/Api/CampaignApiController.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CategoryBundle/Controller/BatchContactController.php
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/ChannelBundle/Controller/Api/MessageApiController.php
  app/bundles/ChannelBundle/Controller/BatchContactController.php
  app/bundles/ChannelBundle/Controller/MessageController.php
  app/bundles/ConfigBundle/Controller/SysinfoController.php
  app/bundles/CoreBundle/Controller/AbstractFormController.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/Api/ThemeApiController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Controller/FormController.php
  app/bundles/CoreBundle/Tests/EventListener/CoreSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Controller/AbstractFormControllerTest.php
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/AjaxControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Controller/AuditlogController.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Controller/LeadDetailsTrait.php
  app/bundles/LeadBundle/Controller/TimelineController.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerTest.php
  app/bundles/NotificationBundle/Controller/Api/NotificationApiController.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PointBundle/Controller/Api/TriggerApiController.php
  app/bundles/UserBundle/Controller/Api/UserApiController.php
  app/bundles/WebhookBundle/Controller/Api/WebhookApiController.php
  app/bundles/WebhookBundle/Controller/WebhookController.php
Labels: ready-to-commit, refactoring

#10726 Display the form success and error message at the bottom
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Form/Type/ConfigFormType.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Resources/views/Builder/_style.html.twig
  app/bundles/FormBundle/Resources/views/Builder/form.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: T1, pending-test-confirmation, user-experience, forms, cla-signed

#12048 [DPMMA-2099] Page hit campaign condition
  app/bundles/CampaignBundle/Tests/Controller/VisitedPageConditionControllerFunctionalTest.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/CampaignConditionLeadPageHitType.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Translations/en_US/messages.ini
Labels: T2, ready-to-commit, enhancement, campaigns, cla-signed, mautic-5

#12286 replaced isPrimaryKey() with makePrimaryKey()
  app/bundles/ApiBundle/Entity/oAuth2/AccessToken.php
  app/bundles/ApiBundle/Entity/oAuth2/AuthCode.php
  app/bundles/ApiBundle/Entity/oAuth2/RefreshToken.php
  app/bundles/CampaignBundle/Entity/Lead.php
  app/bundles/EmailBundle/Entity/Copy.php
  app/bundles/LeadBundle/Entity/Company.php
  app/bundles/LeadBundle/Entity/CompanyLead.php
  app/bundles/NotificationBundle/Entity/PushID.php
  app/bundles/PageBundle/Entity/Trackable.php
  app/bundles/PluginBundle/Entity/Integration.php
Labels: ready-to-commit, mautic-5, refactoring

#12288 TPROD-448: Type Depreciation
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/IntegrationsBundle/Entity/ObjectMapping.php
  app/bundles/ReportBundle/Entity/Report.php
Labels: ready-to-commit, refactoring

#12270 TPROD-432 : Install chosen.js via npm
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/libraries/3a.chosen.jquery.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  composer.json
  package-lock.json
  package.json
  patches/chosen-js+1.8.7.patch
Labels: pending-feedback, refactoring

#12131 Segment rebuild improvements
  app/bundles/LeadBundle/Event/ListChangeEvent.php
  app/bundles/LeadBundle/EventListener/TimelineEventLogSegmentSubscriber.php
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/config/config.php
  app/config/config_test.php
Labels: enhancement, segments, cla-signed, performance-scalability

#12284 Fix typo in SMS bundle
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: translations, ready-to-commit

#12281 Twig fixes and cleanup
  app/bundles/ApiBundle/EventListener/SearchSubscriber.php
  app/bundles/AssetBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/AssetBundle/EventListener/LeadSubscriber.php
  app/bundles/AssetBundle/EventListener/SearchSubscriber.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/EventListener/SearchSubscriber.php
  app/bundles/ChannelBundle/EventListener/CampaignSubscriber.php
  app/bundles/ChannelBundle/EventListener/LeadSubscriber.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CoreBundle/Resources/views/Default/slim.html.twig
  app/bundles/DashboardBundle/Controller/AjaxController.php
  app/bundles/DynamicContentBundle/EventListener/CampaignSubscriber.php
  app/bundles/DynamicContentBundle/EventListener/LeadSubscriber.php
  app/bundles/EmailBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/EmailBundle/EventListener/LeadSubscriber.php
  app/bundles/EmailBundle/EventListener/SearchSubscriber.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/FormBundle/EventListener/LeadSubscriber.php
  app/bundles/FormBundle/EventListener/SearchSubscriber.php
  app/bundles/IntegrationsBundle/Controller/AuthController.php
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
  app/bundles/IntegrationsBundle/Controller/FieldPaginationController.php
  app/bundles/IntegrationsBundle/EventListener/TimelineSubscriber.php
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/EventListener/SearchSubscriber.php
  app/bundles/MarketplaceBundle/Controller/Package/InstallController.php
  app/bundles/MarketplaceBundle/Controller/Package/RemoveController.php
  app/bundles/NotificationBundle/EventListener/CampaignSubscriber.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/PageBundle/EventListener/LeadSubscriber.php
  app/bundles/PageBundle/EventListener/SearchSubscriber.php
  app/bundles/ReportBundle/EventListener/DashboardSubscriber.php
  app/bundles/ReportBundle/EventListener/SearchSubscriber.php
  app/bundles/SmsBundle/EventListener/LeadSubscriber.php
  app/bundles/StageBundle/EventListener/SearchSubscriber.php
  app/bundles/UserBundle/EventListener/SearchSubscriber.php
  plugins/MauticSocialBundle/Controller/AjaxController.php
Labels: bug, ready-to-commit, regression

#12274 rework conditional for getting joinIpAddresses
  app/bundles/LeadBundle/Entity/LeadRepository.php
Labels: ready-to-commit, regression

#12249 Fix contact event logs when a contact is added to a segment
  app/bundles/LeadBundle/Model/ListModel.php
Labels: ready-to-commit

#11549 Add threads support for broadcast command
  app/bundles/ChannelBundle/Command/SendChannelBroadcastCommand.php
  app/bundles/ChannelBundle/Event/ChannelBroadcastEvent.php
  app/bundles/ChannelBundle/Tests/Event/ChannelBroadcastEventTest.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/SmsBundle/Broadcast/BroadcastExecutioner.php
  app/bundles/SmsBundle/Config/config.php
Labels: ready-to-commit, enhancement, cla-signed

#10347 Add support Redis lock system for commands
  app/bundles/CampaignBundle/Command/SummarizeCommand.php
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Command/UpdateLeadCampaignsCommand.php
  app/bundles/ChannelBundle/Command/ProcessMarketingMessagesQueueCommand.php
  app/bundles/ChannelBundle/Command/SendChannelBroadcastCommand.php
  app/bundles/CoreBundle/Command/ModeratedCommand.php
  app/bundles/CoreBundle/Tests/Unit/Command/ModeratedCommandTest.php
  app/bundles/EmailBundle/Command/ProcessEmailQueueCommand.php
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  plugins/MauticCitrixBundle/Command/SyncCommand.php
Labels: T2, ready-to-commit, ready-to-test, enhancement, cla-signed

#12250 Bug 12055 - translate popup text for saving dashboard
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
Labels: T1, bug, translations, dashboard

#12303 Fixing dependencies for 3 commands after some PRs were merged
  app/bundles/CoreBundle/Command/CleanupMaintenanceCommand.php
  app/bundles/CoreBundle/Command/UnusedIpDeleteCommand.php
  app/bundles/CoreBundle/Tests/Unit/Command/ModeratedCommandTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/LeadBundle/Field/Command/CreateCustomFieldCommand.php
  app/bundles/LeadBundle/Tests/Command/CreateCustomFieldCommandTest.php
Labels: ready-to-commit, regression, essential

#12316 TPROD-456: Fix Types
  app/bundles/DashboardBundle/Entity/Widget.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/IntegrationsBundle/Entity/FieldChange.php
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Entity/LeadEventLog.php
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/LeadBundle/Entity/UtmTag.php
  app/bundles/ReportBundle/Entity/Scheduler.php
  app/bundles/WebhookBundle/Entity/Log.php
  plugins/GrapesJsBuilderBundle/Entity/GrapesJsBuilder.php
  plugins/MauticSocialBundle/Entity/Tweet.php
Labels: code-review, refactoring

#12098 [DPMMA-2108] Add UTM to Asset download
  app/bundles/AssetBundle/Entity/Download.php
  app/bundles/AssetBundle/EventListener/ReportSubscriber.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/migrations/Version20230321133733.php
Labels: feature, pending-test-confirmation, assets, cla-signed

#12206 Removing index_dev.php
  .ddev/.env.dist
  .ddev/.env.test.local
  .ddev/mautic-setup.sh
  .env
  .env.test
  .gitignore
  .gitpod.yml
  .htaccess
  UPGRADE-5.0.md
  app/AppKernel.php
  app/assets/js/app.js
  app/assets/js/mautic-form-src.js
  app/assets/js/mautic-form.js
  app/assets/scaffold/build/exclude_files.txt
  app/assets/scaffold/files/.env
  app/assets/scaffold/files/.env.dist
  app/assets/scaffold/files/bootstrap.php
  app/assets/scaffold/files/console
  app/assets/scaffold/files/example.gitignore
  app/assets/scaffold/files/htaccess
  app/assets/scaffold/files/index.php
  app/assets/scaffold/files/index_dev.php
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/CoreBundle/EventListener/RouterSubscriber.php
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Loader/EnvVars/SiteUrlEnvVars.php
  app/bundles/CoreBundle/Test/EnvLoader.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/AssetsHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/FormatterHelperTest.php
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/bundles/DashboardBundle/Assets/js/dashboard.js
  app/bundles/FormBundle/Assets/WebhookPayload/form_on_submit.json
  app/bundles/FormBundle/Resources/views/Builder/_script.html.twig
  app/bundles/PageBundle/Assets/WebhookPayload/page_on_hit.json
  app/bundles/PageBundle/DataFixtures/ORM/fakepagehitdata.csv
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/composer.json
  app/config/bootstrap.php
  app/phpunit.xml.dist
  bin/console
  composer.lock
  index.php
  index_dev.php
  media/js/mautic-form-src.js
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
  plugins/GrapesJsBuilderBundle/Demo/mautic/index.html
Labels: cla-signed, mautic-5, refactoring

#12099 [DPMMA-716] Add new condition DNC to campaigns
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/CampaignEventLeadDNCType.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, pending-test-confirmation, enhancement, campaigns, cla-signed

#11947 Minify HTML email
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/email/email-minify.html
  app/bundles/CoreBundle/Tests/Unit/Helper/resource/email/email-no-minify.html
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: T1, feature, ready-to-commit, cla-signed, performance-scalability

#12321 Install At.js via npm
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/libraries/4i.jquery.at.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
  patches/at.js+1.5.4.patch
Labels: enhancement, refactoring

#12337 Moving githook scripts to classic script syntax
  composer.json
Labels: bug

#12326 change EM::clear to detach of similar solution in Asset bundle TPROD-399
  app/bundles/AssetBundle/Tests/Asset/AbstractAssetTest.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/Controller/AssetDetailFunctionalTest.php
Labels: T1, ready-to-commit, assets, refactoring

#12306 EM::clear() refactoring Remove deprecated call from LeadBundle.
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/LeadBundle/Deduplicate/ContactDeduper.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/LeadEventLog.php
  app/bundles/LeadBundle/Entity/MergeRecordRepository.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactDeduperTest.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelFunctionalTest.php
  app/bundles/PageBundle/Model/PageModel.php
Labels: ready-to-commit, contacts, refactoring

#12341 change EM::clear to detach in integration bundle TPROD-399
  app/bundles/IntegrationsBundle/EventListener/LeadSubscriber.php
  app/bundles/IntegrationsBundle/Sync/Helper/MappingHelper.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
Labels: T1, ready-to-commit, refactoring

#12342 change EM::clear to detach in plugin bundle TPROD-399
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
Labels: T1, ready-to-commit, plugin, refactoring

#12346 Using git tag instead of branch for history.js as it caused ssh issue…
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: bug, ready-to-commit, regression

#12328 change EM::clear to detach of similar solution in channel bundle TPROD-399
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
Labels: T2, ready-to-commit, channels, refactoring

#12327 change EM::clear to detach of similar solution in campaign bundle TPROD-399
  app/bundles/CampaignBundle/Tests/Command/Api/EventLogApiControllerTest.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
  app/bundles/CampaignBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/SourceControllerTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/JumpToActionTest.php
Labels: T1, ready-to-commit, campaigns, refactoring

#12353 removing em->clear to other options on Point Bundle TPROD-399
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/PointBundle/Tests/Entity/PointEntityValidationTest.php
  app/bundles/PointBundle/Tests/Functional/EmailTriggerTest.php
Labels: mautic-5, refactoring

#12329 change EM::clear to detach of similar solution in dynamic content bundle TPROD-399
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
Labels: T2, ready-to-test, dynamic-content, refactoring

#12354 PROD-399 Remove deprecated Repository::clear.
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Helper/DataExporterHelper.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Controller/LeadDetailsTrait.php
  app/bundles/LeadBundle/EventListener/TimelineEventLogSegmentSubscriber.php
  app/bundles/LeadBundle/Model/DoNotContact.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Resources/views/Company/form_fields.html.twig
Labels: bug, ready-to-commit, refactoring

#12364 Deprecating Pipedrive
  app/migrations/Version20230519081315.php
  plugins/MauticCrmBundle/Command/FetchPipedriveDataCommand.php
  plugins/MauticCrmBundle/Command/PushDataToPipedriveCommand.php
  plugins/MauticCrmBundle/Integration/PipedriveIntegration.php
Labels: bug, plugin, deprecation

#12357 TPROD-444 Removing unused JS library jquery-color
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  package-lock.json
  package.json
Labels: bug, ready-to-test, performance-scalability, refactoring

#12081 remove all pipedrive related files and functions
  app/bundles/LeadBundle/Entity/CustomFieldEntityTrait.php
  app/migrations/Version20230311195347.php
  app/migrations/Version20230321133733.php
  app/migrations/Version20230519154448.php
  phpstan-baseline.neon
  plugins/MauticCrmBundle/Api/PipedriveApi.php
  plugins/MauticCrmBundle/Command/FetchPipedriveDataCommand.php
  plugins/MauticCrmBundle/Command/PushDataToPipedriveCommand.php
  plugins/MauticCrmBundle/Config/config.php
  plugins/MauticCrmBundle/Config/services.php
  plugins/MauticCrmBundle/Controller/PipedriveController.php
  plugins/MauticCrmBundle/Entity/PipedriveOwner.php
  plugins/MauticCrmBundle/EventListener/CompanySubscriber.php
  plugins/MauticCrmBundle/EventListener/LeadSubscriber.php
  plugins/MauticCrmBundle/Integration/Pipedrive/AbstractPipedrive.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Export/CompanyExport.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Export/LeadExport.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Import/AbstractImport.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Import/CompanyImport.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Import/LeadImport.php
  plugins/MauticCrmBundle/Integration/Pipedrive/Import/OwnerImport.php
  plugins/MauticCrmBundle/Integration/PipedriveIntegration.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Command/FetchPipedriveDataCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Command/PushDataToPipedriveCommandTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Controller/PipedriveControllerTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Delete/organizations/66.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Delete/persons/99.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Get/organizations.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Get/personFields.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Get/persons.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Get/users.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Post/organizations.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Post/persons.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Post/persons/99.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Post/persons/find.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Put/organizations/66.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Put/persons.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Put/persons/99.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/Api/Put/persons/find.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/organization.added.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/organization.deleted.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/organization.updated.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/person.added.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/person.deleted.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/person.updated.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/personFields.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/user.added.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Data/user.updated.json
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/CompanyExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Export/LeadExportTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/CompanyTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/LeadTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/Import/OwnerTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
  plugins/MauticCrmBundle/Translations/en_US/messages.ini
Labels: pending-test-confirmation, plugin, bc-break, cla-signed

#12339 change EM::clear to detach in form bundle TPROD-399
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
Labels: T1, code-review, forms, refactoring

#12361 Remove deprecated EntityManager::clear.
  app/bundles/ChannelBundle/Entity/MessageQueueRepository.php
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/SmsBundle/Broadcast/BroadcastExecutioner.php
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Model/SmsModel.php
  plugins/MauticCitrixBundle/Model/CitrixModel.php
  plugins/MauticCrmBundle/Integration/ConnectwiseIntegration.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/DynamicsIntegration.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
Labels: code-review, refactoring

#12359 Jvectormap next
  UPGRADE-5.0.md
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/css/libraries/other/jqvmap.less
  app/bundles/CoreBundle/Assets/js/libraries/52.jvectormap.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: bug, refactoring

#12372 TPROD-439 Loading Quicksearch JS from NPM and loading the latest version
  UPGRADE-5.0.md
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/libraries/13.jquery.quicksearch.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: bug, pending-test-confirmation, refactoring

#12373 jQuery and other libraries update into max minor versions
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  package-lock.json
  package.json
Labels: bug, pending-test-confirmation, refactoring

#12374 Simplifying grunt
  Gruntfile.js
  app/assets/scaffold/files/Gruntfile.js
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  package-lock.json
  package.json
Labels: bug, ready-to-test, refactoring

#12381 Replacing HistoryJS with native history browser api
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: pending-test-confirmation, performance-scalability, refactoring

#12379 Remove Doctrine getHost() and similar functions
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/ConfigBundle/Model/SysinfoModel.php
  app/bundles/CoreBundle/Doctrine/Connection/ConnectionWrapper.php
  app/bundles/CoreBundle/Doctrine/Connection/PrimaryReadReplicaConnectionWrapper.php
  app/bundles/CoreBundle/Helper/Update/PreUpdateChecks/CheckDatabaseDriverAndVersion.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
  app/migrations/Version20200302164801.php
  app/migrations/Version20200422144300.php
Labels: bug, ready-to-test, code-review, refactoring

#12376 TPROD: Move rector rules to sets
  rector.php
Labels: code-review, regression, refactoring

#11894 [DPMMA-1977] Form results export: lead id and submission id
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Resources/views/Result/export.html.twig
  app/bundles/FormBundle/Tests/Model/SubmissionModelTest.php
  app/bundles/PageBundle/Resources/views/Result/export.html.twig
Labels: T1, ready-to-commit, pending-feedback, cla-signed, mautic-5

#12394 jQuery UI update
  UPGRADE-5.0.md
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/libraries/4.jquery-ui.js
  app/bundles/CoreBundle/Assets/js/libraries/8b.ui.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: bug, ready-to-test, refactoring

#12399 Fix broken twig templates
  app/bundles/ChannelBundle/Resources/views/Message/form.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/form.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/form_tabbed.html.twig
Labels: bug, code-review, pending-test-confirmation, regression

#11324 Transliterate filenames in elFinder
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/config/config.php
Labels: T1, pending-test-confirmation, enhancement, cla-signed

#12104 [DPMMA-2075] Including totals row in report export and increased precision for average
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/FormatterHelperTest.php
  app/bundles/CoreBundle/Twig/Helper/FormatterHelper.php
  app/bundles/ReportBundle/Config/config.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Crate/ReportDataResult.php
  app/bundles/ReportBundle/Model/CsvExporter.php
  app/bundles/ReportBundle/Model/ExcelExporter.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/export.html.twig
  app/bundles/ReportBundle/Tests/Controller/ReportControllerFunctionalTest.php
  app/bundles/ReportBundle/Tests/Crate/ReportDataResultTest.php
  app/bundles/ReportBundle/Tests/Fixtures.php
  app/bundles/ReportBundle/Tests/Model/CsvExporterTest.php
  app/bundles/ReportBundle/Tests/Model/ExcelExporterTest.php
Labels: enhancement, reports, cla-signed, refactoring

#12402 Modernizr update
  UPGRADE-5.0.md
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/scrollbar.less
  app/bundles/CoreBundle/Assets/js/libraries/1.modernizr.js
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  modernizr-config.json
  package-lock.json
  package.json
Labels: ready-to-test, enhancement, refactoring

#12358 Removing files forgotten to be removed in 11865
  .github/workflows/tests.yml
  app/assets/css/app.css
  app/assets/css/libraries.css
  app/assets/js/app.js
  app/assets/js/libraries.js
  app/assets/js/mautic-form.js
  app/bundles/CoreBundle/Command/GenerateProductionAssetsCommand.php
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  app/bundles/CoreBundle/Helper/PathsHelper.php
Labels: bug, refactoring

#12391 chore: update regions for Austria, Germany, Liechtenstein, Switzerland
  .github/workflows/tests.yml
  UPGRADE-5.0.md
  app/bundles/CoreBundle/Assets/json/regions.json
  app/migrations/Version20230525202700.php
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
Labels: bug

#12401 TPROD: Fix Repo names in plugins
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticSocialBundle/Helper/TwitterCommandHelper.php
  plugins/MauticSocialBundle/Model/PostCountModel.php
Labels: bug, regression, refactoring

#12383 Tprod 457 json serialize return types
  app/assets/scaffold/files/modernizr-config.json
  app/bundles/CoreBundle/Release/Metadata.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO/AttachementDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO/AttachmentDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/ContentDTO/FromDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/OptionsDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/RecipientDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/DTO/TransmissionDTO/RecipientDTO/AddressDTO.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Service/SwiftMessageService.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Facade/MomentumFacadeTest.php
  app/composer.json
Labels: bug, refactoring

#12403 Avoid using empty expression + applyTagFilter moved
  UPGRADE-5.0.md
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Form/Type/FilterSelectorType.php
  app/bundles/ReportBundle/Tests/Builder/MauticReportBuilderTest.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: bug, ready-to-commit, refactoring

#12398 Dashboard widget with segments build time
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/LeadBundle/EventListener/DashboardSubscriber.php
  app/bundles/LeadBundle/Form/Type/DashboardSegmentsBuildTime.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: feature, dashboard

#11838 Add an extra Emoji exception for Outlook rendering
  app/bundles/CoreBundle/Helper/EmojiMap/ShortToUnicodeEmojiMap.php
Labels: bug, ready-to-commit, cla-signed

#12414 bump to 4.4.9
  app/release_metadata.json
Labels: chore

#12245 Remove DoNotContact entities from memory when already used.
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Model/DoNotContact.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: enhancement, contacts, performance-scalability, refactoring
