Repository mautic/mautic, pull requests merged in 2023-04, with the labels that each got.

#12157 bugfix for #12127 to solve failing tests
  app/bundles/CampaignBundle/Tests/Command/SummarizeCommandTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
Labels: bug, cla-signed, automated-tests

#12161 Replacing controller syntax for Symfony 5 that was forgotten from #11063
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/LeadBundle/Config/config.php
Labels: bug, ready-to-commit, cla-signed, refactoring

#12163 Fixing missed template include syntax
  app/bundles/IntegrationsBundle/Resources/views/Config/form.html.twig
  app/bundles/ReportBundle/Resources/views/Report/details_data_graphs.html.twig
  plugins/MauticFocusBundle/Resources/views/Builder/Bar/parent.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/Bar/style.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/Modal/parent.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/Modal/style.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/content.html.twig
  plugins/MauticFocusBundle/Resources/views/Builder/generate.js.twig
  plugins/MauticFocusBundle/Resources/views/Builder/parent.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/style.less.twig
  plugins/MauticFocusBundle/Tests/Twig/Fixtures/filters/less_compile.test
  plugins/MauticFocusBundle/Tests/Twig/TwigIntegrationTest.php
  plugins/MauticFocusBundle/Twig/Extension/FocusBundleExtension.php
Labels: bug, ready-to-commit, regression, cla-signed

#12008 Remove Deprecation For EnvLoader
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/EnvLoader.php
  app/bundles/CoreBundle/Tests/Unit/Loader/ParameterLoaderTest.php
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/InstallBundle/Tests/Install/InstallSchemaTest.php
  app/config/config_test.php
Labels: ready-to-commit, cla-signed, chore, mautic-5, refactoring

#12170 TPROD-379 FormError message cannot be null
  app/bundles/LeadBundle/Tests/EventListener/ImportCompanySubscriberTest.php
Labels: bug, ready-to-commit, cla-signed, refactoring

#12172 TPROD-370 - Fixed - Calling "Symfony\Bundle\FrameworkBundle\Test\WebTestCase::cre…
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
Labels: cla-signed

#12174 [TPROD-388] Set "twig.exception_controller" configuration key to "null".
  app/config/config.php
Labels: ready-to-commit, cla-signed, refactoring

#12175 Remove config deprecations for DoctrineMigrationsBundle.
  app/config/config.php
Labels: ready-to-commit, cla-signed, refactoring

#12173 Form widget deprecation notice fix
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_widget.html.twig
Labels: T1, bug, ready-to-test, regression, segments, cla-signed, refactoring

#12171 Date time type refactoring
  app/bundles/AssetBundle/Config/services.php
  app/bundles/AssetBundle/Form/Type/AssetType.php
  app/bundles/CampaignBundle/Form/Type/CampaignType.php
  app/bundles/CampaignBundle/Form/Type/EventType.php
  app/bundles/CoreBundle/Form/Type/AbstractFormStandardType.php
  app/bundles/CoreBundle/Form/Type/DatePickerType.php
  app/bundles/CoreBundle/Form/Type/PublishDownDateType.php
  app/bundles/CoreBundle/Form/Type/PublishUpDateType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/NoteType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationType.php
  app/bundles/NotificationBundle/Form/Type/NotificationType.php
  app/bundles/PageBundle/Form/Type/PagePublishDatesType.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PointBundle/Form/Type/PointType.php
  app/bundles/PointBundle/Form/Type/TriggerType.php
  app/bundles/ReportBundle/Form/Type/DynamicFiltersType.php
  app/bundles/SmsBundle/Form/Type/SmsType.php
  app/bundles/StageBundle/Form/Type/StageType.php
  plugins/MauticFocusBundle/Form/Type/FocusType.php
  plugins/MauticSocialBundle/Form/Type/MonitoringType.php
Labels: ready-to-commit, cla-signed, refactoring

#12179 TPROD-374: Updated testcase to fix DomCrawler::text() passing second argument `false`.
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/ImportControllerFunctionalTest.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/TagControllerTest.php
Labels: cla-signed

#12105 Bugfix 12063 - 500 Error when changing tag in a Contact and clicking save&close [4.x]
  app/bundles/LeadBundle/Views/Auditlog/details.html.php
Labels: T1, bug, ready-to-commit, code-review, needs-rebase, contacts, tags, cla-signed

#12181 TPROD-385 - "lightsaml/sp-bundle" upgraded to dev-symfony5
  .github/ci-files/composer.json
  app/bundles/UserBundle/Security/SAML/Store/CredentialsStore.php
  app/composer.json
  composer.json
  composer.lock
Labels: bug, ready-to-test, cla-signed, refactoring

#12189 TPROD-410: Remove dependency on stack/run
  app/assets/scaffold/files/index.php
  app/assets/scaffold/files/index_dev.php
  app/composer.json
  composer.lock
  index.php
  index_dev.php
Labels: ready-to-commit, has-conflicts, cla-signed, mautic-5, refactoring

#12147 Remove LinkedIn from core
  app/bundles/InstallBundle/Translations/en_US/fixtures.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PluginBundle/Translations/en_US/messages.ini
  plugins/MauticSocialBundle/Command/MonitorTwitterBaseCommand.php
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/Form/Type/LinkedInType.php
  plugins/MauticSocialBundle/Integration/LinkedInIntegration.php
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
Labels: T1, code-review, cla-signed, mautic-5

#12198 Use the tokenmanager to validate CSRF tokens
  app/bundles/CoreBundle/EventListener/RequestSubscriber.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/RequestSubscriberTest.php
Labels: ready-to-commit, cla-signed, refactoring

#12194 Use provided manager instead of injected.
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/DataFixtures/ORM/LoadCategorizedLeadListData.php
  app/bundles/LeadBundle/DataFixtures/ORM/LoadCategoryData.php
  app/bundles/LeadBundle/DataFixtures/ORM/LoadLeadData.php
  plugins/MauticCitrixBundle/Config/config.php
  plugins/MauticCitrixBundle/Tests/DataFixtures/ORM/LoadCitrixData.php
Labels: ready-to-commit, cla-signed, refactoring

#12193 Remove deprecated %kernel.project_dir% from config.
  app/bundles/LeadBundle/Config/config.php
Labels: ready-to-commit, cla-signed, refactoring

#12199 Remove unused WebfactoryExceptionsBundle dev dependency
  app/AppKernel.php
  app/config/routing_dev.php
  composer.json
  composer.lock
Labels: ready-to-commit, cla-signed, refactoring

#12201 add compatibility for monolog 2
  app/bundles/CoreBundle/Helper/UpdateHelper.php
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/EmailBundle/Swiftmailer/Momentum/Facade/MomentumFacade.php
  app/bundles/EmailBundle/Swiftmailer/SendGrid/SendGridApiResponse.php
  app/bundles/EmailBundle/Tests/Swiftmailer/Momentum/Facade/MomentumFacadeTest.php
  app/bundles/EmailBundle/Tests/Swiftmailer/SendGrid/SendGridApiResponseTest.php
  app/bundles/LeadBundle/EventListener/DoctrineSubscriber.php
  app/bundles/LeadBundle/Field/CustomFieldColumn.php
  app/bundles/LeadBundle/Field/CustomFieldIndex.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Tracker/ContactTracker.php
  app/bundles/LeadBundle/Tracker/DeviceTracker.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/SmsBundle/Integration/Twilio/TwilioTransport.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
Labels: ready-to-commit, cla-signed, refactoring

#12200 make CacheProvider:: clear() compatible with method signature of symfony 5
  app/bundles/CacheBundle/Cache/CacheProvider.php
  phpstan.neon
Labels: cla-signed, refactoring

#12185 TPROD: Fix Property Access
  app/bundles/LeadBundle/Model/ListModel.php
Labels: bug, cla-signed, refactoring

#12207 Fixing saving campaigns
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
Labels: bug, ready-to-commit, regression, campaigns, cla-signed

#12116 DateTimeHelper use local timezone from configuration not from server
  app/bundles/CoreBundle/Helper/DateTimeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/DateTimeHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/DateHelperTest.php
  app/bundles/LeadBundle/Tests/Form/DataTransformer/FieldFilterTransformerTest.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldHelperTest.php
  app/bundles/ReportBundle/Tests/Model/CsvExporterTest.php
Labels: T1, bug, ready-to-commit, cla-signed

#12210 Adding a test showing the bug
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Tests/Controller/Api/ContactCampaignApiControllerFunctionalTest.php
Labels: bug, regression, campaigns, cla-signed

#12209 TPROD-386 - "discovery.html.twig" moved to Symfony 5 recommended path
  app/bundles/CoreBundle/Tests/Functional/SamlTest.php
  templates/bundles/LightSamlSpBundle/discovery.html.twig
Labels: pending-test-confirmation, cla-signed, refactoring

#12212 switch to self generated default SAML certificate
  app/bundles/UserBundle/Security/SAML/Store/CredentialsStore.php
  app/bundles/UserBundle/Tests/Security/SAML/Store/CredentialsStoreTest.php
Labels: bug, cla-signed, refactoring

#12195 [TPROD-399]: Contact merger should not use repository::clear.
  app/bundles/LeadBundle/Deduplicate/ContactMerger.php
Labels: ready-to-commit, cla-signed, refactoring

#12192 TPROD-399 Removed Doctrine deprecations from Campaign mautic:campaigns:rebuild command.
  app/bundles/CampaignBundle/Membership/MembershipBuilder.php
Labels: ready-to-commit, cla-signed, refactoring

#12203 Add exit code to some mautic commands for mautic 5
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Command/UpdateLeadCampaignsCommand.php
  app/bundles/WebhookBundle/Command/ProcessWebhookQueuesCommand.php
Labels: ready-to-commit, enhancement, cla-signed, mautic-5

#11963 Add exit code to some mautic commands
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Command/UpdateLeadCampaignsCommand.php
  app/bundles/WebhookBundle/Command/ProcessWebhookQueuesCommand.php
Labels: bug, ready-to-commit, cla-signed

#12165 The add tag action exists for campaign forms (not just standalone forms)
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
Labels: T1, ready-to-commit, enhancement, forms, tags, cla-signed

#12215 Removing a deprecation about min needing also allowEmptyString
  app/bundles/LeadBundle/Tests/Validator/Constraints/LengthValidatorTest.php
Labels: bug, ready-to-commit, cla-signed, refactoring

#11478 Add lock support on maintenances commands
  app/bundles/CoreBundle/Command/CleanupMaintenanceCommand.php
  app/bundles/CoreBundle/Command/UnusedIpDeleteCommand.php
  app/bundles/CoreBundle/Tests/Command/CleanupMaintenanceCommandTest.php
Labels: ready-to-commit, enhancement, cla-signed

#12216 Remove email config from installer
  .ddev/local.config.php.dist
  .ddev/mautic-setup.sh
  UPGRADE-5.0.md
  app/AppKernel.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/InstallBundle/Command/InstallCommand.php
  app/bundles/InstallBundle/Config/config.php
  app/bundles/InstallBundle/Configurator/Form/EmailStepType.php
  app/bundles/InstallBundle/Configurator/Step/EmailStep.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/Resources/views/Install/email.html.twig
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
Labels: pending-test-confirmation, email, email-integrations, cla-signed, refactoring

#12052 Normalize report data If contact or company use bool/select/multisele…
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/EventListener/ReportNormalizeSubscriber.php
  app/bundles/LeadBundle/Helper/CustomFieldValueHelper.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/EventListener/ReportNormalizeSubscriberTest.php
Labels: ready-to-commit, enhancement, reports, cla-signed, mautic-5

#12186 Add contact segment membership webhook
  app/bundles/LeadBundle/Event/ListChangeEvent.php
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, webhooks, cla-signed

#12167 Fix owner tokens to store to email stats
  app/bundles/CoreBundle/Event/TokenReplacementEvent.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/EventListener/TokenSubscriber.php
  app/bundles/LeadBundle/EventListener/OwnerSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
Labels: T1, bug, ready-to-commit, enhancement, cla-signed, performance-scalability

#12000 Support lock for mautic:custom-field:create-column command
  app/bundles/LeadBundle/Field/Command/CreateCustomFieldCommand.php
  app/bundles/LeadBundle/Tests/Command/CreateCustomFieldCommandTest.php
Labels: ready-to-commit, enhancement, cla-signed

#12106 Bugfix 12063 - 500 Error when changing tag in a Contact and clicking save&close [5.x]
  app/bundles/LeadBundle/Resources/views/Auditlog/_table.html.twig
  app/bundles/LeadBundle/Resources/views/Auditlog/details.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, ready-to-commit, tags, cla-signed

#12229 TPROD-399 EM::clear() refactoring Remove deprecated call from CampaignBundle.
  app/bundles/CampaignBundle/Membership/MembershipBuilder.php
  app/bundles/CampaignBundle/Membership/MembershipManager.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/EventListener/TimelineEventLogCampaignSubscriber.php
Labels: ready-to-commit, cla-signed, refactoring

#12233 Twig helper fixes
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/PageBundle/Controller/PublicController.php
Labels: bug, regression, cla-signed

#12226 TPROD-399 EM::clear() refactoring - email send
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Reply.php
  app/bundles/EmailBundle/Stat/StatHelper.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/ReplyTest.php
  app/bundles/PageBundle/Entity/Redirect.php
  app/bundles/PageBundle/Model/RedirectModel.php
  app/bundles/PageBundle/Model/TrackableModel.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
Labels: ready-to-test, cla-signed, refactoring

#12231 TPROD-406: Replace Query with executeQuery
  app/bundles/CampaignBundle/Entity/SummaryRepository.php
  app/bundles/CampaignBundle/Tests/Functional/Entity/LeadEventLogRepositoryTest.php
  app/bundles/CoreBundle/EventListener/MigrationCommandSubscriber.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/MigrationCommandSubscriberTest.php
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/bundles/InstallBundle/Tests/Install/InstallSchemaTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
  app/bundles/PluginBundle/Bundle/PluginBundleBase.php
Labels: ready-to-commit, cla-signed, refactoring

#12235 Remove symfony/debug
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/composer.json
  composer.lock
Labels: ready-to-test, code-review, cla-signed, refactoring

#12220 Bugfix 12044 - 500 error on Form when adding attributes to a field
  app/bundles/CoreBundle/Tests/Unit/Twig/Extension/HtmlExtensionTest.php
  app/bundles/CoreBundle/Twig/Extension/HtmlExtension.php
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
Labels: bug, ready-to-commit, regression, cla-signed

#12225 Cleanup PHPSTAN config file + needed fixes
  app/assets/scaffold/build/exclude_files.txt
  app/bundles/ConfigBundle/Controller/ConfigController.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Configurator/Configurator.php
  app/bundles/CoreBundle/Helper/PathsHelper.php
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/Tests/Functional/IpLookupFactoryCest.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/BundleMetadataBuilderTest.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/ArrayTypeTest.php
  app/bundles/CoreBundle/Tests/_support/FunctionalTester.php
  app/bundles/CoreBundle/Tests/_support/Helper/Functional.php
  app/bundles/CoreBundle/Tests/_support/Helper/Unit.php
  app/bundles/CoreBundle/Tests/_support/UnitTester.php
  app/bundles/CoreBundle/Tests/_support/_generated/FunctionalTesterActions.php
  app/bundles/CoreBundle/Tests/_support/_generated/UnitTesterActions.php
  app/bundles/CoreBundle/Tests/functional.suite.yml
  app/bundles/CoreBundle/Tests/unit.suite.yml
  app/bundles/CoreBundle/codeception.yml
  app/bundles/DashboardBundle/Controller/AjaxController.php
  app/bundles/InstallBundle/Install/InstallService.php
  app/bundles/InstallBundle/Tests/Install/InstallServiceTest.php
  app/bundles/IntegrationsBundle/Bundle/AbstractPluginBundle.php
  build/exclude_files.txt
  codeception.yml
  phpstan-baseline.neon
  phpstan-bootstrap.php
  phpstan.neon
  tests/Mautic/StageBundle/Tests/Entity/StageRepositoryTest.php
  tests/_data/.gitkeep
  tests/_output/.gitignore
  tests/_support/AcceptanceTester.php
  tests/_support/Helper/Acceptance.php
  tests/_support/Page/Acceptance/Dashboard.php
  tests/_support/Page/Acceptance/Login.php
  tests/_support/_generated/.gitignore
  tests/acceptance.suite.yml
  tests/acceptance/SigninCept.php
Labels: enhancement, cla-signed, refactoring

#12234 NPM dependencies - the first taste
  .github/workflows/tests.yml
  app/assets/scaffold/build/exclude_files.txt
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/libraries/1a.mousetrap.js
  app/bundles/CoreBundle/Assets/js/libraries/2.jquery.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  build/exclude_files.txt
  composer.json
  package-lock.json
  package.json
Labels: user-interface, cla-signed, refactoring

#12247 Add Rector rule to make it 2.9 compatible
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/UserBundle/Entity/IdEntry.php
  plugins/MauticCitrixBundle/Entity/CitrixEvent.php
  plugins/MauticSocialBundle/Entity/Lead.php
  plugins/MauticSocialBundle/Entity/Tweet.php
  rector.php
Labels: bug, ready-to-test, refactoring

#12223 Bug 12178 - Company segment filter is changed to contact on save
  app/bundles/DynamicContentBundle/Resources/views/FormTheme/Filter/layout.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
Labels: T1, bug, user-interface, ready-to-commit, regression, segments, cla-signed

#12261 Removing unused browser notifications
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Assets/js/9.modals.js
  app/bundles/CoreBundle/Assets/js/libraries/9.html5notifications.js
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: ready-to-test, enhancement, refactoring

#12265 TPROD-437 Removing unused PlaySound JS library
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/libraries/11.jquery.playsound.js
Labels: enhancement, refactoring

#12214 First segment filter glue fixed
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Tests/Entity/LeadListTest.php
Labels: bug, ready-to-commit, pending-feedback, segments, cla-signed

#12255 Adding a test that batch endpoints work with the overwriteWithBlank flag
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: code-review, enhancement, API, automated-tests

#12248 Use timezone during the build graph data
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Tests/Functional/Helper/Chart/ChartQueryTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/Chart/ChartQueryTest.php
  app/bundles/EmailBundle/Tests/Stats/SentHelperTest.php
Labels: T2, bug, ready-to-commit, cla-signed

#12242 Update README.md
  README.md
Labels: ready-to-commit, chore
