Repository mautic/mautic, pull requests merged in 2023-08, with the labels that each got.

#12547 Tags can be imported via csv
  app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/EventListener/ImportContactSubscriberTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement

#12615 Replace HttpClientInterface with a mock client for tests
  app/bundles/CoreBundle/DependencyInjection/Compiler/TestPass.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/config/config_test.php
Labels: bug, automated-tests

#11927 Columns of mapped objects can be added to the form results report
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/FormBundle/EventListener/ReportSubscriber.php
  app/bundles/FormBundle/Tests/Controller/ResultControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
  app/bundles/FormBundle/Tests/Entity/FormTest.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportDevicesSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentReportSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Config/config.php
  app/bundles/ReportBundle/Event/ColumnCollectEvent.php
  app/bundles/ReportBundle/Helper/ReportHelper.php
  app/bundles/ReportBundle/ReportEvents.php
  app/bundles/ReportBundle/Tests/Helper/ReportHelperTest.php
  app/bundles/ReportBundle/Tests/Model/ReportModelTest.php
Labels: enhancement, plugin, forms, cla-signed

#12605 ensure the expected route part is correctly checked when setting the title
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: bug, ready-to-commit, contacts

#12392 Respect timezone on best read hours widget
  app/bundles/CoreBundle/Form/Type/TimeFormatType.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: bug, ready-to-commit, email

#12125 Fix not displaying error information when an ajax call goes wrong
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: bug, ready-to-commit, regression, cla-signed

#12624 Add provision for custom DSN validation messages
  app/bundles/EmailBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/EmailBundle/Validator/DsnValidator.php
Labels: enhancement, email-integrations

#11474 Configurable assets stream extensions
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/AssetBundle/Controller/PublicController.php
Labels: bug, ready-to-commit, regression, cla-signed

#12299 Add support for shortener services
  UPGRADE-5.0.md
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/ShortenerServicePass.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/MauticCoreBundle.php
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_coreconfig_widget.html.twig
  app/bundles/CoreBundle/Shortener/Shortener.php
  app/bundles/CoreBundle/Shortener/ShortenerServiceInterface.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ConfigTypeTest.php
  app/bundles/CoreBundle/Tests/Unit/Shortener/ShortenerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/Model/RedirectModel.php
  app/bundles/PageBundle/Tests/Model/RedirectModelTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
  app/bundles/SmsBundle/EventListener/SmsSubscriber.php
  app/bundles/SmsBundle/Tests/EventListener/SmsSubscriberTest.php
Labels: ready-to-commit, enhancement, email, sms

#12618 Fixing #12590 (form field select for M5)
  app/bundles/FormBundle/Assets/js/form.js
Labels: T1, bug, ready-to-commit, regression, forms

#12634 Fix Dynamic content block in email behaving differently in first save and edit [4.4]
  app/bundles/EmailBundle/Views/Email/form.html.php
Labels: T1, bug, ready-to-commit, dynamic-content, bounty, builder-grapesjs

#12637 Fix Dynamic content block in email behaving differently in first save and edit [5.x]
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
Labels: T1, bug, dynamic-content, email

#12535 Send Webhook Contact Updated Event just on updated contact
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
Labels: bug, ready-to-commit

#12640 Fixing "Message must be an instance of MauticMessage"
  app/bundles/EmailBundle/Controller/AjaxController.php
Labels: bug, pending-test-confirmation, email-integrations

#12619 Add two debug logging statements when there is a wrong configuration
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
Labels: enhancement, plugin

#12635 Pre-Fill the primary company values in the form if they are mapped
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Model/DeleteFormTest.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/LeadBundle/Helper/PrimaryCompanyHelper.php
Labels: T1, bug, ready-to-commit, companies

#12651 Migration for remove quotes from existing campaign event
  app/migrations/Version20230606111852.php
Labels: bug, campaigns, unforking

#12658 Exclude unpublished custom field from form field mapping
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryFunctionalTest.php
Labels: ready-to-commit, unforking

#12573 add safari support for state drop down
  app/assets/js/mautic-form-src.js
Labels: bug, user-interface, pending-test-confirmation, unforking

#12662 Fix date time conditions in request trait
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Tests/Form/RequestTraitTest.php
Labels: T3, bug

#12652 Returning back the AjaxLookupControllerTrait as it was accidentally removed
  app/bundles/ChannelBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/AjaxLookupControllerTrait.php
  app/bundles/DynamicContentBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/NotificationBundle/Controller/AjaxController.php
  app/bundles/SmsBundle/Controller/AjaxController.php
  plugins/MauticSocialBundle/Controller/AjaxController.php
Labels: bug, ready-to-commit, code-review, regression

#12654 refactoring & Test case for send email to dnd contact
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/EventListener/MessageQueueSubscriber.php
  app/bundles/EmailBundle/Form/Type/EmailSendType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
Labels: ready-to-commit, enhancement, email, unforking, code-review-passed

#12644 Fixed company name is not showing on contact edit page
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Form/ChoiceLoader/EntityLookupChoiceLoader.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: T1, bug, ready-to-commit, companies, contacts, unforking

#12655 Option to select domain for saml_idp_entity_id
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/UserBundle/Form/Type/ConfigType.php
  app/bundles/UserBundle/Resources/views/FormTheme/Config/_config_userconfig_widget.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, unforking

#12676 [rector] Few configuration improvements
  composer.json
  composer.lock
  rector.php
Labels: T1, ready-to-commit, enhancement, automated-tests, code-review-passed
