Repository mautic/mautic, pull requests merged in 2023-03, with the labels that each got.

#12032 TPROD-363: Deleting unused php templates
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
  app/bundles/ChannelBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/FormBundle/Event/FormBuilderEvent.php
  app/bundles/MarketplaceBundle/Views/Package/detail.html.twig
  app/bundles/MessengerBundle/Views/FormTheme/Config/_config_messengerconfig_widget.html.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Views/FormTheme/Config/_config_pageconfig_widget.html.php
  app/bundles/PageBundle/Views/FormTheme/Config/_config_trackingconfig_widget.html.php
  app/bundles/PageBundle/Views/FormTheme/Page/_page_abtest_settings_properties_row.html.php
  app/bundles/PageBundle/Views/FormTheme/Page/_page_variantSettings_properties_row.html.php
  app/bundles/PageBundle/Views/FormTheme/Point/pointaction_urlhit_widget.html.php
  app/bundles/PageBundle/Views/SubscribedEvents/Calendar/modal.html.php
  app/bundles/PageBundle/Views/SubscribedEvents/PageToken/token.html.php
  app/bundles/PageBundle/Views/Trackable/click_counts.html.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PointBundle/Event/PointBuilderEvent.php
  app/bundles/PointBundle/Event/TriggerBuilderEvent.php
  app/bundles/StageBundle/Event/StageBuilderEvent.php
  app/bundles/StageBundle/Views/FormTheme/Action/_stageaction_properties_row.html.php
  app/bundles/UserBundle/Controller/RoleController.php
  app/bundles/WebhookBundle/Views/FormTheme/Config/_config_webhookconfig_widget.html.php
  plugins/GrapesJsBuilderBundle/Controller/GrapesJsController.php
  plugins/GrapesJsBuilderBundle/Views/Builder/template.html.php
  plugins/GrapesJsBuilderBundle/Views/Setting/fields.html.php
  plugins/GrapesJsBuilderBundle/Views/Setting/vars.html.php
  plugins/MauticFullContactBundle/Views/FullContact/batchLookup.html.php
  plugins/MauticFullContactBundle/Views/FullContact/lookup.html.php
  plugins/MauticFullContactBundle/Views/Integration/form.html.php
  plugins/MauticSocialBundle/Controller/TweetController.php
  plugins/MauticSocialBundle/Views/FormTheme/Campaigns/twitter_tweet_widget.html.php
  plugins/MauticSocialBundle/Views/FormTheme/Config/_config_social_config_widget.html.php
  plugins/MauticSocialBundle/Views/FormTheme/twitter_custom_widget.html.php
  plugins/MauticSocialBundle/Views/FormTheme/twitter_handle_widget.html.php
  plugins/MauticSocialBundle/Views/FormTheme/twitter_hashtag_widget.html.php
  plugins/MauticSocialBundle/Views/FormTheme/twitter_tweet_widget.html.php
  plugins/MauticSocialBundle/Views/Integration/login.html.php
  plugins/MauticSocialBundle/Views/Monitoring/form.html.twig
  plugins/MauticSocialBundle/Views/Monitoring/index.html.twig
  plugins/MauticSocialBundle/Views/SubscribedEvents/Channel/message.html.php
  plugins/MauticSocialBundle/Views/Tweet/_list.html.twig
Labels: ready-to-test, code-review, regression, cla-signed, mautic-5

#12039 TPROD 312/TPROD 351 - CoreBundle Helper templates cleanup
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Templating/Helper/ButtonHelper.php
  app/bundles/CoreBundle/Templating/Twig/Extension/CoreHelpersExtension.php
  app/bundles/CoreBundle/Views/Default/base.html.php
  app/bundles/CoreBundle/Views/Default/slim.html.php
  app/bundles/CoreBundle/Views/Helper/action_button_helper.php
  app/bundles/CoreBundle/Views/Helper/blank_form.html.php
  app/bundles/CoreBundle/Views/Helper/builder.html.php
  app/bundles/CoreBundle/Views/Helper/builder_buttons.html.php
  app/bundles/CoreBundle/Views/Helper/chart.html.php
  app/bundles/CoreBundle/Views/Helper/confirm.html.php
  app/bundles/CoreBundle/Views/Helper/confirm.html.twig
  app/bundles/CoreBundle/Views/Helper/detail_row.html.php
  app/bundles/CoreBundle/Views/Helper/details.html.php
  app/bundles/CoreBundle/Views/Helper/form_selecttype.html.php
  app/bundles/CoreBundle/Views/Helper/graph_dateselect.html.php
  app/bundles/CoreBundle/Views/Helper/label.html.php
  app/bundles/CoreBundle/Views/Helper/list_actions.html.php
  app/bundles/CoreBundle/Views/Helper/list_filters.html.php
  app/bundles/CoreBundle/Views/Helper/list_toolbar.html.php
  app/bundles/CoreBundle/Views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Views/Helper/map.html.php
  app/bundles/CoreBundle/Views/Helper/modal.html.php
  app/bundles/CoreBundle/Views/Helper/noresults.html.php
  app/bundles/CoreBundle/Views/Helper/page_actions.html.php
  app/bundles/CoreBundle/Views/Helper/pagination.html.php
  app/bundles/CoreBundle/Views/Helper/publishstatus_badge.html.php
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.php
  app/bundles/CoreBundle/Views/Helper/publishstatus_icon.html.twig
  app/bundles/CoreBundle/Views/Helper/recentactivity.html.php
  app/bundles/CoreBundle/Views/Helper/search.html.php
  app/bundles/CoreBundle/Views/Helper/table.html.php
  app/bundles/CoreBundle/Views/Helper/tableheader.html.php
  app/bundles/CoreBundle/Views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Views/Helper/tabs.html.php
  app/bundles/CoreBundle/Views/Helper/theme_select.html.php
  app/bundles/CoreBundle/Views/Helper/usage.html.php
  app/bundles/CoreBundle/Views/Standard/index.html.php
  app/bundles/CoreBundle/Views/Standard/list.html.php
  app/bundles/CoreBundle/Views/Theme/index.html.php
  app/bundles/CoreBundle/Views/Theme/list.html.php
  app/bundles/PageBundle/Views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/PluginBundle/Views/Auth/postauth.html.twig
  app/bundles/ReportBundle/Views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Views/Report/_list.html.twig
  plugins/MauticSocialBundle/Views/Integration/Twitter/share.html.twig
Labels: code-review, pending-test-confirmation, cla-signed, mautic-5, refactoring

#12025 Fix characters in segment name and filters
  app/bundles/LeadBundle/Form/Type/ListType.php
Labels: T1, bug, ready-to-commit, code-review, needs-automated-tests, segments, cla-signed

#12010 Avoiding exceptions when the value of the choice field is null
  app/bundles/CoreBundle/Helper/ListParser/ArrayListParser.php
Labels: T1, bug, ready-to-commit, campaigns, cla-signed, good first issue

#10307 Fix chosen search input overflow in campaign send email action
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen.less
Labels: T1, bug, user-interface, ready-to-commit, campaigns, cla-signed

#12069 fix test
  app/bundles/CoreBundle/Tests/Unit/Helper/PRedisConnectionHelperTest.php
Labels: bug, cla-signed

#11918 Fix resubscribe action condition check
  app/bundles/EmailBundle/Controller/PublicController.php
Labels: bug, pending-test-confirmation, contacts, cla-signed

#11451 IntegrationBundle config form notes
  app/bundles/IntegrationsBundle/Controller/ConfigController.php
  app/bundles/IntegrationsBundle/DTO/Note.php
  app/bundles/IntegrationsBundle/Integration/ConfigFormNotesTrait.php
  app/bundles/IntegrationsBundle/Integration/Interfaces/ConfigFormNotesInterface.php
  app/bundles/IntegrationsBundle/Tests/Unit/DTO/NoteTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Integration/ConfigFormNotesTraitTest.php
  app/bundles/IntegrationsBundle/Views/Config/form.html.twig
Labels: ready-to-test, has-conflicts, cla-signed

#11948 Fix replace trackable tokens from longest to short
  app/bundles/PageBundle/Model/TrackableModel.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
Labels: bug, ready-to-commit, email, cla-signed

#11773 Fix report table alias issue
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Report/FieldsBuilder.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Report/FieldsBuilderTest.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Tests/Controller/ReportControllerFunctionalTest.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: bug, ready-to-commit, reports, cla-signed

#11077 Fix issue with pre-populating the value of a form field from the URL query parameters
  app/assets/js/mautic-form-src.js
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/Helper/FormFieldHelperTest.php
  app/bundles/FormBundle/Tests/Model/FormModelFunctionalTest.php
  media/js/mautic-form-src.js
Labels: T1, bug, ready-to-commit, forms, cla-signed

#12088 Contact timeline twig fixes
  app/bundles/EmailBundle/Views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/PageBundle/Views/SubscribedEvents/Timeline/index.html.twig
Labels: T1, ready-to-commit, regression, cla-signed

#12083 Report graphs table twig fixes
  app/bundles/ReportBundle/Views/Graph/Table.html.twig
  app/bundles/ReportBundle/Views/Report/_details_report_content.html.twig
Labels: T1, ready-to-commit, regression, cla-signed

#12074 Fix remove DNC status for SMS
  app/bundles/LeadBundle/Views/Lead/_dnc_large.html.twig
Labels: T1, bug, ready-to-commit, cla-signed

#12091 Change OAuth2 Package to use twig
  app/bundles/ApiBundle/Config/config.php
  app/bundles/ApiBundle/Controller/oAuth2/AuthorizeController.php
  app/bundles/ApiBundle/EventListener/PreAuthorizationEventListener.php
  app/bundles/ApiBundle/Resources/views/Authorize/oAuth2/authorize.html.twig
  app/bundles/ApiBundle/Resources/views/Security/login.html.twig
  app/composer.json
  composer.lock
  phpstan-baseline.neon
Labels: ready-to-test, code-review, bc-break, API, cla-signed, mautic-5, refactoring

#12101 Refactor Offline.php to use twig templates
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/CoreBundle/Resources/views/Exception/traces.html.php
  app/bundles/CoreBundle/Resources/views/Offline/offline.html.twig
  offline.php
Labels: pending-test-confirmation, cla-signed, refactoring

#11670 Fix callback mailjet processing If contact has uppercase email address
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Tests/Transport/MailjetTransportTest.php
Labels: T1, bug, ready-to-commit, email, cla-signed, pending-companion-pr

#12009 Fix Email sent, DNC and UTM report filters
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/EventListener/ReportDNCSubscriber.php
  app/bundles/LeadBundle/EventListener/ReportUtmTagSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportUtmTagSubscriberTest.php
Labels: T1, bug, ready-to-commit, code-review, reports, cla-signed, mautic-5

#12124 Remove Templating Helper: Fix Exception Controller
  app/bundles/CoreBundle/Controller/ExceptionController.php
  app/config/config_dev.php
  app/config/config_prod.php
  app/config/config_test.php
Labels: ready-to-test, code-review, cla-signed, refactoring

#12118 Remove Templating Helper from Controllers
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/LeadBundle/Controller/AjaxController.php
Labels: T1, ready-to-test, blocked, cla-signed, refactoring

#12129 Update GitHub workflow to support merge queue
  .github/workflows/tests.yml
Labels: cla-signed, chore

#12122 Remove Templating Helper From Other Helpers & Subscribers
  app/bundles/ApiBundle/EventListener/SearchSubscriber.php
  app/bundles/ApiBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
  app/bundles/AssetBundle/EventListener/SearchSubscriber.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/ServicePass.php
  app/bundles/CoreBundle/EventListener/RequestSubscriber.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/CoreBundle/Helper/TemplatingHelper.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Menu/MenuRenderer.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/RequestSubscriberTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  app/bundles/EmailBundle/EventListener/SearchSubscriber.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/FormBundle/EventListener/SearchSubscriber.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/LeadBundle/EventListener/SearchSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/SearchSubscriberTest.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/EventListener/SearchSubscriber.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/PluginBundle/Tests/ConfigFormTest.php
  app/bundles/PointBundle/EventListener/SearchSubscriber.php
  app/bundles/ReportBundle/EventListener/SearchSubscriber.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/StageBundle/EventListener/SearchSubscriber.php
  app/bundles/UserBundle/EventListener/SearchSubscriber.php
  app/config/config.php
  app/config/config_test.php
  plugins/GrapesJsBuilderBundle/EventSubscriber/InjectCustomContentSubscriber.php
  plugins/MauticCitrixBundle/EventListener/EmailSubscriber.php
Labels: ready-to-commit, cla-signed, refactoring

#12127 improve test speed of campaign count tests
  app/bundles/CampaignBundle/Tests/Campaign/AbstractCampaignTest.php
  app/bundles/CampaignBundle/Tests/Command/SummarizeCommandTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, cla-signed, performance-scalability, automated-tests

#12120 Remove Templating Helper from Models
  app/bundles/ReportBundle/Config/config.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Tests/Model/ReportModelTest.php
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFocusBundle/Tests/Model/FocusModelTest.php
Labels: ready-to-commit, enhancement, cla-signed, refactoring

#12130 Remove Templating from CoreBundle
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Controller/DefaultController.php
  app/bundles/CoreBundle/Controller/UpdateController.php
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/content.html.twig
  app/bundles/CoreBundle/Resources/views/Default/raw_output.html.twig
  app/bundles/CoreBundle/Resources/views/Default/slim.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/config_layout.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Resources/views/Variant/index.html.twig
Labels: ready-to-commit, enhancement, cla-signed, refactoring

#12115 Refactor FormBundle to remove templating
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/ActionController.php
  app/bundles/FormBundle/Controller/FieldController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/EventListener/DashboardSubscriber.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Resources/views/Builder/form.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Resources/views/Field/checkboxgrp.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/FormBundle/Resources/views/Public/videoembed.html.twig
  app/bundles/FormBundle/Resources/views/Result/_list.html.twig
  app/bundles/FormBundle/Resources/views/Result/list.html.twig
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Model/DeleteFormTest.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelTest.php
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
  app/config/config_dev.php
  app/config/config_prod.php
  app/config/config_test.php
Labels: T2, ready-to-commit, enhancement, cla-signed, refactoring

#12132 Remove Templating Helper from Citrixbundle
  plugins/MauticCitrixBundle/Config/config.php
  plugins/MauticCitrixBundle/EventListener/CampaignSubscriber.php
  plugins/MauticCitrixBundle/EventListener/CitrixStartTrait.php
  plugins/MauticCitrixBundle/EventListener/FormSubscriber.php
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFocusBundle/Tests/Model/FocusModelTest.php
Labels: ready-to-commit, enhancement, cla-signed, refactoring

#12137 Functional tests improvements
  app/bundles/CoreBundle/Test/Listeners/SeparateProcessListener.php
  app/bundles/IntegrationsBundle/Tests/Unit/Command/SyncCommandTest.php
  app/bundles/PageBundle/Tests/Model/PageModelTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
  app/phpunit.xml.dist
Labels: bug, cla-signed, automated-tests

#11920 Fix segment mails not using site_url [backport to 4.x]
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelBuildUrlTest.php
Labels: bug, ready-to-commit, email, cla-signed, mautic-4

#12134 Remove TemplatingHelper
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Helper/TemplatingHelper.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  plugins/GrapesJsBuilderBundle/Controller/GrapesJsController.php
Labels: ready-to-test, code-review, cla-signed, refactoring

#12136 Files removal after helper refactor
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/ChannelBundle/Controller/MessageController.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/CoreEvents.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/TemplatingPass.php
  app/bundles/CoreBundle/Event/SidebarCanvasEvent.php
  app/bundles/CoreBundle/Templating/Engine/PhpEngine.php
  app/bundles/CoreBundle/Templating/Helper/SidebarCanvasHelper.php
  app/bundles/CoreBundle/Templating/TemplateNameParser.php
  app/bundles/CoreBundle/Templating/TemplateReference.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerTest.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/WebhookBundle/Controller/WebhookController.php
  app/bundles/WebhookBundle/Tests/Controller/WebhookControllerFunctionalTest.php
  phpstan-baseline.neon
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticSocialBundle/Controller/TweetController.php
  rector.php
  themes/aurora/html/message.html.twig
  themes/blank/html/form.html.twig
  themes/blank/html/message.html.twig
  themes/blank/html/page.html.twig
  themes/brienz/html/message.html.twig
  themes/cards/html/message.html.twig
  themes/confirmme/html/message.html.twig
  themes/fresh-center/html/message.html.twig
  themes/fresh-center/html/page.html.twig
  themes/fresh-fixed/html/message.html.twig
  themes/fresh-fixed/html/page.html.twig
  themes/fresh-left/html/message.html.twig
  themes/fresh-left/html/page.html.twig
  themes/fresh-wide/html/message.html.twig
  themes/fresh-wide/html/page.html.twig
  themes/goldstar/html/form.html.twig
  themes/goldstar/html/message.html.twig
  themes/neopolitan/html/form.html.twig
  themes/neopolitan/html/message.html.twig
  themes/neopolitan/html/page.html.twig
  themes/oxygen/html/form.html.twig
  themes/oxygen/html/message.html.twig
  themes/oxygen/html/page.html.twig
  themes/paprika/html/message.html.twig
  themes/skyline/html/form.html.twig
  themes/skyline/html/message.html.twig
  themes/skyline/html/page.html.twig
  themes/sparse/html/message.html.twig
  themes/sunday/html/form.html.twig
  themes/sunday/html/message.html.twig
  themes/sunday/html/page.html.twig
  themes/trulypersonal/html/message.html.twig
  themes/vibrant/html/message.html.twig
Labels: ready-to-test, code-review, cla-signed, mautic-5, refactoring

#12050 fix for email graph stats when switching between variant and all
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Views/Email/details.html.php
Labels: ready-to-commit, ready-to-test, cla-signed, mautic-4

#12138 Make automated tests independent and faster
  app/bundles/AssetBundle/Tests/Asset/AbstractAssetTest.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Command/PullTransifexCommandFunctionalTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/FileControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/InstallBundle/Tests/Functional/InstallWorkflowTest.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/Functional/Entity/CompanyRepositoryTest.php
  app/bundles/WebhookBundle/Tests/Functional/WebhookFunctionalTest.php
  plugins/MauticCrmBundle/Tests/Pipedrive/PipedriveTest.php
Labels: ready-to-commit, enhancement, cla-signed, automated-tests

#12033 Fix npm dependencies: deinstall grunt-remove, update grunt
  Gruntfile.js
  app/assets/scaffold/files/Gruntfile.js
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  package-lock.json
  package.json
Labels: ready-to-commit, cla-signed, mautic-5, refactoring

#12043 [DPMMA-1652] MySQL column form in submission 5x
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: T1, bug, ready-to-commit, cla-signed, mautic-5

#12153 Stop rendering fields twice
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/FormBundle/Resources/views/FormTheme/Config/_config_formconfig_widget.html.twig
  app/bundles/LeadBundle/Resources/views/Import/_mapping_form.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/form.html.twig
Labels: bug, pending-test-confirmation, cla-signed
