Repository mautic/mautic, pull requests merged in 2023-09, with the labels that each got.

#10512 New INTEGRATION_BEFORE_COMPANY_FIELD_CHANGES event
  app/bundles/CoreBundle/Entity/CommonEntity.php
  app/bundles/IntegrationsBundle/Entity/FieldChangeRepository.php
  app/bundles/IntegrationsBundle/Event/InternalCompanyEvent.php
  app/bundles/IntegrationsBundle/Event/InternalContactEvent.php
  app/bundles/IntegrationsBundle/Event/InternalObjectFindByIdEvent.php
  app/bundles/IntegrationsBundle/EventListener/CompanyObjectSubscriber.php
  app/bundles/IntegrationsBundle/EventListener/ContactObjectSubscriber.php
  app/bundles/IntegrationsBundle/EventListener/LeadSubscriber.php
  app/bundles/IntegrationsBundle/Helper/SyncIntegrationsHelper.php
  app/bundles/IntegrationsBundle/IntegrationEvents.php
  app/bundles/IntegrationsBundle/Sync/Helper/MappingHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ObjectHelper/CompanyObjectHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ObjectHelper/ContactObjectHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/ReportBuilder/FullObjectReportBuilder.php
  app/bundles/IntegrationsBundle/Tests/Functional/EventListener/LeadSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/CompanyObjectSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/ContactObjectSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ObjectHelper/CompanyObjectHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ObjectHelper/ContactObjectHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ReportBuilder/FullObjectReportBuilderTest.php
Labels: enhancement, plugin, cla-signed, hacktoberfest-accepted, unforking, code-review-passed

#12680 Fixing Import custom email template functionality
  app/bundles/CoreBundle/Config/services.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: bug, ready-to-commit, code-review-passed

#12695 [ci] make use of composer install cache to make parallel jobs faster
  .github/workflows/tests.yml
Labels: enhancement, CI

#12697 [bugfix] Check is_array on passed value in FieldsTypeTrait
  app/bundles/PluginBundle/Form/Type/FieldsTypeTrait.php
Labels: bug, code-review-passed

#12689 Fix download tracked asset from forms
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/Entity/UtmTag.php
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/Tests/Entity/UtmTagTest.php
Labels: bug, pending-test-confirmation, forms

#12670 fix: the value of a form field of type tel is displayed correctly
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Tests/Helper/FormFieldHelperTest.php
Labels: T1, bug, pending-test-confirmation, forms, code-review-passed

#12696 DPMMA-2222 Email click heatmap
  app/bundles/EmailBundle/Assets/css/heatmap.css
  app/bundles/EmailBundle/Assets/js/heatmap.js
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Heatmap/heatmap_legend.html.twig
  app/bundles/EmailBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: T1, user-experience, enhancement, email, javascript, code-review-passed

#12673 [DPMMA-2218] Fix email read concurrency issues
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryIncrementReadTest.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryUpCountSentTest.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryUpCountTest.php
Labels: T1, bug, pending-test-confirmation, deprecation, email

#12693 [rector] [dead-code] Remove few ifs that are always true
  app/bundles/CoreBundle/Entity/FormEntity.php
  app/bundles/DashboardBundle/Controller/Api/WidgetApiController.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/UserBundle/Security/Firewall/AuthenticationListener.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/ZohoIntegration.php
Labels: bug, pending-test-confirmation, refactoring, code-review-passed

#12731 fix for 500 error when saving a field without specifying a label or alias
  app/bundles/LeadBundle/Helper/FieldAliasHelper.php
Labels: T1, bug, custom-fields

#12730 fix for escaped html tags in browser title when page title contains html tags
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: T1, bug, javascript

#12736 adapt to composer upstream changes
  composer.lock
Labels: T1, CI, chore, composer

#12702 Fixing form regressions
  app/bundles/FormBundle/Resources/views/Builder/form.html.twig
  app/bundles/FormBundle/Resources/views/Field/hidden.html.twig
Labels: bug, ready-to-commit, regression, forms

#12729 Fix for non-functional pager on the marketplace overview
  app/bundles/MarketplaceBundle/Controller/Package/ListController.php
Labels: T1, bug, ready-to-test, marketplace

#12728 fix for ajax error when clearing the marketplace cache
  app/bundles/MarketplaceBundle/Controller/CacheController.php
Labels: T1, bug, marketplace

#12726 fix for contact overview throwing 500 errors when live mode is enabled
  app/bundles/LeadBundle/Controller/AjaxController.php
Labels: T1, bug, ready-to-test, contacts

#12725 Fix contacts list not being sortable on specific fields
  app/bundles/LeadBundle/Resources/views/Lead/_list.html.twig
Labels: T1, bug, ready-to-test, contacts

#12716 Adjust translations message for import flash message.
  app/bundles/LeadBundle/Controller/ImportController.php
Labels: T1, bug, translations, pending-test-confirmation

#12723 Fix for 500 error when viewing a social monitor detail
  plugins/MauticSocialBundle/Controller/MonitoringController.php
Labels: T1, bug, ready-to-test, social-monitoring

#12724 fix for double save when creating a social monitor
  plugins/MauticSocialBundle/Controller/MonitoringController.php
Labels: T1, bug, ready-to-commit, social-monitoring, code-review-passed

#12739 Fix for missing validator messages
  app/bundles/ChannelBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
  app/bundles/NotificationBundle/Translations/en_US/validators.ini
  app/bundles/PointBundle/Form/Type/GenericPointSettingsType.php
  app/bundles/PointBundle/Translations/en_US/validators.ini
  plugins/MauticFocusBundle/Translations/en_US/validators.ini
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
  plugins/MauticSocialBundle/Translations/en_US/validators.ini
Labels: T2, bug, translations, ready-to-test

#12722 fix for non-functional (un)publish dates on the message form
  app/bundles/CoreBundle/Form/Type/AbstractFormStandardType.php
Labels: T1, bug, ready-to-commit, marketing-messages

#12720 bump semver to a secure version
  app/assets/scaffold/files/package-lock.json
  package-lock.json
Labels: T1, bug, ready-to-commit, javascript

#12719 fix missing Request param on edit actions
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
Labels: T1, bug, ready-to-commit, focus-items, code-review-passed

#12495 Fixing Import custom email template functionality
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: T1, bug, pending-test-confirmation, regression, email, code-review-passed

#12688 Report: Remove filter related class in aggregators
  app/bundles/ReportBundle/Form/Type/AggregatorType.php
Labels: bug, ready-to-test, pending-test-confirmation, reports, code-review-passed
