Repository mautic/mautic, pull requests merged in 2023-12, with the labels that each got.

#12961 [dead-code] Remove unused variable assigns
  app/bundles/CoreBundle/Controller/FileController.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/FormBundle/Helper/FormUploader.php
  app/bundles/LeadBundle/Helper/IdentifyCompanyHelper.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignFuncFilterQueryBuilder.php
  app/bundles/StageBundle/Event/StageBuilderEvent.php
  plugins/MauticCrmBundle/Api/SugarcrmApi.php
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  rector.php
Labels: bug, refactoring

#12956 [type-declarations] Add ctor based property types in - Stage, Point, Api, Install, Dashboard bundles
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/ApiBundle/Event/ApiEntityEvent.php
  app/bundles/ApiBundle/EventListener/ApiSubscriber.php
  app/bundles/ApiBundle/EventListener/ClientSubscriber.php
  app/bundles/ApiBundle/EventListener/PreAuthorizationEventListener.php
  app/bundles/ApiBundle/EventListener/RateLimitGenerateKeySubscriber.php
  app/bundles/ApiBundle/EventListener/SearchSubscriber.php
  app/bundles/ApiBundle/Form/Type/ClientType.php
  app/bundles/ApiBundle/Serializer/Exclusion/FieldExclusionStrategy.php
  app/bundles/ApiBundle/Serializer/Exclusion/FieldInclusionStrategy.php
  app/bundles/DashboardBundle/Dashboard/Widget.php
  app/bundles/DashboardBundle/Event/WidgetDetailEvent.php
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
  app/bundles/InstallBundle/Configurator/Step/CheckStep.php
  app/bundles/InstallBundle/Helper/SchemaHelper.php
  app/bundles/PointBundle/Event/PointActionEvent.php
  app/bundles/PointBundle/Event/PointBuilderEvent.php
  app/bundles/PointBundle/Event/TriggerBuilderEvent.php
  app/bundles/PointBundle/Event/TriggerExecutedEvent.php
  app/bundles/PointBundle/EventListener/DashboardSubscriber.php
  app/bundles/PointBundle/EventListener/LeadSubscriber.php
  app/bundles/PointBundle/EventListener/PointSubscriber.php
  app/bundles/PointBundle/EventListener/ReportSubscriber.php
  app/bundles/PointBundle/EventListener/SearchSubscriber.php
  app/bundles/PointBundle/Form/Type/PointType.php
  app/bundles/PointBundle/Form/Type/TriggerType.php
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/StageBundle/Event/StageBuilderEvent.php
  app/bundles/StageBundle/EventListener/CampaignSubscriber.php
  app/bundles/StageBundle/EventListener/DashboardSubscriber.php
  app/bundles/StageBundle/EventListener/LeadSubscriber.php
  app/bundles/StageBundle/EventListener/SearchSubscriber.php
  app/bundles/StageBundle/EventListener/StageSubscriber.php
  app/bundles/StageBundle/Form/Type/StageActionListType.php
  app/bundles/StageBundle/Form/Type/StageType.php
  app/bundles/StageBundle/Model/StageModel.php
Labels: bug, refactoring

#12958 [type-declarations] Add ctor based property types in - Report bundles
  app/bundles/ReportBundle/Adapter/ReportDataAdapter.php
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Crate/ReportDataResult.php
  app/bundles/ReportBundle/Entity/Scheduler.php
  app/bundles/ReportBundle/Event/ReportBuilderEvent.php
  app/bundles/ReportBundle/Event/ReportDataEvent.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Event/ReportGraphEvent.php
  app/bundles/ReportBundle/Event/ReportQueryEvent.php
  app/bundles/ReportBundle/Event/ReportScheduleSendEvent.php
  app/bundles/ReportBundle/EventListener/DashboardSubscriber.php
  app/bundles/ReportBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/EventListener/SchedulerSubscriber.php
  app/bundles/ReportBundle/EventListener/SearchSubscriber.php
  app/bundles/ReportBundle/Form/Type/AggregatorType.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Form/Type/ReportWidgetType.php
  app/bundles/ReportBundle/Form/Type/TableOrderType.php
  app/bundles/ReportBundle/Generator/ReportGenerator.php
  app/bundles/ReportBundle/Model/CsvExporter.php
  app/bundles/ReportBundle/Model/ExcelExporter.php
  app/bundles/ReportBundle/Model/ExportHandler.php
  app/bundles/ReportBundle/Model/ReportExportOptions.php
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/ReportBundle/Model/ReportFileWriter.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Model/ScheduleModel.php
  app/bundles/ReportBundle/Scheduler/Builder/SchedulerBuilder.php
  app/bundles/ReportBundle/Scheduler/Command/ExportSchedulerCommand.php
  app/bundles/ReportBundle/Scheduler/Date/DateBuilder.php
  app/bundles/ReportBundle/Scheduler/EventListener/ReportSchedulerSubscriber.php
  app/bundles/ReportBundle/Scheduler/Model/FileHandler.php
  app/bundles/ReportBundle/Scheduler/Model/MessageSchedule.php
  app/bundles/ReportBundle/Scheduler/Model/SchedulerPlanner.php
  app/bundles/ReportBundle/Scheduler/Model/SendSchedule.php
  app/bundles/ReportBundle/Scheduler/Option/ExportOption.php
  app/bundles/ReportBundle/Scheduler/Validator/ScheduleIsValidValidator.php
Labels: bug, refactoring

#12970 [typed-properties] Add ctor based typed properties to User bundle
  app/bundles/UserBundle/DataFixtures/ORM/LoadRoleData.php
  app/bundles/UserBundle/DataFixtures/ORM/LoadUserData.php
  app/bundles/UserBundle/Event/AuthenticationContentEvent.php
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  app/bundles/UserBundle/Event/LoginEvent.php
  app/bundles/UserBundle/Event/LogoutEvent.php
  app/bundles/UserBundle/EventListener/LogoutListener.php
  app/bundles/UserBundle/EventListener/SearchSubscriber.php
  app/bundles/UserBundle/EventListener/SecuritySubscriber.php
  app/bundles/UserBundle/EventListener/UserSubscriber.php
  app/bundles/UserBundle/Form/Type/ConfigType.php
  app/bundles/UserBundle/Form/Type/RoleListType.php
  app/bundles/UserBundle/Form/Type/UserListType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Model/UserToken/UserTokenService.php
  app/bundles/UserBundle/Security/Authentication/AuthenticationHandler.php
  app/bundles/UserBundle/Security/Authenticator/PreAuthAuthenticator.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  app/bundles/UserBundle/Security/SAML/Store/CredentialsStore.php
  app/bundles/UserBundle/Security/SAML/Store/EntityDescriptorStore.php
  app/bundles/UserBundle/Security/SAML/Store/IdStore.php
  app/bundles/UserBundle/Security/SAML/Store/TrustOptionsStore.php
  app/bundles/UserBundle/Security/SAML/User/UserCreator.php
  app/bundles/UserBundle/Security/SAML/User/UserMapper.php
Labels: bug, refactoring

#12971 [typed-properties] Add ctor based typed properties to Email bundles
  app/bundles/EmailBundle/Command/ProcessFetchEmailCommand.php
  app/bundles/EmailBundle/DataFixtures/ORM/LoadEmailData.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Entity/EmailReply.php
  app/bundles/EmailBundle/Event/EmailOpenEvent.php
  app/bundles/EmailBundle/Event/EmailReplyEvent.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/Event/MonitoredEmailEvent.php
  app/bundles/EmailBundle/Event/ParseEmailEvent.php
  app/bundles/EmailBundle/Event/QueueEmailEvent.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/EventListener/CampaignConditionSubscriber.php
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/EventListener/ConfigSubscriber.php
  app/bundles/EmailBundle/EventListener/DashboardBestHoursSubscriber.php
  app/bundles/EmailBundle/EventListener/DashboardSubscriber.php
  app/bundles/EmailBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/EmailBundle/EventListener/EmailSubscriber.php
  app/bundles/EmailBundle/EventListener/EmailToUserSubscriber.php
  app/bundles/EmailBundle/EventListener/FormSubscriber.php
  app/bundles/EmailBundle/EventListener/GraphAggregateStatsSubscriber.php
  app/bundles/EmailBundle/EventListener/LeadSubscriber.php
  app/bundles/EmailBundle/EventListener/MessageQueueSubscriber.php
  app/bundles/EmailBundle/EventListener/PageSubscriber.php
  app/bundles/EmailBundle/EventListener/PointSubscriber.php
  app/bundles/EmailBundle/EventListener/ProcessBounceSubscriber.php
  app/bundles/EmailBundle/EventListener/ProcessReplySubscriber.php
  app/bundles/EmailBundle/EventListener/ProcessUnsubscribeSubscriber.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/EventListener/SearchSubscriber.php
  app/bundles/EmailBundle/EventListener/TokenSubscriber.php
  app/bundles/EmailBundle/EventListener/TrackingSubscriber.php
  app/bundles/EmailBundle/EventListener/WebhookSubscriber.php
  app/bundles/EmailBundle/Form/Type/ConfigMonitoredEmailType.php
  app/bundles/EmailBundle/Form/Type/ConfigMonitoredMailboxesType.php
  app/bundles/EmailBundle/Form/Type/EmailSendType.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Form/Type/VariantType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
  app/bundles/EmailBundle/Model/TransportCallback.php
  app/bundles/EmailBundle/MonitoredEmail/Accessor/ConfigAccessor.php
  app/bundles/EmailBundle/MonitoredEmail/Fetcher.php
  app/bundles/EmailBundle/MonitoredEmail/Organizer/MailboxContainer.php
  app/bundles/EmailBundle/MonitoredEmail/Organizer/MailboxOrganizer.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Bounce/Parser.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/FeedbackLoop.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/FeedbackLoop/Parser.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Reply.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Reply/Parser.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Unsubscribe.php
  app/bundles/EmailBundle/MonitoredEmail/Processor/Unsubscription/Parser.php
  app/bundles/EmailBundle/MonitoredEmail/Search/ContactFinder.php
  app/bundles/EmailBundle/OptionsAccessor/EmailToUserAccessor.php
  app/bundles/EmailBundle/Stat/Reference.php
  app/bundles/EmailBundle/Stat/StatHelper.php
  app/bundles/EmailBundle/Stats/Helper/AbstractHelper.php
  app/bundles/EmailBundle/Validator/MultipleEmailsValidValidator.php
Labels: bug, refactoring

#12976 [typed-properties] Add ctor based typed properties to Notification bundle
  app/bundles/NotificationBundle/Controller/Api/NotificationApiController.php
  app/bundles/NotificationBundle/Event/NotificationClickEvent.php
  app/bundles/NotificationBundle/Event/NotificationSendEvent.php
  app/bundles/NotificationBundle/Event/SendingNotificationEvent.php
  app/bundles/NotificationBundle/EventListener/BuildJsSubscriber.php
  app/bundles/NotificationBundle/EventListener/ChannelSubscriber.php
  app/bundles/NotificationBundle/EventListener/NotificationSubscriber.php
  app/bundles/NotificationBundle/EventListener/PageSubscriber.php
  app/bundles/NotificationBundle/EventListener/ReportSubscriber.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationDetailsType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationSendType.php
  app/bundles/NotificationBundle/Form/Type/NotificationSendType.php
  app/bundles/NotificationBundle/Helper/NotificationHelper.php
  app/bundles/NotificationBundle/Model/NotificationModel.php
Labels: bug, refactoring

#12981 [type-declarations] Add known return void types in Page bundle
  app/bundles/MessengerBundle/Tests/MessageHandler/PageHitNotificationHandlerTest.php
  app/bundles/PageBundle/Config/services.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/DataFixtures/ORM/LoadPageCategoryData.php
  app/bundles/PageBundle/DataFixtures/ORM/LoadPageData.php
  app/bundles/PageBundle/DataFixtures/ORM/LoadPageHitData.php
  app/bundles/PageBundle/Entity/Hit.php
  app/bundles/PageBundle/Entity/HitRepository.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/Entity/PageRepository.php
  app/bundles/PageBundle/Entity/Redirect.php
  app/bundles/PageBundle/Entity/RedirectRepository.php
  app/bundles/PageBundle/Entity/Trackable.php
  app/bundles/PageBundle/Entity/TrackableRepository.php
  app/bundles/PageBundle/Entity/VideoHit.php
  app/bundles/PageBundle/Entity/VideoHitRepository.php
  app/bundles/PageBundle/Event/PageDisplayEvent.php
  app/bundles/PageBundle/Event/PageEvent.php
  app/bundles/PageBundle/Event/RedirectGenerationEvent.php
  app/bundles/PageBundle/Event/UntrackableUrlsEvent.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/EventListener/CampaignSubscriber.php
  app/bundles/PageBundle/EventListener/ConfigSubscriber.php
  app/bundles/PageBundle/EventListener/DashboardSubscriber.php
  app/bundles/PageBundle/EventListener/DetermineWinnerSubscriber.php
  app/bundles/PageBundle/EventListener/LeadSubscriber.php
  app/bundles/PageBundle/EventListener/MaintenanceSubscriber.php
  app/bundles/PageBundle/EventListener/PointSubscriber.php
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/PageBundle/EventListener/SearchSubscriber.php
  app/bundles/PageBundle/EventListener/TokenSubscriber.php
  app/bundles/PageBundle/EventListener/WebhookSubscriber.php
  app/bundles/PageBundle/Form/Type/AbTestPropertiesType.php
  app/bundles/PageBundle/Form/Type/CampaignEventPageHitType.php
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
  app/bundles/PageBundle/Form/Type/ConfigType.php
  app/bundles/PageBundle/Form/Type/DashboardHitsInTimeWidgetType.php
  app/bundles/PageBundle/Form/Type/PageListType.php
  app/bundles/PageBundle/Form/Type/PagePublishDatesType.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Form/Type/PointActionPageHitType.php
  app/bundles/PageBundle/Form/Type/PointActionUrlHitType.php
  app/bundles/PageBundle/Form/Type/PreferenceCenterListType.php
  app/bundles/PageBundle/Form/Type/RedirectListType.php
  app/bundles/PageBundle/Form/Type/TrackingPixelSendType.php
  app/bundles/PageBundle/Form/Type/VariantType.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Security/Permissions/PagePermissions.php
Labels: bug, refactoring

#12975 [type-declarations] Add known return void types in Notification bundle
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/FormBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/NotificationBundle/Config/services.php
  app/bundles/NotificationBundle/Entity/Notification.php
  app/bundles/NotificationBundle/Entity/NotificationRepository.php
  app/bundles/NotificationBundle/Entity/PushID.php
  app/bundles/NotificationBundle/Entity/Stat.php
  app/bundles/NotificationBundle/Entity/StatRepository.php
  app/bundles/NotificationBundle/Event/NotificationEvent.php
  app/bundles/NotificationBundle/Event/NotificationSendEvent.php
  app/bundles/NotificationBundle/EventListener/BuildJsSubscriber.php
  app/bundles/NotificationBundle/EventListener/CampaignConditionSubscriber.php
  app/bundles/NotificationBundle/EventListener/CampaignSubscriber.php
  app/bundles/NotificationBundle/EventListener/ChannelSubscriber.php
  app/bundles/NotificationBundle/EventListener/NotificationSubscriber.php
  app/bundles/NotificationBundle/EventListener/PageSubscriber.php
  app/bundles/NotificationBundle/EventListener/ReportSubscriber.php
  app/bundles/NotificationBundle/Form/Type/ConfigType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationDetailsType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationListType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationSendType.php
  app/bundles/NotificationBundle/Form/Type/MobileNotificationType.php
  app/bundles/NotificationBundle/Form/Type/NotificationConfigType.php
  app/bundles/NotificationBundle/Form/Type/NotificationListType.php
  app/bundles/NotificationBundle/Form/Type/NotificationSendType.php
  app/bundles/NotificationBundle/Form/Type/NotificationType.php
  app/bundles/NotificationBundle/Model/NotificationModel.php
  app/bundles/NotificationBundle/Security/Permissions/NotificationPermissions.php
  app/bundles/SmsBundle/Model/SmsModel.php
Labels: bug, refactoring

#12973 [type-declarations] Add known return void types in Report bundles
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Config/services.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Crate/ReportDataResult.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/ReportBundle/Entity/Scheduler.php
  app/bundles/ReportBundle/Event/ReportDataEvent.php
  app/bundles/ReportBundle/Event/ReportEvent.php
  app/bundles/ReportBundle/Event/ReportGraphEvent.php
  app/bundles/ReportBundle/Event/ReportQueryEvent.php
  app/bundles/ReportBundle/EventListener/ConfigSubscriber.php
  app/bundles/ReportBundle/EventListener/DashboardSubscriber.php
  app/bundles/ReportBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/EventListener/SchedulerSubscriber.php
  app/bundles/ReportBundle/EventListener/SearchSubscriber.php
  app/bundles/ReportBundle/Form/Type/AggregatorType.php
  app/bundles/ReportBundle/Form/Type/ConfigType.php
  app/bundles/ReportBundle/Form/Type/DynamicFiltersType.php
  app/bundles/ReportBundle/Form/Type/FilterSelectorType.php
  app/bundles/ReportBundle/Form/Type/ReportFiltersType.php
  app/bundles/ReportBundle/Form/Type/ReportSettingsType.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Form/Type/ReportWidgetType.php
  app/bundles/ReportBundle/Form/Type/TableOrderType.php
  app/bundles/ReportBundle/Model/CsvExporter.php
  app/bundles/ReportBundle/Model/ExportHandler.php
  app/bundles/ReportBundle/Model/ExportResponse.php
  app/bundles/ReportBundle/Model/ReportExportOptions.php
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/ReportBundle/Model/ReportFileWriter.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Model/ScheduleModel.php
  app/bundles/ReportBundle/Scheduler/Model/SchedulerPlanner.php
  app/bundles/ReportBundle/Scheduler/Model/SendSchedule.php
  app/bundles/ReportBundle/Scheduler/Validator/ScheduleIsValidValidator.php
  app/bundles/ReportBundle/Security/Permissions/ReportPermissions.php
  app/bundles/ReportBundle/Tests/Model/ExportHandlerTest.php
  app/bundles/ReportBundle/Tests/Model/ReportFileWriterTest.php
  phpstan.neon
Labels: bug, refactoring

#12980 [typed-properties] Add ctor based typed properties to DynamicContent bundle
  app/bundles/ConfigBundle/Event/ConfigEvent.php
  app/bundles/DynamicContentBundle/EventListener/BuildJsSubscriber.php
  app/bundles/DynamicContentBundle/EventListener/CampaignSubscriber.php
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/DynamicContentBundle/EventListener/LeadSubscriber.php
Labels: bug, refactoring

#12979 [type-declarations] Add known return void types in Sms bundles
  app/bundles/SmsBundle/Broadcast/BroadcastExecutioner.php
  app/bundles/SmsBundle/Broadcast/BroadcastQuery.php
  app/bundles/SmsBundle/Broadcast/BroadcastResult.php
  app/bundles/SmsBundle/Callback/HandlerContainer.php
  app/bundles/SmsBundle/Config/services.php
  app/bundles/SmsBundle/DependencyInjection/Compiler/SmsTransportPass.php
  app/bundles/SmsBundle/Entity/Sms.php
  app/bundles/SmsBundle/Entity/SmsRepository.php
  app/bundles/SmsBundle/Entity/Stat.php
  app/bundles/SmsBundle/Entity/StatRepository.php
  app/bundles/SmsBundle/Event/ReplyEvent.php
  app/bundles/SmsBundle/Event/SmsEvent.php
  app/bundles/SmsBundle/Event/SmsSendEvent.php
  app/bundles/SmsBundle/EventListener/BroadcastSubscriber.php
  app/bundles/SmsBundle/EventListener/CampaignReplySubscriber.php
  app/bundles/SmsBundle/EventListener/CampaignSendSubscriber.php
  app/bundles/SmsBundle/EventListener/ChannelSubscriber.php
  app/bundles/SmsBundle/EventListener/ConfigSubscriber.php
  app/bundles/SmsBundle/EventListener/LeadSubscriber.php
  app/bundles/SmsBundle/EventListener/MessageQueueSubscriber.php
  app/bundles/SmsBundle/EventListener/ReplySubscriber.php
  app/bundles/SmsBundle/EventListener/SmsSubscriber.php
  app/bundles/SmsBundle/EventListener/StopSubscriber.php
  app/bundles/SmsBundle/EventListener/TrackingSubscriber.php
  app/bundles/SmsBundle/Form/Type/CampaignReplyType.php
  app/bundles/SmsBundle/Form/Type/ConfigType.php
  app/bundles/SmsBundle/Form/Type/SmsListType.php
  app/bundles/SmsBundle/Form/Type/SmsSendType.php
  app/bundles/SmsBundle/Form/Type/SmsType.php
  app/bundles/SmsBundle/Integration/Twilio/TwilioTransport.php
  app/bundles/SmsBundle/MauticSmsBundle.php
  app/bundles/SmsBundle/Model/SmsModel.php
  app/bundles/SmsBundle/Security/Permissions/SmsPermissions.php
Labels: bug, refactoring

#12989 [types] Add known void types in Api bundle
  app/bundles/ApiBundle/Config/services.php
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/ApiBundle/DependencyInjection/Compiler/SerializerPass.php
  app/bundles/ApiBundle/DependencyInjection/Factory/ApiFactory.php
  app/bundles/ApiBundle/Entity/oAuth2/Client.php
  app/bundles/ApiBundle/EventListener/ApiSubscriber.php
  app/bundles/ApiBundle/EventListener/ConfigSubscriber.php
  app/bundles/ApiBundle/EventListener/PreAuthorizationEventListener.php
  app/bundles/ApiBundle/EventListener/RateLimitGenerateKeySubscriber.php
  app/bundles/ApiBundle/EventListener/SearchSubscriber.php
  app/bundles/ApiBundle/Form/Type/ClientType.php
  app/bundles/ApiBundle/Form/Type/ConfigType.php
  app/bundles/ApiBundle/Helper/BatchIdToEntityHelper.php
  app/bundles/ApiBundle/MauticApiBundle.php
  app/bundles/ApiBundle/Model/ClientModel.php
  app/bundles/ApiBundle/Serializer/Driver/ApiMetadataDriver.php
  app/bundles/ApiBundle/Tests/EventListener/ApiSubscriberTest.php
Labels: bug, refactoring

#12996 [types] Add known return scalar types + strict types in Form, Assert and Config bundles
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/AssetBundle/Entity/AssetRepository.php
  app/bundles/AssetBundle/Entity/Download.php
  app/bundles/AssetBundle/Entity/DownloadRepository.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Security/Permissions/AssetPermissions.php
  app/bundles/ConfigBundle/Event/ConfigEvent.php
  app/bundles/ConfigBundle/Form/Type/EscapeTransformer.php
  app/bundles/ConfigBundle/Model/SysinfoModel.php
  app/bundles/ConfigBundle/Service/ConfigChangeLogger.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/Entity/Action.php
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/FormBundle/Entity/FormRepository.php
  app/bundles/FormBundle/Entity/Submission.php
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Event/FormBuilderEvent.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/EventListener/FormValidationSubscriber.php
  app/bundles/FormBundle/Helper/FormUploader.php
  app/bundles/FormBundle/Model/ActionModel.php
  app/bundles/FormBundle/Model/FieldModel.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/ProgressiveProfiling/DisplayCounter.php
  app/bundles/FormBundle/Security/Permissions/FormPermissions.php
  app/bundles/FormBundle/Tests/Event/Service/FieldValueTransformerTest.php
Labels: bug, refactoring

#12999 [types] Add known return scalar types + strict types in Stats, Point, Asset bundles
  app/bundles/PointBundle/Entity/GroupRepository.php
  app/bundles/PointBundle/Entity/Point.php
  app/bundles/PointBundle/Entity/PointRepository.php
  app/bundles/PointBundle/Entity/TriggerEvent.php
  app/bundles/PointBundle/Entity/TriggerRepository.php
  app/bundles/PointBundle/Event/PointBuilderEvent.php
  app/bundles/PointBundle/Event/TriggerBuilderEvent.php
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Model/TriggerEventModel.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/PointBundle/Security/Permissions/PointPermissions.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/DayStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/MonthStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/YearStat.php
  app/bundles/StatsBundle/Aggregate/Helper/CalculatorHelper.php
  app/bundles/StatsBundle/Event/AggregateStatRequestEvent.php
Labels: bug, refactoring

#13004 [PHP 8.0] Add promoted properties in Webhook, User, Stats bundles - step 2
  app/bundles/StatsBundle/Aggregate/Calculator.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/DayStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/HourStat.php
  app/bundles/StatsBundle/Aggregate/Collection/Stats/MonthStat.php
  app/bundles/StatsBundle/Aggregate/Collector.php
  app/bundles/StatsBundle/Event/AggregateStatRequestEvent.php
  app/bundles/UserBundle/Controller/Api/UserApiController.php
  app/bundles/UserBundle/DataFixtures/ORM/LoadRoleData.php
  app/bundles/UserBundle/DataFixtures/ORM/LoadUserData.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Event/AuthenticationContentEvent.php
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  app/bundles/UserBundle/Event/LoginEvent.php
  app/bundles/UserBundle/Event/LogoutEvent.php
  app/bundles/UserBundle/EventListener/LogoutListener.php
  app/bundles/UserBundle/EventListener/SAMLSubscriber.php
  app/bundles/UserBundle/EventListener/SearchSubscriber.php
  app/bundles/UserBundle/EventListener/SecuritySubscriber.php
  app/bundles/UserBundle/EventListener/UserSubscriber.php
  app/bundles/UserBundle/Form/Type/ConfigType.php
  app/bundles/UserBundle/Form/Type/RoleListType.php
  app/bundles/UserBundle/Form/Type/UserListType.php
  app/bundles/UserBundle/Form/Type/UserType.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Model/UserToken/UserTokenService.php
  app/bundles/UserBundle/Security/Authentication/AuthenticationHandler.php
  app/bundles/UserBundle/Security/Authentication/Token/PluginToken.php
  app/bundles/UserBundle/Security/Authenticator/FormAuthenticator.php
  app/bundles/UserBundle/Security/Authenticator/PreAuthAuthenticator.php
  app/bundles/UserBundle/Security/Firewall/AuthenticationListener.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  app/bundles/UserBundle/Security/SAML/Store/CredentialsStore.php
  app/bundles/UserBundle/Security/SAML/Store/EntityDescriptorStore.php
  app/bundles/UserBundle/Security/SAML/Store/IdStore.php
  app/bundles/UserBundle/Security/SAML/Store/TrustOptionsStore.php
  app/bundles/UserBundle/Security/SAML/User/UserCreator.php
  app/bundles/UserBundle/Security/SAML/User/UserMapper.php
  app/bundles/WebhookBundle/Command/DeleteWebhookLogsCommand.php
  app/bundles/WebhookBundle/Command/ProcessWebhookQueuesCommand.php
  app/bundles/WebhookBundle/Controller/Api/WebhookApiController.php
  app/bundles/WebhookBundle/Event/WebhookBuilderEvent.php
  app/bundles/WebhookBundle/Event/WebhookEvent.php
  app/bundles/WebhookBundle/Event/WebhookQueueEvent.php
  app/bundles/WebhookBundle/Event/WebhookRequestEvent.php
  app/bundles/WebhookBundle/EventListener/CampaignSubscriber.php
  app/bundles/WebhookBundle/EventListener/WebhookSubscriber.php
  app/bundles/WebhookBundle/Form/DataTransformer/EventsToArrayTransformer.php
  app/bundles/WebhookBundle/Form/Type/CampaignEventSendWebhookType.php
  app/bundles/WebhookBundle/Helper/CampaignHelper.php
  app/bundles/WebhookBundle/Http/Client.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Notificator/WebhookKillNotificator.php
  phpstan.neon
Labels: bug, refactoring

#13010 [type-declarations] Add known bool return type declarations
  app/bundles/CoreBundle/Cache/MiddlewareCacheWarmer.php
  app/bundles/CoreBundle/Controller/AbstractFormController.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Event/AbstractCustomRequestEvent.php
  app/bundles/CoreBundle/IpLookup/AbstractLocalDataLookup.php
  app/bundles/CoreBundle/Loader/RouteLoader.php
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Integration/AbstractSsoServiceIntegration.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Security/Authenticator/PreAuthAuthenticator.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  rector.php
Labels: bug, refactoring

#13012 [PHP 8.0] Make use of match()
  app/bundles/CampaignBundle/EventCollector/Accessor/EventAccessor.php
  app/bundles/ChannelBundle/Helper/ChannelListHelper.php
  app/bundles/ChannelBundle/Model/MessageModel.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/CoreBundle/Form/DataTransformer/SecondsConversionTransformer.php
  app/bundles/CoreBundle/Helper/DateTime/DateTimeToken.php
  app/bundles/CoreBundle/Helper/DateTimeHelper.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Helper/LanguageHelper.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Helper/ThemeHelperInterface.php
  app/bundles/CoreBundle/IpLookup/AbstractMaxmindLookup.php
  app/bundles/CoreBundle/Menu/MenuHelper.php
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/CoreBundle/Service/FlashBag.php
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/bundles/CoreBundle/Twig/Helper/MautibotHelper.php
  app/bundles/EmailBundle/MonitoredEmail/Mailbox.php
  app/bundles/EmailBundle/Stats/Helper/AbstractHelper.php
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/InstallBundle/Controller/InstallController.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Helper/FieldHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Internal/Executioner/FieldValidator.php
  app/bundles/IntegrationsBundle/Sync/SyncJudge/SyncJudge.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Helper/ValueHelper.php
  app/bundles/LeadBundle/Entity/Import.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/TimelineTrait.php
  app/bundles/LeadBundle/Event/ChannelSubscriptionChange.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Field/SchemaDefinition.php
  app/bundles/LeadBundle/Helper/CustomFieldHelper.php
  app/bundles/LeadBundle/Model/CompanyReportData.php
  app/bundles/LeadBundle/Report/FieldsBuilder.php
  app/bundles/LeadBundle/Segment/ContactSegmentFilterCrate.php
  app/bundles/LeadBundle/Segment/Decorator/BaseDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateDefault.php
  app/bundles/LeadBundle/Twig/Helper/DncReasonHelper.php
  app/bundles/NotificationBundle/Entity/StatRepository.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PointBundle/Model/PointGroupModel.php
  app/bundles/ReportBundle/Helper/ReportHelper.php
  app/bundles/UserBundle/Model/UserModel.php
  plugins/MauticClearbitBundle/Integration/ClearbitIntegration.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/Salesforce/CampaignMember/Fetcher.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Integration/SugarcrmIntegration.php
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFullContactBundle/Integration/FullContactIntegration.php
  plugins/MauticFullContactBundle/Services/FullContact_API.php
  rector.php
Labels: bug, refactoring

#13024 [ci] run Rector only once, with --dry-run to fail in case of change
  .github/workflows/tests.yml
Labels: bug, CI

#13029 [ci] make use of composer validate and make composer.lock testing simple
  .github/workflows/tests.yml
  composer.json
  composer.lock
Labels: bug, CI

#13049 [pre-phpunit-10] Make data providers static
  app/bundles/CampaignBundle/Tests/Controller/EventControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/VisitedPageConditionControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
  app/bundles/CoreBundle/Tests/Form/RequestTraitTest.php
  app/bundles/CoreBundle/Tests/Unit/Form/DataTransformer/BarStringTransformerTest.php
  app/bundles/CoreBundle/Tests/Unit/Form/Validator/Constraints/CircularDependencyValidatorTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ArrayHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/EmailAddressHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/FileHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/PageHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Extension/HtmlExtensionTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/FormatterHelperTest.php
  app/bundles/EmailBundle/Tests/Entity/StatTest.php
  app/bundles/EmailBundle/Tests/EventListener/MatchFilterForLeadTraitTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Validator/EmailOrEmailTokenListValidatorTest.php
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
  app/bundles/FormBundle/Tests/Entity/FormTest.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
  app/bundles/FormBundle/Tests/Helper/FormFieldHelperTest.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/LeadBundle/Tests/Command/CreateCustomFieldCommandTest.php
  app/bundles/LeadBundle/Tests/Command/UpdateLeadListCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadListTest.php
  app/bundles/LeadBundle/Tests/Entity/UtmTagTest.php
  app/bundles/LeadBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Functional/Entity/LeadRepositoryTest.php
  app/bundles/LeadBundle/Tests/Model/LeadListModelTest.php
  app/bundles/LeadBundle/Tests/Model/ListModelTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentFilterCrateTest.php
  app/bundles/LeadBundle/Tests/Segment/DoNotContact/DoNotContactPartsTest.php
  app/bundles/LeadBundle/Tests/Validator/Constraints/EmailAddressValidatorTest.php
  app/bundles/MarketplaceBundle/Tests/Functional/Controller/DetailControllerTest.php
  app/bundles/PageBundle/Tests/Entity/PageTest.php
  app/bundles/PageBundle/Tests/Model/TrackableModelTest.php
  app/bundles/PluginBundle/Tests/Form/Type/DetailsTypeTest.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTest.php
  app/bundles/PointBundle/Tests/Entity/PointEntityValidationTest.php
  app/bundles/ReportBundle/Tests/Scheduler/Model/MessageScheduleTest.php
Labels: bug, refactoring

#13048 [rector] Kick of ligther config splits
  .php-cs-fixer.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/ContentHelperTest.php
  composer.json
  composer.lock
  rector-older-symfony.php
  rector.php
Labels: bug, CI

#13061 Fixing API error caused by the strict type mismatch
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Twig/Helper/DncReasonHelper.php
Labels: bug, API, regression

#13059 [phpstan] Few fixes from AbstractStandardFormController
  app/bundles/CoreBundle/Controller/AbstractFormController.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Controller/FormController.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/PageBundle/Entity/PageRepository.php
  app/bundles/PluginBundle/Entity/IntegrationEntityRepository.php
  app/bundles/PluginBundle/Form/Type/KeysType.php
  app/bundles/ReportBundle/Model/ReportModel.php
  phpstan.neon
  plugins/MauticCrmBundle/Api/CrmApi.php
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticFullContactBundle/Services/FullContact_API.php
Labels: bug, refactoring

#13007 Index for speeding up email send process
  app/bundles/EmailBundle/Entity/Stat.php
  app/migrations/Version20231206152313.php
Labels: ready-to-commit, enhancement, performance-scalability, unforking, code-review-passed

#13066 Deprecating unused classes
  app/AppCache.php
  app/bundles/CampaignBundle/Executioner/Scheduler/Exception/ExecutionProhibitedException.php
  app/bundles/CampaignBundle/Executioner/Scheduler/Exception/NotTimeYetException.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventLeadChangeType.php
  app/bundles/CoreBundle/Doctrine/TranslationMigrationTrait.php
  app/bundles/CoreBundle/Doctrine/VariantMigrationTrait.php
  app/bundles/CoreBundle/Entity/Cache.php
  app/bundles/CoreBundle/Form/DataTransformer/DatetimeToStringTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/EmojiToHtmlTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/NullToEmptyTransformer.php
  app/bundles/CoreBundle/Session/Storage/Handler/RedisSentinelSessionHandler.php
  app/bundles/CoreBundle/Test/MauticSqliteTestCase.php
  app/bundles/EmailBundle/Form/Type/AbTestPropertiesType.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/MarketplaceBundle/Exception/InstallException.php
  app/bundles/MessengerBundle/MessageHandler/TestHandler.php
  app/bundles/MessengerBundle/Transport/NullTransportFactory.php
  app/bundles/MessengerBundle/Validator/DsnValidator.php
  app/bundles/NotificationBundle/Event/NotificationClickEvent.php
  app/bundles/NotificationBundle/Event/SendingNotificationEvent.php
  app/bundles/NotificationBundle/Form/Type/ConfigType.php
  app/bundles/PageBundle/Form/Type/PagePublishDatesType.php
  plugins/MauticSocialBundle/Form/Type/TwitterCustomType.php
Labels: bug, code-review-needed, pending-test-confirmation

#13073 Doctrine result cache with automatic invalidation
  app/bundles/CoreBundle/Cache/ResultCacheHelper.php
  app/bundles/CoreBundle/Cache/ResultCacheOptions.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Entity/CacheInvalidateInterface.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/EventListener/CacheInvalidateSubscriber.php
  app/bundles/IntegrationsBundle/Helper/IntegrationsHelper.php
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Field/FieldList.php
  app/bundles/LeadBundle/Form/Type/UpdateCompanyActionType.php
  app/bundles/LeadBundle/Form/Type/UpdateLeadActionType.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/PluginBundle/Entity/Integration.php
  app/bundles/PluginBundle/Entity/IntegrationRepository.php
  app/bundles/PluginBundle/Entity/Plugin.php
  app/bundles/PluginBundle/Helper/IntegrationHelper.php
  app/bundles/UserBundle/Entity/Permission.php
  app/bundles/UserBundle/Entity/PermissionRepository.php
  app/bundles/UserBundle/Entity/Role.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  app/config/config.php
Labels: ready-to-commit, enhancement, performance-scalability, code-review-passed

#13008 "Don't overwrite value if already exists" option is not working In Import Contacts.
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Event/ImportValidateEvent.php
  app/bundles/LeadBundle/EventListener/ImportCompanySubscriber.php
  app/bundles/LeadBundle/EventListener/ImportContactSubscriber.php
  app/bundles/LeadBundle/Tests/Controller/ImportControllerTest.php
  app/bundles/LeadBundle/Tests/EventListener/ImportContactSubscriberTest.php
Labels: bug, pending-test-confirmation, import-export, unforking, code-review-passed

#13081 DPMMA-2372 Email usages
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CoreBundle/Resources/views/Helper/usage.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Stats/EmailDependencies.php
  app/bundles/EmailBundle/Tests/Functional/EmailDependenciesFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Model/ActionModel.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Model/TriggerEventModel.php
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: user-interface, ready-to-commit, enhancement, email

#12867 Fix point tags triggering
  app/bundles/LeadBundle/EventListener/PointSubscriber.php
  app/bundles/PointBundle/Entity/TriggerEventRepository.php
Labels: bug, ready-to-commit, points-scoring, tags, code-review-passed, user-testing-passed

#11854 Fix locked category
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CategoryBundle/Tests/Controller/CategoryControllerFunctionalTest.php
Labels: bug, ready-to-commit, categories, cla-signed, mautic-5

#13083 Autowire repositories
  app/bundles/ApiBundle/Config/services.php
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Config/services.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Config/services.php
  app/bundles/ChannelBundle/Config/config.php
  app/bundles/ChannelBundle/Config/services.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/Config/services.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Config/services.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Config/services.php
  app/bundles/IntegrationsBundle/Config/config.php
  app/bundles/IntegrationsBundle/Config/services.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Config/services.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/NotificationBundle/Config/services.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Config/services.php
  app/bundles/PointBundle/Config/config.php
  app/bundles/PointBundle/Config/services.php
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Config/services.php
  app/bundles/StageBundle/Config/config.php
  app/bundles/StageBundle/Config/services.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Config/services.php
  app/bundles/WebhookBundle/Config/config.php
  app/bundles/WebhookBundle/Config/services.php
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticFocusBundle/Config/services.php
  plugins/MauticTagManagerBundle/Config/config.php
  plugins/MauticTagManagerBundle/Config/services.php
Labels: bug, refactoring

#13089 Bumping the release to RC2
  app/release_metadata.json
Labels: chore

#12916 Implement custom bounties workflow with Open Collective
  .github/scripts/bounties.js
  .github/scripts/package-lock.json
  .github/scripts/package.json
  .github/workflows/bounties.yml
Labels: ready-to-commit, chore

#13105 Fix user password complexity for sample data users
  app/bundles/CoreBundle/Test/AbstractMauticTestCase.php
  app/bundles/UserBundle/DataFixtures/ORM/LoadUserData.php
Labels: bug, ready-to-test, code-review-passed

#13107 Fix incorrect grammar on password reset flash message
  app/bundles/UserBundle/Tests/Functional/Controller/PublicControllerTest.php
  app/bundles/UserBundle/Translations/en_US/flashes.ini
Labels: T1, bug, translations, ready-to-test

#13098 LinkedIn fix label
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, user-interface, ready-to-commit, code-review-needed, contacts

#13109 Ensure test mail fixture is a valid mail object with custom HTML
  app/bundles/LeadBundle/Tests/DataFixtures/ORM/LoadClickData.php
Labels: T1, bug, ready-to-commit, regression, email, code-review-passed
