Repository mautic/mautic, pull requests merged in 2023-06, with the labels that each got.

#12417 We cannot use node_modules in production
  .gitignore
  app/assets/scaffold/files/example.gitignore
  app/bundles/CoreBundle/Command/GenerateProductionAssetsCommand.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/AssetsHelperTest.php
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: bug, regression, refactoring

#12037 AJAX requests use the site_url instead of the current domain
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
Labels: T2, bug, ready-to-commit, cla-signed, mautic-5, refactoring

#12042 AJAX requests use the site_url instead of the current domain [backport]
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/CampaignBundle/Views/Campaign/details.html.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Views/List/details.html.php
Labels: ready-to-commit, blocked, cla-signed, mautic-4

#12420 Regenerate PHPStan Baseline
  phpstan-baseline.neon
Labels: ready-to-test, code-review

#12430 ensure the elfinder paths are within the default firewall, so rememberme functionality works
  app/config/security.php
Labels: bug, pending-test-confirmation

#12432 Focus items fixes
  .gitignore
  app/assets/scaffold/files/example.gitignore
  app/bundles/CoreBundle/Command/GenerateProductionAssetsCommand.php
  plugins/MauticFocusBundle/Controller/AjaxController.php
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: bug, ready-to-commit, regression

#12368 Apply Rector Rule: Remove Annotation
  app/bundles/LeadBundle/Form/Validator/Constraints/EmailAddress.php
  app/bundles/LeadBundle/Form/Validator/Constraints/LeadListAccess.php
  app/bundles/LeadBundle/Form/Validator/Constraints/UniqueUserAlias.php
  app/bundles/LeadBundle/Validator/Constraints/Length.php
  rector.php
Labels: ready-to-test, code-review, enhancement

#12422 Replacing unmaintained hard-coded Less library with a better option
  app/composer.json
  composer.lock
  phpstan.neon
  plugins/MauticFocusBundle/Include/lessc.inc.php
  plugins/MauticFocusBundle/Tests/Twig/Fixtures/filters/less_compile.test
  plugins/MauticFocusBundle/Twig/Extension/FocusBundleExtension.php
Labels: bug, refactoring

#12425 ensure the remember me key doesn't change every bootstrap
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Tests/Unit/RememberMeTest.php
Labels: needs-automated-tests

#12437 Updating the ramsey/uuid library to avoid PHP 8.1 warnings
  app/composer.json
  composer.lock
Labels: bug, ready-to-test, email

#12442 Fixing Focus Items API
  plugins/MauticFocusBundle/Resources/views/Builder/Bar/style.less.twig
  plugins/MauticFocusBundle/Tests/Controller/Api/FocusApiControllerTest.php
Labels: bug, ready-to-test, API, regression, focus-items

#11867 TPROD-304: Deprecated LogoutHandlerInterface, register a listener on the LogoutEvent event instead.
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/EventListener/LogoutListener.php
  app/bundles/UserBundle/Tests/Functional/UserLogoutFunctionalTest.php
  app/config/security.php
Labels: bug, pending-test-confirmation, deprecation, regression, cla-signed, mautic-5

#12441 Removing migrations created for Mautic 4
  app/migrations/Version20180508202930.php
  app/migrations/Version20180702014364.php
  app/migrations/Version20180702014365.php
  app/migrations/Version20180821144204.php
  app/migrations/Version20180921144421.php
  app/migrations/Version20181111095447.php
  app/migrations/Version20190704154940.php
  app/migrations/Version20190724110039.php
  app/migrations/Version20191017140848.php
  app/migrations/Version20191126093923.php
  app/migrations/Version20191206113956.php
  app/migrations/Version20191219155630.php
  app/migrations/Version20200211095409.php
  app/migrations/Version20200212141530.php
  app/migrations/Version20200220172041.php
  app/migrations/Version20200227110431.php
  app/migrations/Version20200302164801.php
  app/migrations/Version20200331160919.php
  app/migrations/Version20200409102100.php
  app/migrations/Version20200415135706.php
  app/migrations/Version20200422144300.php
  app/migrations/Version20200507122854.php
  app/migrations/Version20200513162918.php
  app/migrations/Version20200729170800.php
  app/migrations/Version20200805185714.php
  app/migrations/Version20200810153131.php
  app/migrations/Version20200812180900.php
  app/migrations/Version20200815153711.php
  app/migrations/Version20200924080139.php
  app/migrations/Version20201015084627.php
  app/migrations/Version20201102120710.php
  app/migrations/Version20201102133546.php
  app/migrations/Version20201105120328.php
  app/migrations/Version20201120122846.php
  app/migrations/Version20201123070813.php
  app/migrations/Version20201125155904.php
  app/migrations/Version20201130201631.php
  app/migrations/Version20201207114926.php
  app/migrations/Version20201207140911.php
  app/migrations/Version20201228041109.php
  app/migrations/Version20210104171005.php
  app/migrations/Version20210203143600.php
  app/migrations/Version20210223174702.php
  app/migrations/Version20210502162314.php
  app/migrations/Version20210520100503.php
  app/migrations/Version20210609191822.php
  app/migrations/Version20210614151138.php
  app/migrations/Version20210623071326.php
  app/migrations/Version20220111202917.php
Labels: enhancement, chore

#12434 Fix user entity serialize
  app/bundles/UserBundle/Entity/User.php
Labels: bug, refactoring

#12445 Upgrade Package guzzlehttp/guzzle
  app/composer.json
  composer.lock
Labels: code-review, refactoring

#12440 Remove depecrated cookies
  UPGRADE-5.0.md
  app/bundles/CoreBundle/EventListener/BuildJsSubscriber.php
  app/bundles/LeadBundle/Tracker/Service/DeviceTrackingService/DeviceTrackingService.php
Labels: needs-documentation, bc-break, tracking

#12456 Add sonar-project.properties
  sonar-project.properties
Labels: chore

#12452 ensure dependencies use a compatible version of psr/simple-cache
  app/composer.json
Labels: bug, composer

#12453 ensure dependencies use a compatible version of psr/simple-cache - 4.4
  app/composer.json
Labels: bug, mautic-4, composer

#12455 Run Sonar after the success of tests
  .github/workflows/sonar.yml
Labels: chore

#11970 Enable PHPStan Extensions
  .github/workflows/tests.yml
  app/assets/scaffold/files/console
  app/assets/scaffold/files/console-application.php
  app/composer.json
  app/console-application.php
  bin/console
  composer.json
  composer.lock
  phpstan-baseline.neon
  phpstan.neon
Labels: code-review, cla-signed, chore

#11946 Disabled send button from list If sending in background
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
Labels: bug, pending-test-confirmation, cla-signed

#12371 Render help text for form fields
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: ready-to-commit, user-experience, enhancement

#12462 Fix coverage actions
  .github/workflows/sonar.yml
  .github/workflows/tests.yml
Labels: bug, ready-to-commit, regression

#12463 Fix coverage locations for Sonar
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: regression

#12467 switch ddev testing back to 8.0
  .ddev/config.yaml
Labels: bug, ready-to-commit, regression, installation

#12272 Revert "fix: [DPMMA-1652] add tests" and real fix for reserved keyword in alias
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: bug, ready-to-commit, regression

#12470 Test Sonar with Forks PR
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: regression, chore

#12473 test if the composer.lock file is in sync with composer changes
  .github/workflows/tests.yml
  composer.lock
Labels: CI, composer

#12475 ensure rector generates relevant cache since rector update
  .github/workflows/tests.yml
Labels: bug, performance-scalability, automated-tests

#12476 Sonar - Reference base branch as new code
  .github/workflows/sonar.yml
Labels: regression

#12483 Removing emoji transformer
  UPGRADE-5.0.md
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/CoreBundle/Form/DataTransformer/EmojiToShortTransformer.php
  app/bundles/CoreBundle/Helper/InputHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/InputHelperTest.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  phpstan-baseline.neon
Labels: T1, bug, ready-to-commit, bc-break

#12487 Fix Sonar Analysis for PR
  .github/workflows/sonar.yml
Labels: regression

#12491 Fixing migrations
  app/bundles/ChannelBundle/Entity/Channel.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/SmsBundle/Entity/Stat.php
  app/migrations/Migration.template
  app/migrations/Version020230615115326.php
  app/migrations/Version20230321133733.php
  plugins/MauticSocialBundle/Entity/TweetStat.php
Labels: bug, ready-to-commit, regression

#12499 Fixing point translation (M4)
  app/bundles/CoreBundle/Command/PushTransifexCommand.php
Labels: bug, translations

#12500 Fixing point translation (m5)
  app/bundles/CoreBundle/Command/PushTransifexCommand.php
Labels: bug, translations

#12464 ensure only leads from a company are shown on a the company detail overview
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Tests/Controller/CompanyControllerTest.php
Labels: T1, bug, pending-test-confirmation, companies

#12466 ensure only leads from a company are shown on a the company detail overview - 4.4
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Tests/Controller/CompanyControllerTest.php
Labels: bug, companies, mautic-4

#12078 Fix api stage and owner fields are kept
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: T1, ready-to-commit, API, stages, cla-signed

#12075 Fix Dynamic Content form script load
  app/bundles/FormBundle/Helper/TokenHelper.php
Labels: T1, bug, ready-to-commit, cla-signed

#12051 Gated video - support for iframe tag
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
Labels: T1, bug, ready-to-commit, forms, cla-signed, mautic-5

#11403 Segments cant match titles for incognito redirects or when page title query is not set
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/Model/PageModelTest.php
Labels: pending-test-confirmation, landing-pages, email, tracking, cla-signed

#12038 Using read replicas when available
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Entity/ReplicaConnectionTrait.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: T3, ready-to-test, cla-signed, performance-scalability, mautic-5, refactoring

#12513 Fixing segment search
  app/bundles/LeadBundle/Entity/ExpressionHelperTrait.php
Labels: bug, ready-to-test, regression, segments, search

#11995 Custom Objects export fix for M5
  app/bundles/CoreBundle/Helper/ExportHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ExportHelperTest.php
  app/bundles/LeadBundle/Model/ContactExportSchedulerModel.php
Labels: bug, ready-to-test, plugin, mautic-5

#12514 Using the M5 email configuration to send emails in DDEV
  .ddev/local.config.php.dist
Labels: bug, regression, email

#12515 Command 'composer phpstan' builds the test cache automatically if needed
  .github/workflows/tests.yml
  composer.json
Labels: enhancement

#12517 5.0.0 alpha bump
  UPGRADE-5.0.md
  app/release_metadata.json
Labels: chore

#12519 Fixing the build job
  build/package_release.php
Labels: bug

#12521 Fix for missing files in update package
  build/package_release.php
Labels: bug

#12507 set plain and current password to null in erase credentials
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Tests/Entity/UserTest.php
Labels: bug

#12526 Adding migration that will replace root_dir variable with project_dir
  app/migrations/Version20230627140512.php
Labels: bug

#12530 Segment reference filter operator fix
  app/bundles/CoreBundle/Tests/Functional/CreateTestEntitiesTrait.php
  app/bundles/LeadBundle/Segment/Query/Filter/SegmentReferenceFilterQueryBuilder.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/SegmentReferenceFilterQueryBuilderGlueTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/SegmentReferenceFilterQueryBuilderTest.php
Labels: bug

#12528 Adding the Purify filter to the values that can contain simple HTML formatting
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/builder.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notification_messages.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Update/index.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/monitored_email_widget.html.twig
  app/bundles/EmailBundle/Resources/views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/install.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/remove.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/info.html.twig
  app/bundles/UserBundle/Resources/views/FormTheme/Config/_config_userconfig_widget.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticClearbitBundle/Resources/views/Integration/form.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
  plugins/MauticFullContactBundle/Resources/views/Integration/form.html.twig
  plugins/MauticOutlookBundle/Resources/views/Integration/form.html.twig
Labels: bug, ready-to-commit, regression
