Repository mautic/mautic, pull requests merged in 2023-07, with the labels that each got.

#12541 re-add missing commit to fix incorrect reporting dates
  app/bundles/ReportBundle/Tests/Unit/Model/ReportModelTest.php
  app/bundles/ReportBundle/Views/Report/details_data.html.php
Labels: bug

#12529 Adding marketplace command
  app/bundles/MarketplaceBundle/Controller/AjaxController.php
  app/bundles/MarketplaceBundle/Resources/views/Package/detail.html.twig
  app/bundles/MarketplaceBundle/Translations/en_US/messages.ini
Labels: bug, pending-test-confirmation, enhancement

#12533 Add filter icon for segment with filters
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: user-interface, ready-to-commit, enhancement, segments

#12405 Fix reply to address when contact has owner
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
Labels: bug, email

#12531 PHPSTAN and Rector updates + baseline update
  composer.json
  composer.lock
  phpstan-baseline.neon
Labels: ready-to-commit, enhancement

#12556 Rector fix
  app/bundles/CoreBundle/Controller/FormErrorMessagesTrait.php
  composer.lock
  plugins/MauticSocialBundle/Helper/TwitterCommandHelper.php
  rector.php
Labels: regression, CI

#12508 Bulk importing custom fields
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/LeadBundle/Field/Command/CreateCustomFieldCommand.php
  app/bundles/LeadBundle/Tests/Functional/Command/CreateCustomFieldCommandTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, custom-fields

#12421 Update analytics.js to gtag to support ga4.
  app/bundles/CoreBundle/Tests/Functional/Controller/JsControllerTest.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
Labels: T1, pending-test-confirmation, enhancement, refactoring

#12525 Update analytics.js to gtag to support ga4
  app/bundles/CoreBundle/Tests/Functional/Controller/JsControllerTest.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
Labels: bug, essential, landing-pages, tracking

#12566 Allow enabling/disabling new contact restrictions in segment rebuilds
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
Labels: enhancement

#12561 The list of related contacts is formed correctly
  app/bundles/LeadBundle/Entity/LeadRepository.php
Labels: bug, pending-test-confirmation, regression

#12550 Add lead to page and url hits
  app/bundles/PageBundle/EventListener/PointSubscriber.php
  app/bundles/PageBundle/Tests/EventListener/PointSubscriberTest.php
Labels: bug

#12542 Multiple select custom fields can be created without errors
  app/bundles/LeadBundle/Resources/views/Field/form.html.twig
  app/bundles/LeadBundle/Resources/views/Field/properties_select.html.twig
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
Labels: bug, pending-test-confirmation, custom-fields

#12562 Corrects twig templates to use basic html in form help text
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Resources/views/Field/select.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
Labels: bug, ready-to-commit

#12567 remove quotes to allow cloning
  app/bundles/CampaignBundle/Tests/EventCollector/Accessor/EventAccessorTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: bug

#12524 Remove onlyForBC themes
  UPGRADE-5.0.md
  app/bundles/CoreBundle/Resources/views/Helper/theme_select.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  themes/Mauve/.github/workflows/close_pull_requests.yml
  themes/Mauve/README.md
  themes/Mauve/composer.json
  themes/Mauve/config.json
  themes/Mauve/css/mauve.css
  themes/Mauve/html/base.html.twig
  themes/Mauve/html/email.html.twig
  themes/Mauve/html/form.html.twig
  themes/Mauve/html/message.html.twig
  themes/Mauve/html/page.html.twig
  themes/Mauve/thumbnail.png
  themes/coffee/.github/workflows/close_pull_requests.yml
  themes/coffee/README.md
  themes/coffee/composer.json
  themes/coffee/config.json
  themes/coffee/css/coffee.css
  themes/coffee/html/MauticFormBundle/Builder/style.html.twig
  themes/coffee/html/base.html.twig
  themes/coffee/html/email.html.twig
  themes/coffee/html/form.html.twig
  themes/coffee/html/message.html.twig
  themes/coffee/html/page.html.twig
  themes/nature/.github/workflows/close_pull_requests.yml
  themes/nature/README.md
  themes/nature/composer.json
  themes/nature/config.json
  themes/nature/css/nature.css
  themes/nature/html/base.html.twig
  themes/nature/html/email.html.twig
  themes/nature/html/form.html.twig
  themes/nature/html/message.html.twig
  themes/nature/html/page.html.twig
  themes/nature/images/nature.jpg
Labels: ready-to-test, bc-break, refactoring

#12557 ignore unmapped attributes
  app/bundles/UserBundle/Security/SAML/User/UserMapper.php
  app/bundles/UserBundle/Tests/Security/SAML/User/UserMapperTest.php
Labels: bug

#12446 Create field in background without user ID
  app/bundles/LeadBundle/Field/BackgroundService.php
  app/bundles/LeadBundle/Field/Notification/CustomFieldNotification.php
Labels: T1, bug, ready-to-test, bc-break, API

#12505 Fix wrong sanitaze query for ?a during redirect
  app/bundles/CoreBundle/Helper/UrlHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/UrlHelperTest.php
Labels: bug, ready-to-test

#12436 Fixing global search JS not be flash irrelevant message.
  app/bundles/CoreBundle/Assets/js/10.entity.js
Labels: T1, bug, search

#12554 Keep the filename when uploading
  app/bundles/CoreBundle/Controller/FileController.php
Labels: pending-test-confirmation, enhancement, file-uploader

#12539 Support to Pass MessagingServiceSID to Twillio API instead of From
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Integration/Twilio/Configuration.php
  app/bundles/SmsBundle/Integration/Twilio/TwilioTransport.php
  app/bundles/SmsBundle/Integration/TwilioIntegration.php
  app/bundles/SmsBundle/Tests/Integration/Twilio/ConfigurationTest.php
  app/bundles/SmsBundle/Tests/Integration/Twilio/TwilioConfigurationFunctionalTest.php
  app/bundles/SmsBundle/Tests/Integration/Twilio/TwilioTransportTest.php
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: bug, ready-to-commit, plugin

#12128 Adding support for URL shortener in email 5.x
  app/bundles/ConfigBundle/Tests/Controller/ConfigControllerFunctionalTest.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_coreconfig_widget.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
Labels: T2, ready-to-commit, enhancement, needs-rebase, email, sms, cla-signed

#12474 The fields are links to the files in a form result report
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/EventListener/ReportSubscriber.php
  app/bundles/FormBundle/Tests/Controller/ResultControllerFunctionalTest.php
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
Labels: pending-test-confirmation, enhancement, reports, forms

#12534 Fix warning from last build and remove icon on unpublished segment
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: bug, segments

#12546 Webhook change segment normalize contact data
  app/bundles/LeadBundle/EventListener/WebhookSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberTest.php
Labels: bug, webhooks

#12504 Fix email segment graph for reads
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Tests/Entity/StatRepositoryTest.php
Labels: bug, ready-to-commit, segments, email

#12243 Remove Duplicate Code (Doctrine)
  app/bundles/LeadBundle/Event/SegmentOperatorQueryBuilderEvent.php
  app/bundles/LeadBundle/EventListener/SegmentOperatorQuerySubscriber.php
  app/bundles/LeadBundle/Segment/ContactSegmentService.php
  app/bundles/LeadBundle/Segment/Decorator/BaseDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/CustomMappedDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/Date/DateOptionAbstract.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateAnniversary.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateDefault.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateRelativeInterval.php
  app/bundles/LeadBundle/Segment/Decorator/DateCompanyDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/FilterDecoratorInterface.php
  app/bundles/LeadBundle/Segment/Query/ContactSegmentQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Expression/CompositeExpression.php
  app/bundles/LeadBundle/Segment/Query/Expression/ExpressionBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ChannelClickQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ComplexRelationValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/DoNotContactFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignFuncFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/ForeignValueFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/IntegrationCampaignFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/SegmentReferenceFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/Filter/SessionsFilterQueryBuilder.php
  app/bundles/LeadBundle/Segment/Query/QueryBuilder.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentOperatorQuerySubscriberTest.php
Labels: T1, ready-to-commit, segments, refactoring

#12575 add la rioja to regions
  app/bundles/CoreBundle/Assets/json/regions.json
Labels: T1, ready-to-commit, enhancement, contacts

#11912 Fixes #11888 for mailjet puts only : in lead_donotcontact.comment
  app/bundles/EmailBundle/Swiftmailer/Transport/MailjetTransport.php
  app/bundles/EmailBundle/Tests/Transport/MailjetTransportTest.php
Labels: bug, ready-to-commit, email, email-integrations, cla-signed

#12141 Fix: Integration Campaign Members List issue on 5.x
  plugins/MauticCrmBundle/EventListener/LeadListSubscriber.php
Labels: bug, pending-test-confirmation, plugin, cla-signed

#12058 Fix: Integration Campaign Members List issue
  plugins/MauticCrmBundle/EventListener/LeadListSubscriber.php
Labels: T3, bug, pending-test-confirmation, plugin, cla-signed

#12579 Add mock http_client
  app/bundles/CoreBundle/Tests/Functional/Service/MockHttpClientTest.php
  app/config/config_test.php
Labels: enhancement, automated-tests

#11127 Fix limit/batch for broadcast email command
  UPGRADE-5.0.md
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
Labels: T1, bug, ready-to-commit, cla-signed

#12581 treat deprecation warnings as exceptions in PHPunit
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/phpunit.xml.dist
Labels: automated-tests, mautic-5

#11945 Focus item click conversion rate
  app/bundles/PageBundle/Resources/views/Trackable/click_counts.html.twig
  app/bundles/PageBundle/Translations/en_US/messages.ini
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFocusBundle/Controller/AjaxController.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/Entity/StatRepository.php
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFocusBundle/Resources/views/Builder/Modal/index.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticFocusBundle/Tests/Controller/FocusAjaxControllerFunctionalTest.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, focus-items, cla-signed, mautic-5

#12393 Rewrite remove do not contact form action
  app/bundles/CoreBundle/Event/CommonEvent.php
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/FormSubscriberTest.php
Labels: bug, ready-to-commit

#11683 Disable trackable for SMS in configuration
  app/bundles/SmsBundle/Config/config.php
  app/bundles/SmsBundle/Form/Type/ConfigType.php
  app/bundles/SmsBundle/Helper/SmsHelper.php
  app/bundles/SmsBundle/Integration/TwilioIntegration.php
  app/bundles/SmsBundle/Resources/views/FormTheme/Config/_config_smsconfig_widget.html.twig
  app/migrations/Version20221128145933.php
Labels: ready-to-commit, enhancement, cla-signed

#12522 remove obsolete scaffold files
  .github/ci-files/composer.json
  .github/workflows/tests.yml
  app/assets/scaffold/build/exclude_files.txt
  app/assets/scaffold/build/exclude_files_full.txt
  app/assets/scaffold/build/hooks/post-checkout
  app/assets/scaffold/build/hooks/pre-commit
  app/assets/scaffold/build/hooks/pre-commit.win
  app/assets/scaffold/build/package_devhead.php
  app/assets/scaffold/build/package_release.php
  app/assets/scaffold/build/patches/UnitOfWork.php
  app/assets/scaffold/build/processfiles.php
  app/assets/scaffold/files/Gruntfile.js
  app/assets/scaffold/files/autoload.php
  app/assets/scaffold/files/bootstrap.php
  app/assets/scaffold/files/config_override.php
  app/assets/scaffold/files/console
  app/assets/scaffold/files/console-application.php
  app/assets/scaffold/files/images.htaccess
  app/assets/scaffold/files/patches/at.js+1.5.4.patch
  app/assets/scaffold/files/patches/chosen-js+1.8.7.patch
  app/assets/scaffold/files/translations.htaccess
  app/assets/scaffold/files/upgrade.php
  app/assets/scaffold/media/files/.htaccess
  app/composer.json
  app/config/bootstrap.php
  bin/console
  composer.json
  composer.lock
Labels: T1, bug, ready-to-commit, composer

#12571 Fix an issue with editing a description area form field
  app/bundles/PageBundle/Controller/AjaxController.php
Labels: bug, ready-to-commit, forms

#12601 fix reference to incorrect template (lead audit log list)
  app/bundles/LeadBundle/Controller/AuditlogController.php
Labels: bug, regression

#12602 fix incorrect defaults for array input parameters when filtering contact history
  app/bundles/LeadBundle/Controller/TimelineController.php
Labels: bug, regression, contacts

#12600 fix reference to incorrect template (lead grid display)
  app/bundles/LeadBundle/Resources/views/Lead/grid.html.twig
Labels: bug, ready-to-commit, regression

#12603 Fix missing and incororrect references to twig templates
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Resources/views/Lead/list_rows.html.twig
Labels: bug, regression, twig

#12610 add codecov token to reduce the number of failed tests due to report upload failures - 4.4
  .github/workflows/tests.yml
Labels: bug, CI

#12608 The 2 fields must be set as rendered as they were unset in M4
  app/bundles/LeadBundle/Resources/views/Batch/channel.html.twig
Labels: bug, regression

#12611 Fixing tracking description formating
  app/bundles/PageBundle/Resources/views/FormTheme/Config/_config_trackingconfig_widget.html.twig
Labels: bug, translations, user-interface, ready-to-commit, tracking, twig

#12536 A Contact Point Log report can be generated with a segment filter
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: bug, ready-to-commit

#12578 retrigger gitpod image generation and update ddev to latest version
  .ddev/gitpod-setup-ddev.sh
  .gitpod.Dockerfile
Labels: enhancement

#11662 Add reply to to custom email
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Form/Type/EmailType.php
  app/bundles/LeadBundle/Resources/views/Lead/email.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, email, cla-signed

#12572 Segment date filter value validation
  app/bundles/LeadBundle/Config/services.php
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Validator/Constraints/SegmentDate.php
  app/bundles/LeadBundle/Validator/Constraints/SegmentDateValidator.php
Labels: ready-to-commit, enhancement, segments
