Repository mautic/mautic, pull requests merged in 2024-04, with the labels that each got.

#13589 Updating symfony/flex
  .ddev/docker-compose.redis-commander.yaml
  composer.lock
Labels: bug, CI, composer

#13560 Add allow redirect option to get request
  app/bundles/CoreBundle/IpLookup/AbstractLocalDataLookup.php
Labels: bug, plugin, unforking

#13601 Update to last gitpod version
  .gitpod.Dockerfile
Labels: bug, user-testing-passed, developer-experience

#13132 Focus: Add resize of modals and add scrolling If need it
  plugins/MauticFocusBundle/Resources/views/Builder/Modal/style.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/Notification/style.less.twig
  plugins/MauticFocusBundle/Resources/views/Builder/generate.js.twig
Labels: enhancement, focus-items, code-review-passed, user-testing-passed

#13590 Added a support for customizing mautic templates via themes/system folder.
  app/bundles/CoreBundle/DependencyInjection/Compiler/SystemThemeTemplatePathPass.php
  app/bundles/CoreBundle/MauticCoreBundle.php
  app/bundles/CoreBundle/Tests/Functional/DependencyInjection/Compiler/SystemThemeTemplatePathPassTest.php
Labels: bug, user-interface, regression, themes, twig, code-review-passed

#12706 Focus: Remove timeout from success message after form send
  plugins/MauticFocusBundle/Resources/views/Builder/form.html.twig
Labels: enhancement, forms, focus-items, code-review-passed

#13604 Upgrade twig package
  composer.lock
Labels: enhancement

#13605 Upgrade http kernel
  composer.lock
Labels: enhancement

#13607 Upgrade phpseclib
  composer.lock
Labels: enhancement

#13608 Upgrade elfinder package
  composer.lock
Labels: enhancement

#13603 Upgrade composer packages
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  composer.lock
Labels: enhancement, refactoring

#13606 Upgrade guzzlehttp psr7
  composer.lock
Labels: enhancement

#13582 [UI] Change Form, SMS and Email types header
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Resources/views/Sms/form.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: T1, forms, email, sms, code-review-passed, ux-review-passed

#13622 Add memory limit to run test maria db
  .github/workflows/tests.yml
Labels: bug, CI

#13633 4.4.12 bump
  app/release_metadata.json
  media/css/app.css
  media/js/app.js
Labels: chore

#13636 Improve grammar on message
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: translations, user-experience, enhancement, import-export

#13614 [UX] Make "Add widget" the main action on the dashboard
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, dashboard, code-review-passed

#13588 [UI] Change navigation menu icons
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CategoryBundle/Config/config.php
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Config/config.php
  app/bundles/DashboardBundle/Config/config.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/MarketplaceBundle/EventListener/MenuSubscriber.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/PointBundle/Config/config.php
  app/bundles/ReportBundle/Config/config.php
  app/bundles/StageBundle/Config/config.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/WebhookBundle/Config/config.php
  package-lock.json
  package.json
  plugins/MauticTagManagerBundle/Config/config.php
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, code-review-passed

#13584 fix:[DPMMA-2213] fix chart focus view statistics
  plugins/MauticFocusBundle/Model/FocusModel.php
  plugins/MauticFocusBundle/Tests/Model/FocusModelFunctionalTest.php
Labels: ready-to-commit, focus-items, code-review-passed, user-testing-passed

#13629 [UX] Micro animations for buttons
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/scaffolding.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: T1, user-experience, enhancement

#13658 fix issue 13657 - proper entity name used
  app/bundles/PointBundle/Translations/en_US/messages.ini
Labels: T1, bug, user-experience

#12860 Fix tracking for unsubscribe landing page
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: bug, landing-pages, email, code-review-passed, user-testing-passed

#12661 Fix report email failed stats graph performance
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
Labels: T2, ready-to-commit, reports, performance-scalability, code-review-passed, user-testing-passed

#13663 [UX] Improve charts experience
  app/bundles/CoreBundle/Assets/js/7.charts.js
  app/bundles/CoreBundle/Helper/Chart/LineChart.php
Labels: T1, pending-test-confirmation, user-experience, enhancement, javascript, code-review-passed, user-testing-passed

#13532 Add support for modal open/close callbacks.
  app/bundles/CoreBundle/Assets/js/9.modals.js
Labels: ready-to-commit, enhancement, javascript, unforking

#12704 Fix unique vs returning visitors widget
  app/bundles/PageBundle/EventListener/DashboardSubscriber.php
  app/bundles/PageBundle/Model/PageModel.php
Labels: bug, ready-to-commit, widget, dashboard, code-review-passed

#13595 [UX] Sections for user management
  app/bundles/UserBundle/Resources/views/User/form.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, roles, twig, code-review-passed, user-testing-passed, ux-review-passed

#13669 Upgrading to codecov v4 hoping it will fix the failures 🤞
  .github/workflows/tests.yml
Labels: bug, CI

#13623 [UI] Replace page actions icons from FontAwesome to Remix
  app/bundles/CampaignBundle/Form/Type/CampaignType.php
  app/bundles/CategoryBundle/EventListener/ButtonSubscriber.php
  app/bundles/ChannelBundle/EventListener/ButtonSubscriber.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/dropdowns.less
  app/bundles/CoreBundle/Form/Type/FormButtonsType.php
  app/bundles/CoreBundle/Form/Type/ThemeUploadType.php
  app/bundles/CoreBundle/Resources/views/Helper/confirm.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Twig/Extension/ButtonExtension.php
  app/bundles/DashboardBundle/Assets/css/dashboard.css
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/DashboardBundle/Resources/views/Widget/detail.html.twig
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/Result/list.html.twig
  app/bundles/LeadBundle/EventListener/ButtonSubscriber.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/LeadBundle/Resources/views/Company/company.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/detail.html.twig
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/ReportBundle/Resources/views/Report/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  plugins/MauticFocusBundle/Form/Type/FocusType.php
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#13534 Improve notification readability with max width
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notifications.html.twig
Labels: bug, user-experience, unforking

#13627 [UX] More contrast for texts
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, accessibility, code-review-passed, user-testing-passed

#13672 Adding missing tag to the GrapesJs fixture
  app/bundles/InstallBundle/Config/config.php
Labels: bug, ready-to-commit, regression, installation, builder-grapesjs, user-testing-passed

#13587 [UX] Marketer-friendly labels for dashboard widgets size instead of pixels
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, widget, dashboard, code-review-passed, user-testing-passed

#13376 [UX] Fixing page titles h-tag to improve accessibility
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
Labels: T1, ready-to-commit, user-experience, accessibility, code-review-passed, user-testing-passed

#13360 -Create a new dispatch to skip or get fatal error before send email if is necessary
  app/bundles/EmailBundle/EmailEvents.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/Helper/MailHelper.php
Labels: ready-to-commit, enhancement, plugin, email, email-integrations, code-review-passed

#13670 Fixing custom content variables for plugins
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/form.html.twig
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/form_tabbed.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/details.html.twig
  app/bundles/CoreBundle/Resources/views/LeftPanel/index.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/grid_card.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PageBundle/Resources/views/Trackable/click_counts.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/UserBundle/Resources/views/User/recent_activity.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
Labels: bug, ready-to-commit, plugin, regression, twig

#13624 [UI] Replace header icons from FontAwesome to Remix
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/GlobalSearch/globalsearch.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/profile.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notifications.html.twig
Labels: T1, user-interface, pending-test-confirmation, user-experience, enhancement, code-review-passed

#12814 Add language support for forms
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Helper/LanguageHelper.php
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Resources/views/Builder/_script.html.twig
  app/bundles/FormBundle/Resources/views/Builder/form.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Resources/views/Field/button.html.twig
  app/bundles/FormBundle/Resources/views/Field/email.html.twig
  app/bundles/FormBundle/Resources/views/Field/freehtml.html.twig
  app/bundles/FormBundle/Resources/views/Field/freetext.html.twig
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Resources/views/Field/hidden.html.twig
  app/bundles/FormBundle/Resources/views/Field/pagebreak.html.twig
  app/bundles/FormBundle/Resources/views/Field/select.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/resource/language/fr/FormBundle/messages.ini
  app/bundles/FormBundle/Tests/Controller/resource/language/fr/FormBundle/validators.ini
  app/bundles/FormBundle/Tests/Controller/resource/language/fr/config.json
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/migrations/Version20231207235400.php
Labels: T1, translations, enhancement, forms, code-review-passed, user-testing-passed

#13079 Not contains support for campaign's form value condition expression with notLike
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
Labels: ready-to-commit, enhancement, campaigns, code-review-passed, user-testing-passed

#13677 ensure select and group by field are aligned in the subquery to prevent SQL errors
  app/bundles/PageBundle/Model/PageModel.php
Labels: bug, ready-to-test, dashboard

#12884 Role export access in Leads, Forms, Reports
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/CoreBundle/Tests/Functional/Controller/ExportControllerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Helper/SecurityHelper.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/Resources/views/Result/list.html.twig
  app/bundles/FormBundle/Security/Permissions/FormPermissions.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/EventListener/ButtonSubscriber.php
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Resources/views/Report/details.html.twig
  app/bundles/ReportBundle/Security/Permissions/ReportPermissions.php
  app/migrations/Version20231110103625.php
Labels: T1, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13644 Fix: #13554 downloading Maxmind database
  app/bundles/CoreBundle/IpLookup/AbstractLocalDataLookup.php
Labels: bug, tracking, code-review-passed, user-testing-passed

#13680 Fix edit icon confusion from circle to normal pencil
  app/bundles/CoreBundle/Resources/views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Twig/Extension/ButtonExtension.php
  app/bundles/DashboardBundle/Resources/views/Widget/detail.html.twig
Labels: bug, ready-to-commit, user-experience, code-review-passed, user-testing-passed

#13686 [UI] Fix Select button without translation on mobile
  app/bundles/CoreBundle/Resources/views/Helper/form_selecttype.html.twig
Labels: T1, bug, user-interface

#13685 [UI] Fix campaign events spacing
  app/bundles/CampaignBundle/Assets/css/campaign.css
Labels: T1, bug, user-interface, user-experience

#13684 [UI] Fix reports width
  app/bundles/ReportBundle/Resources/views/Graph/Table.html.twig
Labels: T1, bug, user-interface, reports, code-review-passed

#13690 Ci, STAN fixes
  app/bundles/ReportBundle/Tests/Controller/ReportControllerFunctionalTest.php
Labels: chore

#13535 Support label_html value.
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13531 Make the option “Block search engines from indexing this file” enabled by default for assets (Creating an asset)
  app/bundles/AssetBundle/Entity/Asset.php
Labels: ready-to-commit, user-experience, enhancement, assets, code-review-passed, user-testing-passed

#13385 Add toggle to links in CKE5, to add external target
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: T1, ready-to-commit, enhancement, regression, code-review-passed

#13358 Error 500 when contact have a bounce email.
  app/bundles/EmailBundle/Resources/views/SubscribedEvents/Timeline/index.html.twig
Labels: T1, bug, ready-to-commit, contacts, code-review-passed

#13688 [UI] Minimalist tables for main pages
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/table.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/_list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: T1, user-interface, ready-to-test, code-review-needed, enhancement, twig

#12506 The form number field can be set to decimal precision
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Form/Type/FormFieldNumberType.php
  app/bundles/FormBundle/Resources/views/Field/number.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
  app/bundles/FormBundle/Tests/Form/Type/FormFieldNumberTypeTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, forms, code-review-passed, user-testing-passed

#13580 Dispatch inject template event also for ajax responses.
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: T3, bug, user-interface, ready-to-commit, code-review-passed

#13368 [UX] Change added fields label when creating forms to be clearer (things like "Select" instead of "Radio group")
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-experience, enhancement, forms, code-review-passed

#12760 add base uri to http client created by integration factory
  app/bundles/IntegrationsBundle/Auth/Provider/Oauth2ThreeLegged/HttpFactory.php
  app/bundles/IntegrationsBundle/Tests/Unit/Auth/Provider/Oauth2ThreeLegged/HttpFactoryTest.php
Labels: T2, bug, ready-to-commit, plugin, code-review-passed

#12429 [FEATURE] Adding custom GrapeJS plugins to customize the editor
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/package-lock.json
Labels: T3, enhancement, builder-grapesjs, code-review-passed

#12734 Add a SerializationContextEvent to the API.
  app/bundles/ApiBundle/ApiEvents.php
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/ApiBundle/Event/ApiSerializationContextEvent.php
Labels: enhancement, plugin, API, code-review-passed

#12906 Fix segment exclude for NULL values of multiselect values
  app/bundles/LeadBundle/EventListener/SegmentOperatorQuerySubscriber.php
  app/bundles/LeadBundle/Tests/Segment/SegmentFilterFunctionalTest.php
Labels: T1, bug, code-review-needed, segments, user-testing-passed

#13526 Segment membership as a new filter for dynamic web content
  app/bundles/CoreBundle/Form/Type/DynamicContentTrait.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/DynamicContentTraitTest.php
  app/bundles/DynamicContentBundle/Assets/js/dynamicContent.js
  app/bundles/DynamicContentBundle/Config/config.php
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/DynamicContentBundle/Form/Type/DwcEntryFiltersType.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Helper/DynamicContentHelper.php
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/form.html.twig
  app/bundles/DynamicContentBundle/Tests/Unit/EventListener/DynamicContentSubscriberTest.php
  app/bundles/DynamicContentBundle/Tests/Unit/Helper/DynamicContentHelperTest.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Helper/StatsCollectionHelper.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Entity/OperatorListTrait.php
  app/bundles/LeadBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/LeadBundle/EventListener/FilterOperatorSubscriber.php
  app/bundles/LeadBundle/Form/DataTransformer/FieldFilterTransformer.php
  app/bundles/LeadBundle/Form/Type/FilterTrait.php
  app/bundles/LeadBundle/Form/Type/FilterType.php
  app/bundles/LeadBundle/Tests/Entity/LeadListRepositoryTest.php
  app/bundles/LeadBundle/Tests/EventListener/DynamicContentSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/TypeOperatorSubscriberTest.php
  app/bundles/PageBundle/Tests/Controller/PageControllerFunctionalTest.php
Labels: feature, bug, segments, dynamic-content, unforking, code-review-passed

#13687 [UI] Fix filters on contact details weren't usable on mobile
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list_filter_form.html.twig
Labels: T1, bug, user-interface, contacts, twig, code-review-passed, user-testing-passed, ux-review-passed

#13596 [UX] Reorder administration panel
  app/bundles/ApiBundle/Config/config.php
  app/bundles/CategoryBundle/Config/config.php
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Config/config.php
  app/bundles/MarketplaceBundle/EventListener/MenuSubscriber.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Config/config.php
Labels: T1, pending-feedback, pending-test-confirmation, user-experience, enhancement, php

#13517 DPMMA-2550 Point Groups API
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Config/config.php
  app/bundles/PointBundle/Controller/Api/PointGroupsApiController.php
  app/bundles/PointBundle/Entity/Group.php
  app/bundles/PointBundle/Entity/GroupContactScore.php
  app/bundles/PointBundle/Entity/GroupRepository.php
  app/bundles/PointBundle/Model/PointGroupModel.php
  app/bundles/PointBundle/Tests/Controller/Api/PointGroupsApiControllerTest.php
Labels: enhancement, API, points-scoring, code-review-passed

#13708 fix:[DPMMA-2746] fix assets reports
  app/bundles/ReportBundle/Resources/views/Graph/Table.html.twig
Labels: bug, pending-test-confirmation, regression, reports, essential, assets, code-review-passed
