Repository mautic/mautic, pull requests merged in 2024-03, with the labels that each got.

#13451 Add batching to notification campaign subscriber
  app/bundles/NotificationBundle/Api/AbstractNotificationApi.php
  app/bundles/NotificationBundle/Api/OneSignalApi.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/NotificationBundle/Entity/Notification.php
  app/bundles/NotificationBundle/EventListener/CampaignSubscriber.php
  app/bundles/NotificationBundle/EventListener/ChannelSubscriber.php
  app/bundles/NotificationBundle/NotificationEvents.php
  app/bundles/NotificationBundle/Tests/Functional/Controller/MobileNotificationControllerTest.php
  app/bundles/NotificationBundle/Tests/Functional/Controller/NotificationControllerTest.php
  app/bundles/NotificationBundle/Tests/Functional/Controller/PopupControllerTest.php
  app/bundles/NotificationBundle/Tests/Functional/EventListener/CampaignSubscriberTest.php
  app/bundles/NotificationBundle/Tests/NotificationTrait.php
  app/bundles/NotificationBundle/Tests/Unit/Api/OneSignalApiTest.php
Labels: unforking

#13482 Catch ClientException's to account for validation errors.
  app/bundles/FormBundle/EventListener/FormSubscriber.php
Labels: bug, forms, unforking

#13509 Updated CommonController::delegateView to include "mauticTemplate" value in "mauticTemplateVars" for rendering
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: bug, plugin

#13504 [UX] Change "Visible on short forms" to "Visible on quick add"
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: user-experience, enhancement, custom-fields, code-review-passed, user-testing-passed

#13413 Dnc segment sql optimization
  app/bundles/LeadBundle/Entity/DoNotContact.php
  app/migrations/Version20190410143658.php
Labels: enhancement, segments, performance-scalability, unforking

#13494 [UX] Place the tip modal (the one that asks the website to generate preview) more below for Focus Items
  plugins/MauticFocusBundle/Assets/css/focus.css
  plugins/MauticFocusBundle/Assets/css/focus.less
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: user-experience, enhancement, focus-items, code-review-passed, user-testing-passed, ux-review-passed

#13473 [UX] Separate user account fields in sections
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: user-interface, ready-to-commit, user-experience, enhancement, roles, code-review-passed, user-testing-passed

#13503 [UX] Change "Published" to "Active" in user settings and add a tooltip
  app/bundles/UserBundle/Form/Type/UserType.php
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, roles

#13501 [UX] Specify what is the Default order when creating a webhook
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, webhooks, code-review-passed, user-testing-passed, ux-review-passed

#13488 [UX] “Score” and “Company owner” fields on New Company looks inconsistent since both are not part of either “Core” nor “Professional” sections
  app/bundles/LeadBundle/Resources/views/Company/form_fields.html.twig
  app/bundles/LeadBundle/Resources/views/Company/form_standalone.html.twig
Labels: user-interface, ready-to-commit, user-experience, enhancement, companies, code-review-passed, user-testing-passed, ux-review-passed

#13493 [UX] Create a tooltip for "Placement" to explain the behavior of the bar (focus item) when it is placed at the bottom of the page
  plugins/MauticFocusBundle/Form/Type/FocusPropertiesType.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, focus-items, code-review-passed, ux-review-passed

#13521 [Autoconfiguration] Add integration tags.
  app/bundles/IntegrationsBundle/DependencyInjection/IntegrationsExtension.php
  plugins/GrapesJsBuilderBundle/Config/config.php
  plugins/GrapesJsBuilderBundle/Config/services.php
Labels: enhancement, plugin

#13489 [UX] Put a placeholder on Alias and Public name when creating Segment to indicate that they’re auto-generated
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, segments, code-review-passed, user-testing-passed

#13436 [UX] Create tooltips for the "Script inside Head/Footer" labels
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, WIP, enhancement, configuration, code-review-passed, ux-review-passed

#13445 Refactoring and Added test case for segment change event
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/EventListener/PointSubscriber.php
  app/bundles/LeadBundle/Helper/PointEventHelper.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Tests/EventListener/FormSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/PointSubscriberTest.php
  app/bundles/PointBundle/PointEvents.php
Labels: segments, refactoring, unforking, code-review-passed, user-testing-passed

#13411 New sf contacts dnc sync
  app/bundles/CoreBundle/Entity/Transformer/NotificationArrayTransformer.php
  app/bundles/PluginBundle/Controller/AjaxController.php
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Integration/DynamicsIntegration.php
  plugins/MauticCrmBundle/Integration/Salesforce/CampaignMember/Fetcher.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Tests/Api/SalesforceApiTest.php
  plugins/MauticCrmBundle/Translations/en_US/messages.ini
Labels: bug, plugin, unforking, code-review-passed

#13408 Connectwise: Replace appcookie with clientid for authentication
  plugins/MauticCrmBundle/Api/ConnectwiseApi.php
  plugins/MauticCrmBundle/Integration/ConnectwiseIntegration.php
  plugins/MauticCrmBundle/Translations/en_US/messages.ini
Labels: bug, plugin, unforking, code-review-passed

#13457 Merging 5.0 to 5.x to fix API Library tests
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  composer.lock
Labels: chore

#13525 Revert sidebar to cog icon
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
Labels: user-interface, user-experience, code-review-passed

#13533 Campaign builder fixes
  app/bundles/CampaignBundle/Assets/js/campaign.js
Labels: bug, campaigns, unforking

#13536 Allow form_help for form elements
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
Labels: user-experience, enhancement, code-review-passed

#12778 Hide twitter related item if disabled
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/EventListener/ConfigSubscriber.php
  plugins/MauticSocialBundle/EventListener/FormSubscriber.php
  plugins/MauticSocialBundle/Integration/Config.php
  plugins/MauticSocialBundle/Integration/TwitterIntegration.php
  plugins/MauticSocialBundle/Tests/Functional/SocialMonitoringFunctionalTest.php
Labels: pending-test-confirmation, user-experience, enhancement, unforking, code-review-passed

#13550 Update redis-commander to a newer image
  .ddev/docker-compose.redis-commander.yaml
Labels: bug, developer-experience

#13491 [UX] Add a tooltip on "How often to engage?" to explain what means to select "Once per session"
  plugins/MauticFocusBundle/Form/Type/PropertiesType.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, focus-items, user-testing-passed

#12818 Update ddev configuration
  .ddev/config.yaml
Labels: ready-to-commit, has-conflicts, enhancement, developer-experience

#13496 [UX] Change "System Report?" to "Visible for other users"
  app/bundles/ReportBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, pending-feedback, user-experience, enhancement, reports, code-review-passed

#13440 [UX] Create a tooltip for "Custom CSS" to make sure the user does not include <style> HTML tags
  plugins/MauticFocusBundle/Form/Type/ContentType.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, user-testing-passed, ux-review-passed

#13487 [UX] Add a tooltip to explain what is Enclosure, Escape and Delimiter on Contacts import
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: user-experience, enhancement, contacts, import-export, code-review-passed, user-testing-passed

#13549 Improve no campaings lead modal message.
  app/bundles/LeadBundle/Resources/views/LeadCampaigns/index.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, user-interface, code-review-passed, ux-review-passed

#13495 [UX] Change "When a contact..." to improve accessibility
  app/bundles/PointBundle/Translations/en_US/messages.ini
Labels: user-experience, enhancement, points-scoring, accessibility, code-review-passed, user-testing-passed
