Repository mautic/mautic, pull requests merged in 2024-07, with the labels that each got.

#13813 Fix DDEV script permissions for Windows users
  .ddev/config.yaml
Labels: T1, bug, ready-to-commit, code-review-passed

#13679 Removing Merge button from Add New Company View
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/LeadBundle/Tests/Controller/CompanyControllerTest.php
Labels: T1, bug, ready-to-commit, user-experience, companies, code-review-passed, user-testing-passed

#13578 Cannot merge company with itself
  app/bundles/CoreBundle/Form/ChoiceLoader/EntityLookupChoiceLoader.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Form/Type/CompanyListType.php
  app/bundles/LeadBundle/Form/Type/CompanyMergeType.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: T1, bug, ready-to-commit, user-experience, companies, code-review-passed, user-testing-passed

#13903 Adding regex operator validation
  app/bundles/LeadBundle/EventListener/TypeOperatorSubscriber.php
  app/bundles/LeadBundle/Form/Validator/Constraints/DbRegex.php
  app/bundles/LeadBundle/Form/Validator/Constraints/DbRegexValidator.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/TypeOperatorSubscriberTest.php
Labels: ready-to-test, pending-test-confirmation, user-experience, enhancement, segments, unforking, code-review-passed

#13917 DPMMA-2697 Tag usages
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/FormBundle/Model/ActionModel.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/PointBundle/Model/TriggerEventModel.php
  app/bundles/ReportBundle/Model/ReportModel.php
  plugins/MauticTagManagerBundle/Controller/TagController.php
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
  plugins/MauticTagManagerBundle/Stats/TagDependencies.php
  plugins/MauticTagManagerBundle/Tests/Functional/Stats/TagDependenciesTest.php
  plugins/MauticTagManagerBundle/Translations/en_US/messages.ini
Labels: T1, enhancement, tags, code-review-passed, user-testing-passed

#13905 Fix inject custom theme in campaign action
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateCompany/_updatecompany_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateLead/_updatelead_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ContactCampaignsCondition/_campaignevent_lead_campaigns_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/FieldValueCondition/_campaignevent_lead_field_value_widget.html.twig
Labels: bug, regression, campaigns, code-review-passed, user-testing-passed

#13406 Handle salesforce deletes gracefully
  app/bundles/CoreBundle/Entity/Notification.php
  plugins/MauticCrmBundle/Api/SalesforceApi.php
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
  plugins/MauticCrmBundle/Tests/Api/SalesforceApiTest.php
  plugins/MauticCrmBundle/Translations/en_US/messages.ini
Labels: bug, plugin, unforking, code-review-passed, user-testing-passed

#12850 Text message type visible in categories page
  app/bundles/SmsBundle/Config/config.php
Labels: bug, categories, sms, unforking

#13909 [UI] Line nav tabs
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/CoreBundle/Assets/css/app/less/tokens.less
  app/bundles/CoreBundle/Resources/views/Helper/tabs.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/form.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/Email/layout.html.twig
  app/bundles/FormBundle/Resources/views/Builder/field.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/IntegrationsBundle/Resources/views/Config/form.html.twig
  app/bundles/LeadBundle/Resources/views/Company/company.html.twig
  app/bundles/LeadBundle/Resources/views/Company/form_embedded.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/frequency.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Resources/views/List/form.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/details.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/form.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/form.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/form.html.twig
  app/bundles/ReportBundle/Resources/views/Report/form.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/UserBundle/Resources/views/Role/form.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Integration/Foursquare/Profile/view.html.twig
  plugins/MauticSocialBundle/Resources/views/Integration/Instagram/Profile/view.html.twig
  plugins/MauticSocialBundle/Resources/views/Integration/LinkedIn/Profile/view.html.twig
  plugins/MauticSocialBundle/Resources/views/Integration/Twitter/Profile/view.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/form.html.twig
Labels: T1, user-interface, enhancement, code-review-passed

#13928 Update grapesjs to 0.21.12
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/package-lock.json
  plugins/GrapesJsBuilderBundle/package.json
Labels: enhancement, builder-grapesjs, code-review-passed, user-testing-passed

#13913 [UI] Simplify user account dropdown toggle
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/image.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Resources/views/Menu/profile.html.twig
Labels: T1, user-interface, code-review-needed, pending-test-confirmation

#13945 fix: segment filter icons
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
Labels: T1, bug, user-interface, code-review-passed, user-testing-passed

#13736 [UI] Improving contrast for list groups/tabs
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/ConfigBundle/Resources/views/Config/form.html.twig
  app/bundles/ConfigBundle/Resources/views/Sysinfo/index.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/LeadBundle/Resources/views/Company/form_standalone.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/form.html.twig
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Resources/views/Role/form.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, twig, code-review-passed, user-testing-passed

#13752 [UI] Fields
  app/bundles/AssetBundle/Assets/css/asset.css
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/multiselect/multi-select.less
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/FormBundle/Assets/css/form.css
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13771 [UI/UX] Campaign builder events
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
  app/bundles/CampaignBundle/Resources/views/Event/_preview.html.twig
  app/bundles/CampaignBundle/Resources/views/Event/jump.html.twig
  app/bundles/CampaignBundle/Resources/views/Source/_index.html.twig
  app/bundles/CampaignBundle/Tests/EventListener/CampaignIconTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Twig/Extension/CampaignEventIconExtension.php
  app/bundles/CoreBundle/Assets/css/app/less/components/builder.less
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#13780 [UI] Notifications
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
  app/bundles/CoreBundle/Resources/views/Notification/flash_messages.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13911 Add id HTML attribute for buttons based on defined action
  app/bundles/CoreBundle/Twig/Extension/ButtonExtension.php
Labels: T2, ready-to-commit, enhancement, php, code-review-passed, user-testing-passed, developer-experience

#13914 [UX] "Invite your team" action in account dropdown
  app/bundles/CoreBundle/Resources/views/Menu/profile.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, roles, twig, code-review-passed, user-testing-passed

#10306 DPMMA-1020 Fix search email with special characters in campaign action
  app/bundles/CoreBundle/Controller/AjaxLookupControllerTrait.php
  app/bundles/EmailBundle/Tests/Controller/AjaxControllerFunctionalTest.php
Labels: T1, bug, user-interface, ready-to-commit, campaigns, cla-signed, code-review-passed, user-testing-passed

#13818 [UX] Sending at, Activate at and Available from (statuses)
  app/bundles/AssetBundle/Resources/views/Asset/form.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/form.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/form.html.twig
Labels: T1, pending-feedback, user-experience, enhancement, user-testing-passed

#13891 [UI] Minor improvements for panels
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/panels.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/FormBundle/Assets/css/form.css
Labels: T1, user-interface, enhancement, code-review-passed, user-testing-passed

#13944 fix: focus item published
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
Labels: T1, bug, user-interface, ready-to-commit, regression, code-review-passed, user-testing-passed

#13848 [UI] Tiles.less
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed, developer-experience

#13380 [UI] Enhance page body
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Default/output.html.twig
Labels: T1, user-interface, ready-to-commit, ready-to-test, code-review-needed, enhancement, twig

#13938 fix [DPMMA-2661] mapped field form 5.1
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
Labels: bug, API, regression, forms, code-review-passed

#13958 Adding support for PHP 8.3
  .ddev/config.yaml
  .github/workflows/tests.yml
  app/bundles/LeadBundle/Tests/Helper/TokenHelperTest.php
  app/release_metadata.json
Labels: feature, dependencies, php, code-review-passed, user-testing-passed

#13859 FIX: Removes onConfigSave which invokes htmlspecialchars and escapes tracking script
  app/bundles/PageBundle/Form/Type/ConfigType.php
Labels: bug, ready-to-commit, landing-pages, code-review-passed, user-testing-passed

#13982 One more test
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: enhancement, automated-tests, unforking, code-review-passed

#13967 Fix typo in permission key for Mautic Social Bundle - Change "tweet" to "tweets"
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
Labels: bug, user-interface, code-review-passed, user-testing-passed

#13930 [UI] Improvements for notes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/notes.less
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
  app/bundles/LeadBundle/Resources/views/Note/note.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13983 Send example email as a specified contact
  app/bundles/CoreBundle/Form/Type/ContentPreviewSettingsType.php
  app/bundles/CoreBundle/Security/Permissions/AbstractPermissions.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ContentPreviewSettingsTypeTest.php
  app/bundles/EmailBundle/Assets/js/send.example.js
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Form/Type/ExampleSendType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailExampleFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/PreviewFunctionalTest.php
  app/bundles/EmailBundle/Tests/Form/Type/ExampleSendTypeTest.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, email, unforking, code-review-passed, user-testing-passed

#13874 Add new job for GitHub Actions to label pull request automatically
  .github/labeler.yml
  .github/workflows/tests.yml
Labels: CI, github_actions

#13951 Use 'monolog.logger.mautic' instead of 'logger'
  app/bundles/LeadBundle/Config/config.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/SmsBundle/Config/config.php
  plugins/MauticClearbitBundle/Config/config.php
  plugins/MauticCloudStorageBundle/Config/config.php
  plugins/MauticEmailMarketingBundle/Config/config.php
  plugins/MauticFullContactBundle/Config/config.php
  plugins/MauticGmailBundle/Config/config.php
  plugins/MauticOutlookBundle/Config/config.php
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticTagManagerBundle/Config/config.php
Labels: bug, pending-test-confirmation, refactoring, unforking

#13965 Email tracking links are being incorrectly assigned to inappropriate contacts
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Tests/Controller/EmailSendFunctionalTest.php
Labels: T2, bug, email, tracking, unforking, code-review-passed, user-testing-passed

#13953 [UI] Convert the right sidebar into a dropdown element
  app/bundles/ApiBundle/Config/config.php
  app/bundles/CategoryBundle/Config/config.php
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/dropdowns.less
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/admin.html.twig
  app/bundles/CoreBundle/Resources/views/RightPanel/index.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/MarketplaceBundle/EventListener/MenuSubscriber.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/WebhookBundle/Config/config.php
Labels: T1, ready-to-commit, user-experience, enhancement, accessibility, code-review-passed, user-testing-passed

#13963 Campaign infinite loop due to restarts validation
  app/bundles/CampaignBundle/Controller/Api/CampaignApiController.php
  app/bundles/CampaignBundle/Entity/Event.php
  app/bundles/CampaignBundle/EventListener/CampaignActionChangeMembershipSubscriber.php
  app/bundles/CampaignBundle/Form/Type/CampaignEventAddRemoveLeadType.php
  app/bundles/CampaignBundle/Form/Type/EventType.php
  app/bundles/CampaignBundle/Form/Validator/Constraints/InfiniteLoop.php
  app/bundles/CampaignBundle/Form/Validator/Constraints/InfiniteLoopValidator.php
  app/bundles/CampaignBundle/Tests/Functional/Form/Validator/Constraints/InfiniteLoopValidatorFunctionalTest.php
  app/bundles/CampaignBundle/Translations/en_US/validators.ini
Labels: T1, enhancement, campaigns, unforking, code-review-passed, user-testing-passed

#13990 New form field: Company lookup
  app/assets/js/mautic-form-src.js
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Entity/FieldRepository.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Resources/views/Builder/_style.html.twig
  app/bundles/FormBundle/Resources/views/Field/companyLookup.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
  app/bundles/FormBundle/Tests/Controller/FieldControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Views/Field/companyLookup.html.php
  app/bundles/LeadBundle/Entity/Company.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
Labels: ready-to-commit, enhancement, forms, companies, unforking, code-review-passed, user-testing-passed

#13871 FIX: Makes `anniversary` date filter compatible with datetime
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateAnniversary.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateAnniversaryTest.php
Labels: T2, bug, segments, code-review-passed

#13995 Do not fail scheduled events when publish date range is off
  app/bundles/CampaignBundle/Executioner/EventExecutioner.php
  app/bundles/CampaignBundle/Executioner/ScheduledExecutioner.php
  app/bundles/CampaignBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Executioner/EventExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/ScheduledExecutionerTest.php
Labels: bug, campaigns, unforking, code-review-passed, user-testing-passed

#14012 5.1.1-in-progress to 5.x
  .gitpod.Dockerfile
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CoreBundle/Controller/AjaxLookupControllerTrait.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Resources/views/Field/properties_select.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateAnniversary.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateAnniversaryTest.php
  app/bundles/PageBundle/Form/Type/ConfigType.php
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
Labels: chore

#14005 [UI] fix: Add recipient too wide @escopecz
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: T1, bug, user-interface, code-review-needed, pending-test-confirmation

#13949 [UI] Replace spinner icon
  app/bundles/AssetBundle/Assets/js/asset.js
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/ConfigBundle/Assets/js/config.js
  app/bundles/ConfigBundle/Resources/views/FormTheme/dsn_row.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/spinning.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/10.entity.js
  app/bundles/CoreBundle/Assets/js/2.config.js
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/iplookup_download_data_store_button_row.html.twig
  app/bundles/CoreBundle/Resources/views/Update/update.html.twig
  app/bundles/DashboardBundle/Assets/js/dashboard.js
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/EmailBundle/Assets/js/config.js
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/monitored_mailboxes_widget.html.twig
  app/bundles/InstallBundle/Assets/install/install.js
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/install.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/remove.html.twig
  app/bundles/PageBundle/Resources/views/Trackable/click_counts.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/form.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
Labels: T2, user-interface, ready-to-commit, javascript, code-review-passed, user-testing-passed

#13956 Replace SVG avatar with PNG for Gravatar compatibility.
  app/assets/images/avatar.png
  app/assets/images/avatar.svg
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/LeadBundle/Tests/Helper/AvatarHelperTest.php
  app/bundles/LeadBundle/Twig/Helper/DefaultAvatarHelper.php
Labels: T1, bug, user-interface, ready-to-test, code-review-needed, regression, php

#13897 [UX] Copy code blocks on click
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/js/1.core.js
Labels: T1, feature, ready-to-commit, user-experience, javascript, code-review-passed, user-testing-passed

#13957 [UI] Replace FA icons (part 3)
  app/bundles/AssetBundle/Assets/js/asset.js
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_event_list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
  app/bundles/CampaignBundle/Resources/views/Source/_index.html.twig
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/froala_editor.js
  app/bundles/CoreBundle/Resources/views/Error/base.html.twig
  app/bundles/CoreBundle/Resources/views/Exception/base.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/builder.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_icon.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/search.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tabs.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
  app/bundles/CoreBundle/Resources/views/Offline/offline.html.twig
  app/bundles/CoreBundle/Resources/views/Variant/row.html.twig
  app/bundles/CoreBundle/Tests/Unit/Service/BulkNotificationTest.php
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Resources/views/Form/_details_fields_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/InstallBundle/Assets/install/install.js
  app/bundles/InstallBundle/Resources/views/Install/final.html.twig
  app/bundles/IntegrationsBundle/Resources/views/Config/form.html.twig
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/Form/Type/CompanyType.php
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/properties_boolean.html.twig
  app/bundles/LeadBundle/Resources/views/Import/details.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_devices.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/company.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/grid_card.html.twig
  app/bundles/LeadBundle/Resources/views/LeadCampaigns/index.html.twig
  app/bundles/LeadBundle/Resources/views/LeadLists/index.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/Note/list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/plugin_list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/plugin_table.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/NotificationBundle/Resources/views/MobileNotification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/form.html.twig
  app/bundles/PointBundle/Resources/views/Event/actions.html.twig
  app/bundles/ReportBundle/Resources/views/FormTheme/Report/layout.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_list.html.twig
  app/bundles/SmsBundle/EventListener/LeadSubscriber.php
  app/bundles/SmsBundle/EventListener/ReplySubscriber.php
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: T1, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#13921 Fix generatePageTitle to retrieve the correct page header tag.
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed

#13678 Ensure asset and page titles are correctly shown in ckeditor
  app/assets/libraries/ckeditor/src/TokenPlugin.js
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: T1, bug, ready-to-commit, editor, user-testing-passed

#13915 Fix for update read_count in email entity.
  app/bundles/EmailBundle/Model/EmailModel.php
  app/migrations/Version20240708153845.php
Labels: T1, bug, code-review-needed, email, user-testing-passed

#14026 Re-enable rendering of html in form field labels
  app/bundles/FormBundle/Resources/views/Field/button.html.twig
  app/bundles/FormBundle/Resources/views/Field/freehtml.html.twig
  app/bundles/FormBundle/Resources/views/Field/freetext.html.twig
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Resources/views/Field/hidden.html.twig
  app/bundles/FormBundle/Resources/views/Field/select.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
  app/bundles/FormBundle/Resources/views/Form/_details_fields_list.html.twig
Labels: bug, regression, forms, mautic-5, twig, code-review-passed, user-testing-passed

#14027 [UI] Date picker
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/calendar.less
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14024 [UI] Fix for spinner taking a full line of width
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/spinning.less
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14008 [UI] Toolbar fix for mobile
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#13919 [UI] Contact statistics
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/Lead/lead_stats.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14006 [UI] Replace poor icon size solution by classes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/table.less
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed
