Repository mautic/mautic, pull requests merged in 2024-12, with the labels that each got.

#14304 Fix flaky E2E tests in Contact Management and Email Management suites
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Step/Acceptance/ContactStep.php
  tests/_support/Step/Acceptance/EmailStep.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: ready-to-commit, automated-tests, mautic-5, code-review-passed

#14289 decision's negative path actions aren't triggering as expected
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
Labels: bug, ready-to-commit, campaigns, unforking

#14310 Bump version to 5.2.0
  app/release_metadata.json
Labels: chore, code-review-passed

#14094 Automatic code cleanup (Rector)
  app/bundles/ApiBundle/Tests/Functional/Oauth2Test.php
  app/bundles/AssetBundle/Tests/Controller/Api/AssetApiControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/Command/CampaignDeleteEventLogsCommand.php
  app/bundles/CampaignBundle/Tests/Command/AbstractCampaignCommand.php
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerTest.php
  app/bundles/CampaignBundle/Tests/Controller/SourceControllerTest.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignActionJumpToEventSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/DetailsTest.php
  app/bundles/CampaignBundle/Tests/Functional/Form/Validator/Constraints/InfiniteLoopValidatorFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Controller/Api/MessageApiControllerTest.php
  app/bundles/CoreBundle/Command/AnonymizeIpCommand.php
  app/bundles/CoreBundle/Tests/Functional/Controller/AjaxControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/FileControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/JsControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/UpdateControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/Command/src/FakeModeratedCommand.php
  app/bundles/CoreBundle/Tests/Unit/EventListener/RequestSubscriberTest.php
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Entity/Stat.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailExampleFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailSendFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/PreviewFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberFunctionalTest.php
  app/bundles/EmailBundle/Tests/Model/EmailStatModelTest.php
  app/bundles/EmailBundle/Tests/Validator/EmailOrEmailTokenListValidatorTest.php
  app/bundles/FormBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/FieldControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/IntegrationsBundle/Command/CleanupCommand.php
  app/bundles/LeadBundle/Field/Command/AnalyseCustomFieldCommand.php
  app/bundles/LeadBundle/Field/Command/UpdateCustomFieldCommand.php
  app/bundles/LeadBundle/Form/Type/HtmlType.php
  app/bundles/LeadBundle/Tests/Controller/Api/DeviceApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/Api/TagApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerTest.php
  app/bundles/LeadBundle/Tests/Form/Type/FilterTypeTest.php
  app/bundles/LeadBundle/Tests/Form/Type/HtmlTypeTest.php
  rector-older-symfony.php
Labels: bug, ready-to-test, code-review-needed, refactoring

#14318 Add workflow to verify E2E tests with multiple iterations
  .github/workflows/e2e-tests.yml
Labels: enhancement, CI, automated-tests

#14284 Removing the Gated Video feature
  .gitignore
  app/assets/css/mediaelementplayer.css
  app/assets/scaffold/files/example.gitignore
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/gated_video.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/js/11.editor.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/gatedvideo.js
  app/bundles/CoreBundle/Form/Type/GatedVideoType.php
  app/bundles/CoreBundle/Resources/views/Slots/gatedvideo.html.twig
  app/bundles/CoreBundle/Tests/Functional/Type/GatedVideoTypeTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/bundles/DynamicContentBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/EventListener/BuildJsSubscriber.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  app/bundles/PageBundle/Resources/views/Page/preview_header.html.twig
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
Labels: ready-to-test, code-review-needed, bc-break, builder-legacy, refactoring, unforking

#14320 Update BUG-REPORT.yml to include 5.2.x series option
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: chore

#14322 fix: [DPMMA-2945] use hex colors in ckeditor
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: pending-test-confirmation, email, builder-grapesjs

#14271 [UI] Remove Froala styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/froala_editor.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/froala_style.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/char_counter.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/code_view.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/colors.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/draggable.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/emoticons.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/file.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/fullscreen.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/help.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/image.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/image_manager.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/line_breaker.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/quick_insert.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/special_characters.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/table.less
  app/bundles/CoreBundle/Assets/css/libraries/froala/plugins/video.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
Labels: user-interface, code-review-needed, bc-break

#14334 fix: theme upload width
  app/bundles/CoreBundle/Resources/views/Theme/form.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14333 fix: disabled row hardcoded bg color
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14356 Fixing the best send hour widget
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: bug, dashboard, user-testing-passed

#14325 Fix "This form should not contain extra fields" error in campaign event form
  app/bundles/CampaignBundle/Form/Type/EventType.php
Labels: bug, ready-to-commit, campaigns, mautic-5, code-review-passed, user-testing-passed

#14358 Best hour widget fix
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/EmailBundle/Model/EmailModel.php
Labels: bug, ready-to-commit, dashboard, code-review-passed, user-testing-passed

#14303 Consider a campaign's Activate at / Deactivate at dates when triggering campaign events
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Entity/EventRepository.php
  app/bundles/CampaignBundle/Tests/Entity/EventRepositoryFunctionalTest.php
Labels: bug, ready-to-commit, campaigns, unforking, code-review-passed, user-testing-passed

#14353 [UI/UX] Search (almost) Everything
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/AssetBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/CampaignBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/globalsearch.less
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/app/less/components/modals.less
  app/bundles/CoreBundle/Assets/css/app/less/components/scaffolding.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/GlobalSearch/globalsearch.html.twig
  app/bundles/CoreBundle/Resources/views/GlobalSearch/results.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/CoreBundle/Resources/views/Variant/index.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/AjaxControllerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Resources/views/Dashboard/import.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/FormBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/LeadBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/PageBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/PointBundle/Resources/views/SubscribedEvents/Search/global_point.html.twig
  app/bundles/PointBundle/Resources/views/SubscribedEvents/Search/global_trigger.html.twig
  app/bundles/ReportBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/StageBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/StageBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Resources/views/SubscribedEvents/Search/global_role.html.twig
  app/bundles/UserBundle/Resources/views/SubscribedEvents/Search/global_user.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: T1, bug, user-interface, user-experience, enhancement, regression, code-review-passed

#14337 fix: upcoming emails layout
  app/bundles/DashboardBundle/Resources/views/Dashboard/upcomingemails.html.twig
Labels: T1, bug, user-interface, ready-to-commit, regression, widget, dashboard, code-review-passed, user-testing-passed

#14258 DPMMA-2936 grapesjs ckeditor custom initializer
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/grapesjs-custom.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/plugins/grapesjs.ckeditor.js
  plugins/GrapesJsBuilderBundle/package-lock.json
  plugins/GrapesJsBuilderBundle/package.json
Labels: bug, ready-to-commit, builder-grapesjs

#14312 Campaign event: same day execution fix
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/Mode/IntervalTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: bug, campaigns, unforking, code-review-passed, user-testing-passed

#14360 Do not track attachment downloads when there is no request
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Tests/Model/AssetModelTest.php
Labels: T1, bug, ready-to-test, code-review-needed, assets

#14144 Remove deprecated getUniqueIdentiferFields from FieldModel.
  UPGRADE-6.0.md
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/FormTestAbstract.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelTest.php
  app/bundles/IntegrationsBundle/Config/config.php
  app/bundles/IntegrationsBundle/Config/services.php
  app/bundles/IntegrationsBundle/Sync/Helper/MappingHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncDataExchange/Helper/FieldHelper.php
  app/bundles/IntegrationsBundle/Tests/Unit/AbstractIntegrationTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/Helper/MappingHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Helper/FieldHelperTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Config/services.php
  app/bundles/LeadBundle/Deduplicate/CompanyDeduper.php
  app/bundles/LeadBundle/Deduplicate/ContactDeduper.php
  app/bundles/LeadBundle/Deduplicate/DeduperTrait.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Deduplicate/CompanyDeduperTest.php
  app/bundles/LeadBundle/Tests/Model/FieldModelTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/NotificationBundle/Config/config.php
  app/bundles/PluginBundle/Integration/AbstractIntegration.php
  app/bundles/PluginBundle/Tests/Integration/AbstractIntegrationTest.php
  app/bundles/SmsBundle/Config/config.php
  plugins/MauticClearbitBundle/Config/config.php
  plugins/MauticCloudStorageBundle/Config/config.php
  plugins/MauticCrmBundle/Integration/CrmAbstractIntegration.php
  plugins/MauticCrmBundle/Tests/DynamicsApiTest.php
  plugins/MauticEmailMarketingBundle/Config/config.php
  plugins/MauticFullContactBundle/Config/config.php
  plugins/MauticGmailBundle/Config/config.php
  plugins/MauticOutlookBundle/Config/config.php
  plugins/MauticOutlookBundle/Tests/Integration/OutlookIntegrationTest.php
  plugins/MauticSocialBundle/Config/config.php
  plugins/MauticSocialBundle/Integration/SocialIntegration.php
  plugins/MauticTagManagerBundle/Config/config.php
Labels: refactoring

#14367 SAMl login fix and test.
  .env.test
  .github/workflows/tests.yml
  app/bundles/CoreBundle/Tests/Functional/SamlTest.php
  app/bundles/UserBundle/Config/services.php
  app/bundles/UserBundle/Form/Type/ConfigType.php
  app/bundles/UserBundle/Security/SAML/Store/Request/RequestStateStore.php
  app/bundles/UserBundle/Tests/Security/SAML/Store/Request/RequestStateStoreTest.php
  app/config/security.php
Labels: bug, automated-tests, code-review-passed, user-testing-passed

#14277 Plugins are not logging the security token
  app/bundles/PluginBundle/EventListener/IntegrationSubscriber.php
  app/bundles/PluginBundle/Helper/oAuthHelper.php
  app/bundles/PluginBundle/Tests/EventListener/IntegrationSubscriberTest.php
  app/bundles/PluginBundle/Tests/Helper/oAuthHelperTest.php
Labels: bug, ready-to-commit, plugin, code-review-passed, user-testing-passed

#14216 Notification message to include the reason
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Tests/Functional/Command/ImportCommandTest.php
Labels: bug, ready-to-commit, contacts, import-export, hacktoberfest, hacktoberfest-accepted, code-review-passed, user-testing-passed

#14378 Updating dependencies to secure versions
  composer.lock
Labels: enhancement, dependencies, essential

#14383 Adding v6.0.0 to the issue template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: chore

#14384 Fixing more places getting non-scalar values from request in Symfony 6
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/ApiBundle/Tests/Controller/CommonApiControllerTest.php
  app/bundles/CoreBundle/Form/Validator/Constraints/CircularDependencyValidator.php
  app/bundles/CoreBundle/Tests/Unit/Form/Validator/Constraints/CircularDependencyValidatorTest.php
  app/bundles/DashboardBundle/Controller/Api/WidgetApiController.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Dashboard/Widget.php
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/FormBundle/Controller/Api/FormApiController.php
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerTest.php
  app/bundles/NotificationBundle/Controller/MobileNotificationController.php
  app/bundles/NotificationBundle/Controller/NotificationController.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/SmsBundle/Controller/SmsController.php
  plugins/MauticFocusBundle/Controller/FocusController.php
Labels: bug, code-review-needed, focus-items, user-testing-passed

#14406 Adding BC break changes into the upgrade 6.0 file
  UPGRADE-6.0.md
Labels: code-review-needed, chore

#14404 Update decision/action panel colors in campaign's builder
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
Labels: T1, bug, ready-to-commit, campaigns, code-review-passed, user-testing-passed, ux-review-passed

#14407 [Campaign] In the builder when adding an event in 5.2, it always shows the paste option even if nothing to paste
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
Labels: ready-to-commit, campaigns, code-review-passed
