Repository mautic/mautic, pull requests merged in 2024-05, with the labels that each got.

#13615 Fix PHP deprecation errors - Issue #13270
  app/middlewares/CORSMiddleware.php
Labels: T1, bug, tracking, code-review-passed

#13704 Fix user account tabs
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: T1, bug, user-interface, roles, code-review-passed, user-testing-passed

#13726 Fixing form attribute
  app/bundles/FormBundle/Resources/views/Builder/form.html.twig
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: bug, ready-to-commit, regression, forms

#13610 DPMMA-2608 Local Autosave and Recovery Feature for GrapesJS Builder
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Translations/en_US/javascript.ini
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/storage.service.js
Labels: feature, ready-to-commit, landing-pages, email, builder-grapesjs, code-review-passed, user-testing-passed

#13381 [UX] Improve the comparison between the two form type options
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/grid.less
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/app/less/components/panels.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Helper/form_selecttype.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Resources/views/Sms/form.html.twig
Labels: T1, bug, pending-test-confirmation, user-experience, enhancement, forms, code-review-passed

#13502 [UX] Change "Published" to "Available for use" for bundles
  app/bundles/AssetBundle/Form/Type/AssetType.php
  app/bundles/CoreBundle/Form/Type/AbstractFormStandardType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Translations/en_US/flashes.ini
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Form/Type/GroupType.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Form/Type/SmsType.php
Labels: user-experience, enhancement, custom-fields, code-review-passed, user-testing-passed

#13500 [UX] Change bundles statuses from Published to Active
  app/bundles/CoreBundle/Form/Type/PublishUpDateType.php
  app/bundles/CoreBundle/Form/Type/YesNoButtonGroupType.php
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_icon.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Form/Type/UserType.php
  app/bundles/UserBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
Labels: user-experience, enhancement, webhooks, code-review-passed, ux-review-passed

#13628 [UI] Update placeholders and plugins logos
  app/assets/images/avatar.png
  app/assets/images/avatar.svg
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/image.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/LeadBundle/Resources/views/Lead/form.html.twig
  app/bundles/LeadBundle/Tests/Helper/AvatarHelperTest.php
  app/bundles/LeadBundle/Twig/Helper/DefaultAvatarHelper.php
  plugins/MauticCrmBundle/Assets/img/hubspot.png
  plugins/MauticCrmBundle/Assets/img/salesforce.png
  plugins/MauticCrmBundle/Assets/img/sugarcrm.png
  plugins/MauticCrmBundle/Assets/img/zoho.png
  plugins/MauticEmailMarketingBundle/Assets/img/mailchimp.png
  plugins/MauticGmailBundle/Assets/img/gmail.png
  plugins/MauticOutlookBundle/Assets/img/outlook.png
  plugins/MauticSocialBundle/Assets/img/foursquare.png
  plugins/MauticSocialBundle/Assets/img/googleplus.png
  plugins/MauticSocialBundle/Assets/img/instagram.png
  plugins/MauticSocialBundle/Assets/img/twitter.png
  plugins/MauticTagManagerBundle/Assets/img/tagmanager.png
  plugins/MauticZapierBundle/Assets/img/icon.png
Labels: T1, user-interface, enhancement, code-review-passed, ux-review-passed

#13725 Fix for cke5 to allow link attributes
  app/assets/libraries/ckeditor/src/ckeditor.ts
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/js/11.editor.js
  package-lock.json
  package.json
Labels: T1, bug, editor, mautic-5, code-review-passed, user-testing-passed

#13707 Fix Batch select on list causes arrow to disappear
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: T1, bug, user-interface, user-experience, code-review-passed

#13721 Updated location fields for empty location.
  app/bundles/LeadBundle/Resources/views/Lead/_list_column_location.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadControllerListingPageTest.php
Labels: bug, ready-to-commit, contacts, code-review-passed

#13723 Adding an option to hide themes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/9.modals.js
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Helper/ThemeHelperInterface.php
  app/bundles/CoreBundle/Resources/views/Helper/theme_select.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ThemeHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, themes, unforking, ux-review-passed

#13741 Returning custom field view permission
  app/bundles/LeadBundle/Security/Permissions/LeadPermissions.php
  app/bundles/LeadBundle/Tests/Security/LeadPermissionsFunctionalTest.php
Labels: bug, regression, roles

#13659 An optimistic locking mechanism for campaigns
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Form/Type/CampaignType.php
  app/bundles/CampaignBundle/Resources/views/Campaign/_builder.html.twig
  app/bundles/CampaignBundle/Tests/Functional/Controller/CampaignOptimisticLockTest.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
  app/bundles/CoreBundle/Entity/OptimisticLockInterface.php
  app/bundles/CoreBundle/Entity/OptimisticLockTrait.php
  app/bundles/CoreBundle/EventListener/OptimisticLockSubscriber.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/migrations/Version20240416112112.php
Labels: user-experience, enhancement, campaigns, unforking, code-review-passed

#13711 New batch action option to leads, on focus to include and to remove tags.
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Entity/TagRepository.php
  app/bundles/LeadBundle/Resources/views/Lead/_list.html.twig
  app/bundles/LeadBundle/Tests/Model/ListModelFunctionalTest.php
  plugins/MauticTagManagerBundle/Config/config.php
  plugins/MauticTagManagerBundle/Controller/BatchTagController.php
  plugins/MauticTagManagerBundle/Form/Type/BatchTagType.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/BatchControllerTest.php
  plugins/MauticTagManagerBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, tags, code-review-passed, user-testing-passed

#13714 [UI] Minimalist backgrounds
  app/bundles/AssetBundle/Resources/views/Asset/form.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/form.html.twig
  app/bundles/ConfigBundle/Resources/views/Config/form.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/scaffolding.less
  app/bundles/LeadBundle/Resources/views/Company/form_fields.html.twig
  app/bundles/LeadBundle/Resources/views/Company/form_standalone.html.twig
  app/bundles/LeadBundle/Resources/views/Field/form.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/form.html.twig
  app/bundles/PointBundle/Resources/views/Group/form.html.twig
  app/bundles/PointBundle/Resources/views/Point/form.html.twig
  app/bundles/StageBundle/Resources/views/Stage/form.html.twig
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Resources/views/User/form.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/form.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: T1, user-interface, enhancement, code-review-passed, user-testing-passed

#13744 Form field automatically remapping after being unmapped
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
Labels: bug, ready-to-commit, forms, unforking, code-review-passed

#13747 Bug fix for published labels
  app/bundles/AssetBundle/Form/Type/AssetType.php
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
  app/bundles/CategoryBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
  app/bundles/CoreBundle/Form/Type/AbstractFormStandardType.php
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PointBundle/Form/Type/GroupType.php
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/SmsBundle/Form/Type/SmsType.php
Labels: T1, bug, translations, essential, code-review-passed

#12570 [DPMMA-1866] Map with e-mail statistics
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/CampaignMapStatsController.php
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CampaignBundle/Model/CampaignModel.php
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Tests/Controller/CampaignMapStatsControllerTest.php
  app/bundles/CampaignBundle/Tests/Model/CampaignModelFunctionalTest.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/maps.less
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/js/15.maps.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Assets/js/7.charts.js
  app/bundles/CoreBundle/Helper/MapHelper.php
  app/bundles/CoreBundle/Resources/views/Helper/map.html.twig
  app/bundles/CoreBundle/Tests/Helper/MapHelperTest.php
  app/bundles/DashboardBundle/Assets/js/dashboard.js
  app/bundles/EmailBundle/Assets/css/email.css
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/EmailMapStatsController.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/graph.html.twig
  app/bundles/EmailBundle/Tests/Controller/EmailMapStatsControllerTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: enhancement, campaigns, email, dashboard, code-review-passed

#13761 Custom field label length validation
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Tests/Controller/FieldControllerTest.php
  app/bundles/LeadBundle/Translations/en_US/validators.ini
Labels: bug, custom-fields, unforking, code-review-passed, user-testing-passed

#13750 File import enhancement for contact import
  app/bundles/CoreBundle/Helper/PathsHelper.php
  app/bundles/LeadBundle/Command/ImportCommand.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/ImportController.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Tests/Command/ImportCommandTest.php
Labels: enhancement, import-export, unforking, code-review-passed, user-testing-passed

#13769 Fix columns bug when editing API credentials
  app/bundles/ApiBundle/Resources/views/Client/form.html.twig
Labels: T1, bug, user-interface, ready-to-test, code-review-needed, API, essential, twig

#13758 Import remix icon as LESS instead of from node_modules
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/FontAwesome.otf
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.eot
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.svg
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.ttf
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.woff
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/path.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/css/libraries/remixicon/License
  app/bundles/CoreBundle/Assets/css/libraries/remixicon/fonts/remixicon.less
  app/bundles/CoreBundle/Assets/css/libraries/remixicon/fonts/remixicon.woff2
  app/bundles/CoreBundle/Assets/css/libraries/remixicon/package.json
  package-lock.json
  package.json
Labels: T1, bug, user-interface, essential, code-review-passed, user-testing-passed

#13785 [UI] Remove ghost lines from background
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/box.less
Labels: T1, bug, user-interface, code-review-passed, user-testing-passed

#13783 [UI] Minor improvement for xAxis of line charts
  app/bundles/CoreBundle/Assets/js/7.charts.js
Labels: T1, user-interface, pending-test-confirmation, enhancement, javascript, code-review-passed, user-testing-passed

#13753 Keep session alive in background.
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/KeepAliveController.php
  app/bundles/CoreBundle/Resources/views/Default/script.html.twig
Labels: bug, ready-to-commit, code-review-passed

#13791 Upgrading composer-install from v2 to v3 to avoid NodeJS v16 warnings
  .github/workflows/tests.yml
Labels: dependencies, chore

#13712 fix: dreprecated from (self::MASTER_REQUEST) to (self::MAIN_REQUEST)
  app/middlewares/CORSMiddleware.php
  app/middlewares/CatchExceptionMiddleware.php
  app/middlewares/Dev/IpRestrictMiddleware.php
  app/middlewares/HSTSMiddleware.php
  app/middlewares/Tests/Dev/IpRestrictMiddlewareTest.php
  app/middlewares/TrustMiddleware.php
  app/middlewares/VersionCheckMiddleware.php
Labels: T1, enhancement, deprecation, refactoring, code-review-passed

#13727 Improve PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement
