Repository mautic/mautic, pull requests merged in 2024-09, with the labels that each got.

#13333 [UX] Improve cache information from chart dropdown on Dashboard page
  app/bundles/DashboardBundle/Resources/views/Widget/detail.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, dashboard, code-review-passed

#14086 Integrate the test suite with GitHub Actions for automated testing
  .github/workflows/tests.yml
Labels: ready-to-commit, CI, automated-tests, code-review-passed

#14090 Updating Codeception to the latest version
  app/composer.json
  composer.json
  composer.lock
Labels: enhancement, dependencies, CI, automated-tests

#13912 [UX] Add new keyboard shortcuts and remap existing ones
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/accordions.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Assets/js/9.modals.js
  app/bundles/CoreBundle/Resources/views/Default/keyboard_shortcuts_modal.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/accordion.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/confirm.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/keyboard_shortcuts_helper.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/admin.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/KeyboardShortcuts/emails_shortcuts.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/KeyboardShortcuts/lead_shortcuts.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, code-review-needed, pending-test-confirmation, user-experience, enhancement

#13775 Add customMjml to API responses.
  plugins/GrapesJsBuilderBundle/Entity/GrapesJsBuilder.php
  plugins/GrapesJsBuilderBundle/EventSubscriber/SerializerSubscriber.php
  plugins/GrapesJsBuilderBundle/Model/GrapesJsBuilderModel.php
  plugins/GrapesJsBuilderBundle/Tests/Functional/Controller/AssertCustomMjmlTest.php
Labels: T3, ready-to-commit, API, email, builder-grapesjs, code-review-passed

#14099 FEAT: Adds parsing of {pagelink=\d} token to form redirect action
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, forms, landing-pages, code-review-passed, user-testing-passed

#13939 [UX] Search commands modal
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
  app/bundles/CoreBundle/Resources/views/Modal/keyboard_shortcuts.html.twig
  app/bundles/CoreBundle/Resources/views/Modal/search_commands.html.twig
  app/bundles/CoreBundle/Service/SearchCommandList.php
  app/bundles/CoreBundle/Service/SearchCommandListInterface.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Extension/SearchCommandListExtension.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#14004 [UX] Disable permission tab when "Has full system access?" is set to Yes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/UserBundle/Assets/js/user.js
  app/bundles/UserBundle/Resources/views/Role/form.html.twig
Labels: T1, bug, ready-to-commit, user-experience, roles, code-review-passed, user-testing-passed

#14109 To improve user experience, the 'Send Email' button is disabled for contacts who did not provide an email address.
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, contacts, code-review-passed, user-testing-passed, ux-review-passed

#13997 Update country name "Turkey" to "Türkiye"
  app/assets/images/flags/Turkiye.png
  app/bundles/CoreBundle/Assets/json/countries.json
  app/bundles/CoreBundle/Assets/json/regions.json
  app/bundles/CoreBundle/Twig/Helper/AssetsHelper.php
  app/migrations/Version20240725105507.php
Labels: T1, ready-to-commit, contacts, code-review-passed, user-testing-passed

#14073 [DPMMA-1443] Email report multisieries piechart
  app/bundles/CoreBundle/Helper/Chart/SeriesPieChart.php
  app/bundles/CoreBundle/Tests/Helper/Chart/PieChartTest.php
  app/bundles/CoreBundle/Tests/Helper/Chart/SeriesPieChartTest.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryTest.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: T2, ready-to-commit, enhancement, reports, code-review-passed, user-testing-passed

#14108 DPMMA-2815 Campaign stats in preview graph
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Resources/views/Campaign/_preview.html.twig
  app/bundles/CampaignBundle/Resources/views/Event/_preview.html.twig
Labels: T2, ready-to-commit, user-experience, campaigns, code-review-passed, user-testing-passed

#14113 "This request has been automatically failed because it uses a depreca…
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: CI, chore

#14001 [UI] Fix nav tabs wrap
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/12.tabs.js
  tests/_support/Page/Acceptance/CampaignPage.php
Labels: T1, bug, user-interface, javascript, code-review-passed, user-testing-passed

#12305 Optimizing contacts activity API (refactoring of PR-10237 for Mautic v5)
  app/bundles/AssetBundle/Entity/DownloadRepository.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/ChannelBundle/Entity/MessageQueue.php
  app/bundles/ChannelBundle/Entity/MessageQueueRepository.php
  app/bundles/DynamicContentBundle/Entity/Stat.php
  app/bundles/DynamicContentBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Entity/EmailReplyRepository.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/FormBundle/Entity/SubmissionRepository.php
  app/bundles/LeadBundle/Entity/DoNotContact.php
  app/bundles/LeadBundle/Entity/DoNotContactRepository.php
  app/bundles/LeadBundle/Entity/LeadEventLogRepository.php
  app/bundles/LeadBundle/Entity/PointsChangeLogRepository.php
  app/bundles/LeadBundle/Entity/StagesChangeLog.php
  app/bundles/LeadBundle/Entity/StagesChangeLogRepository.php
  app/bundles/LeadBundle/Entity/TimelineTrait.php
  app/bundles/LeadBundle/Entity/UtmTag.php
  app/bundles/LeadBundle/Entity/UtmTagRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/PageBundle/Entity/HitRepository.php
  app/bundles/PageBundle/Entity/VideoHitRepository.php
  app/bundles/PageBundle/EventListener/LeadSubscriber.php
  app/migrations/Version20230506112314.php
  app/migrations/Version20230506113422.php
  app/migrations/Version20230506113627.php
  app/migrations/Version20230506113731.php
  app/migrations/Version20230506113812.php
Labels: T2, ready-to-commit, enhancement, API, reports, performance-scalability, db-migrations, refactoring, code-review-passed, user-testing-passed

#14116 Twig library update
  app/bundles/CoreBundle/Tests/Twig/Fixtures/tests/instanceof.test
  composer.lock
  plugins/MauticFocusBundle/Model/FocusModel.php
Labels: bug, dependencies, refactoring

#13887 [UI] Accessibility features in user profile
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/grid.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
  app/bundles/CoreBundle/Assets/css/app/less/tokens.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
  app/bundles/CoreBundle/Resources/views/Modal/keyboard_shortcuts.html.twig
  app/bundles/FormBundle/Assets/css/form.css
  app/bundles/UserBundle/Assets/js/user.js
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T1, feature, user-interface, ready-to-commit, configuration, accessibility, twig, code-review-passed, user-testing-passed

#14107 13730: Fixing "Error when creating a user without password"
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Tests/Functional/Controller/UserControllerFunctionalTest.php
Labels: T1, bug, code-review-needed, user-experience, roles, user-testing-passed, ux-review-passed

#14121 Bump to Mautic 4.4.13
  app/release_metadata.json
  media/js/app.js
Labels: chore

#14021 [UI] Notification panel
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notification_messages.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/notifications.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/EventListener/ContactExportSchedulerNotificationSubscriber.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, notifications, good first issue, code-review-passed, user-testing-passed

#14084 change wording of template email for a better understanding
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: T1, translations, ready-to-commit, needs-documentation, user-experience, email, notifications, sms, code-review-passed, user-testing-passed

#14067 Batch email change category
  app/bundles/EmailBundle/Assets/js/batch.js
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/BatchEmailController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Form/Type/BatchCategoryType.php
  app/bundles/EmailBundle/Model/EmailActionModel.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Resources/views/Batch/form.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
  app/bundles/EmailBundle/Tests/Model/EmailActionModelTest.php
  app/bundles/LeadBundle/Translations/en_US/flashes.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  plugins/GrapesJsBuilderBundle/Tests/Unit/Model/GrapesJsBuilderModelTest.php
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/CategoriesPage.php
  tests/_support/Page/Acceptance/EmailsPage.php
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/acceptance/EmailManagementCest.php
Labels: T1, ready-to-commit, user-experience, enhancement, php, email, javascript, code-review-passed, user-testing-passed
