Repository mautic/mautic, pull requests merged in 2024-10, with the labels that each got.

#14145 DPMMA-753 Use marketing Email type in Campaign action by default
  app/bundles/CampaignBundle/Tests/Controller/EventControllerFunctionalTest.php
  app/bundles/EmailBundle/Form/Type/EmailSendType.php
Labels: T1, ready-to-commit, campaigns, email, code-review-passed, user-testing-passed

#14157 E2e test fixes
  tests/_support/Page/Acceptance/CategoriesPage.php
  tests/_support/Page/Acceptance/EmailsPage.php
  tests/acceptance/EmailManagementCest.php
Labels: bug, essential, automated-tests

#14110 Remove and adding options to select and multiselect fields removes some options from existing saved options
  app/bundles/CoreBundle/Assets/js/6.forms.js
Labels: bug, ready-to-commit, custom-fields, unforking, code-review-passed, user-testing-passed

#14097 Added a 'no data' message when no values are present for social fields
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadDetailFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, contacts, code-review-passed, user-testing-passed

#14071 Campaign exclusion filters aren't working properly
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignDecisionTest.php
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryFunctionalTest.php
Labels: bug, ready-to-commit, campaigns, unforking, code-review-passed, user-testing-passed

#14130 Referencing controllers with a single colon is deprecated.
  app/bundles/CoreBundle/EventListener/CoreSubscriber.php
Labels: ready-to-commit, enhancement

#14139 Refactor DBAL execute method to executeQuery.
  app/bundles/AssetBundle/Entity/DownloadRepository.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/CoreBundle/Helper/Chart/ChartQuery.php
  app/bundles/CoreBundle/Test/Doctrine/DBALMocker.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/IntegrationsBundle/Tests/Functional/Services/SyncService/SyncServiceTest.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Entity/TimelineTrait.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/NotificationBundle/Entity/StatRepository.php
  app/bundles/PageBundle/Entity/TrackableRepository.php
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/ReportBundle/Event/ReportQueryEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: bug, refactoring, code-review-passed

#14149 Correct event listener for `LEAD_CATEGORY_CHANGE` annotation
  app/bundles/LeadBundle/LeadEvents.php
Labels: T1, bug, categories, code-review-passed

#14124 Using "anonymous: lazy" to make the firewall lazy is deprecated, use "anonymous: true" and "lazy: true" instead.
  app/config/security.php
Labels: T1, code-review-needed, deprecation, refactoring, user-testing-passed

#14125 The "security.encoder_factory.generic" service is deprecated, use "scurity.password_hasher_factory" instead.
  app/bundles/CoreBundle/Tests/Functional/Controller/ExportControllerTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerPermissionFunctionalTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/CompanyControllerTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/LeadControllerTest.php
  app/bundles/UserBundle/Tests/Controller/Api/UserApiControllerFunctionalTest.php
  app/bundles/UserBundle/Tests/Functional/UserLogoutFunctionalTest.php
  app/bundles/UserBundle/Tests/Model/PasswordStrengthEstimatorModelTest.php
  plugins/MauticSocialBundle/Tests/Functional/Controller/MonitoringControllerTest.php
  plugins/MauticTagManagerBundle/Tests/Functional/Controller/TagControllerTest.php
Labels: T1, deprecation, php, refactoring, code-review-passed, user-testing-passed

#14147 [UX] Toggles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/toggle.less
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/FormBundle/Form/Type/FormType.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Type/ListType.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Form/Type/PointType.php
  app/bundles/PointBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Form/Type/ReportType.php
  app/bundles/ReportBundle/Resources/views/FormTheme/Report/layout.html.twig
  app/bundles/WebhookBundle/Tests/Form/Type/ConfigTypeFunctionalTest.php
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, php, twig, code-review-passed, user-testing-passed

#14142 DPMMA-2881 fix Grapesjs-Mjml self-closing mj-spacer tag issue
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: bug, ready-to-commit, email, builder-grapesjs, code-review-passed

#14131 Fix the login screen layout
  app/bundles/CoreBundle/Assets/css/app/less/components/grid.less
  app/bundles/UserBundle/Resources/views/Security/base.html.twig
  app/bundles/UserBundle/Resources/views/Security/login.html.twig
Labels: T1, bug, user-interface, ready-to-commit, hacktoberfest-accepted, code-review-passed, user-testing-passed

#14114 DPMMA-2831 Unsubscribe from all in preferences center
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Resources/views/Lead/preference_options.html.twig
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Event/UntrackableUrlsEvent.php
Labels: T1, ready-to-commit, enhancement, landing-pages, code-review-passed, user-testing-passed

#14096 fix:[DPMMA-2818] fixes sort reports table
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Tests/Controller/Api/data/post.json
  app/bundles/ReportBundle/Tests/Controller/ReportControllerFunctionalTest.php
Labels: T1, bug, ready-to-commit, reports, code-review-passed, user-testing-passed

#13942 [UX] Tokens help
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
  app/bundles/CoreBundle/Resources/views/Modal/tokens_help.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/Lead/_list_column_points.html.twig
  app/bundles/LeadBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  app/bundles/PageBundle/Translations/en_US/messages.ini
  plugins/MauticSocialBundle/Resources/views/Tokens/tokens_help_bundle.html.twig
  plugins/MauticSocialBundle/Translations/en_US/messages.ini
  tests/acceptance/ContactManagementCest.php
Labels: T1, ready-to-commit, user-experience, enhancement, hacktoberfest, code-review-passed, user-testing-passed

#14170 fix migration: Update country names in leads and companies tables
  app/migrations/Version20240725105507.php
Labels: bug, db-migrations

#14175 Fixing preference center - the email unsubscribe checkbox
  app/bundles/EmailBundle/Resources/views/Lead/preference_options.html.twig
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: bug, email

#14183 Check for 'select' type fields on import
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelFunctionalTest.php
Labels: bug, unforking

#14014 [UX] Dashboard date range quick filters
  app/bundles/DashboardBundle/Assets/js/dashboard.js
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: T1, feature, code-review-needed, user-experience, dashboard, hacktoberfest, user-testing-passed

#14186 Fixed Custom field options with quotes issue.
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelFunctionalTest.php
Labels: bug, custom-fields, unforking, code-review-passed, user-testing-passed

#14194 Upload artifacts for failed E2E-tests
  .github/workflows/tests.yml
Labels: T1, ready-to-test, code-review-needed, automated-tests

#14132 [UX] Clone report rows
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/toggle.less
  app/bundles/ReportBundle/Assets/js/report.js
  app/bundles/ReportBundle/Resources/views/FormTheme/Report/layout.html.twig
  app/bundles/ReportBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, reports, hacktoberfest, code-review-passed, user-testing-passed

#14166 Update gitpod startup
  .ddev/addon-metadata/phpmyadmin/manifest.yaml
  .ddev/commands/host/phpmyadmin
  .ddev/config.yaml
  .ddev/docker-compose.phpmyadmin.yaml
  .ddev/docker-compose.redis-commander.yaml
  .ddev/docker-compose.redis.yaml
  .ddev/docker-compose.selenium-chrome.yaml
  .ddev/gitpod-setup-ddev.sh
  .gitignore
  .gitpod.Dockerfile
  app/assets/scaffold/files/example.gitignore
Labels: T1, pending-test-confirmation, enhancement, code-review-passed, developer-experience

#14035 [UX] ProTip to help marketers become power users
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Resources/views/Helper/protip.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/Lead/list.html.twig
  app/bundles/LeadBundle/Resources/views/List/list.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/PointBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
  plugins/MauticTagManagerBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, twig, code-review-passed, user-testing-passed

#12180 Form will throw the uncaught errors if form is nor valid.
  app/bundles/CoreBundle/Controller/ThemeController.php
Labels: T1, bug, forms, cla-signed, hacktoberfest, code-review-passed, user-testing-passed

#14167 Batch changing and pagination for API credentials is not working
  app/bundles/ApiBundle/Controller/ClientController.php
  app/bundles/ApiBundle/Entity/oAuth2/ClientRepository.php
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/ApiBundle/Tests/Functional/Controller/ClientControllerTest.php
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
Labels: T1, bug, ready-to-commit, hacktoberfest-accepted, twig, code-review-passed, user-testing-passed

#14193 [UI] Accent colors
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/calendar.less
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/css/app/less/tokens.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/remixicon/fonts/remixicon.less
  app/bundles/CoreBundle/Resources/views/Helper/toggletip.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Assets/css/user.css
  app/bundles/UserBundle/Assets/js/user.js
  app/bundles/UserBundle/Resources/views/Helper/accent.html.twig
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/storage.service.js
Labels: T1, ready-to-commit, user-experience, hacktoberfest, javascript, twig, code-review-passed, user-testing-passed

#14204 Typo fixed ('underfined' -> 'undefined')
  app/bundles/CoreBundle/Assets/js/4.builder.js
Labels: bug, ready-to-test, code-review-needed, builder-legacy, editor, hacktoberfest-accepted

#14210 Refactor E2E tests to follow same standards
  tests/_support/AcceptanceTester.php
  tests/_support/Page/Acceptance/CategoriesPage.php
  tests/_support/Page/Acceptance/EmailsPage.php
  tests/_support/Page/Acceptance/SegmentsPage.php
  tests/_support/Step/Acceptance/CampaignStep.php
  tests/_support/Step/Acceptance/EmailStep.php
  tests/_support/Step/Acceptance/SegmentStep.php
  tests/acceptance/ContactManagementCest.php
  tests/acceptance/EmailManagementCest.php
Labels: T1, enhancement, automated-tests, code-review-passed

#14207 Update readme and devdocs link
  .github/CONTRIBUTING.md
  .github/ci-files/composer.json
  README.md
  plugins/GrapesJsBuilderBundle/.github/CONTRIBUTING.md
Labels: bug, ready-to-commit, hacktoberfest-accepted

#13927 [UX] Tip when creating new contact manually
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/dropdowns.less
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/CoreBundle/Assets/css/app/less/components/panels.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/css/app/less/tokens.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/multiselect/multi-select.less
  app/bundles/CoreBundle/Assets/css/libraries/other/typeahead.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Resources/views/Helper/no_information.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/inline_notification.html.twig
  app/bundles/EmailBundle/Form/Type/EmailSendType.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/Lead/form.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
Labels: T1, feature, user-interface, ready-to-commit, user-experience, hacktoberfest, code-review-passed, user-testing-passed

#14201 [UX] Email theme: Creative
  themes/creative/assets/brush-line.png
  themes/creative/assets/community-work-1.png
  themes/creative/assets/community-work-2.png
  themes/creative/assets/compasses-2-line.png
  themes/creative/assets/hero-background.png
  themes/creative/assets/layout-line.png
  themes/creative/assets/tutorial.png
  themes/creative/composer.json
  themes/creative/config.json
  themes/creative/html/base.html.twig
  themes/creative/html/email.html.twig
  themes/creative/html/message.html.twig
  themes/creative/thumbnail.png
Labels: T1, ready-to-commit, user-experience, email, hacktoberfest, themes, code-review-passed, user-testing-passed

#14200 [UX] Email theme: Attract
  themes/attract/assets/banner.jpg
  themes/attract/assets/gallery1.jpg
  themes/attract/assets/gallery2.jpg
  themes/attract/assets/gallery3.jpg
  themes/attract/assets/icon1.png
  themes/attract/assets/icon2.png
  themes/attract/assets/icon3.png
  themes/attract/assets/icon4.png
  themes/attract/assets/img1.jpg
  themes/attract/assets/listing1.jpg
  themes/attract/assets/listing2.jpg
  themes/attract/assets/listing3.jpg
  themes/attract/assets/quote1.png
  themes/attract/assets/update1.jpg
  themes/attract/assets/update2.jpg
  themes/attract/composer.json
  themes/attract/config.json
  themes/attract/html/base.html.twig
  themes/attract/html/email.mjml.twig
  themes/attract/html/message.html.twig
  themes/attract/thumbnail.png
Labels: T1, ready-to-commit, user-experience, email, hacktoberfest, themes, user-testing-passed

#14177 Fix point trigger events clone
  app/bundles/PointBundle/Controller/TriggerController.php
  app/bundles/PointBundle/Entity/TriggerEvent.php
  app/bundles/PointBundle/Tests/Controller/TriggerControllerTest.php
  app/bundles/PointBundle/Tests/Functional/PointTriggerFunctionalTest.php
  app/bundles/PointBundle/Tests/Functional/TriggerTrait.php
Labels: bug, pending-test-confirmation, points-scoring, hacktoberfest, code-review-passed

#14117 FIX: Ignoring of custom option list for mapped fields
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
Labels: bug, forms, hacktoberfest, code-review-passed, user-testing-passed

#14112 14075: Improved error handling logic as per the type properties
  app/bundles/LeadBundle/Helper/FormFieldHelper.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
Labels: T2, bug, pending-test-confirmation, user-experience, API, custom-fields, code-review-passed

#14206 Add a first-draft of funding.json
  funding.json
Labels: pending-test-confirmation

#14215 Adding new `{resubscribe_url}` token
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Tests/Controller/EmailSendFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Event/UntrackableUrlsEvent.php
Labels: enhancement, email, hacktoberfest, hacktoberfest-accepted, code-review-passed

#14221 [UX] Disable "Visible on quick add" when creating a Custom Field for Company object with data-disable-on
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/toggle.less
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
Labels: bug, forms, hacktoberfest-accepted

#14231 Fixing failing test, simplifying, removing debug echo
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/DateHelperTest.php
Labels: bug, code-review-needed, essential, automated-tests

#14226 Minify does not notify the minified file is missing.
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: bug, essential, code-review-passed, user-testing-passed

#14191 DPMMA-2894 grapesjs asset manager lazy loading
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  plugins/GrapesJsBuilderBundle/Assets/library/js/asset.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.service.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/grapesjs-custom.css
  plugins/GrapesJsBuilderBundle/Config/config.php
  plugins/GrapesJsBuilderBundle/Controller/FileManagerController.php
  plugins/GrapesJsBuilderBundle/Helper/FileManager.php
  plugins/GrapesJsBuilderBundle/Tests/Functional/Controller/FileManagerControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, hacktoberfest-accepted, builder-grapesjs, code-review-passed, user-testing-passed
