Repository mautic/mautic, pull requests merged in 2024-08, with the labels that each got.

#13988 [UI] Header alignment
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#13792 Email Preheader
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/EventListener/EmailSubscriber.php
  app/bundles/EmailBundle/Form/Type/EmailType.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/form.html.twig
  app/bundles/EmailBundle/Tests/Controller/PreviewFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Functional/Controller/SendEmailToContactTest.php
  app/migrations/Version20210115065034.php
Labels: enhancement, email, unforking, code-review-passed, user-testing-passed

#14039 [UI] Fix translation for dashboard widgets dropdown
  app/bundles/DashboardBundle/Resources/views/Widget/detail.html.twig
Labels: T1, bug, translations, user-interface, ready-to-test, code-review-needed, dashboard

#14041 Add 5.1.x series to BUG-REPORT template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: chore

#13689 [UX] Improve labels system
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Resources/views/Campaign/_events.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Event/_generic.html.twig
  app/bundles/CampaignBundle/Resources/views/Event/_preview.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/list_item.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
  app/bundles/CoreBundle/Assets/css/app/less/tokens.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap.less
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Resources/views/Variant/row.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list_rows_contacts.html.twig
  app/bundles/LeadBundle/Resources/views/Import/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_dnc_large.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list_column_points.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list_column_stage.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PageBundle/Resources/views/SubscribedEvents/Search/global.html.twig
  app/bundles/PageBundle/Resources/views/Trackable/click_counts.html.twig
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/form.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list_stats.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Helper/labelcode.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/_list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13981 feat: [DPMMA-796] Add export lead contact info
  app/bundles/CoreBundle/EventListener/ReportSubscriber.php
  app/bundles/CoreBundle/Model/IteratorExportDataModel.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Event/ContactExportEvent.php
  app/bundles/LeadBundle/EventListener/ContactExportAuditLogSubscriber.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: enhancement, contacts, import-export

#13884 Setup codeception and add e2e tests for contacts
  .ddev/addon-metadata/ddev-selenium-standalone-chrome/manifest.yaml
  .ddev/config.selenium-standalone-chrome.yaml
  .ddev/docker-compose.selenium-chrome.yaml
  .gitignore
  app/assets/scaffold/files/example.gitignore
  codeception.yml
  composer.json
  composer.lock
  tests/_data/.gitkeep
  tests/_data/10contacts.csv
  tests/_output/.gitignore
  tests/_support/AcceptanceTester.php
  tests/_support/FunctionalTester.php
  tests/_support/Helper/Acceptance.php
  tests/_support/Helper/DbHelper.php
  tests/_support/Helper/Functional.php
  tests/_support/Helper/Unit.php
  tests/_support/Page/Acceptance/CampaignPage.php
  tests/_support/Page/Acceptance/ContactPage.php
  tests/_support/Step/Acceptance/Campaign.php
  tests/_support/Step/Acceptance/ContactStep.php
  tests/_support/UnitTester.php
  tests/_support/_generated/.gitignore
  tests/acceptance.suite.yml
  tests/acceptance/ContactManagementCest.php
  tests/functional.suite.yml
  tests/unit.suite.yml
Labels: T2, automated-tests

#14061 Improve e2e test suite
  codeception.yml
  tests/_data/10contacts.csv
  tests/_support/Step/Acceptance/ContactStep.php
  tests/acceptance/ContactManagementCest.php
Labels: T1, ready-to-commit, automated-tests, code-review-passed

#14064 Update bug report template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: chore

#13754 [UI] Sidebars
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/css/app/less/mixins.less
Labels: T1, bug, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13846 [UI] Tooltips
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13890 [UI] Assign the background color to the token for dark mode support
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/layouts/base.less
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13896 [UI] Styling for HTML keyboard tags
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13940 [UI] Accordions.less
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/accordions.less
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed, developer-experience

#13908 [UX] Quick help
  app/bundles/CoreBundle/Resources/views/Default/keyboard_shortcuts_modal.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#13931 [UI] Cycling label colors for different segments in contact details
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14020 [UX] Humanized time display in Twig extension
  app/bundles/CoreBundle/Tests/Unit/Twig/Extension/DateExtensionTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/DateHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/Twig/Helper/FormatterHelperTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Extension/DateExtension.php
  app/bundles/CoreBundle/Twig/Helper/DateHelper.php
  app/bundles/LeadBundle/Tests/Form/DataTransformer/FieldFilterTransformerTest.php
Labels: T2, ready-to-commit, user-experience, enhancement, php, twig, code-review-passed

#13999 [UI] Remove panel class from page lists
  app/bundles/ApiBundle/Resources/views/Client/list.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Resources/views/Remote/browse.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/index.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/Import/list.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PluginBundle/Resources/views/Integration/grid.html.twig
  app/bundles/PointBundle/Resources/views/Point/list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
  app/bundles/ReportBundle/Resources/views/Report/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/index.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/list.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/list.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14002 [UI] fix: Form creation on mobile @RCheesley
  app/bundles/CoreBundle/Resources/views/Helper/form_selecttype.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14007 [UI] Replace instance icon with Campaign icon
  app/bundles/ApiBundle/Config/config.php
  app/bundles/CategoryBundle/Config/config.php
  app/bundles/ConfigBundle/Config/config.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/MarketplaceBundle/EventListener/MenuSubscriber.php
  app/bundles/PluginBundle/Config/config.php
  app/bundles/UserBundle/Config/config.php
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14009 [UI] Better publish badge
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/publishstatus_badge.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/ReportBundle/Resources/views/Report/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#14030 [UI] Move sidebar header HTML structure to navbar
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/LeftPanel/index.html.twig
Labels: T2, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14011 [UX] Better description for existing dashboard templates
  app/assets/dashboards/alternative-default.json
  app/assets/dashboards/default.json
  app/assets/dashboards/email-overview.json
  app/assets/dashboards/stats-overview.json
Labels: T1, ready-to-commit, user-experience, enhancement, dashboard, code-review-passed, user-testing-passed

#14037 [UX] No data found message for dashboard charts
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Resources/views/Helper/chart.html.twig
  app/bundles/DashboardBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed

#13994 Prevent deadlocks caused by DNC changes
  app/bundles/CoreBundle/Entity/SkipModifiedInterface.php
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: T2, bug, ready-to-commit, contacts, unforking, code-review-passed

#13943 fix: attribution tooltip meaning
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, code-review-passed

#14059 Remover Sonar workflow
  .github/workflows/sonar.yml
Labels: T1, ready-to-commit, chore, code-review-passed

#14016 Virtual permissions
  app/bundles/CoreBundle/Security/Permissions/CorePermissions.php
  app/bundles/CoreBundle/Security/Permissions/VirtualPermissions.php
  app/bundles/CoreBundle/Tests/Functional/Security/Permissions/CorePermissionsTest.php
Labels: enhancement, roles, unforking, code-review-passed, user-testing-passed

#14000 [UI] Reset company email column style
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#13873 [UI] Define the right cursor for interface elements
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/layouts/base.less
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#13926 Remove html switch from textarea custom field.
  app/bundles/LeadBundle/Controller/Api/CompanyApiController.php
  app/bundles/LeadBundle/Controller/Api/CustomFieldsApiControllerTrait.php
  app/bundles/LeadBundle/Controller/Api/LeadApiController.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Helper/FormFieldHelper.php
  app/bundles/LeadBundle/Resources/views/Field/form.html.twig
  app/bundles/LeadBundle/Resources/views/Field/properties_textarea.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/migrations/Version20240704164714.php
Labels: ready-to-commit, enhancement, custom-fields

#14052 Syntax fixes and Grammarly recommendations
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Translations/en_US/validators.ini
  app/bundles/FormBundle/Tests/Controller/Api/FormApiControllerFunctionalTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, ready-to-commit, code-review-passed, user-testing-passed, ux-review-passed

#14036 Update/Fix sample emails for Mautic 5
  app/bundles/EmailBundle/DataFixtures/ORM/fakeemaildata.csv
Labels: ready-to-commit, email, code-review-passed, user-testing-passed

#14003 [UX] Disable "Theme" field and clear selection when "Use theme style" is set to "No" while creating a form
  app/bundles/CoreBundle/Assets/css/libraries/chosen/bootstrap-chosen.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/FormBundle/Assets/js/form.js
Labels: T1, bug, ready-to-commit, user-experience, code-review-passed, user-testing-passed

#13925 feat: [DPMMA-2732] Send notification change password
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/Model/UserModel.php
  app/bundles/UserBundle/Tests/Functional/Controller/UserControllerFunctionalTest.php
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T2, feature, ready-to-commit, roles, notifications, code-review-passed, user-testing-passed

#13929 [UX] Change contact details logic for not defined items
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Resources/views/Helper/no_information.html.twig
  app/bundles/LeadBundle/Resources/views/Integration/index.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead_stats.html.twig
  app/bundles/LeadBundle/Resources/views/LeadCampaigns/index.html.twig
  app/bundles/LeadBundle/Resources/views/Social/index.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, contacts, code-review-passed, user-testing-passed

#14029 [UI] Remove minimize sidebar feature
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/content.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/footer.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
  app/bundles/CoreBundle/Resources/views/LeftPanel/index.html.twig
Labels: T2, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14085 Batch DNC fix
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: bug, regression, contacts

#14051 MailHelper::dispatchSendEvent() made reliable
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberFunctionalTest.php
Labels: T3, bug, email-integrations, unforking, code-review-passed

#14079 Add e2e test suite command
  .ddev/mautic-setup.sh
  composer.json
Labels: T1, ready-to-commit, automated-tests

#13948 [UX] Quick filters
  app/bundles/CampaignBundle/Resources/views/Campaign/_events.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/list_toolbar.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Form/list.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list_stats.html.twig
  app/bundles/UserBundle/Resources/views/User/list.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
Labels: T1, feature, ready-to-commit, user-experience, forms, roles, search, code-review-passed, user-testing-passed

#13972 Dropping support for PHP 8.0
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  app/bundles/CoreBundle/Session/Storage/Handler/RedisSentinelSessionHandler.php
  app/bundles/EmailBundle/MonitoredEmail/Mailbox.php
  app/composer.json
  app/release_metadata.json
  composer.json
  composer.lock
Labels: ready-to-commit, enhancement, dependencies, php, code-review-passed, user-testing-passed
