Repository mautic/mautic, pull requests merged in 2024-01, with the labels that each got.

#13100 Add missing label for Campaign Device Hit
  app/bundles/PageBundle/Translations/en_US/messages.ini
Labels: translations

#13122 Support underscores in landing page URLs
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PageControllerTest.php
Labels: bug, ready-to-commit, code-review-passed

#13103 DPMMA-2537 RFC 8058 one-click unsubscribe
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
Labels: T1, feature, pending-test-confirmation, essential, email, code-review-passed

#13127 Datetimeimmutable doctrine mapping
  app/bundles/CoreBundle/Doctrine/Type/UTCDateTimeImmutableType.php
  app/bundles/CoreBundle/Tests/Unit/Type/UTCDateTimeImmutableTypeTest.php
  app/bundles/LeadBundle/Model/ContactExportSchedulerModel.php
  app/bundles/LeadBundle/Tests/Entity/ContactExportSchedulerTest.php
  app/config/config.php
Labels: bug, ready-to-commit, unforking, code-review-passed

#13117 DPMMA-2537 RFC 8058 one-click unsubscribe [backport]
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: enhancement, email

#13111 Set proper location of autoload.php in phpunit.xml.dist.
  app/phpunit.xml.dist
Labels: bug, automated-tests

#13129 Refactor Symfony user deprecations.
  app/bundles/ApiBundle/EventListener/PreAuthorizationEventListener.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Deduplicate/ContactMergerTest.php
  app/bundles/UserBundle/Controller/ProfileController.php
  app/bundles/UserBundle/Entity/User.php
  app/bundles/UserBundle/Event/AuthenticationEvent.php
  app/bundles/UserBundle/Security/Authenticator/FormAuthenticator.php
  app/bundles/UserBundle/Security/Firewall/AuthenticationListener.php
  app/bundles/UserBundle/Security/Provider/UserProvider.php
  app/bundles/UserBundle/Security/SAML/User/UserMapper.php
  app/bundles/UserBundle/Tests/Controller/Api/UserApiControllerFunctionalTest.php
  app/bundles/UserBundle/Tests/Functional/UserLogoutFunctionalTest.php
  app/bundles/UserBundle/Tests/Security/Firewall/AuthenticationListenerTest.php
  app/bundles/UserBundle/Tests/Security/SAML/User/UserMapperTest.php
Labels: bug, refactoring, code-review-passed

#13130 DataTransformer uses proper data.
  app/bundles/ConfigBundle/Form/Type/EscapeTransformer.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Form/DataTransformer/ArrayLinebreakTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/ArrayStringTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/BarStringTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/DatetimeToStringTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/EmojiToHtmlTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/IdToEntityModelTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/NullToEmptyTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/SecondsConversionTransformer.php
  app/bundles/CoreBundle/Form/DataTransformer/SortableListTransformer.php
  app/bundles/LeadBundle/Form/DataTransformer/FieldFilterTransformer.php
  app/bundles/LeadBundle/Form/DataTransformer/FieldToOrderTransformer.php
  app/bundles/LeadBundle/Form/DataTransformer/TagEntityModelTransformer.php
  app/bundles/ReportBundle/Form/DataTransformer/ReportFilterDataTransformer.php
  app/bundles/WebhookBundle/Form/DataTransformer/EventsToArrayTransformer.php
Labels: enhancement, refactoring

#12857 [DPMMA-2341] Part of the saveprefsbutton template removed
  app/bundles/CoreBundle/Resources/views/Default/form_end.html.twig
  app/bundles/CoreBundle/Resources/views/Slots/saveprefsbutton.html.twig
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
Labels: bug, regression, landing-pages, email, code-review-passed, user-testing-passed

#12895 [DPMMA-2341] Missing variables in preference center token templates
  app/bundles/CoreBundle/Resources/views/Slots/channelfrequency.html.twig
  app/bundles/CoreBundle/Resources/views/Slots/preferredchannel.html.twig
Labels: bug, landing-pages, email, twig

#13171 Fixing PHP waringing accessing array keys on null
  app/bundles/SmsBundle/Form/Type/SmsSendType.php
Labels: bug, ready-to-test, campaigns, sms

#13172 Fixing the Broadcast command, #fixes 13093
  app/bundles/ChannelBundle/Command/SendChannelBroadcastCommand.php
  app/bundles/ChannelBundle/Tests/Command/SendChannelBroadcastCommandTest.php
Labels: bug, regression

#13173 Fix php error when accessing non-existing contacts and companies
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/CompanyControllerTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: ready-to-test, regression, contacts

#13071 DPMMA-2524 fix message queue errors
  app/bundles/ChannelBundle/Entity/MessageQueue.php
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/ChannelBundle/Tests/Model/MessageQueueModelTest.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
Labels: bug, ready-to-commit, regression, email, code-review-passed

#13175 Removing wrong, duplicated twig templates and using the right ones
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/EventListener/FormSubscriber.php
  app/bundles/EmailBundle/Resources/views/FormTheme/EmailSendList/_email_to_user_row.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/EmailSendList/_emailsend_list_row.html.twig
Labels: bug, user-interface, code-review-needed, regression, campaigns, user-testing-passed

#13177 Bumping to 5.0.0
  app/release_metadata.json
Labels: chore

#13180 Fix a small typo in the upgrade docs
  UPGRADE-5.0.md
Labels: bug

#13189 5.0.1 bump
  app/release_metadata.json
Labels: chore

#13194 Merging 5.0.1 to 5.x
  app/migrations/Version20200415135706.php
  app/migrations/Version20200513162918.php
  app/release_metadata.json
Labels: chore

#13187 DPMMA-375 fix multiple flash messages
  app/bundles/CoreBundle/Resources/views/Notification/flash_messages.html.twig
Labels: bug, campaigns

#13193 Fixing Undefined project root
  app/config/paths.php
Labels: bug, code-review-needed, installation

#13195 fix: [DPMMA-2252] point groups migration fix
  app/migrations/Version20230621074925.php
Labels: bug, db-migrations

#13203 Fixing a typo in a controller action path
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
Labels: T1, bug, themes, code-review-passed, user-testing-passed

#13198 Fix: Company Fields variables are not rendered when used in Dynamic Web Content
  app/bundles/DynamicContentBundle/EventListener/DynamicContentSubscriber.php
  app/bundles/DynamicContentBundle/Tests/EventListener/DynamicContentSubscriberTest.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
Labels: bug, ready-to-commit, companies, contacts

#13211 fix incorrect variable name when setting read only db host
  app/config/config.php
Labels: T1, ready-to-test, pending-test-confirmation, regression, php

#13219 Fix embedding images in mails
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/_data/test_image.png
Labels: T2, bug, email, code-review-passed

#13215 Remove subtree for removed themes
  .github/workflows/gitsplit/theme-coffee.json
  .github/workflows/gitsplit/theme-mauve.json
  .github/workflows/gitsplit/theme-nature.json
  .github/workflows/split-monorepo-in-multi-repo.yml
Labels: T2, bug, chore, code-review-passed

#13217 Fix invalid `javascript:void()`.
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
Labels: bug, dashboard

#13216 ensure JS libraries requiring Jquery UI are loaded in the correct order
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
Labels: T1, regression, javascript, code-review-passed, user-testing-passed

#13207 Add Missing Translations for GrapeJS
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
Labels: bug, translations, builder-grapesjs, code-review-passed, user-testing-passed

#13224 Revert "Adding missing translations"
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
Labels: chore

#13223 Update form.html.twig
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
Labels: bug, ready-to-commit, landing-pages

#13205 DPMMA-375 Flash messages are not visiblie in campaign builder
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Resources/views/Campaign/_builder.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
Labels: bug, campaigns

#13116 Refactor PHPUnit deprecated methods.
  app/bundles/ApiBundle/Tests/EntityResultHelperTest.php
  app/bundles/CacheBundle/Tests/EventListener/CacheClearSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
  app/bundles/ConfigBundle/Tests/Form/Helper/RestrictionHelperTest.php
  app/bundles/ConfigBundle/Tests/Mapper/ConfigMapperTest.php
  app/bundles/ConfigBundle/Tests/Mapper/Helper/RestrictionHelperTest.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Unit/DependencyInjection/Builder/Metadata/ConfigMetadataTest.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/FetcherTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Organizer/MailboxContainerTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Organizer/MailboxOrganizerTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/AddressTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/Bounce/BodyParserTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/Bounce/DsnParserTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/Bounce/Mapper/CategoryMapperTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/Bounce/ParserTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/FeedbackLoop/ParserTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/FeedbackLoopTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/ReplyTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Processor/Unsubscription/ParserTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/Search/ContactFinderTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ReportBuilder/FieldBuilderTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncDataExchange/Internal/ReportBuilder/PartialObjectReportBuilderTest.php
  app/bundles/LeadBundle/Tests/Command/DeduplicateCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Command/DeduplicateIdsCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Command/UpdateLeadListCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Entity/LeadFieldRepositoryTest.php
  app/bundles/LeadBundle/Tests/Entity/TagRepositoryTest.php
  app/bundles/LeadBundle/Tests/Event/LeadTimelineEventTest.php
  app/bundles/LeadBundle/Tests/EventListener/SegmentLogReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Field/BackgroundServiceTest.php
  app/bundles/LeadBundle/Tests/Functional/Controller/ImportControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentFilterTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
  app/bundles/LeadBundle/Tests/Segment/IntegrationCampaign/IntegrationCampaignPartsTest.php
  app/bundles/LeadBundle/Tests/Segment/Query/Filter/DoNotContactFilterQueryBuilderTest.php
  app/bundles/LeadBundle/Tests/Segment/SegmentFilterFunctionalTest.php
  app/bundles/LeadBundle/Tests/StandardImportTestHelper.php
  app/bundles/LeadBundle/Tests/Tracker/Service/DeviceTrackingService/DeviceTrackingServiceTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
  app/bundles/WebhookBundle/Tests/Functional/RemoveOldLogTest.php
  app/bundles/WebhookBundle/Tests/Functional/WebhookFunctionalTest.php
  plugins/MauticCrmBundle/Tests/Api/ConnectwiseApiTest.php
  plugins/MauticCrmBundle/Tests/Api/SalesforceApiTest.php
  plugins/MauticCrmBundle/Tests/Api/Zoho/MapperTest.php
  plugins/MauticCrmBundle/Tests/CrmAbstractIntegrationTest.php
  plugins/MauticCrmBundle/Tests/Integration/ConnectwiseIntegrationTest.php
Labels: bug, ready-to-commit, automated-tests, refactoring

#13231 DPMMA-2566 GroupContactScore mapping fix
  app/bundles/PointBundle/Entity/GroupContactScore.php
Labels: bug, points-scoring

#13235 Bumping version to 5.0.2
  app/release_metadata.json
Labels: chore

#13237 5.0.2 to 5.x
  .github/workflows/gitsplit/theme-coffee.json
  .github/workflows/gitsplit/theme-mauve.json
  .github/workflows/gitsplit/theme-nature.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Resources/views/Campaign/_builder.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/DependencyInjection/Compiler/RequirementsPass.php
  app/bundles/CoreBundle/ErrorHandler/ErrorHandler.php
  app/bundles/CoreBundle/Exception/MessageOnlyErrorHandlerException.php
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  app/bundles/CoreBundle/Loader/ParameterLoader.php
  app/bundles/CoreBundle/MauticCoreBundle.php
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Notification/flash_messages.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/DashboardBundle/Resources/views/Dashboard/index.html.twig
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/_data/test_image.png
  app/bundles/InstallBundle/Configurator/Step/DoctrineStep.php
  app/bundles/InstallBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  app/bundles/PointBundle/Entity/GroupContactScore.php
  app/composer.json
  app/config/config.php
  app/config/paths.php
  app/migrations/Version20230621074925.php
  app/release_metadata.json
  composer.lock
  plugins/GrapesJsBuilderBundle/Translations/en_US/javascript.ini
Labels: chore

#13128 DPMMA-2290 Edit contact group points
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Form/Type/ContactGroupPointsType.php
  app/bundles/LeadBundle/Resources/views/Lead/group_points.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/PointBundle/Model/PointGroupModel.php
  app/bundles/PointBundle/Translations/en_US/messages.ini
Labels: feature, user-interface, points-scoring, code-review-passed, user-testing-passed

#11424 Improves webhook performance when millions of events are queued
  app/bundles/LeadBundle/Tests/EventListener/WebhookSubscriberFunctionalTest.php
  app/bundles/WebhookBundle/Entity/Webhook.php
  app/bundles/WebhookBundle/Entity/WebhookQueueRepository.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Notificator/WebhookKillNotificator.php
  app/bundles/WebhookBundle/Tests/Functional/Command/DeleteWebhookLogsCommandTest.php
  app/bundles/WebhookBundle/Tests/Functional/Controller/WebhookControllerTest.php
  app/bundles/WebhookBundle/Tests/Functional/Entity/WebhookQueueFunctionalTest.php
  app/bundles/WebhookBundle/Tests/Functional/Model/WebhookModelTest.php
  app/bundles/WebhookBundle/Tests/Functional/WebhookFunctionalTest.php
  app/bundles/WebhookBundle/Tests/Notificator/WebhookKillNotificatorTest.php
  app/bundles/WebhookBundle/Tests/Unit/Entity/LogTest.php
  app/bundles/WebhookBundle/Tests/Unit/Entity/WebhookTest.php
  app/bundles/WebhookBundle/Tests/Unit/EventListener/WebhookSubscriberTest.php
  app/bundles/WebhookBundle/Tests/Unit/Helper/CampaignHelperTest.php
  app/bundles/WebhookBundle/Tests/Unit/Http/ClientTest.php
  app/bundles/WebhookBundle/Tests/Unit/Model/WebhookModelTest.php
  app/bundles/WebhookBundle/Tests/Unit/Notificator/WebhookKillNotificatorTest.php
Labels: bug, code-review-needed, pending-test-confirmation, cla-signed, performance-scalability, unforking

#13242 bump version to 4.4.11
  app/release_metadata.json
Labels: chore

#13182 DPMMA-375 Alert variant styles
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Resources/views/Notification/flash_messages.html.twig
Labels: user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed, ux-review-passed

#13185 Change pre-commit hook to not allow a commit if there are errors in php-cs-fixer.
  build/hooks/pre-commit
Labels: T1, ready-to-commit, enhancement, code-review-passed

#13244 Fix replace entity with reference for detached lists for add to segment action
  app/bundles/LeadBundle/Model/ListModel.php
Labels: bug, campaigns, code-review-passed

#13254 Fix incorrect twig field checks for contacts and companies
  app/bundles/LeadBundle/Resources/views/Company/list_rows_contacts.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_list_column_location.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/grid_card.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
Labels: bug, ready-to-test, companies, contacts, twig

#13253 fix incorrect version of the SpBundle dependency
  composer.lock
Labels: bug, ready-to-test, composer

#13252 Fix call to logger warn method.
  app/bundles/CoreBundle/IpLookup/IP2LocationAPILookup.php
  app/bundles/CoreBundle/IpLookup/IP2LocationBinLookup.php
  app/bundles/CoreBundle/IpLookup/MaxmindDownloadLookup.php
Labels: bug, pending-feedback, pending-test-confirmation

#13267 Point to the correct repo for the grapesjs-mautic-preset module in GrapesJsBuilderBundle in Mautic 5.x
  plugins/GrapesJsBuilderBundle/package-lock.json
  plugins/GrapesJsBuilderBundle/package.json
Labels: chore

#13259 Fix incorrect occurrences of dns where it should be dsn
  app/bundles/ConfigBundle/Assets/js/config.js
  app/bundles/ConfigBundle/Form/Type/DsnType.php
  app/bundles/ConfigBundle/Resources/views/FormTheme/dsn_row.html.twig
  app/bundles/EmailBundle/Assets/js/config.js
  app/bundles/MessengerBundle/Controller/AjaxController.php
  app/bundles/MessengerBundle/Form/Type/ConfigType.php
  app/bundles/MessengerBundle/MessageHandler/TestHandler.php
  app/bundles/MessengerBundle/Resources/views/FormTheme/Config/_config_messengerconfig_widget.html.twig
  app/bundles/MessengerBundle/Translations/en_US/messages.ini
Labels: bug, ready-to-commit

#13255 Fix using messenger DSN with special characters
  app/bundles/EmailBundle/DependencyInjection/EnvProcessor/MailerDsnEnvVarProcessor.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/config/config.php
Labels: bug, ready-to-test, queue, code-review-passed

#13256 fix incorrect migration from old mail config to mailer_dsn config
  app/migrations/Version20230615101328.php
Labels: bug, ready-to-commit

#13258 add missing translations for flash messages
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/NotificationBundle/Translations/en_US/flashes.ini
  app/bundles/SmsBundle/Translations/en_US/flashes.ini
Labels: bug, translations

#13260 fix missing filter on contact grid display
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/grid.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/list.html.twig
Labels: bug, pending-test-confirmation

#13150 Add phpunit-bridge to the project.
  app/phpunit.xml.dist
  composer.json
  composer.lock
Labels: enhancement, code-review-passed

#13257 Pass mauticTemplateVars to twig templates
  app/bundles/CoreBundle/Controller/CommonController.php
  app/bundles/CoreBundle/Twig/Helper/ContentHelper.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: bug, pending-test-confirmation

#12816 removing the remove gitsubmodules composer script
  composer.json
Labels: bug, ready-to-commit

#13273 Update github actions to latest versions.
  .github/workflows/bounties.yml
  .github/workflows/build-grapesjs-assets.yml
  .github/workflows/generate-release-notes.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  .github/workflows/split-monorepo-in-multi-repo.yml
  .github/workflows/tests.yml
Labels: chore

#12227 Allow HTML in custom email token sent via API
  app/bundles/EmailBundle/Controller/Api/EmailApiController.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
Labels: ready-to-commit, enhancement, API, email, unforking, code-review-passed

#13274 Fix incorrect PSR-4 namespaces in tests
  app/bundles/CampaignBundle/Tests/Command/Api/EventLogApiControllerTest.php
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/Api/ContactCampaignApiControllerFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Command/SendChannelBroadcastCommandTest.php
  app/bundles/CoreBundle/Tests/Unit/Helper/DateTime/DateTokenHelperTest.php
  app/bundles/FormBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Integration/ConfigFormNotesTraitTest.php
  app/bundles/PluginBundle/Tests/Form/Type/DetailsTypeTest.php
  app/bundles/PluginBundle/Tests/Form/Type/IntegrationsListTypeTest.php
  app/bundles/PointBundle/Tests/Functional/EmailTriggerTest.php
  app/bundles/PointBundle/Tests/Functional/GroupScoreRepositoryFunctionalTest.php
  app/bundles/PointBundle/Tests/Functional/PointActionFunctionalTest.php
  app/bundles/PointBundle/Tests/Functional/PointTriggerFunctionalTest.php
  app/bundles/PointBundle/Tests/Functional/SegmentFilterFunctionalTest.php
  app/bundles/UserBundle/Tests/Functional/UserLogoutFunctionalTest.php
  plugins/MauticFocusBundle/Tests/Model/FocusModelTest.php
Labels: bug, automated-tests

#13112 Introduce iterable_mode instead of deprecated iterator_mode.
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Command/UpdateLeadCampaignsCommand.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/DynamicContentBundle/Entity/DynamicContentRepository.php
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/EventListener/BroadcastSubscriber.php
  app/bundles/LeadBundle/Command/UpdateLeadListsCommand.php
  app/bundles/NotificationBundle/Entity/NotificationRepository.php
  app/bundles/SmsBundle/Broadcast/BroadcastExecutioner.php
  app/bundles/SmsBundle/Entity/SmsRepository.php
  app/bundles/WebhookBundle/Model/WebhookModel.php
  app/bundles/WebhookBundle/Tests/Functional/Model/WebhookModelTest.php
  app/bundles/WebhookBundle/Tests/Unit/Model/WebhookModelTest.php
  plugins/MauticFocusBundle/Entity/FocusRepository.php
  plugins/MauticSocialBundle/Entity/MonitoringRepository.php
Labels: refactoring

#13272 Fix broken API output for composer based installs
  app/bundles/ApiBundle/DependencyInjection/Compiler/SerializerPass.php
  app/bundles/ApiBundle/Serializer/Driver/ApiMetadataDriver.php
  app/composer.json
  composer.lock
Labels: bug, ready-to-test, API, composer, code-review-passed

#13284 DPMMA-2566 Support old contactId type in point groups migration
  app/migrations/Version20230621074925.php
Labels: bug, ready-to-test, code-review-needed, db-migrations

#13280 Corrected the query building when fetching contacts by multiple email addresses.
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Tests/Entity/LeadRepositoryFunctionalTest.php
Labels: bug

#13251 DPMMA-375 Improved warnings for unpublished emails in campaign
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/EventListener/CampaignSubscriber.php
  app/bundles/CampaignBundle/Service/Campaign.php
  app/bundles/CampaignBundle/Service/CampaignAuditService.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/CampaignBundle/Tests/Service/CampaignAuditServiceTest.php
  app/bundles/CampaignBundle/Tests/Service/CampaignTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/EmailBundle/Entity/EmailRepository.php
Labels: T1, ready-to-commit, user-experience, enhancement, campaigns, code-review-passed

#7811 Support tokens in an email entity's "from address" override
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Config/services.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Helper/DTO/AddressDTO.php
  app/bundles/EmailBundle/Helper/Exception/OwnerNotFoundException.php
  app/bundles/EmailBundle/Helper/Exception/TokenNotFoundOrEmptyException.php
  app/bundles/EmailBundle/Helper/FromEmailHelper.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/TokenSubscriberTest.php
  app/bundles/EmailBundle/Tests/Helper/DTO/AddressDTOTest.php
  app/bundles/EmailBundle/Tests/Helper/FromEmailHelperTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BatchTransport.php
  app/bundles/EmailBundle/Tests/Helper/Transport/BcInterfaceTokenTransport.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
  app/bundles/WebhookBundle/Notificator/WebhookKillNotificator.php
  app/bundles/WebhookBundle/Tests/Unit/Notificator/WebhookKillNotificatorTest.php
Labels: T1, enhancement, email, cla-signed, unforking, code-review-passed

#13287 Maut 10853Fixing Array to string conversion
  app/bundles/ChannelBundle/Entity/MessageQueueRepository.php
Labels: bug, ready-to-commit, unforking

#11279 change allowRestart column as bool
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/migrations/Version20211110070503.php
Labels: bug, ready-to-commit, refactoring, unforking

#13269 Show progress of the php-cs-fixer.
  .github/workflows/tests.yml
  composer.json
Labels: enhancement, CI, developer-experience

#11389 Provision to sort editor fonts
  app/bundles/CoreBundle/Resources/views/Default/output.html.twig
  app/bundles/CoreBundle/Resources/views/Default/script.html.twig
  app/bundles/CoreBundle/Tests/Functional/Twig/Extension/ConfigExtensionTest.php
  app/bundles/CoreBundle/Twig/Extension/ContentExtension.php
Labels: enhancement, cla-signed, unforking

#13292 add extra question to bug report to check the way of installing
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: ready-to-commit, chore

#13266 FIX: Fixes old theme file lookup path in `Mautic\CoreBundle\Twig\Helper\ThemeHelper`
  app/bundles/CoreBundle/Twig/Helper/ThemeHelper.php
Labels: bug, ready-to-commit, twig, code-review-passed

#7785 Refactor dashboard to use factory and new cache provider
  app/bundles/DashboardBundle/Config/config.php
  app/bundles/DashboardBundle/Config/services.php
  app/bundles/DashboardBundle/Controller/DashboardController.php
  app/bundles/DashboardBundle/Entity/Widget.php
  app/bundles/DashboardBundle/Event/WidgetDetailEvent.php
  app/bundles/DashboardBundle/Exception/CouldNotFormatDateTimeException.php
  app/bundles/DashboardBundle/Factory/WidgetDetailEventFactory.php
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/bundles/DashboardBundle/Tests/Event/WidgetDetailEventTest.php
  app/bundles/DashboardBundle/Tests/Model/DashboardModelTest.php
  app/bundles/EmailBundle/Model/SendEmailToContact.php
Labels: T2, enhancement, cla-signed, refactoring, unforking, code-review-passed, user-testing-passed

#12657 Allow the use of = signs in tokens
  app/bundles/EmailBundle/EventListener/TokenSubscriber.php
  app/bundles/EmailBundle/Tests/Functional/EmailTokenTest.php
Labels: T1, enhancement, email, unforking, code-review-passed

#12334 Add seconds unit for Visits specific URL Point action
  app/bundles/PageBundle/Resources/views/FormTheme/Point/pointaction_urlhit_widget.html.twig
Labels: T1, ready-to-commit, enhancement, points-scoring, code-review-passed, user-testing-passed

#12569 Fix the issue with generating a report when a filter field value of a report is empty
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
Labels: bug, ready-to-commit, reports, code-review-passed, user-testing-passed

#12609 Fix error 500 for Visits URL within time Point action
  app/bundles/PageBundle/Entity/HitRepository.php
  app/bundles/PageBundle/Helper/PointActionHelper.php
  app/bundles/PageBundle/Tests/Helper/PointActionHelperTest.php
Labels: T1, bug, ready-to-commit, points-scoring, tracking, code-review-passed, user-testing-passed

#12621 Fix form autofill email field issue if email contains a +
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
Labels: bug, ready-to-commit, forms, code-review-passed, user-testing-passed
