Repository mautic/mautic, pull requests merged in 2025-02, with the labels that each got.

#14541 Fixing the audit log widget when a contact is deleted
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
Labels: bug, code-review-needed, dashboard, unforking

#14549 Fixing segment building with default timezone
  app/bundles/LeadBundle/Segment/Decorator/Date/TimezoneResolver.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/TimezoneResolverTest.php
Labels: bug, ready-to-commit, segments, unforking, code-review-passed

#14495 Refactor onCampaignTriggerActionUpdateLead to use batches
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  phpstan-baseline.neon
Labels: refactoring, unforking, code-review-passed

#14540 Email click tracking fix, PHP warning fix
  app/bundles/EmailBundle/EventListener/TrackingSubscriber.php
  app/bundles/EmailBundle/Tests/Functional/EmailClickTrackingTest.php
Labels: bug, ready-to-commit, email, tracking, unforking, code-review-passed, user-testing-passed

#14553 Resolving an error when deleting segments
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerPermissionFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/flashes.ini
Labels: bug, ready-to-commit, segments, unforking, code-review-passed, user-testing-passed

#14513 [UX] Better fields when creating forms
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/labels.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Helper/_tag.html.twig
  app/bundles/FormBundle/Assets/css/form.css
  app/bundles/FormBundle/Assets/js/form.js
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Resources/views/Builder/_labels.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-experience, enhancement, forms, twig, code-review-passed, user-testing-passed

#14550 Do not replace special chars with HTML entities
  app/bundles/ApiBundle/Controller/FetchCommonApiController.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
Labels: bug, API, unforking, code-review-passed, user-testing-passed

#14556 Adding index to speed up the integration sync as it overloads DB servers
  app/bundles/IntegrationsBundle/Entity/ObjectMapping.php
  app/migrations/Version20241212090146.php
Labels: ready-to-test, enhancement, performance-scalability, unforking, code-review-passed

#14571 Php8 related issue fix for implode
  plugins/MauticCrmBundle/Integration/HubspotIntegration.php
Labels: bug, plugin, unforking

#14564 Remove Factory::getIpAddressFromRequest and Factory::getDate.
  UPGRADE-6.0.md
  app/bundles/CampaignBundle/Controller/EventController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/UserBundle/Controller/UserController.php
Labels: refactoring, code-review-passed

#14546 Update mautic/core-lib version constraint
  .github/ci-files/composer.json
  .github/subtree-splitter-config.json
  .gitignore
  app/assets/scaffold/files/example.gitignore
  composer.json
  composer.lock
  plugins/GrapesJsBuilderBundle/composer.json
  plugins/MauticClearbitBundle/composer.json
  plugins/MauticCloudStorageBundle/composer.json
  plugins/MauticCrmBundle/composer.json
  plugins/MauticEmailMarketingBundle/composer.json
  plugins/MauticFocusBundle/composer.json
  plugins/MauticFullContactBundle/composer.json
  plugins/MauticGmailBundle/composer.json
  plugins/MauticOutlookBundle/composer.json
  plugins/MauticSocialBundle/composer.json
  plugins/MauticTagManagerBundle/composer.json
  plugins/MauticZapierBundle/composer.json
  themes/_1-2-1-2-column/composer.json
  themes/_1-2-1-column/composer.json
  themes/_1-2-column/composer.json
  themes/_1-3-1-3-column/composer.json
  themes/_1-3-column/composer.json
  themes/_connect-through-content/composer.json
  themes/_educate/composer.json
  themes/_gallery/composer.json
  themes/_make-announcement/composer.json
  themes/_showcase/composer.json
  themes/_simple-text/composer.json
  themes/_survey/composer.json
  themes/_welcome/composer.json
  themes/attract/composer.json
  themes/aurora/composer.json
  themes/blank/composer.json
  themes/brienz/composer.json
  themes/cards/composer.json
  themes/confirmme/composer.json
  themes/creative/composer.json
  themes/fresh-center/composer.json
  themes/fresh-fixed/composer.json
  themes/fresh-left/composer.json
  themes/fresh-wide/composer.json
  themes/goldstar/composer.json
  themes/neopolitan/composer.json
  themes/oxygen/composer.json
  themes/paprika/composer.json
  themes/skyline/composer.json
  themes/sparse/composer.json
  themes/sunday/composer.json
  themes/trulypersonal/composer.json
  themes/vibrant/composer.json
Labels: bug, pending-test-confirmation, composer, code-review-passed

#14418 Removed MauticFactory::getDatabase.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/IntegrationsBundle/Bundle/AbstractPluginBundle.php
  app/bundles/IntegrationsBundle/Migration/Engine.php
  app/bundles/PluginBundle/Bundle/PluginBundleBase.php
  app/bundles/PluginBundle/Bundle/PluginDatabase.php
  app/bundles/PluginBundle/Event/PluginInstallEvent.php
  app/bundles/PluginBundle/Event/PluginUpdateEvent.php
  app/bundles/PluginBundle/EventListener/PluginSubscriber.php
  app/bundles/PluginBundle/Facade/ReloadFacade.php
  app/bundles/PluginBundle/Helper/ReloadHelper.php
  app/bundles/PluginBundle/Model/PluginModel.php
  app/bundles/PluginBundle/Tests/Helper/ReloadHelperTest.php
  plugins/MauticCrmBundle/EventListener/PluginSubscriber.php
  plugins/MauticCrmBundle/MauticCrmBundle.php
Labels: bc-break, refactoring, code-review-passed, user-testing-passed

#14539 fix: Fix font selection in CKEditor not including fallback fonts in output
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: bug, email, builder-grapesjs, code-review-passed, user-testing-passed

#14573 fixed:#14485 =>Fields on modal popup for dashboard widget creation are too small
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/DashboardBundle/Form/Type/WidgetType.php
Labels: T1, bug, user-interface, dashboard, code-review-passed, user-testing-passed, ux-review-passed

#14552 Incorrect date value being calculating when the segment filter value is yesterday/today/tomorrow and operator is gt or lte for date and datetime field
  app/bundles/LeadBundle/Segment/Decorator/Date/Day/DateDayToday.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Day/DateDayTomorrow.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Day/DateDayYesterday.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Day/DateDayTodayTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Day/DateDayTomorrowTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Day/DateDayYesterdayTest.php
Labels: bug, segments, unforking, code-review-passed

#14431 feat: Show Building if a segment is new or updated but not yet rebuilt
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Segment/ContactSegmentServiceFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-test, user-experience, enhancement, php, segments, code-review-passed, user-testing-passed, ux-review-passed

#14579 Replace abandoned package tightenco/collect with illuminate/collections
  UPGRADE-6.0.md
  app/bundles/CoreBundle/DependencyInjection/Builder/Metadata/ConfigMetadata.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/composer.json
  composer.lock
Labels: code-review-needed

#14577 DPMMA-3031 Configurable email address length limit to prevent delivery issues
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
Labels: enhancement, email, code-review-passed

#14525 fix: Email preview now works again even if unpublished or expired
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
Labels: bug, regression, email, code-review-passed, user-testing-passed

#14568 Fix Focus preview with placeholder
  plugins/MauticFocusBundle/Assets/css/focus.css
Labels: T1, bug, user-interface, ready-to-commit, focus-items, code-review-passed, user-testing-passed, ux-review-passed

#14569 fix: too much padding for select input with form-control class
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
Labels: T1, bug, user-interface, ready-to-commit, dashboard, code-review-passed, user-testing-passed

#14582 [UI] Move Help to top navbar-right
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
Labels: T1, bug, user-interface, ready-to-test, code-review-needed, twig

#14585 Pull-request-template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, ready-to-test, user-experience

#14560 FIX: Ignoring of custom option list for mapped fields (#14117)
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
Labels: bug, custom-fields, code-review-passed, user-testing-passed

#14567 Restrict user deletion of categories associated with other resources
  app/bundles/AssetBundle/Config/config.php
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CategoryBundle/Controller/CategoryController.php
  app/bundles/CategoryBundle/Event/CategoryTypeEntityEvent.php
  app/bundles/CategoryBundle/EventListener/CategorySubscriber.php
  app/bundles/CategoryBundle/Model/CategoryModel.php
  app/bundles/CategoryBundle/Tests/Controller/CategoryControllerFunctionalTest.php
  app/bundles/CategoryBundle/Translations/en_US/messages.ini
  app/bundles/CategoryBundle/Translations/en_US/validators.ini
  app/bundles/ChannelBundle/Config/config.php
  app/bundles/CoreBundle/Exception/RecordCanNotBeDeletedException.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/FormBundle/Config/config.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PointBundle/Config/config.php
  app/bundles/StageBundle/Config/config.php
  plugins/MauticFocusBundle/Config/config.php
  plugins/MauticSocialBundle/Config/config.php
Labels: ready-to-commit, enhancement, categories, unforking, code-review-passed, user-testing-passed

#14486 Improving page hit report performance
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: pending-test-confirmation, reports, performance-scalability, unforking

#14247 DPMMA-2957 Prevent ORM error when sending multiple messages to one Lead
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/ChannelBundle/Tests/Command/ProcessMarketingMessagesQueueCommandFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Model/MessageQueueModelTest.php
Labels: T2, bug, ready-to-test, email, queue, code-review-passed, user-testing-passed

#14512 Removing CodeMirror JS
  UPGRADE-6.0.md
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/css/libraries/other/codemirror.less
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Helper/AssetGenerationHelper.php
  package-lock.json
  package.json
Labels: ready-to-commit, pending-test-confirmation, bc-break, refactoring, code-review-passed, user-testing-passed

#14514 [UX] Better action labels when creating forms
  app/bundles/AssetBundle/EventListener/FormSubscriber.php
  app/bundles/AssetBundle/Resources/views/Action/asset.html.twig
  app/bundles/CategoryBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Helper/EntityHelper.php
  app/bundles/EmailBundle/EventListener/FormSubscriber.php
  app/bundles/EmailBundle/Resources/views/Action/email.html.twig
  app/bundles/FormBundle/Controller/ActionController.php
  app/bundles/FormBundle/EventListener/FormSubscriber.php
  app/bundles/FormBundle/Resources/views/Action/_generic.html.twig
  app/bundles/FormBundle/Resources/views/Action/base_form_action.html.twig
  app/bundles/FormBundle/Resources/views/Action/form_email.html.twig
  app/bundles/FormBundle/Resources/views/Builder/index.html.twig
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/EventListener/FormSubscriber.php
  app/bundles/LeadBundle/Resources/views/Action/points.html.twig
  app/bundles/LeadBundle/Resources/views/Action/segments.html.twig
  app/bundles/LeadBundle/Resources/views/Action/tags.html.twig
  app/bundles/PluginBundle/EventListener/FormSubscriber.php
  app/bundles/PluginBundle/Resources/views/Action/integration.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, forms, twig, code-review-passed, user-testing-passed

#14588 [UX] Remove unused Forms themes
  themes/goldstar/config.json
  themes/neopolitan/config.json
  themes/neopolitan/html/MauticFormBundle/Builder/style.html.twig
  themes/oxygen/config.json
  themes/oxygen/html/MauticFormBundle/Builder/style.html.twig
  themes/skyline/config.json
  themes/skyline/html/MauticFormBundle/Builder/style.html.twig
Labels: T1, ready-to-commit, user-experience, forms, themes, code-review-passed, user-testing-passed

#14617 Fixed: Delete Events for Point Triggers are weird #14412
  app/bundles/PointBundle/Assets/css/point.css
Labels: T1, user-interface, ready-to-commit, regression, points-scoring, code-review-passed, user-testing-passed

#14615 Duplicate title on campaign source change
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Resources/views/Source/_index.html.twig
Labels: T1, bug, user-interface, ready-to-commit, campaigns, code-review-passed, user-testing-passed

#14393 Enabling Searching Contacts and Companies by Custom Field Values Without Field Alias Prefix
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Entity/CustomFieldRepositoryTrait.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Entity/LeadFieldRepository.php
  app/bundles/LeadBundle/Entity/LeadRepository.php
  app/bundles/LeadBundle/Tests/Functional/SearchWithCustomFieldDataFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: feature, ready-to-commit, custom-fields, search, code-review-passed, user-testing-passed, ux-review-passed

#14621 Fix version constraint for mautic/core-lib in mautic/theme-capture
  themes/capture/composer.json
Labels: bug, chore, themes

#14610 Add GitHub Codespaces support with .devcontainer configuration
  .devcontainer/devcontainer.json
  .devcontainer/setup-project.sh
Labels: T1, ready-to-test, developer-experience

#14612 Do not fail tests on Sunday and Saturday.
  app/bundles/CampaignBundle/Executioner/Scheduler/Mode/Interval.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: T1, bug, automated-tests

#14536 [Page theme] Mono
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-mono.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/mono/.github/workflows/close_pull_requests.yml
  themes/mono/assets/syne-v22-latin-500.woff2
  themes/mono/assets/syne-v22-latin-700.woff2
  themes/mono/composer.json
  themes/mono/config.json
  themes/mono/html/base.html.twig
  themes/mono/html/message.html.twig
  themes/mono/html/page.html.twig
  themes/mono/thumbnail.png
Labels: T1, ready-to-commit, user-experience, enhancement, forms, landing-pages, themes, builder-grapesjs, code-review-passed, user-testing-passed

#14534 [Page theme] Blend
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-blend.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/blend/.github/workflows/close_pull_requests.yml
  themes/blend/assets/InterDisplay-ExtraBold.woff2
  themes/blend/assets/InterDisplay-Medium.woff2
  themes/blend/assets/mymind-3dmu0gu23uc-unsplash.jpg
  themes/blend/composer.json
  themes/blend/config.json
  themes/blend/html/base.html.twig
  themes/blend/html/message.html.twig
  themes/blend/html/page.html.twig
  themes/blend/thumbnail.png
Labels: T1, ready-to-commit, user-experience, enhancement, forms, landing-pages, themes, builder-grapesjs, code-review-passed, user-testing-passed

#14601 Added parent details to children of 'decision' and 'condition' event types for improved clarity
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/EventListener/LeadSubscriber.php
  app/bundles/CampaignBundle/Resources/views/SubscribedEvents/Timeline/index.html.twig
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignDecisionTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignEntitiesTrait.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignEventDetailsTimelineFunctionalTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, campaigns, contacts, code-review-passed, user-testing-passed

#14604 DPMMA-2979 Fix data encoding inconsistency for Form submissions
  UPGRADE-6.0.md
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Resources/views/Result/_list.html.twig
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: ready-to-commit, bc-break, forms, code-review-passed, user-testing-passed

#14370 Set the page language for the preference center page if the lead's preferred locale is not set lead preferred locale
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/PageBundle/EventListener/PageSubscriber.php
  app/bundles/PageBundle/Tests/EventListener/PageSubscriberTest.php
Labels: feature, ready-to-commit, code-review-passed, user-testing-passed, mautic-6

#14519 [Page theme] ReachOut
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-reachout.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/reachout/.github/workflows/close_pull_requests.yml
  themes/reachout/assets/chat-1-line.png
  themes/reachout/assets/mail-send-line.png
  themes/reachout/assets/map-pin-2-line.png
  themes/reachout/assets/phone-line.png
  themes/reachout/assets/twitter-x-line.png
  themes/reachout/composer.json
  themes/reachout/config.json
  themes/reachout/html/base.html.twig
  themes/reachout/html/message.html.twig
  themes/reachout/html/page.html.twig
  themes/reachout/thumbnail.png
Labels: T1, ready-to-commit, ready-to-test, user-experience, enhancement, forms, landing-pages, themes, twig, code-review-passed

#14626 Add the 2024 financial report to the funding.json file
  funding.json
Labels: chore, code-review-passed

#14199 [UI] Marketplace details header and layout
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/navs.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/css/app/less/marketplace.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Helper/nav_tabs.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/MarketplaceBundle/Resources/views/Package/Details/details--tab_details.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/Details/details--tab_github.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/Details/details--tab_overview.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/Details/details--tab_packagist.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/detail.html.twig
  app/bundles/MarketplaceBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed, marketplace

#14527 [Page theme] Formscape
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-formscape.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/formscape/.github/workflows/close_pull_requests.yml
  themes/formscape/assets/chris-lee-70l1tDAI6rM-unsplash.jpg
  themes/formscape/composer.json
  themes/formscape/config.json
  themes/formscape/html/base.html.twig
  themes/formscape/html/message.html.twig
  themes/formscape/html/page.html.twig
  themes/formscape/thumbnail.png
Labels: T1, pending-test-confirmation, user-experience, enhancement, forms, landing-pages, themes, builder-grapesjs, code-review-passed

#14618 Convert charset to utf8mb4
  app/migrations/Version20211020114811.php
Labels: T1, ready-to-commit, db-migrations, unforking, code-review-passed, user-testing-passed

#14547 [Form theme] Chord
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-chord.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/chord/.github/workflows/close_pull_requests.yml
  themes/chord/composer.json
  themes/chord/config.json
  themes/chord/html/MauticFormBundle/Builder/_style.html.twig
  themes/chord/html/base.html.twig
  themes/chord/thumbnail.png
Labels: T1, ready-to-commit, user-experience, enhancement, forms, themes, code-review-passed, user-testing-passed

#14591 [Form theme] Eclipse
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-eclipse.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  themes/eclipse/.github/workflows/close_pull_requests.yml
  themes/eclipse/composer.json
  themes/eclipse/config.json
  themes/eclipse/html/MauticFormBundle/Builder/_style.html.twig
  themes/eclipse/html/base.html.twig
Labels: T1, code-review-needed, pending-test-confirmation, user-experience, forms, themes, twig

#14642 Import Command Log Error
  app/bundles/LeadBundle/Command/ImportCommand.php
  app/bundles/LeadBundle/Tests/Command/ImportCommandTest.php
  app/bundles/LeadBundle/Tests/Controller/ImportControllerTest.php
Labels: unforking, code-review-passed

#14646 [UI] Fix modal form buttons
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
Labels: T1, user-interface, ready-to-commit, regression, code-review-passed, user-testing-passed

#14637 [UI] Moving accent colors to global config
  app/bundles/CoreBundle/Assets/js/2.config.js
  app/bundles/CoreBundle/Form/Type/ConfigThemeType.php
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_themeconfig_widget.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/accent.html.twig
  app/bundles/UserBundle/Form/Type/UserPreferencesType.php
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: T1, user-interface, pending-test-confirmation, enhancement, code-review-passed

#14647 Back merge 5.2.3 -> 6.x
  app/bundles/AssetBundle/Config/config.php
  app/bundles/AssetBundle/Controller/UploadController.php
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/AssetBundle/EventListener/UploadSubscriber.php
  app/bundles/AssetBundle/Form/Type/AssetType.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/AssetBundle/Tests/Controller/UploadControllerFunctionalTest.php
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/AssetBundle/Translations/en_US/validators.ini
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Resources/views/Source/_index.html.twig
  app/bundles/ChannelBundle/Model/MessageQueueModel.php
  app/bundles/ChannelBundle/Tests/Command/ProcessMarketingMessagesQueueCommandFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Model/MessageQueueModelTest.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/11.editor.js
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
  app/bundles/CoreBundle/Resources/views/Default/navbar.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/quick_help.html.twig
  app/bundles/DashboardBundle/Tests/Controller/DashboardControllerFunctionalTest.php
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/EventListener/TrackingSubscriber.php
  app/bundles/EmailBundle/Form/Type/ConfigType.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Tests/Controller/PublicControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Functional/EmailClickTrackingTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
  app/bundles/LeadBundle/Segment/Decorator/Date/TimezoneResolver.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/TimezoneResolverTest.php
  app/bundles/PointBundle/Assets/css/point.css
  app/bundles/ReportBundle/Controller/Api/ReportApiController.php
  app/bundles/ReportBundle/Tests/Controller/Api/ReportApiControllerTest.php
  plugins/MauticFocusBundle/Assets/css/focus.css
Labels: chore

#14641 Prepare for 6.0.0-beta release
  .github/ci-files/composer.json
  app/release_metadata.json
  composer.json
  composer.lock
Labels: chore

#14644 Import: Memory optimization while validating CSV encoding
  app/bundles/CoreBundle/Form/Validator/Constraints/FileEncodingValidator.php
  app/bundles/CoreBundle/Tests/Fixtures/non_utf_8.csv
  app/bundles/CoreBundle/Tests/Functional/Form/Validator/FileEncodingValidatorTest.php
Labels: unforking, code-review-passed, user-testing-passed

#14092 fix #13570 - incorrect banner when multiple theme deletion
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
Labels: T1, bug, ready-to-commit, user-experience, themes, code-review-passed, user-testing-passed, ux-review-passed

#14638 Fix issue #14338 Custom HTML Content hidden when creating email in Code Mode
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
Labels: T1, bug, ready-to-commit, builder-grapesjs, code-review-passed, user-testing-passed

#14619 fixed #14559 :When deleting a theme the confirmation modal is not readable
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: T1, bug, user-interface, ready-to-commit, regression, themes, code-review-passed, user-testing-passed

#14551 Fixing invalid Page redirects
  app/bundles/PageBundle/Assets/js/page.js
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Form/Type/RedirectListType.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerRedirectTest.php
  app/bundles/PageBundle/Tests/Form/Type/RedirectListTypeTest.php
Labels: bug, ready-to-commit, landing-pages, unforking, code-review-passed, user-testing-passed

#13842 Fix: Adds missing return type to LeadEvent + unit test
  app/bundles/IntegrationsBundle/Tests/Unit/EventListener/LeadSubscriberTest.php
  app/bundles/LeadBundle/Event/LeadEvent.php
  app/bundles/LeadBundle/EventListener/LeadSubscriber.php
  app/bundles/LeadBundle/Helper/LeadChangeEventDispatcher.php
  app/bundles/LeadBundle/Tests/Event/LeadEventTest.php
  app/bundles/LeadBundle/Tests/EventListener/LeadSubscriberTest.php
  app/bundles/PluginBundle/Tests/EventListener/LeadSubscriberTest.php
Labels: T2, ready-to-commit, bc-break, refactoring

#14593 Preventing bots making page hits
  app/bundles/EmailBundle/Config/config.php
  app/bundles/EmailBundle/Helper/BotRatioHelper.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Functional/BotRatioHelperFunctionalTest.php
  app/bundles/EmailBundle/Tests/Helper/BotRatioHelperTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Config/services.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
  app/bundles/LeadBundle/Tests/Helper/ContactRequestHelperTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Tracker/ContactTracker.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Model/PageModel.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PageBundle/Tests/Functional/Model/PageModelTest.php
  app/bundles/PageBundle/Tests/PageTestAbstract.php
Labels: bug, ready-to-commit, landing-pages, unforking, user-testing-passed

#14625 Indices For Query Optimisation
  app/bundles/LeadBundle/Entity/ListLead.php
  app/migrations/Version20231205094436.php
Labels: enhancement, unforking, user-testing-passed

#14531 Check if a segment email was already sent to a given contact right before sending the email
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Controller/Api/EmailApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
Labels: bug, pending-test-confirmation, email, unforking, user-testing-passed

#14587 fix: labels for fields when creating forms
  app/bundles/FormBundle/Assets/css/form.css
  app/bundles/FormBundle/Assets/js/form.js
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Resources/views/Builder/_labels.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: bug, ready-to-commit, user-experience, regression, forms, twig, code-review-passed, user-testing-passed

#14503 New pre and post batch save events for plugins
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/CoreBundle/Tests/Unit/Model/FormModelTest.php
  app/bundles/LeadBundle/Event/LeadEvent.php
  app/bundles/LeadBundle/Event/SaveBatchLeadsEvent.php
  app/bundles/LeadBundle/LeadEvents.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
Labels: ready-to-commit, campaigns, unforking, code-review-passed
