Repository mautic/mautic, pull requests merged in 2025-08, with the labels that each got.

#15297 Fix live update translation to clarify it applies to any contact list
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, ready-to-commit, code-review-passed

#15322 JobExtendTimeEvent for extending job time to execute
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
  app/bundles/CoreBundle/Event/JobExtendTimeEvent.php
  app/bundles/CoreBundle/Helper/ExportHelper.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ExportHelperTest.php
  app/bundles/ReportBundle/Model/ReportExporter.php
  app/bundles/ReportBundle/Tests/Model/ReportExporterTest.php
Labels: enhancement, plugin, unforking

#15272 [UXUI-224] Recreate event type panel in campaign builder
  app/bundles/CampaignBundle/Resources/views/Campaign/Builder/_index.html.twig
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, campaigns, code-review-passed, user-testing-passed

#13847 [UI] New import contacts screen
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/LeadBundle/Assets/contacts_sample.csv
  app/bundles/LeadBundle/Form/Type/LeadImportType.php
  app/bundles/LeadBundle/Resources/views/Import/_mapping_form.html.twig
  app/bundles/LeadBundle/Resources/views/Import/_upload_form.html.twig
  app/bundles/LeadBundle/Resources/views/Import/progress.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  tests/_support/Page/Acceptance/ContactPage.php
  tests/acceptance/ContactManagementCest.php
Labels: T1, user-interface, ready-to-commit, user-experience, enhancement, import-export, code-review-passed, user-testing-passed

#15108 [UXUI-217] Add UI Shell component
  app/bundles/CampaignBundle/Resources/views/Campaign/_builder.html.twig
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/uishell.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Components/toggletip.html.twig
  app/bundles/CoreBundle/Resources/views/Components/uishell.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/button.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/DashboardBundle/Resources/views/Widget/detail.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/ReportBundle/Resources/views/FormTheme/Report/layout.html.twig
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFocusBundle/Resources/views/Focus/form.html.twig
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, ready-to-test, campaigns, focus-items, code-review-passed

#15325 fix: Wrong encoded string value constants for ANSI SQL compatibility (7.x)
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Stats/Helper/BouncedHelper.php
  app/bundles/EmailBundle/Stats/Helper/UnsubscribedHelper.php
  app/bundles/PageBundle/Entity/RedirectRepository.php
Labels: bug, landing-pages, email, code-review-passed

#15324 fix: Wrong encoded string value constants for ANSI SQL compatibility (6.x)
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/EmailBundle/Stats/Helper/BouncedHelper.php
  app/bundles/EmailBundle/Stats/Helper/UnsubscribedHelper.php
  app/bundles/PageBundle/Entity/RedirectRepository.php
Labels: bug, ready-to-commit, landing-pages, email, code-review-passed

#15305 Fix checkbox prepopulation m7
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Tests/Model/FormModelFunctionalTest.php
Labels: bug, ready-to-commit, forms, code-review-passed, user-testing-passed

#14915 DPMMA-2990 DNC Preferences in Reports
  app/bundles/AssetBundle/EventListener/ReportSubscriber.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/AssetBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/CampaignBundle/EventListener/ReportSubscriber.php
  app/bundles/CampaignBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/EmailBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/FormBundle/EventListener/ReportSubscriber.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/FormBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Config/services.php
  app/bundles/LeadBundle/Entity/DoNotContactRepository.php
  app/bundles/LeadBundle/EventListener/ReportDNCSubscriber.php
  app/bundles/LeadBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Helper/DncFormatterHelper.php
  app/bundles/LeadBundle/Model/DoNotContact.php
  app/bundles/LeadBundle/Report/DncReportService.php
  app/bundles/LeadBundle/Report/FieldsBuilder.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/LeadBundle/Tests/Report/FieldsBuilderTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/EventListener/ReportSubscriber.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  app/bundles/PageBundle/Tests/EventListener/ReportSubscriberTest.php
  app/bundles/ReportBundle/Builder/MauticReportBuilder.php
  app/bundles/ReportBundle/Event/ReportGeneratorEvent.php
  app/bundles/ReportBundle/Tests/Event/ReportGeneratorEventTest.php
Labels: T1, ready-to-commit, enhancement, reports, code-review-passed, user-testing-passed

#15374 Exclude .devcontainer from update and full packages [6.0]
  build/exclude_files.txt
Labels: chore

#15373 Exclude .devcontainer from update and full packages [7.x]
  build/exclude_files.txt
Labels: chore

#15183 Show Email ID with name when Email is listed
  app/bundles/EmailBundle/Form/Type/EmailListType.php
  app/bundles/EmailBundle/Model/EmailModel.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Model/EmailModelTest.php
Labels: user-interface, ready-to-commit, user-experience, enhancement, campaigns

#15106 Feature: Add theme column to page, form, and email list views
  app/bundles/CoreBundle/Twig/Extension/ThemeExtension.php
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
Labels: T1, feature, user-interface, ready-to-commit, landing-pages, code-review-passed, user-testing-passed

#15385 Remove migration Version20230522141144 [6.0]
  UPGRADE-6.0.md
  app/migrations/Version20230522141144.php
Labels: bug, ready-to-commit, db-migrations, code-review-passed

#15382 feat: add flash message when companies are merged
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Translations/en_US/flashes.ini
Labels: T1, ready-to-commit, enhancement, companies, code-review-passed, user-testing-passed

#15379 feat: add import completion notifications with clickable header
  app/bundles/LeadBundle/Command/ImportCommand.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Tests/Command/ImportCommandTest.php
Labels: T1, ready-to-commit, enhancement, contacts, code-review-passed

#15430 Add mautic/theme-multi-step to subtree splitter
  .github/subtree-splitter-config.json
  .github/workflows/gitsplit/theme-multi-step.json
  .github/workflows/split-monorepo-in-multi-repo.yml
  composer.json
  composer.lock
Labels: chore
