Repository mautic/mautic, pull requests merged in 2025-04, with the labels that each got.

#14762 Allow users to update the “Maximum character length” for custom fields in the UI
  app/bundles/CoreBundle/Doctrine/Helper/ColumnSchemaHelper.php
  app/bundles/CoreBundle/Tests/Functional/Doctrine/Helper/ColumnSchemaHelperFunctionalTest.php
  app/bundles/CoreBundle/Tests/Functional/Field/Notification/CustomFieldNotificationFunctionalTest.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Field/BackgroundService.php
  app/bundles/LeadBundle/Field/Command/ModifyCustomFieldCommand.php
  app/bundles/LeadBundle/Field/CustomFieldColumn.php
  app/bundles/LeadBundle/Field/Dispatcher/FieldColumnDispatcher.php
  app/bundles/LeadBundle/Field/Notification/CustomFieldNotification.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Model/FieldModel.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Field/BackgroundServiceTest.php
  app/bundles/LeadBundle/Tests/Field/Command/ModifyCustomFieldCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/Field/CustomFieldColumnTest.php
  app/bundles/LeadBundle/Tests/Field/Dispatcher/FieldColumnDispatcherTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Translations/en_US/validators.ini
  app/bundles/LeadBundle/Validator/LeadFieldMinimumLength.php
  app/bundles/LeadBundle/Validator/LeadFieldMinimumLengthValidator.php
Labels: ready-to-commit, enhancement, custom-fields, unforking, user-testing-passed

#14776 Summarize log data only if campaign_use_summary flag is true
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Config/services.php
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Executioner/Logger/EventLogger.php
  app/bundles/CampaignBundle/Tests/Command/CampaignSummarizationFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Logger/EventLoggerTest.php
Labels: bug, campaigns, unforking, code-review-passed, user-testing-passed

#14821 Updating Doctrine migrations package
  composer.lock
Labels: pending-test-confirmation, dependencies, composer, code-review-passed

#14835 Updating library oneup/uploader-bundle
  app/composer.json
  composer.lock
Labels: dependencies, composer, code-review-passed, user-testing-passed

#14818 Fix issue #14457: Contact names with ampersands not showing in search
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Tests/Functional/AbstractSearchTest.php
  app/bundles/LeadBundle/Tests/Functional/SearchWithCustomFieldDataFunctionalTest.php
  app/bundles/LeadBundle/Tests/Functional/SearchWithSpecialCharactersInFieldTest.php
Labels: bug, search, code-review-passed, user-testing-passed

#14847 Ugrading 3 more libraries to unblock Symfony 7 upgrade
  app/AppKernel.php
  app/composer.json
  app/config/config.php
  build/exclude_files.txt
  build/package_devhead.php
  build/processfiles.php
  composer.lock
Labels: ready-to-commit, dependencies, composer, code-review-passed, user-testing-passed

#14828 Segment clone improvements.
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Model/ListModel.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: bug, ready-to-commit, segments, unforking, code-review-passed

#14825 Fixing selecting a contact for email preview
  app/bundles/CoreBundle/Assets/js/14.content.preview.js
Labels: bug, email, unforking, code-review-passed, user-testing-passed

#14841 [UXUI-144] Show category when viewing resource details
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Default/content.html.twig
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/category--expanded.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/category--inline.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/LeadBundle/Resources/views/Company/company.html.twig
  app/bundles/LeadBundle/Resources/views/Import/details.html.twig
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/detail.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/details.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/_list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/_list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
Labels: T1, user-experience, enhancement, refactoring, code-review-passed, user-testing-passed

#14849 Updating knplabs/knp-menu-bundle and liip/functional-test-bundle to support Symfony 7
  composer.lock
Labels: pending-test-confirmation, dependencies, composer, code-review-passed

#14836 Deprecating EoL DB versions, support for more DB versions
  .ddev/config.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  UPGRADE-7.0.md
  app/AppKernel.php
  app/bundles/CampaignBundle/Entity/LeadRepository.php
  app/bundles/CoreBundle/EventListener/DoctrineEventsSubscriber.php
  app/bundles/CoreBundle/Resources/views/Helper/usage.html.twig
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Unit/Doctrine/Provider/VersionProviderTest.php
  app/bundles/EmailBundle/Entity/StatRepository.php
  app/bundles/IntegrationsBundle/Entity/ObjectMappingRepository.php
  app/bundles/LeadBundle/Tests/Controller/Api/ListApiControllerFunctionalTest.php
  app/config/config.php
  app/release_metadata.json
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
Labels: T2, ready-to-commit, enhancement, bc-break, CI, code-review-passed

#14833 Fix #14240: Blank link shown in theme actions dropdown
  app/bundles/CoreBundle/Resources/views/Theme/list.html.twig
  tests/_support/Page/Acceptance/ThemesPage.php
  tests/acceptance/ThemeManagementCest.php
Labels: bug, user-interface, pending-feedback, themes, code-review-passed, user-testing-passed

#14863 Parent menu items are shown even if they have no child items
  app/bundles/CoreBundle/Menu/MenuBuilder.php
Labels: bug, code-review-passed, user-testing-passed

#14858 Backmerge 6.x into 6.0
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
Labels: ready-to-commit, chore

#14834 [UXUI-145] Tags in Email details
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, email, code-review-passed, user-testing-passed

#14829 [UXUI-140] Tags in landing page details
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Form/Type/DateRangeType.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list_filter_form.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
Labels: T1, ready-to-commit, user-experience, twig, code-review-passed, user-testing-passed

#14676 Added change log tab for campaign detail page
  app/bundles/CampaignBundle/Assets/css/campaign.css
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/EventListener/CampaignInjectCustomContentSubscriber.php
  app/bundles/CampaignBundle/Resources/views/Campaign/Tab/_details.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/Tab/recent-activity-tab.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/Tab/recent-activity-tabcontent.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Tests/Functional/Controller/CampaignAuditLogTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, user-experience, enhancement, campaigns, code-review-passed, user-testing-passed, developer-experience

#14824 Fixing migrations' preup checks
  app/migrations/Version20241212090146.php
Labels: bug, db-migrations, unforking, code-review-passed, user-testing-passed

#14800 [UXUI-135] Set field width when creating forms
  app/bundles/FormBundle/Assets/css/form.css
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Resources/views/Builder/_field_wrapper.html.twig
  app/bundles/FormBundle/Resources/views/Builder/_style.html.twig
  app/bundles/FormBundle/Resources/views/Builder/field.html.twig
  app/bundles/FormBundle/Resources/views/Field/button.html.twig
  app/bundles/FormBundle/Resources/views/Field/freehtml.html.twig
  app/bundles/FormBundle/Resources/views/Field/freetext.html.twig
  app/bundles/FormBundle/Resources/views/Field/group.html.twig
  app/bundles/FormBundle/Resources/views/Field/select.html.twig
  app/bundles/FormBundle/Resources/views/Field/text.html.twig
  app/bundles/FormBundle/Tests/Entity/FieldTest.php
  app/bundles/FormBundle/Tests/Form/Type/FieldTypeTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/migrations/Version20250402103942.php
  themes/chord/html/MauticFormBundle/Builder/_style.html.twig
  themes/eclipse/html/MauticFormBundle/Builder/_style.html.twig
Labels: T1, feature, forms, twig, code-review-passed, user-testing-passed

#14861 Prevent form submit by enter on segment filter
  app/bundles/LeadBundle/Assets/js/lead.js
Labels: unforking, code-review-passed, user-testing-passed

#14745 Campaign Trigger aommand and Contact export command made interruptible via the signals
  app/bundles/CampaignBundle/Command/TriggerCampaignCommand.php
  app/bundles/CampaignBundle/Executioner/InactiveExecutioner.php
  app/bundles/CampaignBundle/Executioner/KickoffExecutioner.php
  app/bundles/CampaignBundle/Executioner/ScheduledExecutioner.php
  app/bundles/CampaignBundle/Tests/Executioner/InactiveExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/KickoffExecutionerTest.php
  app/bundles/CampaignBundle/Tests/Executioner/ScheduledExecutionerTest.php
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Helper/ExitCode.php
  app/bundles/CoreBundle/Helper/ExportHelper.php
  app/bundles/CoreBundle/ProcessSignal/Exception/InvalidStateException.php
  app/bundles/CoreBundle/ProcessSignal/Exception/SignalCaughtException.php
  app/bundles/CoreBundle/ProcessSignal/ProcessSignalService.php
  app/bundles/CoreBundle/ProcessSignal/ProcessSignalState.php
  app/bundles/CoreBundle/Tests/Unit/Helper/ExportHelperTest.php
  app/bundles/CoreBundle/Tests/Unit/ProcessSignal/Exception/SignalCaughtExceptionTest.php
  app/bundles/CoreBundle/Tests/Unit/ProcessSignal/ProcessSignalServiceTest.php
  app/bundles/CoreBundle/Tests/Unit/ProcessSignal/ProcessSignalTest.php
  app/bundles/LeadBundle/Command/ContactScheduledExportCommand.php
  app/bundles/LeadBundle/Tests/Command/ContactScheduledExportCommandTest.php
Labels: ready-to-commit, enhancement, unforking

#14851 Hide "User management" menu item for users without permissions
  app/bundles/UserBundle/Config/config.php
Labels: bug, code-review-passed, user-testing-passed

#14805 DPMMA-1850 Fix boolean Field default value
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
Labels: T1, bug, custom-fields, code-review-passed, user-testing-passed

#14460 New date token like `{datetime=now}` in campaign action
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Helper/CustomFieldHelper.php
  app/bundles/LeadBundle/Helper/TokenHelper.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/Helper/CustomFieldHelperTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-test, enhancement, campaigns, code-review-passed, user-testing-passed

#14874 Fix SMS duplicate send
  app/bundles/SmsBundle/Model/SmsModel.php
Labels: bug, ready-to-test, code-review-passed

#14883 Removing support for AMQP queues
  UPGRADE-7.0.md
  app/composer.json
  composer.lock
Labels: ready-to-commit, bc-break, dependencies, code-review-passed

#14905 Resolve ESM module compatibility issue in bounties.js CI script
  .github/scripts/bounties.js
Labels: chore

#14908 Fix broken translation caused by double quotes in tooltip
  app/bundles/ReportBundle/Translations/en_US/messages.ini
Labels: T1, bug, translations, user-interface

#14809 Making campaign actions stats work with manual removal
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/Entity/SummaryRepository.php
  app/bundles/CampaignBundle/Tests/Campaign/AbstractCampaignTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
Labels: bug, ready-to-commit, campaigns

#14932 Fix report sending UI.
  app/bundles/ReportBundle/Assets/js/report.js
Labels: bug, reports, code-review-passed, user-testing-passed

#14935 Add Transifex workflow
  .github/workflows/transifex.yml
Labels: translations, CI, chore

#14838 DPMMA-2876 Fix duplicate emails to contact in campaign using A/B tests
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/Tests/Functional/EmailVariantInCampaignFunctionalTest.php
Labels: bug, email, code-review-passed, user-testing-passed

#14927 Add Transifex workflow
  .github/workflows/transifex.yml
Labels: translations, ready-to-commit, CI, chore

#14934 Fix: More trust settings: shows labels without inputs
  app/bundles/CoreBundle/Form/Type/ConfigType.php
Labels: bug, user-interface, configuration, code-review-passed, user-testing-passed

#14732 [UXUI-73] Automatically bring to page 1 when reordering table
  app/bundles/CoreBundle/Assets/js/10.entity.js
Labels: T1, bug, ready-to-commit, user-experience, javascript, code-review-passed, user-testing-passed

#14884 Fix Editing your user throws fatal error if the user you created changes its email. #14882
  app/bundles/UserBundle/Resources/views/User/recent_activity.html.twig
Labels: bug, ready-to-commit, code-review-passed, user-testing-passed

#14918 Allow more time window to make test valid.
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignActionJumpToEventWithIntervalTriggerModeFunctionalTest.php
Labels: bug, ready-to-commit, automated-tests

#14888 Restore "No change" option for boolean fields in Campaign Update Contact/Company action
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignDecisionTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/NullableYesNoButtonGroupType.php
  app/bundles/LeadBundle/Form/Type/UpdateCompanyActionType.php
  app/bundles/LeadBundle/Form/Type/UpdateLeadActionType.php
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateCompany/_updatecompany_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateLead/_updatelead_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/CustomYesNo/nullable_yesno_button_group_widget.html.twig
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/Traits/LeadFieldTestTrait.php
Labels: bug, ready-to-commit, campaigns, code-review-passed, user-testing-passed

#14943 bump version to 5.2.5
  app/release_metadata.json
Labels: chore

#14945 Backmerge 5.2 into 6.0
  .github/workflows/transifex.yml
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/Entity/SummaryRepository.php
  app/bundles/CampaignBundle/Tests/Campaign/AbstractCampaignTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Functional/Campaign/CampaignDecisionTest.php
  app/bundles/CategoryBundle/Controller/BatchContactController.php
  app/bundles/CategoryBundle/Form/Type/CategoryListType.php
  app/bundles/CoreBundle/Form/DataTransformer/SortableListTransformer.php
  app/bundles/CoreBundle/Tests/Form/DataTransformer/SortableListTransformerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/EventListener/CampaignSubscriber.php
  app/bundles/EmailBundle/Tests/Functional/EmailVariantInCampaignFunctionalTest.php
  app/bundles/FormBundle/Form/Type/FormListType.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/EventListener/CampaignSubscriber.php
  app/bundles/LeadBundle/Form/Type/EntityFieldsBuildFormTrait.php
  app/bundles/LeadBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Form/Type/LeadListType.php
  app/bundles/LeadBundle/Form/Type/NullableYesNoButtonGroupType.php
  app/bundles/LeadBundle/Form/Type/UpdateCompanyActionType.php
  app/bundles/LeadBundle/Form/Type/UpdateLeadActionType.php
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateCompany/_updatecompany_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateLead/_updatelead_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/CustomYesNo/nullable_yesno_button_group_widget.html.twig
  app/bundles/LeadBundle/Tests/Controller/FieldFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberTest.php
  app/bundles/LeadBundle/Tests/Traits/LeadFieldTestTrait.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/PointBundle/Form/Type/GroupListType.php
  app/bundles/ReportBundle/Assets/js/report.js
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Form/Type/UserListType.php
  app/bundles/UserBundle/Resources/views/User/recent_activity.html.twig
  plugins/MauticSocialBundle/Resources/views/Integration/login.html.twig
  tests/acceptance/DisplayTestCest.php
Labels: chore

#14947 Fix Transifex workflow
  .github/workflows/transifex.yml
Labels: CI, chore

#14865 Fix mautic#14245 Mautic doesn't show error when choosing remote provider
  app/bundles/AssetBundle/Assets/js/asset.js
  app/bundles/AssetBundle/Controller/AjaxController.php
  app/bundles/AssetBundle/Event/RemoteAssetBrowseEvent.php
  plugins/MauticCloudStorageBundle/EventListener/RemoteAssetBrowseSubscriber.php
  plugins/MauticCloudStorageBundle/Exception/InvalidCredentialConfigurationException.php
  plugins/MauticCloudStorageBundle/Integration/AmazonS3Integration.php
Labels: bug, assets, code-review-passed, user-testing-passed

#14837 Campaigns with jump to event action show incorrect data for completed actions
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Tests/Campaign/AbstractCampaignTest.php
  app/bundles/CampaignBundle/Tests/Functional/Controller/CampaignControllerTest.php
Labels: bug, campaigns, unforking, code-review-passed, user-testing-passed

#14886 Fixes issue #14804 with hamburger menu
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
Labels: T1, ready-to-commit, user-experience, code-review-passed, user-testing-passed, ux-review-passed

#14791 Fixing boolean field filters in dynamic email content
  app/bundles/EmailBundle/Resources/views/FormTheme/Email/layout.html.twig
  app/bundles/FormBundle/Twig/Extension/FormFieldExtension.php
Labels: bug, ready-to-commit, dynamic-content, custom-fields, unforking, code-review-passed, user-testing-passed

#14868 [UXUI-139] Add pictograms package
  .gitignore
  LICENSE.txt
  app/assets/scaffold/files/example.gitignore
  app/assets/scaffold/files/package-lock.json
  app/assets/scaffold/files/package.json
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/image.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Command/GenerateProductionAssetsCommand.php
  app/bundles/CoreBundle/Resources/views/Helper/pictogram.html.twig
  package-lock.json
  package.json
Labels: ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed, developer-experience

#14930 fix: prevent page reload prompt when inserting form field tokens in Send form results action
  app/bundles/FormBundle/Resources/views/FormTheme/FormAction/_formaction_properties_row.html.twig
Labels: bug, forms, code-review-passed, user-testing-passed
