Repository mautic/mautic, pull requests merged in 2025-09, with the labels that each got.

#15436 Fix AuthorizeController method signature mismatches and lock klapaudius/oauth-server-bundle to 5.1.3
  app/bundles/ApiBundle/Config/services.php
  app/bundles/ApiBundle/Controller/oAuth2/AuthorizeController.php
  app/bundles/ApiBundle/EventListener/PreAuthorizationEventListener.php
  app/composer.json
  composer.lock
Labels: bug, API, dependencies, essential, code-review-passed, authentication

#15410 enhancement: preview for text messages
  app/bundles/SmsBundle/Assets/css/sms.css
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/preview.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, sms, code-review-passed, user-testing-passed

#15444 Update contributor information in README.md
  README.md
Labels: ready-to-commit

#15365 [UXUI-74] Missing columns sort for custom fields
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, custom-fields, code-review-passed, user-testing-passed

#15340 fix: move close button from page actions to preHeader in form result list
  app/bundles/FormBundle/Resources/views/Result/list.html.twig
Labels: T1, bug, ready-to-commit, forms, code-review-passed, user-testing-passed

#15409 Projects: stages, dwc, points
  app/bundles/AssetBundle/Tests/Controller/AssetProjectSearchFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignProjectSearchFunctionalTest.php
  app/bundles/ChannelBundle/Tests/Controller/MessageProjectSearchFunctionalTest.php
  app/bundles/DynamicContentBundle/Controller/Api/DynamicContentApiController.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Entity/DynamicContentRepository.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/form.html.twig
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentProjectSearchFunctionalTest.php
  app/bundles/EmailBundle/Tests/Controller/EmailProjectSearchFunctionalTest.php
  app/bundles/FormBundle/Tests/Controller/FormProjectSearchFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/CompanyProjectSearchFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadListProjectSearchFunctionalTest.php
  app/bundles/PageBundle/Tests/Controller/PageProjectSearchFunctionalTest.php
  app/bundles/PointBundle/Controller/Api/PointApiController.php
  app/bundles/PointBundle/Controller/Api/TriggerApiController.php
  app/bundles/PointBundle/Controller/TriggerController.php
  app/bundles/PointBundle/Entity/Point.php
  app/bundles/PointBundle/Entity/PointRepository.php
  app/bundles/PointBundle/Entity/Trigger.php
  app/bundles/PointBundle/Entity/TriggerRepository.php
  app/bundles/PointBundle/Form/Type/PointType.php
  app/bundles/PointBundle/Form/Type/TriggerType.php
  app/bundles/PointBundle/Model/TriggerModel.php
  app/bundles/PointBundle/Resources/views/Point/form.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/form.html.twig
  app/bundles/PointBundle/Tests/Functional/Controller/PointControllerTest.php
  app/bundles/PointBundle/Tests/Functional/Controller/PointProjectSearchFunctionalTest.php
  app/bundles/PointBundle/Tests/Functional/Controller/TriggerControllerTest.php
  app/bundles/PointBundle/Tests/Functional/Controller/TriggerProjectSearchFunctionalTest.php
  app/bundles/PointBundle/Tests/Unit/Model/TriggerModelTest.php
  app/bundles/ProjectBundle/Entity/Project.php
  app/bundles/ProjectBundle/Service/ProjectEntityLoaderService.php
  app/bundles/ProjectBundle/Tests/Functional/AbstractProjectSearchTestCase.php
  app/bundles/SmsBundle/Tests/Controller/SmsProjectSearchFunctionalTest.php
  app/bundles/StageBundle/Controller/Api/StageApiController.php
  app/bundles/StageBundle/Entity/Stage.php
  app/bundles/StageBundle/Entity/StageRepository.php
  app/bundles/StageBundle/Form/Type/StageType.php
  app/bundles/StageBundle/Resources/views/Stage/form.html.twig
  app/bundles/StageBundle/Tests/Functional/Controller/StageControllerFunctionalTest.php
  app/bundles/StageBundle/Tests/Functional/Controller/StageProjectSearchFunctionalTest.php
  app/migrations/Version20250618122722.php
  app/migrations/Version20250618122908.php
  app/migrations/Version20250618134002.php
  app/migrations/Version20250618141525.php
  plugins/MauticFocusBundle/Tests/Functional/Controller/FocusProjectSearchFunctionalTest.php
Labels: ready-to-commit, enhancement, unforking, code-review-passed, user-testing-passed, projects

#15160 [UXUI-175] Show report filter config value as initial value for dynamic filters in report view
  app/bundles/ReportBundle/Controller/ReportController.php
  app/bundles/ReportBundle/Form/Type/DynamicFiltersType.php
  app/bundles/ReportBundle/Tests/Controller/ReportControllerFunctionalTest.php
  app/bundles/ReportBundle/Tests/Form/Type/DynamicFiltersTypeTest.php
Labels: T1, bug, ready-to-commit, reports, code-review-passed, user-testing-passed

#15308 Number field seems to offer help but there are no tooltips showing.
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/Field/properties_number.html.twig
Labels: bug, ready-to-commit, custom-fields, code-review-passed, user-testing-passed

#15463 Fixed issue with MySQL reserved keywords as column name
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Field/Command/AnalyseCustomFieldCommandFunctionalTest.php
Labels: bug, ready-to-commit, custom-fields, unforking, code-review-passed, user-testing-passed

#15456 Update migration to fix list permission handling
  app/migrations/Version20211209022550.php
Labels: bug, ready-to-commit, db-migrations, unforking, code-review-passed, user-testing-passed

#14816 Added email sent time in clickthrough data.
  app/bundles/CampaignBundle/Tests/Controller/Api/CampaignApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Event/EmailSendEvent.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: ready-to-commit, enhancement, email, tracking, unforking, code-review-passed, user-testing-passed

#15464 Dispatch event on manual winner action
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Event/ManualWinnerEvent.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerTest.php
Labels: enhancement, plugin, unforking, code-review-passed, user-testing-passed

#15462 Make sure company deletion is also refelcted in leads.company
  app/bundles/LeadBundle/EventListener/CompanySubscriber.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/CompanySubscriberTest.php
  app/bundles/LeadBundle/Tests/Functional/EventListener/CompanySubscriberFunctionalTest.php
Labels: bug, companies, code-review-passed, user-testing-passed

#15440 Fixes System info pages issues in dark mode
  app/bundles/ConfigBundle/Model/SysinfoModel.php
  app/bundles/ConfigBundle/Resources/views/Sysinfo/index.html.twig
Labels: bug, user-interface, code-review-passed, user-testing-passed

#15468 "Don't overwrite value if already exists" option is not working In Import Contacts
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Tests/Controller/ImportControllerTest.php
  app/bundles/LeadBundle/Tests/Fixtures/contacts-with-custom-field.csv
Labels: bug, import-export, unforking, code-review-passed, user-testing-passed

#13952 Stop import contact if import is unpublished.
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Tests/Model/ImportModelTest.php
Labels: pending-test-confirmation, enhancement, import-export, unforking, code-review-passed

#15459 Getting field data order by order & id column ASC
  app/bundles/FormBundle/Entity/Form.php
Labels: bug, forms, unforking, code-review-passed, user-testing-passed

#15458 Ensure non-admins can create dynamic content
  app/bundles/DynamicContentBundle/Model/DynamicContentModel.php
Labels: T1, bug, ready-to-commit, roles, code-review-passed, user-testing-passed

#15475 Caught translator exception
  app/bundles/CoreBundle/Tests/Translation/TranslatorTest.php
  app/bundles/CoreBundle/Translation/Translator.php
Labels: bug, translations, unforking, code-review-passed, user-testing-passed

#15470 Exception Handling to Landing Page Rendering.
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Exception/InvalidRenderedHtmlException.php
Labels: enhancement, plugin, landing-pages, unforking, code-review-passed, user-testing-passed

#15368 Show Expired and Pending statuses in quick filters
  app/bundles/AssetBundle/Entity/AssetRepository.php
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/AssetBundle/Tests/Entity/AssetRepositoryTest.php
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Entity/CampaignRepository.php
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CampaignBundle/Tests/Entity/CampaignRepositoryTest.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Resources/views/Helper/list_quickfilters.html.twig
  app/bundles/EmailBundle/Entity/EmailRepository.php
  app/bundles/EmailBundle/Resources/views/Email/list.html.twig
  app/bundles/EmailBundle/Tests/Entity/EmailRepositoryTest.php
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Entity/PageRepository.php
  app/bundles/PageBundle/Resources/views/Page/list.html.twig
  app/bundles/PageBundle/Tests/Entity/PageRepositoryTest.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, enhancement, search, code-review-passed, user-testing-passed

#15328 [UXUI-229] Add all form submitters to segment button
  app/bundles/FormBundle/Assets/js/form.js
  app/bundles/FormBundle/Config/config.php
  app/bundles/FormBundle/Controller/ResultController.php
  app/bundles/FormBundle/Resources/views/Result/_list.html.twig
  app/bundles/FormBundle/Resources/views/Result/list.html.twig
  app/bundles/FormBundle/Tests/Controller/ResultControllerFunctionalTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/Batch/form.html.twig
Labels: T1, ready-to-commit, enhancement, forms, code-review-passed, user-testing-passed

#15489 Test Case for Form submission table will be removed on form delete
  app/bundles/FormBundle/Tests/Controller/SubmissionFunctionalTest.php
Labels: enhancement, automated-tests, unforking, code-review-passed

#15348 Make campaign execution atomic to avoid duplicate execution
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Config/services.php
  app/bundles/CampaignBundle/Entity/LeadEventLog.php
  app/bundles/CampaignBundle/Executioner/Event/ActionExecutioner.php
  app/bundles/CampaignBundle/Executioner/Scheduler/EventScheduler.php
  app/bundles/CampaignBundle/Tests/Executioner/EventExecutionerLockTest.php
  app/bundles/CampaignBundle/Tests/Executioner/Scheduler/EventSchedulerTest.php
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Entity/OptimisticLockInterface.php
  app/bundles/CoreBundle/Entity/OptimisticLockTrait.php
  app/bundles/CoreBundle/EventListener/OptimisticLockSubscriber.php
  app/bundles/CoreBundle/Service/OptimisticLockService.php
  app/bundles/CoreBundle/Service/OptimisticLockServiceInterface.php
  app/bundles/CoreBundle/Tests/Traits/LoggerTrait.php
  app/migrations/Version20250806085552.php
Labels: bug, campaigns, unforking, code-review-passed, user-testing-passed

#15406 Change link URL after manually sending segment email
  app/bundles/EmailBundle/Resources/views/Send/progress.html.twig
Labels: bug, ready-to-commit, code-review-passed, user-testing-passed

#15427 Enhance preview for mobile notifications (redesign)
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/NotificationBundle/Assets/css/notification.css
  app/bundles/NotificationBundle/Assets/img/sand-dunes-day-GeReAnOMiZ8.jpg
  app/bundles/NotificationBundle/Assets/img/sand-dunes-night-0O6ZE9oX68k.jpg
  app/bundles/NotificationBundle/Resources/views/MobileNotification/details.html.twig
  app/bundles/NotificationBundle/Resources/views/MobileNotification/preview.html.twig
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, notifications, code-review-passed, user-testing-passed

#15508 Saml login Improvement
  app/bundles/CoreBundle/EventListener/ExceptionListener.php
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Config/services.php
  app/bundles/UserBundle/Controller/ProfileController.php
  app/bundles/UserBundle/Controller/SecurityController.php
  app/bundles/UserBundle/Controller/UserController.php
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
  app/bundles/UserBundle/Resources/views/Security/saml_login_retry.html.twig
  app/bundles/UserBundle/Resources/views/User/form.html.twig
  app/bundles/UserBundle/Security/SAML/EntityDescriptorProviderFactory.php
  app/bundles/UserBundle/Security/SAML/Helper.php
  app/bundles/UserBundle/Tests/Controller/LoginUserWithSamlTrait.php
  app/bundles/UserBundle/Tests/Controller/ProfileControllerTest.php
  app/bundles/UserBundle/Tests/Controller/SecurityControllerTest.php
  app/bundles/UserBundle/Tests/Controller/UserControllerTest.php
  app/bundles/UserBundle/Tests/EventListener/LightSAMLExceptionListenerTest.php
  app/bundles/UserBundle/Tests/Functional/Controller/PublicControllerTest.php
  app/bundles/UserBundle/Tests/Functional/Controller/UserControllerFunctionalTest.php
  app/bundles/UserBundle/Tests/Security/SAML/EntityDescriptorProviderFactoryTest.php
  app/bundles/UserBundle/Tests/Security/UserLoginTest.php
  app/bundles/UserBundle/Tests/Traits/CreateEntityTrait.php
  app/bundles/UserBundle/Translations/en_US/flashes.ini
  app/config/security.php
Labels: ready-to-commit, unforking, user-testing-passed, authentication

#15452 Fix form edit error with no group "adjust contact's point" action
  app/bundles/LeadBundle/Resources/views/Action/points.html.twig
Labels: bug, ready-to-commit, forms, points-scoring

#15363 fix(Form): Correct key existence check in FieldType
  app/bundles/FormBundle/Form/Type/FieldType.php
Labels: bug, ready-to-commit, API, forms

#15526 Merge 6.0 to 7.x
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ConfigTypeTest.php
  app/bundles/EmailBundle/MonitoredEmail/Mailbox.php
  app/bundles/EmailBundle/Stats/Helper/BouncedHelper.php
  app/bundles/EmailBundle/Stats/Helper/UnsubscribedHelper.php
  app/bundles/EmailBundle/Tests/Model/EmailModelFunctionalTest.php
  app/bundles/EmailBundle/Tests/MonitoredEmail/MailboxTest.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/Action/points.html.twig
  app/bundles/LeadBundle/Resources/views/Field/properties_number.html.twig
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
Labels: chore
