Repository mautic/mautic, pull requests merged in 2025-01, with the labels that each got.

#14413 Fixing marketplace table so that selecting all works
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
Labels: T1, bug, ready-to-commit, code-review-passed, user-testing-passed

#14399 Removed getSecurity and getSecurityContext from MauticFactory.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/LeadBundle/Controller/Api/ListApiController.php
Labels: ready-to-commit, enhancement, refactoring, code-review-passed

#14382 Remove MauticFactory::getHelper.
  UPGRADE-6.0.md
  app/bundles/AssetBundle/Controller/AjaxController.php
  app/bundles/AssetBundle/Controller/AssetController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Controller/AjaxController.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/EmailBundle/Tests/EventListener/TokenSubscriberTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Tests/Controller/PublicControllerTest.php
  app/bundles/PluginBundle/Controller/AjaxController.php
  app/bundles/PluginBundle/Controller/AuthController.php
  app/bundles/PluginBundle/Controller/PluginController.php
  app/bundles/PluginBundle/Helper/EventHelper.php
Labels: enhancement, refactoring, code-review-passed

#13883 [UX] Configuration tips and extra context
  app/bundles/ApiBundle/Form/Type/ConfigType.php
  app/bundles/ApiBundle/Resources/views/FormTheme/Config/_config_apiconfig_widget.html.twig
  app/bundles/ApiBundle/Translations/en_US/messages.ini
  app/bundles/AssetBundle/Resources/views/FormTheme/Config/_config_assetconfig_widget.html.twig
  app/bundles/AssetBundle/Translations/en_US/messages.ini
  app/bundles/CampaignBundle/Form/Type/ConfigType.php
  app/bundles/CampaignBundle/Resources/views/FormTheme/Config/_config_campaignconfig_widget.html.twig
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/ConfigBundle/Resources/views/Config/form.html.twig
  app/bundles/ConfigBundle/Resources/views/FormTheme/dsn_row.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/accordions.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/globalsearch.less
  app/bundles/CoreBundle/Assets/css/app/less/components/list-group.less
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_coreconfig_widget--dateformat.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_coreconfig_widget.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_themeconfig_widget.html.twig
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/accordion.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/toggletip.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/_config_emailconfig_widget.html.twig
  app/bundles/EmailBundle/Resources/views/FormTheme/Config/monitored_mailboxes_widget.html.twig
  app/bundles/EmailBundle/Translations/en_US/messages.ini
  app/bundles/FormBundle/Resources/views/FormTheme/Config/_config_formconfig_widget.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/bundles/LeadBundle/Resources/views/FormTheme/Config/_config_companyconfig_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/Config/_config_leadconfig_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/Config/_config_segment_config_widget.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/MessengerBundle/Resources/views/FormTheme/Config/_config_messengerconfig_widget.html.twig
  app/bundles/MessengerBundle/Translations/en_US/messages.ini
  app/bundles/NotificationBundle/Resources/views/FormTheme/Config/_config_notification_config_widget.html.twig
  app/bundles/NotificationBundle/Translations/en_US/messages.ini
  app/bundles/PageBundle/Resources/views/FormTheme/Config/_config_pageconfig_widget.html.twig
  app/bundles/PageBundle/Resources/views/FormTheme/Config/_config_trackingconfig_widget.html.twig
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/bundles/ReportBundle/Resources/views/FormTheme/Config/_config_reportconfig_widget.html.twig
  app/bundles/ReportBundle/Translations/en_US/messages.ini
  app/bundles/SmsBundle/Resources/views/FormTheme/Config/_config_smsconfig_widget.html.twig
  app/bundles/SmsBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Resources/views/FormTheme/Config/_config_userconfig_widget.html.twig
  app/bundles/UserBundle/Translations/en_US/messages.ini
  app/bundles/WebhookBundle/Resources/views/FormTheme/Config/_config_webhookconfig_widget.html.twig
  app/bundles/WebhookBundle/Tests/Form/Type/ConfigTypeFunctionalTest.php
  app/bundles/WebhookBundle/Translations/en_US/messages.ini
Labels: T1, pending-test-confirmation, user-experience, enhancement, configuration, code-review-passed

#14421 FIx translation for campaign unpublished notification
  app/bundles/CampaignBundle/Executioner/Helper/NotificationHelper.php
Labels: bug, translations

#14405 UI: update segment filter icons theme
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed, ux-review-passed

#14420 Fix style anonymous filter in contact list
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
Labels: bug, user-experience, code-review-passed, user-testing-passed

#14435 Removed MauticFactory::getKernel.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Controller/JsController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
Labels: refactoring, code-review-passed, user-testing-passed

#14416 [UI] Fix conditional toggle state not changing
  app/bundles/ConfigBundle/Assets/js/config.js
  app/bundles/CoreBundle/Assets/js/6.forms.js
  app/bundles/CoreBundle/Resources/views/FormTheme/mautic_form_layout.html.twig
  app/bundles/PageBundle/Form/Type/ConfigTrackingPageType.php
Labels: T1, bug, ready-to-commit, regression, code-review-passed, user-testing-passed

#14442 Add missing "isIndexed" and "charLegthLimit" fields to the API response of Contact Fields.
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Tests/Controller/Api/FieldApiControllerFunctionalTest.php
Labels: bug, API, custom-fields

#14244 Removing deprecated parts from the PageBundle
  .ddev/commands/host/phpmyadmin
  UPGRADE-6.0.md
  app/bundles/PageBundle/Form/Type/PagePublishDatesType.php
  app/bundles/PageBundle/Helper/TrackingHelper.php
  app/bundles/PageBundle/Model/PageModel.php
Labels: landing-pages, refactoring, code-review-passed

#14439 fix: Fix category selection on admin preference panel and segment filter only showing first 10
  app/bundles/LeadBundle/EventListener/TypeOperatorSubscriber.php
  app/bundles/LeadBundle/Form/Type/LeadCategoryType.php
  app/bundles/LeadBundle/Tests/EventListener/TypeOperatorSubscriberTest.php
Labels: bug, categories, code-review-passed, user-testing-passed

#14415 Fixing problem with single search operators in search fields
  app/bundles/CoreBundle/Helper/SearchStringHelper.php
Labels: T1, bug, WIP, search, code-review-passed, user-testing-passed, ux-review-passed

#14443 Remove MauticFactory::getTheme and MauticFactory::getInstalledThemes.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/FormBundle/Controller/PublicController.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
Labels: refactoring, code-review-passed

#14265 [UI] Remove Font Awesome
  LICENSE.txt
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/type.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/header.less
  app/bundles/CoreBundle/Assets/css/app/less/layouts/sidebar.less
  app/bundles/CoreBundle/Assets/css/libraries/builder.css
  app/bundles/CoreBundle/Assets/css/libraries/builder.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/font-awesome.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/fonts/fontawesome-webfont.woff2
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/animated.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/bordered-pulled.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/core.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/fixed-width.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/icons.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/larger.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/list.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/mixins.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/path.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/rotated-flipped.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/screen-reader.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/stacked.less
  app/bundles/CoreBundle/Assets/css/libraries/font-awesome/less/variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Assets/css/libraries/libraries.less
  app/bundles/CoreBundle/Assets/js/10.entity.js
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Assets/js/4.builder.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/code_view.js
  app/bundles/CoreBundle/Assets/js/libraries/froala/plugins/code_view.min.js
  app/bundles/CoreBundle/Model/NotificationModel.php
  app/bundles/CoreBundle/Resources/views/Helper/builder.html.twig
  app/bundles/CoreBundle/Resources/views/Menu/main.html.twig
  app/bundles/EmailBundle/Assets/js/email.js
  app/bundles/EmailBundle/EventListener/ReportSubscriber.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/Lead/dnc_small.html.twig
  app/bundles/PageBundle/Assets/builder/builder.css
  app/bundles/PageBundle/Assets/builder/builder.less
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/MauticClearbitBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/Assets/js/focus.js
  plugins/MauticFullContactBundle/Controller/PublicController.php
Labels: user-interface, bc-break, deprecation, code-review-passed, user-testing-passed

#14434 Fix Not allowing template rewrites on ajax page load
  app/bundles/CoreBundle/Controller/CommonController.php
Labels: bug, plugin

#14454 Update GrapesJS to latest version
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.css
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/package-lock.json
  plugins/GrapesJsBuilderBundle/package.json
Labels: pending-test-confirmation, builder-grapesjs, code-review-passed

#14453 Add allowed protocols for links in CK5, so people can add phone links
  app/bundles/CoreBundle/Assets/js/11.editor.js
Labels: bug, editor, code-review-passed

#14340 Adding focus item data source in reports in m6
  plugins/MauticFocusBundle/EventListener/ReportSubscriber.php
  plugins/MauticFocusBundle/Tests/EventListener/ReportSubscriberFunctionalTest.php
  plugins/MauticFocusBundle/Translations/en_US/messages.ini
Labels: T1, enhancement, reports, code-review-passed, user-testing-passed

#14396 Fixing bug in recent activity widget
  app/bundles/DashboardBundle/Resources/views/Dashboard/recentactivity.html.twig
Labels: bug, user-interface, ready-to-commit, widget, dashboard, code-review-passed, user-testing-passed

#14474 Fix FormSubscriberTest
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
Labels: bug, automated-tests

#14473 Fix form subscriber test
  app/bundles/FormBundle/Tests/EventListener/FormSubscriberTest.php
Labels: bug, automated-tests

#14446 Remove MauticFactory::getRequest.
  UPGRADE-6.0.md
  app/bundles/ApiBundle/Controller/ClientController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/EmailBundle/Tests/EventListener/TokenSubscriberTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/LeadBundle/Controller/FieldController.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
Labels: refactoring, code-review-passed

#14440 fix: Doctrine migrations no longer result in No Active Transaction errors after DDL statements when using PHP 8
  app/bundles/IntegrationsBundle/Migration/Engine.php
Labels: bug, ready-to-commit, db-migrations, code-review-passed, user-testing-passed

#14433 Date Modified populated on create
  app/bundles/CoreBundle/Model/FormModel.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Tests/Controller/Api/LeadApiControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Functional/Command/ImportCommandTest.php
  app/migrations/Version20211020092759.php
  app/migrations/Version20211020142629.php
Labels: enhancement, unforking, code-review-passed, user-testing-passed

#14414 DPMMA-2004 Campaign weekday and hour email metrics
  app/bundles/CampaignBundle/Assets/js/campaign.js
  app/bundles/CampaignBundle/Config/config.php
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Controller/CampaignMetricsController.php
  app/bundles/CampaignBundle/Form/Type/ConfigType.php
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Resources/views/FormTheme/Config/_config_campaignconfig_widget.html.twig
  app/bundles/CampaignBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Controller/CampaignMetricsControllerFunctionalTest.php
  app/bundles/CampaignBundle/Tests/Functional/Fixtures/FixtureHelper.php
  app/bundles/CampaignBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Assets/js/7.charts.js
  app/bundles/EmailBundle/Stats/EmailPeriodMetrics.php
  app/bundles/EmailBundle/Tests/Functional/EmailDependenciesFunctionalTest.php
  app/bundles/EmailBundle/Tests/Functional/Fixtures/EmailFixturesHelper.php
Labels: ready-to-commit, enhancement, campaigns, code-review-passed, user-testing-passed

#14397 [UI] Popovers stopped working on pages without search field
  app/bundles/CoreBundle/Assets/js/1a.content.js
Labels: T1, bug, user-interface, ready-to-commit, regression, search, code-review-passed, user-testing-passed

#14471 fix: allow preview email by contact for non-admin user
  app/bundles/EmailBundle/Controller/PublicController.php
Labels: bug, ready-to-commit, email, code-review-passed, user-testing-passed

#14463 Remove MauticFactory::getLogger.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
Labels: ready-to-commit, refactoring, code-review-passed

#14425 fix: Fix missing @defaults theme folder in composer installation
  .gitignore
  app/assets/images/placeholder-image.png
  app/assets/images/placeholder-logo-inverse.png
  app/assets/images/placeholder-logo.png
  app/assets/scaffold/files/example.gitignore
  app/bundles/CoreBundle/Resources/views/Theme/base.html.twig
  app/bundles/CoreBundle/Resources/views/Theme/message.html.twig
  themes/_1-2-1-2-column/html/base.html.twig
  themes/_1-2-1-2-column/html/email.html.twig
  themes/_1-2-1-2-column/html/message.html.twig
  themes/_1-2-1-column/html/base.html.twig
  themes/_1-2-1-column/html/email.html.twig
  themes/_1-2-1-column/html/message.html.twig
  themes/_1-2-column/html/base.html.twig
  themes/_1-2-column/html/email.html.twig
  themes/_1-2-column/html/message.html.twig
  themes/_1-3-1-3-column/html/base.html.twig
  themes/_1-3-1-3-column/html/email.html.twig
  themes/_1-3-1-3-column/html/message.html.twig
  themes/_1-3-column/html/base.html.twig
  themes/_1-3-column/html/email.html.twig
  themes/_1-3-column/html/message.html.twig
  themes/_connect-through-content/html/base.html.twig
  themes/_connect-through-content/html/email.html.twig
  themes/_connect-through-content/html/message.html.twig
  themes/_educate/html/base.html.twig
  themes/_educate/html/email.html.twig
  themes/_educate/html/message.html.twig
  themes/_gallery/html/base.html.twig
  themes/_gallery/html/email.html.twig
  themes/_gallery/html/message.html.twig
  themes/_make-announcement/html/base.html.twig
  themes/_make-announcement/html/email.html.twig
  themes/_make-announcement/html/message.html.twig
  themes/_showcase/html/base.html.twig
  themes/_showcase/html/email.html.twig
  themes/_showcase/html/message.html.twig
  themes/_simple-text/html/base.html.twig
  themes/_simple-text/html/email.html.twig
  themes/_simple-text/html/message.html.twig
  themes/_survey/html/base.html.twig
  themes/_survey/html/email.html.twig
  themes/_survey/html/message.html.twig
  themes/_welcome/html/base.html.twig
  themes/_welcome/html/email.html.twig
  themes/_welcome/html/message.html.twig
  themes/attract/html/base.html.twig
  themes/attract/html/message.html.twig
  themes/blank/html/base.html.twig
  themes/blank/html/message.html.twig
  themes/creative/html/base.html.twig
  themes/creative/html/email.html.twig
  themes/creative/html/message.html.twig
Labels: T1, bug, themes, composer, code-review-passed, user-testing-passed

#14484 fix: Creating or updating a contact via the Rest API discards seconds for date time fields
  app/bundles/CoreBundle/Form/RequestTrait.php
  app/bundles/CoreBundle/Tests/Form/RequestTraitTest.php
Labels: bug, ready-to-commit, API, code-review-passed, user-testing-passed

#14482 fix: Fix upsert sometimes storing incorrect ID in entity from a previous upsert operation
  app/bundles/CoreBundle/Entity/CommonRepository.php
  app/bundles/CoreBundle/Test/MauticMysqlTestCase.php
  app/bundles/CoreBundle/Tests/Functional/Entity/CommonRepositoryUpsertTest.php
Labels: T3, bug, ready-to-commit, code-review-passed

#14489 Fixing marketing message view after Symfony 6 upgrade
  app/bundles/ChannelBundle/Tests/Controller/MessageControllerTest.php
  app/bundles/CoreBundle/Controller/AbstractStandardFormController.php
Labels: bug, regression, marketing-messages

#14491 Fix template for Campaign Editor
  app/bundles/FormBundle/Resources/views/FormTheme/FieldValueCondition/_campaignevent_form_field_value_widget.html.twig
Labels: bug, ready-to-test, regression, campaigns

#14464 Remove MauticFactory::getVersion.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
Labels: refactoring, code-review-passed

#14494 Remove MauticFactory::getMailer.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/LeadBundle/Controller/AjaxController.php
Labels: refactoring, code-review-passed

#14492 Fix failing E2E test
  .github/workflows/e2e-tests.yml
  .github/workflows/tests.yml
  composer.json
  tests/acceptance.suite.yml
Labels: bug, automated-tests, chore

#14493 Fix failing E2E test
  .github/workflows/e2e-tests.yml
  .github/workflows/tests.yml
  composer.json
  tests/acceptance.suite.yml
Labels: bug, automated-tests, chore

#14462 Remove MauticFactory::get and MauticFactory::serviceExists.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
Labels: ready-to-commit, refactoring, code-review-passed

#14496 Remove MauticFactory::getSystemPath.
  UPGRADE-6.0.md
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Factory/MauticFactory.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/EventListener/EmailSubscriberTest.php
  app/bundles/EmailBundle/Tests/EventListener/TokenSubscriberTest.php
  app/bundles/EmailBundle/Tests/Helper/MailHelperTest.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
  app/bundles/LeadBundle/Tests/EventListener/OwnerSubscriberTest.php
  app/bundles/WebhookBundle/Controller/AjaxController.php
Labels: refactoring

#14488 Custom content invoke on list and view
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Field/list.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
Labels: enhancement, plugin, unforking, code-review-passed, user-testing-passed

#14315 Block access to contact information updated
  app/bundles/CampaignBundle/Controller/CampaignController.php
  app/bundles/CampaignBundle/Tests/Functional/Controller/CampaignControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/CreateTestEntitiesTrait.php
  app/bundles/CoreBundle/Tests/Functional/UserEntityTrait.php
  app/bundles/EmailBundle/Controller/EmailController.php
  app/bundles/EmailBundle/Tests/Functional/EmailContactGridTest.php
  app/bundles/LeadBundle/Controller/EntityContactsTrait.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: campaigns, email, contacts, code-review-passed, user-testing-passed

#14422 Form field add readonly behaviour
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Helper/FormFieldHelper.php
  app/bundles/FormBundle/Resources/views/Builder/field.html.twig
  app/bundles/FormBundle/Tests/Controller/AutoFillReadOnlyFormSubmissionTest.php
  app/bundles/FormBundle/Translations/en_US/messages.ini
  app/migrations/Version20241227065658.php
Labels: feature, ready-to-test, code-review-needed, forms

#14502 Updated the field entity to set readOnly to false when passed null
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Tests/Controller/AutoFillReadOnlyFormSubmissionTest.php
Labels: bug, code-review-passed, user-testing-passed

#14497 DPMMA-3048 Fix campaign execution stuck due to incorrect lead detachment in membership change action
  app/bundles/CampaignBundle/Membership/MembershipManager.php
  app/bundles/CampaignBundle/Tests/Command/TriggerCampaignCommandTest.php
Labels: bug, ready-to-commit, regression, campaigns, code-review-passed

#14506 Bump version to 6.0.0-alpha in preparation for release
  app/release_metadata.json
Labels: chore

#14517 Right menu viewport fix
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
Labels: bug, user-interface, pending-test-confirmation, code-review-passed

#14518 Bump version to 5.2.2
  app/release_metadata.json
Labels: chore

#14532 Fix warnings for PHP8.0 upgrade
  plugins/MauticCrmBundle/Integration/SalesforceIntegration.php
Labels: bug, plugin, unforking

#14470 Stop double increasing failure in campaign
  app/bundles/CampaignBundle/Entity/EventRepository.php
  app/bundles/CampaignBundle/Entity/LeadEventLogRepository.php
  app/bundles/CampaignBundle/EventListener/CampaignEventSubscriber.php
  app/bundles/CampaignBundle/Tests/Entity/EventRepositoryTest.php
  app/bundles/CampaignBundle/Tests/Entity/LeadEventLogRepositoryTest.php
  app/bundles/CampaignBundle/Tests/EventListener/CampaignEventSubscriberTest.php
  app/bundles/CoreBundle/Test/Doctrine/RepositoryConfiguratorTrait.php
Labels: bug, campaigns, unforking, code-review-passed
