Repository mautic/mautic, pull requests merged in 2025-03, with the labels that each got.

#14650 [UX] Removing Code mode from Form themes
  app/bundles/CoreBundle/Form/Type/ThemeListType.php
  app/bundles/FormBundle/Form/Type/FormType.php
Labels: T1, bug, ready-to-commit, forms, themes, code-review-passed, user-testing-passed

#14558 UUID implementation
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/CampaignBundle/Entity/Campaign.php
  app/bundles/CampaignBundle/Entity/Event.php
  app/bundles/CategoryBundle/Entity/Category.php
  app/bundles/ChannelBundle/Entity/Channel.php
  app/bundles/ChannelBundle/Entity/Message.php
  app/bundles/CoreBundle/Entity/UuidTrait.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/FormBundle/Entity/Action.php
  app/bundles/FormBundle/Entity/Field.php
  app/bundles/FormBundle/Entity/Form.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Entity/LeadField.php
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Entity/Tag.php
  app/bundles/NotificationBundle/Entity/Notification.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PointBundle/Entity/Point.php
  app/bundles/PointBundle/Entity/Trigger.php
  app/bundles/PointBundle/Entity/TriggerEvent.php
  app/bundles/ReportBundle/Entity/Report.php
  app/bundles/SmsBundle/Entity/Sms.php
  app/bundles/StageBundle/Entity/Stage.php
  app/composer.json
  app/migrations/Version20210211081531.php
  composer.lock
  plugins/MauticFocusBundle/Entity/Focus.php
Labels: ready-to-commit, enhancement, unforking, code-review-passed, user-testing-passed

#14664 Resolving PHP 8.0 warnings
  app/bundles/FormBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/Entity/LeadListRepository.php
  app/bundles/LeadBundle/Helper/ContactRequestHelper.php
Labels: bug, ready-to-commit, refactoring, unforking

#14681 Fix FinalizeUpdateStep
  app/bundles/CoreBundle/Tests/Unit/Update/Step/FinalizeUpdateStepTest.php
  app/bundles/CoreBundle/Update/Step/FinalizeUpdateStep.php
Labels: bug, ready-to-commit, code-review-passed

#14461 DPMMA-3039 Company lookup limit
  app/bundles/CoreBundle/Form/ChoiceLoader/EntityLookupChoiceLoader.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/Form/Type/CompanyListType.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
Labels: ready-to-commit, regression, performance-scalability, code-review-passed, user-testing-passed

#14661 Fixing the FROM email creds for tokenized email transports
  app/bundles/EmailBundle/Helper/FromEmailHelper.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/Model/SendEmailToContactTest.php
Labels: bug, ready-to-commit, email, unforking

#14684 Update symfony/dependency injection to notify devs about circular references in DI.
  app/composer.json
  composer.lock
Labels: bug, ready-to-commit, dependencies, code-review-passed

#14653 Drop support for PHP 8.1
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  app/bundles/DynamicContentBundle/Controller/DynamicContentController.php
  app/bundles/LeadBundle/Entity/OperatorListTrait.php
  app/bundles/LeadBundle/Segment/Decorator/BaseDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/CustomMappedDecorator.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateAnniversary.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateDefault.php
  app/bundles/LeadBundle/Segment/Decorator/Date/Other/DateRelativeInterval.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateAnniversaryTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateDefaultTest.php
  app/bundles/LeadBundle/Tests/Segment/Decorator/Date/Other/DateRelativeIntervalTest.php
  app/composer.json
  app/release_metadata.json
  composer.json
  composer.lock
  plugins/MauticSocialBundle/Integration/FoursquareIntegration.php
  plugins/MauticSocialBundle/Integration/InstagramIntegration.php
  plugins/MauticSocialBundle/Tests/Integration/FoursquareIntegrationTest.php
  plugins/MauticSocialBundle/Tests/Integration/InstagramIntegrationTest.php
Labels: code-review-needed, dependencies, php, automated-tests

#14683 Fix release build
  .github/workflows/release.yml
  build/package_release.php
Labels: CI, code-review-passed

#14649 [UX] Primary brand color and company name for themes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/EventListener/ConfigThemeSubscriber.php
  app/bundles/CoreBundle/Form/Type/ConfigThemeType.php
  app/bundles/CoreBundle/Helper/ThemeHelper.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Extension/ThemesExtension.php
  app/bundles/EmailBundle/EventListener/BuilderSubscriber.php
  app/bundles/EmailBundle/Helper/MailHelper.php
  app/bundles/EmailBundle/Tests/EventListener/BuilderSubscriberTest.php
  app/bundles/PageBundle/EventListener/BuilderSubscriber.php
  themes/_1-2-1-2-column/html/email.html.twig
  themes/_1-2-1-column/html/email.html.twig
  themes/_1-2-column/html/email.html.twig
  themes/_1-3-1-3-column/html/email.html.twig
  themes/_1-3-column/html/email.html.twig
  themes/_connect-through-content/html/email.html.twig
  themes/_educate/html/email.html.twig
  themes/_gallery/html/email.html.twig
  themes/_make-announcement/html/email.html.twig
  themes/_showcase/html/email.html.twig
  themes/_simple-text/html/email.html.twig
  themes/_survey/html/email.html.twig
  themes/_welcome/html/email.html.twig
  themes/blend/composer.json
  themes/blend/html/page.html.twig
  themes/brienz/html/email.html.twig
  themes/confirmme/html/email.html.twig
  themes/creative/html/email.html.twig
  themes/eclipse/composer.json
  themes/eclipse/html/MauticFormBundle/Builder/_style.html.twig
  themes/formscape/composer.json
  themes/formscape/html/page.html.twig
  themes/reachout/composer.json
  themes/reachout/html/page.html.twig
Labels: T1, feature, ready-to-commit, user-experience, forms, landing-pages, email, themes, builder-grapesjs, code-review-passed, user-testing-passed

#14677 Fix space between toggle and campaign name
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
Labels: bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14686 Bump in readiness for release of 6.0.0-beta2
  app/release_metadata.json
Labels: chore

#14411 Activity feed block for Segment and Focus
  app/bundles/LeadBundle/Controller/ListController.php
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
  plugins/MauticFocusBundle/Controller/FocusController.php
  plugins/MauticFocusBundle/Tests/Controller/FocusControllerTest.php
Labels: feature, ready-to-commit, user-experience, segments, focus-items, code-review-passed, user-testing-passed

#14692 fix: Add fonts to Formscape theme
  themes/formscape/assets/InterDisplay-Bold.woff2
  themes/formscape/assets/InterDisplay-Medium.woff2
Labels: ready-to-commit

#14680 [UX] Improving saving options for Categories: Save only
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
Labels: T1, bug, ready-to-commit, user-experience, php, categories, code-review-passed, user-testing-passed

#14688 Fixing companies not being updated by a form
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelFunctionalTest.php
Labels: T1, bug, ready-to-commit, forms, companies, unforking, code-review-passed, user-testing-passed

#14715 Fixing attaching an asset to an email
  app/bundles/AssetBundle/Tests/Asset/AbstractAssetTest.php
  app/bundles/AssetBundle/Tests/Controller/AssetControllerFunctionalTest.php
  app/bundles/EmailBundle/Controller/AjaxController.php
Labels: bug, ready-to-commit, email, assets, code-review-passed, user-testing-passed

#14554 Follow contact permissions when importing contacts
  app/bundles/CoreBundle/Entity/FormEntity.php
  app/bundles/LeadBundle/Command/ImportCommand.php
  app/bundles/LeadBundle/Controller/CompanyController.php
  app/bundles/LeadBundle/Entity/Lead.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Model/ImportModel.php
  app/bundles/LeadBundle/Model/LeadModel.php
  app/bundles/LeadBundle/Resources/views/Lead/_filter.html.twig
  app/bundles/LeadBundle/Tests/Command/ImportCommandTest.php
  app/bundles/LeadBundle/Tests/Controller/ImportControllerTest.php
  app/bundles/LeadBundle/Tests/Fixtures/import-contact-permissions.csv
  app/bundles/LeadBundle/Tests/Functional/Controller/ImportControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Model/CompanyModelTest.php
  app/bundles/LeadBundle/Tests/Model/ImportModelTest.php
  app/bundles/LeadBundle/Tests/Model/LeadModelTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/UserBundle/Config/config.php
  app/bundles/UserBundle/Security/UserTokenSetter.php
  app/bundles/UserBundle/Tests/Security/UserTokenSetterTest.php
Labels: contacts, import-export, unforking, code-review-passed, user-testing-passed

#14663 Asset 404 fix
  app/bundles/AssetBundle/Controller/PublicController.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Tests/Controller/AssetDownloadFunctionalTest.php
Labels: bug, ready-to-commit, assets, unforking

#14712 Salesforce campaign segment filter select fixed
  plugins/MauticCrmBundle/EventListener/LeadListSubscriber.php
Labels: T2, bug, pending-test-confirmation, plugin, code-review-passed

#13937 Landing Page Draft Feature
  app/bundles/CoreBundle/Controller/AbstractFormController.php
  app/bundles/CoreBundle/Doctrine/AbstractMauticMigration.php
  app/bundles/PageBundle/Config/config.php
  app/bundles/PageBundle/Controller/PageController.php
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/Entity/PageDraft.php
  app/bundles/PageBundle/Entity/PageDraftRepository.php
  app/bundles/PageBundle/Event/PageEditSubmitEvent.php
  app/bundles/PageBundle/EventListener/PageSubscriber.php
  app/bundles/PageBundle/Form/Type/PageType.php
  app/bundles/PageBundle/Helper/PageConfig.php
  app/bundles/PageBundle/Helper/PageConfigInterface.php
  app/bundles/PageBundle/Model/PageDraftModel.php
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PageBundle/Resources/views/Page/form.html.twig
  app/bundles/PageBundle/Tests/Controller/PageDraftFunctionalTest.php
  app/bundles/PageBundle/Tests/EventListener/PageSubscriberTest.php
  app/migrations/Version20201029001005.php
Labels: ready-to-commit, unforking, code-review-passed, user-testing-passed

#14583 Improve Marketing message event log handling
  app/bundles/CampaignBundle/Event/PendingEvent.php
  app/bundles/ChannelBundle/EventListener/CampaignSubscriber.php
Labels: bug, ready-to-commit, marketing-messages, unforking, code-review-passed, user-testing-passed

#14687 Adjust background color of confirmation modal to work with different themes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/EmailBundle/Resources/views/Send/form.html.twig
Labels: T1, bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14733 regression: Fix solarized themes variable name
  app/bundles/UserBundle/Resources/views/Profile/index.html.twig
Labels: T1, ready-to-commit, regression, twig, code-review-passed, user-testing-passed

#14723 Fixing the delete list actions
  app/bundles/CoreBundle/Resources/views/Helper/list_actions.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/tableheader.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/toolbar_bulk_actions.html.twig
Labels: T1, bug, user-interface, ready-to-commit, regression, twig, code-review-passed, user-testing-passed

#14706 avoid showing rebuilding label when the segment is unpublished
  app/bundles/LeadBundle/Entity/LeadList.php
  app/bundles/LeadBundle/Tests/Controller/ListControllerFunctionalTest.php
Labels: T1, bug, user-interface, ready-to-commit, segments, code-review-passed, user-testing-passed

#13989 Improving README.md
  .github/readme_logo.png
  README.md
Labels: chore

#14744 Validation to prevent using DWC within DWC
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentControllerFunctionalTest.php
  app/bundles/DynamicContentBundle/Tests/Unit/Validator/Constraints/NoNestingValidatorTest.php
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Translations/en_US/validators.ini
  app/bundles/DynamicContentBundle/Validator/Constraints/NoNesting.php
  app/bundles/DynamicContentBundle/Validator/Constraints/NoNestingValidator.php
Labels: feature, pending-feedback, enhancement, dynamic-content, code-review-passed, user-testing-passed

#14746 Bump version to 6.0.0-RC
  app/release_metadata.json
Labels: chore

#14749 Fix logo link
  README.md
Labels: chore

#14666 Integration sync more stable, notify user instead of failing the sync
  app/bundles/CoreBundle/Model/NotificationModel.php
  app/bundles/IntegrationsBundle/Config/config.php
  app/bundles/IntegrationsBundle/Exception/RequiredValueException.php
  app/bundles/IntegrationsBundle/Sync/Exception/ObjectSyncSkippedException.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Helper/ValueHelper.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Internal/MauticSyncProcess.php
  app/bundles/IntegrationsBundle/Sync/SyncProcess/Direction/Internal/ObjectChangeGenerator.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncProcess/Direction/Helper/ValueHelperTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncProcess/Direction/Internal/MauticSyncProcessTest.php
  app/bundles/IntegrationsBundle/Tests/Unit/Sync/SyncProcess/Direction/Internal/ObjectChangeGeneratorTest.php
Labels: bug, ready-to-commit, plugin, unforking, code-review-passed

#14678 Dynamic Content for pages: off campaign based by default
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
Labels: code-review-needed, pending-test-confirmation, enhancement, dynamic-content

#14689 Remove support for updating Mautic via user interface
  UPGRADE-7.0.md
  app/bundles/CoreBundle/Assets/js/3.update.js
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/Controller/AjaxController.php
  app/bundles/CoreBundle/Controller/UpdateController.php
  app/bundles/CoreBundle/Resources/views/Notification/notification_messages.html.twig
  app/bundles/CoreBundle/Resources/views/Update/index.html.twig
  app/bundles/CoreBundle/Resources/views/Update/schema.html.twig
  app/bundles/CoreBundle/Resources/views/Update/update.html.twig
  app/bundles/CoreBundle/Tests/Fixtures/metadata.json
  app/bundles/CoreBundle/Tests/Fixtures/releases.json
  app/bundles/CoreBundle/Tests/Functional/Controller/AjaxControllerTest.php
  app/bundles/CoreBundle/Tests/Functional/Controller/UpdateControllerTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  plugins/GrapesJsBuilderBundle/Demo/mautic/full.html
Labels: ready-to-commit, bc-break, refactoring, code-review-passed, user-testing-passed

#14668 [UI] Aligning design decisions
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/alerts.less
  app/bundles/CoreBundle/Assets/css/app/less/components/brand.less
  app/bundles/CoreBundle/Assets/css/app/less/components/button-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/buttons.less
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/components/globalsearch.less
  app/bundles/CoreBundle/Assets/css/app/less/components/input-groups.less
  app/bundles/CoreBundle/Assets/css/app/less/components/toolbar.less
  app/bundles/CoreBundle/Assets/css/libraries/bootstrap/bootstrap-mautic-custom-variables.less
  app/bundles/CoreBundle/Assets/css/libraries/libraries.css
  app/bundles/CoreBundle/Resources/views/Default/pageheader.html.twig
  app/bundles/CoreBundle/Resources/views/GlobalSearch/globalsearch.html.twig
  app/bundles/CoreBundle/Resources/views/GlobalSearch/results.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/page_actions.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/AjaxControllerTest.php
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/FormBundle/Form/Type/FieldType.php
  app/bundles/FormBundle/Model/SubmissionModel.php
  app/bundles/FormBundle/Tests/Model/SubmissionModelFunctionalTest.php
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  plugins/MauticFocusBundle/Assets/css/focus.css
  themes/formscape/assets/InterDisplay-Bold.woff2
  themes/formscape/assets/InterDisplay-Medium.woff2
Labels: T1, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14751 UUID implementation fix + added to roles and permissions
  app/bundles/CoreBundle/Config/services.php
  app/bundles/CoreBundle/Entity/DynamicContentEntityTrait.php
  app/bundles/CoreBundle/Entity/TranslationEntityTrait.php
  app/bundles/CoreBundle/Entity/UuidTrait.php
  app/bundles/CoreBundle/EventListener/UUIDListener.php
  app/bundles/UserBundle/Entity/Permission.php
  app/bundles/UserBundle/Entity/Role.php
  app/bundles/UserBundle/Resources/views/Role/list.html.twig
  app/migrations/Version20210818090322.php
  app/migrations/Version20210819201726.php
Labels: bug, pending-test-confirmation, unforking, code-review-passed

#14741 [UXUI-70] Improve logic display for segment rows
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Form/Type/FilterType.php
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, segments, javascript, twig, code-review-passed, user-testing-passed

#14752 Cloning form with contional fields
  app/bundles/FormBundle/Controller/FormController.php
  app/bundles/FormBundle/Tests/Controller/FormControllerFunctionalTest.php
Labels: bug, ready-to-commit, forms, unforking, user-testing-passed

#14773 Fix #14734: Remove obsolete classes for focus details view
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
Labels: bug, user-interface, code-review-passed, user-testing-passed, mautic-6

#14771 Fix #14702: Increase contrast for url fields
  app/bundles/CoreBundle/Assets/css/app.css
Labels: bug, user-interface, ready-to-test, accessibility, code-review-passed, user-testing-passed, mautic-6

#14781 Update filter icons to RemixIcon
  app/bundles/LeadBundle/Assets/css/lead.css
Labels: bug, user-interface, ready-to-commit, code-review-passed, user-testing-passed

#14757 [UXUI-131] Labels on form details
  app/bundles/CoreBundle/Tests/Twig/Extension/LanguageExtensionTest.php
  app/bundles/CoreBundle/Twig/Extension/LanguageExtension.php
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/FormBundle/Translations/en_US/messages.ini
Labels: T1, user-experience, enhancement, forms, code-review-passed, user-testing-passed

#14782 DPMMA-3096 Fix report boolean fields
  app/bundles/LeadBundle/EventListener/ReportNormalizeSubscriber.php
  app/bundles/LeadBundle/Tests/EventListener/ReportNormalizeSubscriberTest.php
  app/bundles/ReportBundle/Event/ReportDataEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
Labels: T1, bug, regression, reports, code-review-passed, user-testing-passed

#14521 DPMMA-3033 Correct focus item script response codes and fix undefined Focus.iframe
  plugins/MauticFocusBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/Resources/views/Builder/generate.js.twig
  plugins/MauticFocusBundle/Tests/Controller/FocusPublicControllerFunctionalTest.php
Labels: T1, bug, focus-items, code-review-passed, user-testing-passed

#14716 Change behaviour of group elements for lookup field type
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
Labels: T1, bug, forms, contacts, code-review-passed, user-testing-passed

#14753 [UXUI-88] Select several rows using Shift and clicking with the mouse
  app/bundles/CoreBundle/Assets/js/libraries/8a.adminre.js
Labels: T1, user-experience, enhancement, javascript, code-review-passed, user-testing-passed

#14785 Bump version to 5.2.4
  app/release_metadata.json
Labels: chore

#14790 Revert "Dynamic Content for pages: off campaign based by default"
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
Labels: bug

#14794 Fix #14379: Provided options in multiselect fields consolidate users, segments, etc. with same name
  app/bundles/CategoryBundle/Controller/BatchContactController.php
  app/bundles/CategoryBundle/Form/Type/CategoryListType.php
  app/bundles/FormBundle/Form/Type/FormListType.php
  app/bundles/LeadBundle/Controller/BatchSegmentController.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/Form/Type/LeadListType.php
  app/bundles/PointBundle/Form/Type/GroupListType.php
  app/bundles/UserBundle/Form/Type/UserListType.php
  tests/acceptance/DisplayTestCest.php
Labels: bug, code-review-passed, user-testing-passed

#14748 Update mautic/core-lib version constraint
  .github/ci-files/composer.json
  composer.json
  composer.lock
  plugins/GrapesJsBuilderBundle/composer.json
  plugins/MauticClearbitBundle/composer.json
  plugins/MauticCloudStorageBundle/composer.json
  plugins/MauticCrmBundle/composer.json
  plugins/MauticEmailMarketingBundle/composer.json
  plugins/MauticFocusBundle/composer.json
  plugins/MauticFullContactBundle/composer.json
  plugins/MauticGmailBundle/composer.json
  plugins/MauticOutlookBundle/composer.json
  plugins/MauticSocialBundle/composer.json
  plugins/MauticTagManagerBundle/composer.json
  plugins/MauticZapierBundle/composer.json
  themes/_1-2-1-2-column/composer.json
  themes/_1-2-1-column/composer.json
  themes/_1-2-column/composer.json
  themes/_1-3-1-3-column/composer.json
  themes/_1-3-column/composer.json
  themes/_connect-through-content/composer.json
  themes/_educate/composer.json
  themes/_gallery/composer.json
  themes/_make-announcement/composer.json
  themes/_showcase/composer.json
  themes/_simple-text/composer.json
  themes/_survey/composer.json
  themes/_welcome/composer.json
  themes/attract/composer.json
  themes/aurora/composer.json
  themes/blank/composer.json
  themes/brienz/composer.json
  themes/cards/composer.json
  themes/confirmme/composer.json
  themes/creative/composer.json
  themes/fresh-center/composer.json
  themes/fresh-fixed/composer.json
  themes/fresh-left/composer.json
  themes/fresh-wide/composer.json
  themes/goldstar/composer.json
  themes/neopolitan/composer.json
  themes/oxygen/composer.json
  themes/paprika/composer.json
  themes/skyline/composer.json
  themes/sparse/composer.json
  themes/sunday/composer.json
  themes/trulypersonal/composer.json
  themes/vibrant/composer.json
Labels: bug, ready-to-commit, composer, code-review-passed, user-testing-passed

#14654 [UX] Add successful submit animation in Eclipse theme
  themes/eclipse/html/MauticFormBundle/Builder/_style.html.twig
Labels: T1, ready-to-commit, enhancement, forms, themes, code-review-passed, user-testing-passed

#14756 [UXUI-129] Labels on asset details
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/AssetBundle/Translations/en_US/messages.ini
Labels: T1, ready-to-commit, user-experience, enhancement, php, assets, twig, code-review-passed, user-testing-passed

#14763 [UXUI-133] Statistics are visually broken in contact details
  app/bundles/CoreBundle/Resources/views/Components/tile--base.html.twig
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Resources/views/Lead/lead_stats.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, bug, user-interface, ready-to-commit, regression, twig, code-review-passed, user-testing-passed, developer-experience

#14792 Backmerge 5.2 into 6.x
  app/bundles/AssetBundle/Controller/PublicController.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Tests/Controller/AssetDownloadFunctionalTest.php
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/14.content.preview.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Form/ChoiceLoader/EntityLookupChoiceLoader.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Form/Type/ContentPreviewSettingsType.php
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ContentPreviewSettingsTypeTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/bundles/EmailBundle/Assets/js/send.example.js
  app/bundles/EmailBundle/Form/Type/ExampleSendType.php
  app/bundles/EmailBundle/Tests/Form/Type/ExampleSendTypeTest.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/EventListener/ReportNormalizeSubscriber.php
  app/bundles/LeadBundle/Form/Type/CompanyListType.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportNormalizeSubscriberTest.php
  app/bundles/ReportBundle/Event/ReportDataEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/MauticCrmBundle/EventListener/LeadListSubscriber.php
  plugins/MauticFocusBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/Resources/views/Builder/generate.js.twig
  plugins/MauticFocusBundle/Tests/Controller/FocusPublicControllerFunctionalTest.php
  tests/_support/Page/Acceptance/MenuPage.php
  tests/_support/Step/Acceptance/MenuStep.php
  tests/acceptance/MenuNavigationCest.php
Labels: chore

#14775 Web notification message improvement and increase code coverage
  app/bundles/CoreBundle/Translations/en_US/validators.ini
  app/bundles/NotificationBundle/Entity/Notification.php
  app/bundles/NotificationBundle/Form/Type/NotificationType.php
  app/bundles/NotificationBundle/Tests/Functional/Controller/NotificationControllerTest.php
  app/bundles/NotificationBundle/Tests/Functional/EventListener/CampaignSubscriberTest.php
  app/bundles/NotificationBundle/Tests/NotificationTrait.php
Labels: bug, ready-to-commit, unforking, code-review-passed, user-testing-passed

#14657 [UX] Rounded corners for themes
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/forms.less
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/2.config.js
  app/bundles/CoreBundle/Config/config.php
  app/bundles/CoreBundle/EventListener/ConfigThemeSubscriber.php
  app/bundles/CoreBundle/Form/Type/ConfigThemeType.php
  app/bundles/CoreBundle/Resources/views/FormTheme/Config/_config_themeconfig_widget.html.twig
  app/bundles/CoreBundle/Tests/Twig/ThemesExtensionTest.php
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/CoreBundle/Twig/Extension/ThemesExtension.php
  themes/_1-2-1-2-column/html/email.html.twig
  themes/_1-2-1-column/html/email.html.twig
  themes/_1-2-column/html/email.html.twig
  themes/_1-3-1-3-column/html/email.html.twig
  themes/_1-3-column/html/email.html.twig
  themes/_connect-through-content/html/email.html.twig
  themes/_educate/html/email.html.twig
  themes/_gallery/html/email.html.twig
  themes/_make-announcement/html/email.html.twig
  themes/_showcase/html/email.html.twig
  themes/_simple-text/html/email.html.twig
  themes/_survey/html/email.html.twig
  themes/_welcome/html/email.html.twig
  themes/blend/composer.json
  themes/blend/html/page.html.twig
  themes/capture/composer.json
  themes/capture/html/page.html.twig
  themes/chord/composer.json
  themes/chord/html/MauticFormBundle/Builder/_style.html.twig
  themes/eclipse/composer.json
  themes/eclipse/html/MauticFormBundle/Builder/_style.html.twig
  themes/formscape/composer.json
  themes/formscape/html/page.html.twig
  themes/mono/composer.json
  themes/mono/html/page.html.twig
  themes/reachout/composer.json
  themes/reachout/html/page.html.twig
Labels: T1, feature, ready-to-commit, forms, landing-pages, email, themes, user-testing-passed

#14799 Backmerge 6.x into 7.x
  .all-contributorsrc
  README.md
  app/bundles/AssetBundle/Controller/PublicController.php
  app/bundles/AssetBundle/Model/AssetModel.php
  app/bundles/AssetBundle/Tests/Controller/AssetDownloadFunctionalTest.php
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Assets/js/14.content.preview.js
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/CoreBundle/Controller/ThemeController.php
  app/bundles/CoreBundle/Form/ChoiceLoader/EntityLookupChoiceLoader.php
  app/bundles/CoreBundle/Form/Type/ConfigType.php
  app/bundles/CoreBundle/Form/Type/ContentPreviewSettingsType.php
  app/bundles/CoreBundle/Resources/views/Notification/notification.html.twig
  app/bundles/CoreBundle/Tests/Functional/Controller/ThemeControllerTest.php
  app/bundles/CoreBundle/Tests/Unit/Form/Type/ContentPreviewSettingsTypeTest.php
  app/bundles/CoreBundle/Translations/en_US/flashes.ini
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/DashboardBundle/Model/DashboardModel.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Tests/Controller/DynamicContentApiControllerFunctionalTest.php
  app/bundles/EmailBundle/Assets/js/send.example.js
  app/bundles/EmailBundle/Form/Type/ExampleSendType.php
  app/bundles/EmailBundle/Tests/Form/Type/ExampleSendTypeTest.php
  app/bundles/FormBundle/Model/FormModel.php
  app/bundles/FormBundle/Tests/Model/FormModelTest.php
  app/bundles/LeadBundle/Assets/css/lead.css
  app/bundles/LeadBundle/Entity/CompanyRepository.php
  app/bundles/LeadBundle/EventListener/ReportNormalizeSubscriber.php
  app/bundles/LeadBundle/Form/Type/CompanyListType.php
  app/bundles/LeadBundle/Model/CompanyModel.php
  app/bundles/LeadBundle/Tests/Controller/AjaxControllerFunctionalTest.php
  app/bundles/LeadBundle/Tests/Controller/LeadControllerTest.php
  app/bundles/LeadBundle/Tests/EventListener/ReportNormalizeSubscriberTest.php
  app/bundles/ReportBundle/Event/ReportDataEvent.php
  app/bundles/ReportBundle/Model/ReportModel.php
  app/release_metadata.json
  plugins/GrapesJsBuilderBundle/Assets/library/js/builder.js
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/MauticCrmBundle/EventListener/LeadListSubscriber.php
  plugins/MauticFocusBundle/Controller/PublicController.php
  plugins/MauticFocusBundle/Resources/views/Builder/generate.js.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticFocusBundle/Tests/Controller/FocusPublicControllerFunctionalTest.php
  tests/_support/Page/Acceptance/MenuPage.php
  tests/_support/Step/Acceptance/MenuStep.php
  tests/acceptance/MenuNavigationCest.php
Labels: chore

#14770 [UXUI-114] Quick links to see list of contacts related to that resource
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app.less
  app/bundles/CoreBundle/Assets/css/app/less/components/contained-list.less
  app/bundles/CoreBundle/Assets/css/app/less/variables.less
  app/bundles/CoreBundle/Resources/views/Components/contained-list--interactive.html.twig
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/details.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
  app/bundles/NotificationBundle/Resources/views/MobileNotification/details.html.twig
  app/bundles/NotificationBundle/Resources/views/Notification/details.html.twig
  app/bundles/SmsBundle/Resources/views/Sms/details.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
Labels: T1, code-review-needed, pending-test-confirmation, user-experience, enhancement, twig

#14766 Landing Page preview not available unless user is logged in
  app/bundles/PageBundle/Controller/PublicController.php
  app/bundles/PageBundle/Entity/Page.php
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PageBundle/Tests/Controller/PreviewFunctionalTest.php
  app/bundles/PageBundle/Translations/en_US/messages.ini
  app/migrations/Version20210330075323.php
Labels: ready-to-commit, landing-pages, unforking, code-review-passed, user-testing-passed

#14806 Add DPG badge
  README.md
Labels: code-review-passed

#14797 Fixing company links
  app/bundles/LeadBundle/Resources/views/Company/list.html.twig
Labels: bug, companies, code-review-passed, user-testing-passed

#14759 New Type field in Dynamic Web Content.
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/DynamicContentBundle/Assets/js/dynamicContent.js
  app/bundles/DynamicContentBundle/DynamicContent/TypeList.php
  app/bundles/DynamicContentBundle/Entity/DynamicContent.php
  app/bundles/DynamicContentBundle/Form/Type/DynamicContentType.php
  app/bundles/DynamicContentBundle/Model/DynamicContentModel.php
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/form.html.twig
  app/bundles/DynamicContentBundle/Tests/Form/Type/DynamicContentTypeTest.php
  app/bundles/DynamicContentBundle/Tests/Validator/Constraints/SlotNameTypeValidatorTest.php
  app/bundles/DynamicContentBundle/Translations/en_US/messages.ini
  app/bundles/DynamicContentBundle/Translations/en_US/validators.ini
  app/bundles/DynamicContentBundle/Validator/Constraints/SlotNameType.php
  app/bundles/DynamicContentBundle/Validator/Constraints/SlotNameTypeValidator.php
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/validators.ini
  app/bundles/EmailBundle/Validator/TextOnlyDynamicContent.php
  app/bundles/EmailBundle/Validator/TextOnlyDynamicContentValidator.php
  app/migrations/Version20250127092202.php
Labels: ready-to-commit, enhancement, dynamic-content, unforking, code-review-passed

#14813 Allow plugins to close modal window when error happens
  app/bundles/CoreBundle/Assets/js/1.core.js
  app/bundles/CoreBundle/Assets/js/9.modals.js
Labels: enhancement, plugin, unforking, code-review-passed

#14819 Revert "[UX] Improving saving options for Categories: Save only"
  app/bundles/CategoryBundle/Form/Type/CategoryType.php
Labels: T1, bug, ready-to-commit, categories, code-review-passed, user-testing-passed

#14815 [UXUI-138] Contact history and auditlog shows toggle for details even when no details are available
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/scaffolding.less
  app/bundles/LeadBundle/Resources/views/Auditlog/_list.html.twig
  app/bundles/LeadBundle/Resources/views/Timeline/_list.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, code-review-passed, user-testing-passed
