Repository mautic/mautic, pull requests merged in 2025-06, with the labels that each got.

#15026 fix: improve token null handling in email content replacement
  app/bundles/EmailBundle/Controller/PublicController.php
  app/bundles/EmailBundle/Entity/Stat.php
Labels: code-review-passed, user-testing-passed

#14814 [UXUI-136] Descriptions get entirely printed in table rows
  app/bundles/AssetBundle/Resources/views/Asset/details.html.twig
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
  app/bundles/CampaignBundle/Resources/views/Campaign/list.html.twig
  app/bundles/CategoryBundle/Resources/views/Category/list.html.twig
  app/bundles/ChannelBundle/Resources/views/Message/details.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/description--expanded.html.twig
  app/bundles/CoreBundle/Resources/views/Helper/description--inline.html.twig
  app/bundles/CoreBundle/Resources/views/Standard/list.html.twig
  app/bundles/DynamicContentBundle/Resources/views/DynamicContent/details.html.twig
  app/bundles/FormBundle/Resources/views/Form/_list.html.twig
  app/bundles/FormBundle/Resources/views/Form/details.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/LeadBundle/Resources/views/List/details.html.twig
  app/bundles/MarketplaceBundle/Resources/views/Package/list.html.twig
  app/bundles/PageBundle/Resources/views/Page/details.html.twig
  app/bundles/PointBundle/Resources/views/Group/list.html.twig
  app/bundles/PointBundle/Resources/views/Point/_list.html.twig
  app/bundles/PointBundle/Resources/views/Trigger/_list.html.twig
  app/bundles/ReportBundle/Resources/views/Report/_details_content_header.html.twig
  app/bundles/StageBundle/Resources/views/Stage/list.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/details.html.twig
  app/bundles/WebhookBundle/Resources/views/Webhook/list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/_list.html.twig
  plugins/MauticFocusBundle/Resources/views/Focus/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/_list.html.twig
  plugins/MauticSocialBundle/Resources/views/Monitoring/details.html.twig
  plugins/MauticSocialBundle/Resources/views/Tweet/_list.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/details.html.twig
  plugins/MauticTagManagerBundle/Resources/views/Tag/list.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, twig, user-testing-passed

#15060 Added warmup test
  app/bundles/CoreBundle/Test/FunctionalWarmupTest.php
  app/bundles/LeadBundle/Tests/Command/SegmentCountCacheCommandFunctionalTest.php
  app/bundles/LeadBundle/Tests/EventListener/CampaignSubscriberFunctionalTest.php
Labels: ready-to-commit, enhancement, automated-tests, unforking

#14691 DPMMA-3058 Add configuration option to limit maximum Contacts export
  app/bundles/CoreBundle/Assets/js/1a.content.js
  app/bundles/LeadBundle/Config/config.php
  app/bundles/LeadBundle/Controller/LeadController.php
  app/bundles/LeadBundle/EventListener/ConfigSubscriber.php
  app/bundles/LeadBundle/Form/Type/ConfigType.php
  app/bundles/LeadBundle/Resources/views/FormTheme/Config/_config_leadconfig_widget.html.twig
  app/bundles/LeadBundle/Tests/Functional/ContactExportLimitFunctionalTest.php
  app/bundles/LeadBundle/Translations/en_US/flashes.ini
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: ready-to-commit, enhancement, import-export

#14870 [UXUI-148] Add contained list components
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/components/contained-list.less
  app/bundles/CoreBundle/Assets/css/app/less/components/grid.less
  app/bundles/CoreBundle/Assets/css/app/less/components/tiles.less
  app/bundles/CoreBundle/Assets/css/app/less/components/utilities.less
  app/bundles/CoreBundle/Resources/views/Components/contained-list--actions.html.twig
  app/bundles/CoreBundle/Resources/views/Components/contained-list--default.html.twig
  app/bundles/CoreBundle/Resources/views/Components/contained-list--interactive-actions.html.twig
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Resources/views/Lead/lead.html.twig
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, enhancement, contacts, code-review-passed, user-testing-passed

#15054 Fix: Load asset modal from list context menu
  app/bundles/AssetBundle/Resources/views/Asset/list.html.twig
Labels: T1, bug, ready-to-commit, assets, code-review-passed, user-testing-passed, ux-review-passed

#15075 [UXUI-189] Adding full-width variation for description component
  app/bundles/CoreBundle/Assets/css/app.css
  app/bundles/CoreBundle/Assets/css/app/less/custom.less
  app/bundles/CoreBundle/Resources/views/Helper/description--expanded.html.twig
Labels: T1, user-interface, ready-to-commit, enhancement, code-review-passed, user-testing-passed

#14830 [UXUI-141] Tags in campaign details
  app/bundles/CampaignBundle/Resources/views/Campaign/details.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, campaigns, code-review-passed, user-testing-passed

#15096 Swap key value pairs for locale Form field.
  app/bundles/LeadBundle/Twig/Extension/FormFieldExtension.php
Labels: T1, bug, ready-to-commit, forms, code-review-passed

#15064 Updated icons for Segment Filter List
  app/bundles/LeadBundle/Assets/js/lead.js
  app/bundles/LeadBundle/Controller/AjaxController.php
  app/bundles/LeadBundle/EventListener/FilterOperatorSubscriber.php
  app/bundles/LeadBundle/EventListener/GeneratedColumnSubscriber.php
  app/bundles/LeadBundle/Resources/views/FormTheme/Filter/_leadlist_filters_entry_widget.html.twig
  app/bundles/LeadBundle/Resources/views/List/form.html.twig
  app/bundles/LeadBundle/Segment/SegmentFilterIconTrait.php
  app/bundles/LeadBundle/Tests/EventListener/FilterOperatorSubscriberTest.php
  app/bundles/LeadBundle/Tests/EventListener/GeneratedColumnSubscriberTest.php
  app/bundles/LeadBundle/Translations/en_US/messages.ini
Labels: T1, user-interface, ready-to-commit, user-experience, segments, code-review-passed, user-testing-passed, ux-review-passed

#15095 [UXUI-188] Launch preview and other actions from list views
  app/bundles/CoreBundle/Translations/en_US/messages.ini
  app/bundles/EmailBundle/Resources/views/Email/_list.html.twig
  app/bundles/LeadBundle/Resources/views/List/_list_row.html.twig
  app/bundles/PageBundle/Resources/views/Page/_list.html.twig
Labels: T1, ready-to-commit, user-experience, enhancement, segments, landing-pages, email, twig, code-review-passed, user-testing-passed

#15020 Response from plugin SSO authenticator should be properly processed if plugin sets authenticated.
  app/bundles/CoreBundle/EventListener/ExceptionListener.php
  app/bundles/UserBundle/Security/Authentication/Token/Permissions/TokenPermissions.php
  app/bundles/UserBundle/Security/Authenticator/PluginAuthenticator.php
  app/bundles/UserBundle/Tests/Security/Authenticator/PluginAuthenticatorTest.php
Labels: bug, plugin, code-review-passed, authentication

#15111 Fix: Unable to upload assets with non-default file extensions
  app/bundles/AssetBundle/Entity/Asset.php
  app/bundles/AssetBundle/EventListener/UploadSubscriber.php
  app/bundles/AssetBundle/Form/Type/AssetType.php
Labels: T1, bug, php, assets, code-review-passed

#14925 Fix dynamic content blocks showing multiple editors [mautic 5]
  plugins/GrapesJsBuilderBundle/Assets/library/js/dist/builder.js
  plugins/GrapesJsBuilderBundle/package-lock.json
  plugins/GrapesJsBuilderBundle/package.json
Labels: bug, builder-grapesjs

#15115 Update SECURITY.md
  SECURITY.md
Labels: chore

#14480 fix app callback when push_id is empty
  app/bundles/NotificationBundle/Controller/AppCallbackController.php
Labels: T3, bug, pending-test-confirmation, needs-automated-tests, notifications

#15133 fix do not contact issue in import
  app/bundles/LeadBundle/EventListener/DoNotContactSubscriber.php
  app/bundles/LeadBundle/Model/DoNotContact.php
Labels: bug, ready-to-commit, import-export, unforking

#14714 check if points available
  app/bundles/PointBundle/Model/PointModel.php
  app/bundles/PointBundle/Tests/Functional/PointActionFunctionalTest.php
Labels: T3, bug, ready-to-test, points-scoring, contacts

#15100 Set the HTML lang attribute globally
  app/bundles/CoreBundle/Resources/views/Default/base.html.twig
Labels: T1, ready-to-commit, accessibility, twig, code-review-passed, user-testing-passed

#15147 Add email name and subject maxlength validation
  app/bundles/EmailBundle/Entity/Email.php
  app/bundles/EmailBundle/Tests/Controller/EmailControllerFunctionalTest.php
  app/bundles/EmailBundle/Translations/en_US/validators.ini
Labels: bug, ready-to-test

#15086 fix: Pagination is now working on the Audit Log tab of a contact
  app/bundles/LeadBundle/Controller/AuditlogController.php
Labels: T1, bug, contacts, code-review-passed
