Repository mautic/mautic, pull requests merged in 2025-10, with the labels that each got.

#15531 Fix #14718 - Displaying validation errors for campaign action forms
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateCompany/_updatecompany_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/ActionUpdateLead/_updatelead_action_widget.html.twig
  app/bundles/LeadBundle/Resources/views/FormTheme/FormActionAddUtmTags/_formaction_properties_row.html.twig
Labels: bug, ready-to-commit, campaigns, code-review-passed, user-testing-passed

#15509 fix untranslated translation key in grid_card
  app/bundles/LeadBundle/Resources/views/Lead/grid_card.html.twig
Labels: bug, translations, contacts, code-review-passed, user-testing-passed

#15539 fix report date issues
  app/bundles/ReportBundle/Model/ReportModel.php
  app/bundles/ReportBundle/Resources/views/Report/_details_report_content.html.twig
Labels: reports, unforking, code-review-passed, user-testing-passed
